<label class="related-content-heading-label">Files Must Have:</label>
<div>
    <div>
        <label><input type="radio" name="reviews" value="no"{% if reviews == 'no' %} checked{% endif %}>No Feedback</label>
    </div>
    <div>
        <label><input type="radio" name="reviews" value="yes"{% if reviews == 'yes' %} checked{% endif %}>1+ Feedback</label>
    </div>
    <div>
        <input class="widget-control-button" type="button" value="Clear" data-input-name="reviews">
    </div>
</div>
<div>
    <div>
        <label><input type="radio" name="articles" value="no"{% if articles == 'no' %} checked{% endif %}>No Articles</label>
    </div>
    <div>
        <label><input type="radio" name="articles" value="yes"{% if articles == 'yes' %} checked{% endif %}>1+ Articles</label>
    </div>
    <div>
        <input class="widget-control-button" type="button" value="Clear" data-input-name="articles">
    </div>
</div>
