<div class="enhanced-text-widget-wrapper">
    {% if char_limit %}<div class="chars-remaining"><span class="chars-remaining-value">{{char_limit}}</span> characters remaining</div>{% endif %}
    {% if prefix_text %}<div>{{prefix_text}}</div>{% endif %}
    <input type="text" id="{{widget.attrs.id}}" name="{{widget.name}}" class="char-limited-widget" maxlength="{{field_maxlength}}" data-charlimit="{{char_limit}}" {% if widget.value %}value="{{widget.value|stringformat:'s'}}"{% endif %}>
    <div>Collection URL: <span id="collection-url-preview"></span></div>
</div>
