<div class="upload-wrapper">
    <input type="file" name="zfile" id="id_zfile" accept=".zip,application/zip">
    <div class="upload-area c"><p>Drag &amp; Drop A Zip File Here or Click to Choose</p></div>
    <div class="upload-info">
        <div class="file-header">
            <span class="file-name">{{filename|default:"..."}}</span>
            <span class="file-size">{{size|filesizeformat}}</span>
        </div>
        <ul class="file-list">
            {% for f in zfi %}
            <li>{{f.filename}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
