{% extends "z2_site/main.html" %}

{% block style %}
<style>
#content input
{
    width:150px;
}

#content select
{
    width:154px;
}

#content input#min, #content input#max, #content .spacing
{
    width:50px;
    text-align:center;
}

.spacing
{
    width:45px;
}

div[name=all-none] > button
{
    font-size:smaller;
    font-weight:bold;
    width:10%;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("div[name=all-none] button").click(function (){
        if ($(this).text() == "All")
            $("input[name=details]").prop("checked", "checked");
        else if ($(this).text() == "None")
            $("input[name=details]").prop("checked", "");
    });
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="col block">

<h1>Advanced Search</h1>

<form method="GET" action="{% url 'search' %}">
<div class="field">
    <label for="title">Title contains:</label>
        <span class="sub"></span>
    <input id="title" name="title" value="{{request.GET.title}}" maxlength="80">
</div>
<div class="field">
    <label for="author">Author contains:<br>
        <span class="sub"></span>
    </label>
    <input id="author" name="author" value="{{request.GET.author}}" maxlength="254">
</div>
<div class="field">
    <label for="filename">Filename contains:</label>
        <span class="sub"></span>
    <input id="filename" name="filename" value="{{request.GET.filename}}" maxlength="80">
</div>
<div class="field">
    <label for="company">Company contains:<br>
        <span class="sub"></span>
    </label>
    <input id="company" name="company" value="{{request.GET.company}}" maxlength="50">
</div>
<div class="field">
    <label for="genre">Genre:<br>
    </label>
    <select id="genre" name="genre">
        <option value="Any">- ANY - </option>
        {% for genre in genres %}
            {% if genre == request.GET.genre %}
            <option selected>{{genre}}</option>
            {% else %}
            <option>{{genre}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="field">
    <label for="year">Release Year:<br>
    </label>
    <select id="year" name="year">
        <option value="Any">- ANY - </option>
        {% for year in years %}
			{% if year == request.GET.year %}
			<option selected>{{year}}</option>
			{% else %}
            <option>{{year}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="field">
    <label for="min">Min. / max. rating:<br>
    </label>
    <input id="min" name="min" value="{{request.GET.min|default:'0.0'}}" min=0.0 max=5.0 maxlength="4" type="number" step=0.1>
    <div class="col spacing">&nbsp;&mdash;&nbsp;</div>
    <input id="max" name="max" value="{{request.GET.max|default:'5.0'}}" min=0.0 max=5.0 maxlength="4" type="number" step=0.1>
</div>
<div class="field">
    <label>Details:<br>
    </label>

    <div id="detail-list" class="col">
        <label><input name="details" type="checkbox" {% if "15" in details_list %}checked {% endif %}value="15"> ZZT Worlds</label>
        <label><input name="details" type="checkbox" {% if "7" in details_list %}checked {% endif %}value="7"> Featured Games</label>
        <label><input name="details" type="checkbox" {% if "10" in details_list %}checked {% endif %}value="10"> Modified GFX</label>
        <label><input name="details" type="checkbox" {% if "1" in details_list %}checked {% endif %}value="1"> MS-DOS</label>
        <label><input name="details" type="checkbox" {% if "13" in details_list %}checked {% endif %}value="13"> Super ZZT Worlds</label>
        <label><input name="details" type="checkbox" {% if "16" in details_list %}checked {% endif %}value="16"> ZIG Worlds</label>
        <label><input name="details" type="checkbox" {% if "11" in details_list %}checked {% endif %}value="11"> Modified EXE</label>
        <label><input name="details" type="checkbox" {% if "2" in details_list %}checked {% endif %}value="2"> Windows 16-Bit</label>
        <label><input name="details" type="checkbox" {% if "14" in details_list %}checked {% endif %}value="14"> Utilities</label>
        <label><input name="details" type="checkbox" {% if "8" in details_list %}checked {% endif %}value="8"> Contests</label>
        <label><input name="details" type="checkbox" {% if "6" in details_list %}checked {% endif %}value="6"> OSX</label>
        <label><input name="details" type="checkbox" {% if "3" in details_list %}checked {% endif %}value="3"> Windows 32-Bit</label>
        <label><input name="details" type="checkbox" {% if "9" in details_list %}checked {% endif %}value="9"> ZZM Audio</label>
        <label><input name="details" type="checkbox" {% if "17" in details_list %}checked {% endif %}value="17"> Lost Worlds</label>
        <label><input name="details" type="checkbox" {% if "5" in details_list %}checked {% endif %}value="5"> Linux</label>
        <label><input name="details" type="checkbox" {% if "4" in details_list %}checked {% endif %}value="4"> Windows 64-Bit</label>
        <div name="all-none"><button type="button">All</button> <button type="button">None</button></div>
    </div>
</div>
<div class="field">
    <label for="sort">Sort results by:<br>
    </label>
    <select id="sort" name="sort">
        <option value="title"{% if request.GET.sort == "title" %} selected {% endif %}>Title</option>
        <option value="author"{% if request.GET.sort == "author" %} selected {% endif %}>Author</option>
        <option value="company"{% if request.GET.sort == "company" %} selected {% endif %}>Company</option>
        <option value="rating"{% if request.GET.sort == "rating" %} selected {% endif %}>Rating</option>
        <option value="release"{% if request.GET.sort == "release" %} selected {% endif %}>Release Date</option>
    </select>
</div>

<div class="field">
    <button type="submit">Search</button>
</div>
</form>

</section>
{% endblock %}
