{% extends "z2_site/main.html" %}
{% load staticfiles %}

{% block style %}
{{article.css|safe}}
{% endblock %}

{% block content %}
<section id="content" class="col block">

<h1>{{article.title}}{% if article.page != 1 %} - Page {{article.page}}{% endif %}</h1>
<div>By: {{article.author}}</div>
<div>Date: {{article.date}}</div>

<article>
{% if article.type == "html" %}
{{article.content|safe}}
{% elif article.type == "text" %}
<textarea id="plain-text-article" readonly>{{article.content}}</textarea>
<script>
document.getElementById("plain-text-article").style.height = document.getElementById("plain-text-article").scrollHeight+'px';
</script>
{% else %}
Article has an invalid type!
{% endif %}
</article>

<br>
<a href="{% url 'article_directory' %}">Return to articles</a><br>
<a href="{% url 'index' %}">Return to the main page</a>
</section>
{% endblock %}