{% extends "z2_site/world.html" %}
{% load staticfiles %}
{% load site_tags %}

{% block style %}
{% if article.parent_id %}
{{article.parent.css|safe}}
{% endif %}
{{article.css|safe}}
{% endblock %}

{% block world_content %}
<h1>{{article.title}}{% if article.page != 1 %} - Page {{article.page}}{% endif %}</h1>
<div>By: {{article.author}}</div>
<div>Date: {{article.date}}</div>

<article>
{% if article.type == "html" %}
    {{article.content|safe}}
{% elif article.type == "text" %}
    {{article.content|linebreaks}}
{% else %}
    {{article.content|as_template|safe}}
{% endif %}
</article>

{% if article.page > 1 %}<a href="{% url 'article_view_page' id  prev slug %}">Previous page</a><br>{% endif %}
{% if next %}<a href="{% url 'article_view_page' id next slug %}">Next page</a><br>{% endif %}
<a href="{% url 'article_directory' %}">Return to article directory</a><br>
<a href="{% url 'index' %}">Return to the main page</a>
{% endblock %}
