{% extends "z2_site/world.html" %}
{% load staticfiles %}

{% block style %}
{{article.css|safe}}
{% endblock %}

{% block world_content %}
<h1>{{article.title}}{% if article.page != 1 %} - Page {{article.page}}{% endif %}</h1>
<div>By: {{article.author}}</div>
<div>Date: {{article.date}}</div>

<article>
{% if article.type == "html" %}
{{article.content|safe}}
{% elif article.type == "text" %}
{{article.content|linebreaks}}
{% else %}
Article has an invalid type!
{% endif %}
</article>

{% for file in article.file_set.all %}
{{file}}<br>
{% endfor %}

{% if article.page > 1 %}<a href="{% url 'article_view_page' id  prev slug %}">Previous page</a><br>{% endif %}
{% if article.parent_id and article.page != 0 %}<a href="{% url 'article_view_page' id next slug %}">Next page</a><br>{% endif %}
<a href="{% url 'article_directory' %}">Return to article directory</a><br>
<a href="{% url 'index' %}">Return to the main page</a>
{% endblock %}
