{% extends "z2_site/main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="col block">
{% if category == "ZZT" %}
{% if mode == "browse" %}<h1>Browse - {{letter|upper}}</h1>{% endif %}
{% if mode == "search" %}<h1>Search - {{q}}</h1>{% endif %}
{% else %}
<h1>{{category}}</h1>
{% endif %}

<div class="pages">
    <div class="sub">
        <a href="?{% if q %}q={{q}}{% endif %}{% if mode == 'search' %}{{qs}}{% endif %}">Detailed View</a> | List View
    </div>
</div>

<table id="list-table">
<thead>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Size</th>
    <th>Rating</th>
    <th>Files</th>
    <th>Play</th>
    <th>Wiki</th>
</thead>
<tbody>
{% for file in files %}
    <tr>
        <td class="title"><a href="{{file.download_url}}">{{file.title}}</a></td>
        <td class="author">{% for a in file.author_list %}<a href="{% url 'search' %}?author={{a}}&exact=1">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td class="genre">{% for g in file.genre_list %}<a href="{% url 'search' %}?genre={{g}}">{{g}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td class="size">{{file.size}} KB</td>
        <td class="rating">{%if file.rating != None %}<span title="Based on {{file.review_count}} review{{file.review_count|pluralize}}">{{file.rating|floatformat:"2"}} / 5.00</span>{% else %}<em>None</em>{% endif %}</td>
        <td class="files"><a href="{{file.file_url}}">View</a></td>
        <td class="files"><a href="{{file.play_url}}">Play</a></td>
        <td class="wiki"><a href="{{file.wiki_url}}">Wiki</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

</section>
{% endblock %}