{% extends "z2_site/world.html" %}
{% load staticfiles %}

{% block scripts %}
<script>
var letter = "{{letter}}";
var zip = "{{file.filename}}";
var load_file = "{{load_file}}";
var load_board = "{{load_board}}";

{% if save %}
// DEBUG DO NOT USE ON PRODUCTION
var save = "{{save}}";
// END DEBUG
{% endif %}
</script>
<script src="{% static 'js/elements.js' %}"></script>
<script async src="{% static 'js/file_viewer.js' %}"></script>
{% endblock %}

{% block world_content %}
<div id="file-area">
    <div id="details">
    <img src="{% if file.screenshot %}{% static 'images/screenshots/'|add:file.letter|add:'/'|add:file.screenshot %}{% else %}{% static 'images/screenshots/no_screenshot.png' %}{% endif %}" class="titlescreen">
    </div>

    <div id="file-list" class="col">
    <ul>
    <li class="selected" data-img="{% if file.screenshot %}{% static 'images/screenshots/'|add:file.letter|add:'/'|add:file.screenshot %}{% else %}{% static 'images/screenshots/no_screenshot.png' %}{% endif %}">Title Screen</li>
    {% for file in files %}
    <li>{{file}}</li>
    {% endfor %}
    </ul>
    </div>

    <div id="tab-area">
        <div id="file-tabs">
            <ul><li name="world-info">World</li><li name="board-info">Board</li><li name="element-info">Element</li><li name="preferences">Prefs.</li></ul>
        </div>
        <div id="world-info" class="toggle"></div>
        <div id="board-info" class="toggle"></div>
        <div id="element-info" class="toggle"></div>
        <div id="preferences" class="toggle">
            <select name="charset">
                <optgroup label="Standard Fonts">
                    <option value="cp437">Code Page 437 -- RECOMMENDED</option>
                </optgroup>
                <optgroup label="Custom Fonts">
                    <option value="efzi">EFZI.COM</option>
                </optgroup>
            </select>
            
            <label><input type="checkbox" name="2x" value="1"> - 2x Zoom</label>
        </div>
    </div>

    {% if save %}
    <form method="POST" action="/debug/save" name="save">
    {% csrf_token %}
    <input name="screenshot">
    <input name="letter" value="{{file.letter}}">
    <input name="zip" value="{{file.filename}}">
    <input type="submit" id="save" value="Save">
    </form>
    {% endif %}
</div>
{% endblock %}
