{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Museum of ZZT - {% block title %}{{title|default:"The ZZT Archive"}}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" media="(max-width: 1023px)" href="{% static 'css/small.css' %}">
<link rel="stylesheet" media="(max-width: 800px)" href="{% static 'css/mobile.css' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

<meta name="author" content="Dr. Dos">
<meta name="description" content="The ZZT Archive">
<meta name="keywords" content="ZZT">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<script>
$(document).ready(function (){
    $(".file-screen").click(function (){
        if ($(this).css("max-width") != "480px")
            $(this).css({"max-width":"480px", "cursor":"zoom-out"});
        else
            $(this).css({"max-width":"240px", "cursor":"zoom-in"});
    });
});
</script>
{% block scripts %}
{% endblock %}
{% block style %}
{% endblock %}
</head>

<body>

<header>
    <a href="/"><img id="logo" src="{% static 'images/z2_logo.gif' %}" alt="z2"></a><br>
    <nav>
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/article/1/about-zzt">About ZZT</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="http://zzt.org/zu/wiki/Main_Page">Wiki</a></li>
            <li><a href="/fora">Forums</a></li>
        </ul>
    </nav>
</header>

<div class="flex-container">
<section id="sidebar-left" class="col sidebar">
    <div id="featured" class="block">
        <h1>Featured Game</h1>
        <a href="{{fg.file_url}}">{{fg.title}}</a><br>
        <a href="{{fg.file_url}}"><img src="{% static 'images/screenshots/'|add:fg.letter|add:'/'|add:fg.screenshot' %}" alt="{{fg.title}}"></a>
        <br>
        by {% for author in fg.author_list %}<a href="/search?author={{author}}&exact=1">{{author}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        <br>
        <a href="/featured">Featured Games</a>
    </div>
    
    <div class="block worlds-block">
        <h1>ZZT Worlds</h1>
        <div id="letters">
            <a href="/browse/1">#</a>
            <a href="/browse/a">A</a>
            <a href="/browse/b">B</a>
            <a href="/browse/c">C</a>
            <a href="/browse/d">D</a>
            <a href="/browse/e">E</a>
            <a href="/browse/f">F</a>
            <a href="/browse/g">G</a>
            <a href="/browse/h">H</a>
            
            <a href="/browse/i">I</a>
            <a href="/browse/j">J</a>
            <a href="/browse/k">K</a>
            <a href="/browse/l">L</a>
            <a href="/browse/m">M</a>
            <a href="/browse/n">N</a>
            <a href="/browse/o">O</a>
            <a href="/browse/p">P</a>
            <a href="/browse/q">Q</a>
            
            <a href="/browse/r">R</a>
            <a href="/browse/s">S</a>
            <a href="/browse/t">T</a>
            <a href="/browse/u">U</a>
            <a href="/browse/v">V</a>
            <a href="/browse/w">W</a>
            <a href="/browse/x">X</a>
            <a href="/browse/y">Y</a>
            <a href="/browse/z">Z</a>
        </div>
        
        <div>
            <a href="/random">Random ZZT World</a><br>
            <a href="/mass">Mass Downloads</a>
        </div>
        
        <div>
            <form method="GET" action="/search">
            Search:<br>
            <input name="q" value="{{q}}"><input id="search-button" type="submit" value="Go">
            <br>
            <a href="/advanced-search">Advanced Search</a>
            </form>
        </div>
        
        <div>
            <a href="/superzzt">Super ZZT Worlds</a><br>
            <a href="/utilities">External Utilities</a>
        </div>
    </div>
    
    <div class="block">
        <h1>Downloads</h1>
        <a href="/zzt">ZZT</a><br>
        <a href="http://www.dosbox.com/download.php?main=1" target="_blank">DOSBox</a><br>
        <a href="http://kevedit.sourceforge.net/download.html" target="_blank">Kev-Edit</a><br>
        <a href="/clones">ZZT Clones</a><br>
        <a href="/uploaded">Upload Queue</a>
    </div>
</section>


{% block content %}
<main id="content" class="col">
</main>
{% endblock %}

<section id="sidebar-right" class="col sidebar">    
    <div class="block">
        <h1>Articles</h1>
        
        <h2>Directory</h2>
        <a href="/article?sort=date">Articles by date</a><br>
        <a href="/article">Articles by name</a><br>
        <a href="{% url 'directory' 'author' %}">Authors</a><br>
        <a href="{% url 'directory' 'company' %}">Companies</a><br>
        <a href="{% url 'directory' 'genre' %}">Genres</a><br>
        
        <h2>Playing</h2>
        <a href="/getting-started">Getting Started With ZZT</a><br>
        <a href="/walkthroughs">Walkthroughs</a><br>
        
        <h2>Editing</h2>
        <a href="/ascii">ASCII Character Reference</a><br>
        
        <h2>Historical</h2>
        <a href="">Message Board Logs</a><br>
        <a href="">Old News</a><br>
        <a href="">ZZTers' First Games</a><br>
        <a href="">z2 classic website</a><br>
    </div>
    
    <div class="block">
        <h1>Community</h1>
        <a href="">About the Community</a><br>
        <a href="">IRC</a><br>
        <a href="">Ircman</a><br>
        <a href="">Links</a><br>
        <a href="">Link to z2</a><br>
    </div>
    
    <div class="block">
        <h1>Contests</h1>
        <a href="">24 Hours of ZZT</a><br>
        <a href="">Weekend of ZZT</a>
    </div>
    
</section>
</div>

<footer>
- z2 -
</footer>

</body>
</html>