{% extends "z2_site/world.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block scripts %}
{% endblock %}

{% block world_content %}
{% for review in reviews %}
<div class="review block">
<div class="review-meta">
    <h2>{% markdown %}{{review.title}}{% endmarkdown %}</h2>
    <i>Written by {{review.author}}<br>{{review.date}}</i>
</div>

<article>
<!--{{review.content|escape|linebreaks}}-->
{{review.content|markdown|linebreaks}}
</article>

<b>Rating:</b> {{review.rating}} out of 5.0 {{review.id}}
</div>
{% endfor %}

<div class="review-post block">
<h2>Review {{file.title}}</h2>
<form method="POST">
<label>Name: <input name="name"></label>
<label>Email: <input name="email"></label>
<label>Review Title: <input name="title"></label>
<label>Review: <textarea name="review"></textarea></label>

<input type="submit" value="Post Review">
</form>
</div>
{% endblock %}
