private
virt
venv
zgames

bencomic/static/bencomic/comics/*
tools/bencomic/necocone.co/*
tools/db_dump.py
z2/private_settings.py
z2_site/static/images/comics/*
.htpasswd
manage.py

*.conf
*.exe
*.pyc
*.pnws
*.vhost
*.[zZ][iI][pP]
