backups
GPUCache
private
temp
tmp
vault
venv
wip
zgames
zookeeper

private*
test-*

comic/static/comic/frost/*
comic/static/comic/kaddar/*
comic/static/comic/lemmy/*
comic/static/comic/mr-shapiro/*
comic/static/comic/nomad/*
comic/static/comic/revvy/*
comic/static/comic/ubgs/*
comic/static/comic/zamros/*
discord/private.py
tools/crons/private.py
tools/data
tools/retired
tools/z-extract
tools/museum_db_dump.sql
museum_site/wozzt-mastodon.secret
museum_site/static/.well-known
museum_site/static/admin
museum_site/static/articles
museum_site/static/comic
museum_site/static/data/temp.png
museum_site/static/data/mass_dl.json
museum_site/static/data/scan.log
museum_site/static/data/base/*
museum_site/static/data/24hozzt-raw-scores
museum_site/static/robots.txt
museum_site/templates/museum_site/debug.html
.htpasswd
DEV
PROD

*.conf
*.exe
*.pyc
*.[zZ][iI][pP]
