aiohttp==3.7.4.post0
asgiref==3.3.4
async-timeout==3.0.1
attrs==20.3.0
backports.csv==1.0.7
certifi==2020.12.5
chardet==4.0.0
contextlib2==0.6.0.post1
discord==1.0.1
discord.py==1.6.0
Django==3.2.13
django-markdown-deux==1.0.5
docopt==0.6.2
idna==3.1
internetarchive==1.9.9
jsonpatch==1.32
jsonpointer==2.1
markdown2==2.4.0
multidict==5.1.0
mysqlclient==2.0.3
Pillow==9.1.0
pytz==2021.1
requests==2.25.1
schema==0.7.4
six==1.15.0
sqlparse==0.4.2
total-ordering==0.1.0
tqdm==4.59.0
twitter==1.18.0
typing-extensions==3.7.4.3
urllib3==1.26.5
websockets==10.0
yarl==1.6.3
