aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.7.2
async-timeout==4.0.2
atproto==0.0.55
attrs==23.1.0
beautifulsoup4==4.12.2
blurhash==1.1.4
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.1.0
click==8.1.7
contextlib2==21.6.0
cryptography==43.0.3
decorator==5.1.1
discord.py==2.2.3
Django==4.2.17
dnspython==2.7.0
docopt==0.6.2
exceptiongroup==1.2.2
frozenlist==1.3.3
future==0.18.3
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.7
importlib-metadata==6.6.0
internetarchive==3.5.0
jsonpatch==1.32
jsonpointer==2.3
libipld==3.0.0
Markdown==3.4.3
Mastodon.py==1.8.1
multidict==6.0.4
mysqlclient==2.1.1
oauthlib==3.2.2
packaging==24.0
pillow==10.3.0
propcache==0.2.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
python-dateutil==2.8.2
python-magic==0.4.27
PyTumblr==0.1.2
requests==2.32.3
requests-oauthlib==1.3.1
schema==0.7.5
six==1.16.0
sniffio==1.3.1
soupsieve==2.4.1
sqlparse==0.5.0
tqdm==4.66.4
twitter==1.19.6
typing_extensions==4.8.0
urllib3==2.2.2
websockets==13.1
yarl==1.18.3
zipp==3.19.2
