input, select, textarea
{
    border:1px solid #000;
    background:#FFF;
}

#content form
{
    margin:0 auto 0 auto;
    border:1px solid #000;
    padding:8px;
    /*min-height:50vh;*/
    /*min-width:700px;*/
}

#content form .field
{
    min-height:3em;
    margin:2px;
    border-bottom:1px dashed #000;
}

.field label
{
    width:40%;
    display:inline-block;
    vertical-align:top;
    font-weight:bold;
}

.field label .sub
{
    font-weight:normal;
}

.field button[type="submit"]
{
    margin:auto;
    text-align:center;
    width:100%;
    height:2em;
    font-size:larger;
}

.field textarea
{
    width:45%;
    height:300px;
}

#detail-list
{
    width:59%;
}

#detail-list label
{
    width:22%;
    font-weight:normal;
    font-size:smaller;
}

#detail-list input[type=checkbox]
{
    width:auto;
    float:left;
}

#detail-list div[name=all-none]
{
    width:88%;
    font-size:smaller;
    text-align:right;
}

#preferences label
{
    min-height:2em;
    width:100%;
    display:inline-block;
    line-height:2em;
    border-bottom:1px dotted #000;
    font-size:larger;
    font-weight:bold;
}

#preferences label select, #preferences label .option
{
    float:right;
    clear:both;
    height:1.5em;
    margin-top:0.25em;
    min-width:35%;
}

input.error, textarea.error
{
    border:1px solid #FF0000;
}

.error
{
    color:#FF0000;
}
