@font-face
{
	font-family: 'Classic Console';
	src: url('/assets/fonts/clacon.ttf');
	font-weight: normal;
	font-style: normal;
}

a
{
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}

a:visited
{
    color:#00F;
}

a[target=_blank]
{
    padding-right:16px;
    background:url("/static/images/external_link.png");
    background-position:right;
    background-repeat:no-repeat;
}

body
{
    font-family:sans-serif;
    background:#CCC;
    max-width:95%;
    margin:auto;
    margin-top:1em;
    overflow-y:scroll;
}

.col
{
    display:inline-block;
    zoom: 1;
    *display: inline;
    vertical-align:top;
    overflow:auto;
}

.jsLink
{
	cursor:pointer;
	color:#00F;
}

.l
{
    text-align:left;
}

.c
{
    text-align:center;
    margin:auto;
}

.r
{
    text-align:right;
}

.dos
{
    font-family:"Classic Console";
    font-size:16pt;
}

.fl
{
    float:left;
}

.fr
{
    float:right;
}

.sub
{
    font-size:smaller;
}

h1, h2, h3
{
    margin:0;
    margin-bottom:0.5em;
}

section
{
}

.selected, #file-tabs ul li.selected
{
    background:#619F9F;
}

table
{
    border-collapse:collapse;
}

table td, table th
{
    border:1px solid #000;
}

#logo
{
    float:left;
    clear:both;
}

nav
{
    text-align:center;
}

nav li
{
    display:inline-block;
    zoom: 1;
    *display: inline;

    width:125px;
    height:25px;
    font-size:16pt;
    text-align:center;
}

.sidebar
{
    /*min-width:200px;*/
    width:15%;
    /*flex-grow:1;*/
}

.sidebar h1
{
    text-align:center;
}

#sidebar-right
{
    order:3;
}

#content
{
    order:2;
    width:60%;
    /*flex-grow:2;

    min-width:50%;
    max-width:50%;*/

}

.flex-container
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

.flex-between
{
    justify-content:space-between;
}

.block
{
    padding:0.5em;
    margin:0.5em;
    background:#F0F0F0;
    border:1px solid #000;
}

footer
{
    text-align:center;
}

.toggle
{
    display:none;
}

.toggle.selected
{
    display:inline;
}
/* Left sidebar */
#sidebar-left
{
    order:1;
    text-align:center;
}

#featured
{

}

#featured img
{
    width:80%;
}

.worlds-block form
{
    margin:1em 0 1em 0;
}

#letters
{
    width:100%;
    text-align:center;
    margin:auto;
}

#letters a
{
    font-family:monospace;
    display:inline-block;
    width:8%;
    margin-bottom:0.25em;
    text-decoration:none;
    font-size:larger;
}

#letters a:hover
{
    background:#CCC;
}

input[name=q]
{
    max-width:80%;
    border:1px solid #000;
}

#search-button
{
    background:#CCC;
    margin-top:2px;
}
/* End Left sidebar */

.pages
{
    text-align:center;
    margin:auto;
    width:90%;
    font-size:larger;
    padding:1em;
}

/* File blocks */
.file-block
{
    width:100%;
    border:1px solid #000;
    margin-bottom:1em;
    display:flex;
    flex-wrap:wrap;
}

.file-screen
{

}

.file-screen img
{
    max-width:100%;
}

.file-screen
{
    flex:1 0 auto;
    min-width:240px;
    max-width:240px;
    cursor:zoom-in;
}

.file-block > div
{
    padding:1em;
}

.file-info
{
    min-height:175px;
    flex:1 1 30%;
}

.file-info div
{
    display:inline-block;
    min-width:100px;
}

.file-info span:hover
{
    cursor: help;
}

.file-details
{
    padding:0.25em;
    max-width:100%;
}

div.file-links, div.file-details, div.file-meta
{
    flex-basis:100%;
    min-height:auto;
    height:auto;
    padding:0.25em;
    border-top:1px solid #000;
    display:flex;
    justify-content: space-around;
    text-align:center;
}

div.file-meta
{
    border-bottom:1px solid #000;
}

div.file-links div
{

}

div.file-links ul, div.file-details ul
{
    margin:0;
}

.file-links li
{
    display:inline-block;
    zoom: 1;
    *display: inline;
    width:19%;
    text-align:center;
}

div.file-details ul
{
    padding-left:0px;
}

.file-details li
{
    display:inline-block;
    zoom: 1;
    *display: inline;
    font-family:monospace;
    margin-left:1.5em;
}

.featured-reviews
{
    max-width:30%;
    text-align:right;
}

.featured-description
{
    flex:0 0 100%;
    padding:0;
}

.featured-description > div
{
    padding:1em;
}
/* End File blocks */

/* List View */
#list-table
{
    width:100%;
}
#list-table td
{
    height:2em;
    padding-left:4px;
}

#list-table td.title { width:25%; }
#list-table td.author { width:25%; }
#list-table td.genre { width:20%; }
#list-table td.size { width:10%; }
#list-table td.rating { width:5%; text-align:center; }
#list-table td.files { width:5%; text-align:center; }
#list-table td.wiki { width:5%; text-align:center; }
/* End List View */

/* File viewing */
#file-area
{
}

#details, #play-area
{
    min-width:482px;
    max-width:100%;
    min-height:350px;
    border:1px solid #000;
    padding:0.25em;
    overflow:auto;
    clear:both;
    font-family:monospace;
    margin:auto;
    margin-bottom:1em;
}

#details img, #details canvas
{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

#file-list
{
    width:48%;
    max-height:300px;
    border:1px solid #000;
    padding-top:0.5em;
    padding-bottom:0.5em;
    overflow-x:none;
    overflow-y:auto;
    font-family:monospace;
    float:left;
}

#file-list ul
{
    margin:0;
    padding:0;
    list-style:none;
}

#file-list ul li
{
    padding-left:0.5em;
    padding-right:0.5em;
}

#file-list ul li:hover
{
    cursor:pointer;
    background:#98C9C9;
}


#file-list ul li ul /* ZZT Boards */
{
    background:#FFF;
    width:100%;
}

#file-list ul li ul li /* ZZT Boards */
{
    width:auto;
    text-align:right;
}

#world-canvas
{
    min-width:480px;
    min-height:350px;
    background:#550000;
}

#tab-area
{
    width:48%;
    padding:0.5em;
    border:1px solid #000;
    overflow:auto;
    font-family:monospace;
    float:right;
    max-height:300px;
}

#file-tabs ul
{
    padding:0;
    margin:-0.5em;
    margin-bottom:0.5em;
}

#file-tabs ul li
{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline-block;
    width:20%;
    text-align:center;
    background:#CCC;
}

#file-tabs ul li:hover
{
    text-decoration:underline;
    cursor:pointer;
}
/* End file viewing */

/* Reviews */
.review
{
    margin:auto auto 1em;
}

.review-meta
{
    margin-bottom:1em;
}

.review article
{
    margin-bottom:1em;
}
/* End Reviews */

/* Ascii */
#ascii-table
{
    width:100%;
}
#ascii-table td, #ascii-table th
{
    text-align:center;
    min-width:8%;
    padding:2px;
}

#ascii-table img
{
    background:#000;
}
/* End Ascii */

/* Staff */
.checklist
{
    display:inline-block;
    vertical-align:top;
    height:150px;
    overflow:auto;
    min-width:300px;
    border:1px solid #000;
    background:#DDD;
}

.field div.checklist label
{
    width:100%;
    font-size:10pt;
    border-bottom:1px solid #000;
    font-weight:400;
}
/* End Staff */

/* Article Globals */
#plain-text-article
{
    padding:0;
    margin:0;
    border:0;
    font-family:sans-serif;
    background:#F0F0F0;
    width:100%;
    min-height:50vh;
    resize:none;
}
/* End Article Globals */

/* Directory Listings */
.directory
{
    width:100%;
    margin:auto;
}

.directory .column
{
    border:1px solid #000;
    display:inline-block;
    width:24%;
    vertical-align:top;
}

.directory .column .header
{
    background:#000;
    color:#F0F0F0;
    text-align:center;
    font-weight:bold;
}

.directory .column .row
{
    padding-left:0.5em;
}

.directory .column div
{
    border-top:1px solid #000;
}