<!--pub-pack-{{volume}}.html-->
{% templatetag openblock %} with "{{file_ids_string}}"|get_files_by_id as files {% templatetag closeblock %}
<p></p>

<h2>Contents</h2>
<table>
{% for f in files %}{% if forloop.first %}{% templatetag openvariable %}files.{{f.id}}.table_header{% templatetag closevariable %}
{% endif %}{% templatetag openblock %} model_block files.{{f.id}} "list" {% templatetag closeblock %}{% templatetag openblock %} comment {% templatetag closeblock %}{{f.prefix}} -- {{f.title}}{% templatetag openblock %} endcomment {% templatetag closeblock %}
{% endfor %}</table>

{% for f in files %}
<!--{{f.title}}-->
{% templatetag openblock %} with files.{{f.id}} as file {% templatetag closeblock %}
<span class="pub-pack-entry">
<h2>{% templatetag openblock %} zfile_citation file {% templatetag closeblock %}</h2>
{% templatetag openblock %} model_block file alt='{{f.title}}' {% templatetag closeblock %}
<p></p>
{% templatetag openblock %} image_set '{{f.prefix}}-1.png' '{{f.prefix}}-2.png' '{{f.prefix}}-3.png' {% templatetag closeblock %}
<hr>
</span>
{% templatetag openblock %} endwith {% templatetag closeblock %}
{% endfor %}

{% templatetag openblock %} endwith {% templatetag closeblock %}
