{% templatetag openblock %} with "{{file_ids_string}}"|get_files_by_id as files {% templatetag closeblock %}
<p></p>

<h2>Contents</h2>
<div class="gallery-frame">
{% for f in files %}{% templatetag openblock %} model_block files.{{f.id}} "gallery" {% templatetag closeblock %}{% templatetag openblock %} comment {% templatetag closeblock %}{{f.prefix}} -- {{f.title}}{% templatetag openblock %} endcomment {% templatetag closeblock %}
{% endfor %}</div>

{% for f in files %}
<!--{{f.title}}-->
{% templatetag openblock %} with files.{{f.id}} as file {% templatetag closeblock %}
<span class="pub-pack-entry">
<h2>{% templatetag openblock %} zfile_citation file {% templatetag closeblock %}</h2>
<p></p>
<div class="image-set">
    <img src='{% templatetag openblock %} static path|add:"{{f.prefix}}-1.png" {% templatetag closeblock %}' class="screenshot-thumb">
    <img src='{% templatetag openblock %} static path|add:"{{f.prefix}}-2.png" {% templatetag closeblock %}' class="screenshot-thumb">
    <img src='{% templatetag openblock %} static path|add:"{{f.prefix}}-3.png" {% templatetag closeblock %}' class="screenshot-thumb">
</div>
<hr>
</span>
{% templatetag openblock %} endwith {% templatetag closeblock %}
{% endfor %}

{% templatetag openblock %} endwith {% templatetag closeblock %}
