<div id="debug-block" class="debug block" style="font-size:10pt;background:var(--ega-red);">
Device Resolution: <span id="debug-res"></span> |
Page Dimensions: <span id="debug-view"></span><br>
<textarea style="width:95%;margin:auto;">
URL Name: "{{resolved_url.url_name}}" Path: {{request.path}}
Domain: {{DOMAIN}}
Absolute URI: {{request.build_absolute_uri}}
HTTP_HOST: {{request.META.HTTP_HOST}} | Host: {{HOST}} | Env: {{ENV}}
Spotlight Source: {{spotlight_source|default:'?'}}
Spotlight Collection ID: {{spotlight_collection_source|default:'?'}}
</textarea><br>
View this page on: <a href="https://beta.museumofzzt.com{{request.path}}" target="_blank">DEV</a> <a href="https://beta.museumofzzt.com{{request.path}}" target="_blank">BETA</a> <a href="https://museumofzzt.com{{request.path}}" target="_blank">LIVE</a>
<br>
Debug mode resolved to true. {% if ENV == 'DEV' %}This is always the case on DEV.{% endif %} [Session debug = {{request.session.DEBUG|yesno:'True,False'}}][URL debug = {{request.GET.DEBUG|yesno:'True,False'}}]
<table id="meta-tags" class="data-table" style="max-width:800px;margin:auto;background:#FFF;font-size:10pt;">
</table>
<table>
    <tr id="debug-stylesheets-start"><th>Stylesheets</th><td class="l"></td></tr>
    <tr id="debug-scripts-start"><th>Scripts</th><td class="l"></td></tr>
</table>
</div>

<a id="showdebug" class="jsLink b">HIDE DEBUGGING INFORMATION</a><br>
