{% load static %}
<div class="model-block gallery{% for r in obj.context.roles %} {{r}}{% endfor %}" data-model="{{obj.context.model}}" data-pk="{{obj.context.pk}}" id="{{obj.context.hash_id}}" data-generic="GENERIC">
    <img class="preview-image thumbnail {% if not obj.context.nozoom %}zoomable{% endif %}" src="{% static obj.context.preview.url %}" alt="{{obj.context.preview.url}}">
    {% comment %}{% include "museum_site/datum/"|add:obj.context.title.datum|add:"-datum.html" with f=obj.context.title %}{% endcomment %}
    <div class="data">
        {% for col in obj.context.columns %}
        <div class="col">
        {% for field in col %}
        {% include "museum_site/datum/"|add:field.datum|add:"-datum.html" with f=field %}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
