{% load static %}
{% load site_tags %}
<div class="{{roles|join:' '}}" data-model="{{model}}" data-pk="{{pk}}" id="{{model_key}}">
    <img class="preview-image {% if not preview.no_zoom %} zoomable{% endif %}{% if preview.zoomed %} zoomed{% else %} thumbnail{% endif %}" src="{% static preview.url %}" alt="{{preview.url}}">
    <div class="model-block-title">
        <h2>{% if title.safe %}{{title.value|safe}}{% else %}{{title.value}}{% endif %}</h2>
    </div>
    <div class="model-block-data">
        {% for field in fields %}
        <div class="datum">
            <div class="value"{% if field.title %}title="{{field.title}}"{% endif %}>{% if field.safe %}{{field.value|safe}}{% else %}{{field.value}}{% endif %}</div>
        </div>
        {% endfor %}
    </div>
    {% block poll_data %}{% endblock %}
</div>
