{% load static %}
{% load site_tags %}
{% load markdown_deux_tags %}

<div class="{{roles|join:' '}}" data-model="{{model}}" data-pk="{{pk}}" id="{{model_key}}">
    <div class="model-block-top-margin"><a href="#{{model_key}}" title="{{model}} #{{pk}}">{{model_key}}</a></div>
    <img class="preview-image {% if not preview.no_zoom %} zoomable{% endif %}{% if preview.zoomed %} zoomed{% else %} thumbnail{% endif %}" src="{% static preview.url %}" alt="{{preview.url}}">
    <div class="model-block-title">
        <h2>{% if title.safe %}{{title.value|safe}}{% else %}{{title.value}}{% endif %}</h2>
    </div>
    <div class="model-block-data">
        {% for col in columns %}
        <div class="col">
            {% for field in col %}
            <div class="datum">
                <div class="label">{{field.label}}</div>
                <div class="value"{% if field.title %}title="{{field.title}}"{% endif %}>{% if field.safe %}{{field.value|safe}}{% else %}{{field.value}}{% endif %}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% if extras %}<div class="extras">{% for extra in extras %}{% include extra.template %}{% endfor %}</div>{% endif %}
    {% if model == "File" or model == "Collection" or model == "Collection Entry" %}{% if show_actions and actions %}<div class="model-block-actions">{% for action in actions %}{% if action.safe %}{{action.value|safe}}{% else %}{{action.value}}{% endif %}{% endfor %}</div>{% endif %}{% endif %}
    {% block collection_data %}{% if collection_description %}<div class="collection-info datum"><h3>Collection Description</h3>{{collection_description|markdown}}</div>{% endif %}{% endblock %}
</div>
