{% extends "museum_site/article-view.html" %}
{% load static %}
{% load site_tags %}

{% block staff_scripts %}
{% if request.GET.finalize %}<script src="/static/js/debug-finalize.js"></script>{% endif %}
{% if request.GET.tweet %}<script src="/static/js/debug-pub-pack-tweet-mode.js"></script>{% endif %}
{% endblock staff_scripts %}

{% block wip_links %}
<div class="article-staff-controls">
<a href="/admin/museum_site/article/{{article.id}}/change/">Edit Article {{article.id}}</a>
<a href="?spellcheck=1&page=all">Spellcheck Article</a>
<a href="?finalize=1#finalization">Finalize Article</a>
<a href="?tweet=1">Tweet Mode (for Publication Packs)</a>
</div>
{% endblock wip_links %}

{% block wip_finalize %}
{% if request.GET.finalize %}
<h2 id="finalization">Finalization</h2>

<h3>Link Audit</h3>
<table id="link-table">
    <tr><th>Text</th><th>Target</th><th>Path</th></tr>
</table>
{% endif %}
{% endblock wip_finalize %}
