{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
    td textarea
    {
        width:50ch;
        height:30ch;
    }

    #scroll-table
    {
        width:auto;
        margin:auto;
    }
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Scroll Audit</h1>
<hr>
<table id="scroll-table">
    <tr>
        <th>PK</th>
        <th>Identifier</th>
        <th>Content</th>
        <th>Source</th>
        <th>Pub.</th>
        <th>Original<br>Suggestion</th>
    </tr>
    {% for s in scrolls %}
    <tr>
        <td class="r"><a href="{{s.admin_url}}" target="_blank">{{s.pk}}</a></td>
        <td class="c">{{s.identifier}}</td>
        <td><textarea>{{s.content}}</textarea></td>
        <td><a href="{{s.source}}" target="_blank">Source</a></td>
        <td class="c">{{s.published|yesno:"✅,❌"}}</td>
        <td>{{s.suggestion}}</td>
    </tr>
    {% endfor %}
</table>
</section>
{% endblock %}
