{% extends BASE_TEMPLATE %}
{% load static %}

{% block style %}
<style>
    td textarea
    {
        width:50ch;
        height:5ch;
    }

    #scroll-table
    {
        width:auto;
        margin:auto;
    }
</style>
{% endblock %}

{% block content %}
<h1>Scroll Audit</h1>
<hr>
<table id="scroll-table">
    <tr>
        <th>PK</th>
        <th>Title</th>
        <th>Content</th>
        <th>Source</th>
        <th>Twitch</th>
        <th>Credit</th>
    </tr>
    {% for s in scrolls %}
    {% ifchanged %}<tr><th colspan="6">{{s.zfile.title}}</th></tr>{% endifchanged %}
    <tr>
        <td class="r"><a href="{{s.admin_url}}" target="_blank">{{s.pk}}</a></td>
        <td>{{s.title}}</td>
        <td><textarea>{{s.content}}</textarea></td>
        <td><a href="{{s.source}}" target="_blank">Source</a></td>
        <td class="c">{{s.supports_twitch_redeem|yesno:"✅,❌"}}</td>
        <td>{{s.credit}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
