{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
#tool-info
{
    font-family:monospace;font-size:12pt;
}

#tool-info td
{
    padding:0.25em;
}

#tool-info td.True { background-color:#0F0; text-align:center; }
#tool-info td.False { background-color:#F00; text-align:center; }
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Zeta Config Audit</h1>

<table class="dataTable" id="tool-info">
<tr>
    <th>File</th>
    <th>Play</th>
    <th>Edit</th>
<tr>
{% for file in special %}
    {% ifchanged %}<th colspan="3">Using: [{{file.zeta_config.id|default:"-"}}] "{{file.zeta_config.name|default:"None"}}" {% if file.zeta_config %}<a href="/admin/museum_site/zeta_config/{{file.zeta_config.id}}/change/">Edit Config</a>{% endif %}</th>{% endifchanged %}
    <tr>
        <td><a href="{{file.file_url}}">{{file.title}}</a></td>
        <td class="c"><a href="{{file.play_url}}">Play Online</a></td>
        <td class="c"><a href="/admin/museum_site/file/{{f.id}}/change/">Edit</a></td>
    </tr>
{% endfor %}
</table>
</section>
{% endblock %}
