{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
.col
{
    display:inline-block;
    vertical-align:top;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Genre Audit</h1>
<hr>
<table>
    <tr>
        <th>Observed Genres</th>
        <th>Genre List</th>
    </tr>
    {% for g in observed %}
    <tr>
        <td>{{g}}</td>
        <td>{% if g in canon_genres %}✅{% else %}❌{% endif %}</td>
    </tr>
    {% endfor %}
</table>
</section>
{% endblock %}
