This template is used as a base for the Prep Publication Pack Web Tool.

Anything prior to the START line is discarded.
=START=
{% templatetag openblock %} with "articles/{{year}}/{{publish_path}}/" as path {% templatetag closeblock %}
<p></p>
{% templatetag openblock %} with "{{file_ids_string}}"|get_files_by_id as files {% templatetag closeblock %}

<h2>Contents</h2>
<div class="gallery-frame">
{% for f in files %}{% templatetag openblock %} gblock files.{{f.id}} "gallery" {% templatetag closeblock %}
{% endfor %}</div>

{% for f in files %}
<!--{{f.title}}-->
{% templatetag openblock %} with files.{{f.id}} as file {% templatetag closeblock %}
<span class="pub-pack-entry">
<h2>"{% templatetag openvariable %}file.title{% templatetag closevariable %}" {% templatetag openblock %} if file.author != "Unknown" {% templatetag closeblock %}by {% templatetag openvariable %}file.author{% templatetag closevariable %}{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} if file.release_date {% templatetag closeblock %} ({% templatetag openvariable %}file.release_date.year{% templatetag closevariable %}){% templatetag openblock %} endif {% templatetag closeblock %}</h2>
{% templatetag openvariable %}file.as_detailed_block{% templatetag closevariable %}
<p></p>
<div class="image-set">
    <img src='{% templatetag openblock %} static path|add:"{{f.prefix}}-1.png" {% templatetag closeblock %}' class="screenshot-thumb">
    <img src='{% templatetag openblock %} static path|add:"{{f.prefix}}-2.png" {% templatetag closeblock %}' class="screenshot-thumb">
    <img src='{% templatetag openblock %} static path|add:"{{f.prefix}}-3.png" {% templatetag closeblock %}' class="screenshot-thumb">
</div>
<hr>
</span>
{% templatetag openblock %} endwith {% templatetag closeblock %}
{% endfor %}

{% templatetag openblock %} endwith {% templatetag closeblock %}
{% templatetag openblock %} patreon_plug {% templatetag closeblock %}
{% templatetag openblock %} endwith {% templatetag closeblock %}<!--with for path-->
