{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="col block">
<h1>Tool List - {{file}}</h1>

<ul>
    <li><a href="{% url 'set_screenshot' file.id %}">Set Screenshot</a></li>
    {% if file.is_uploaded %}
    <li><a href="{% url 'publish' file.id %}">Publish</a></li>
    {% endif %}
</ul>
<div>Details:</div> {% for detail in file.details.all %}{{detail.detail}}{% if not forloop.last %}, {% endif %}{% endfor %}<br>
</section>
{% endblock %}
