{% extends "museum_site/main.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}"></script>
{% for script in scripts %}<script src="{% static script %}"></script>{% endfor %}
{% endblock %}

{% block content %}
<h1>{{form.heading}}</h1>

{{form.text_prefix|default:""|safe}}

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>

<hr>

{% if request.GET %}
    <h2>Output</h2>

    <p>Edit the description as needed. Copy/Paste into YouTube video description, then proceed to Add Livestream VOD tool.</p>

    <form method="POST" action="{% url 'add_livestream' first_key %}">
    {% csrf_token %}
    <textarea style="width:120ch;height:40ch;" name="video_description">{{subtemplate}}</textarea>
    {% for assoc in form.associated.value %}<input name="associated" value="{{assoc}}" type="hidden">{% endfor %}
    <br><br>
    <input type="hidden" name="transferred" value="1">
    <input type="submit" value="Proceed to Add Livestream VOD tool">
{% endif %}
{% endblock %}
