{% extends "museum_site/world.html" %}
{% load static %}

{% block style %}
<style>
#zip-file-list { flex:1; }
#content-field { flex:3; }
#content-field .scrolling-checklist { height:auto; }
#content-field > label
{
    display:none;
}
</style>
{% endblock %}

{% block scripts %}
<script>
var hint_ids = [{% for d in detail_ids %}{{d}}{% if not forloop.last %}, {% endif %}{% endfor %}];
$(document).ready(function (){
    $("#detail-list button").click(function (){
        if ($(this).text() == "All")
        {
            $("input[name=details]").prop("checked", "checked");
            $("input[name=details]").parent().addClass("selected");
        }
        else if ($(this).text() == "None")
        {
            $("input[name=details]").prop("checked", "");
            $("input[name=details]").parent().removeClass("selected");
        }
        else if ($(this).text() == "Default")
        {
            set_default();
        }
        update_selected_details();
    });

    $("input[name=details]").click(function (){
        $(this).parent().toggleClass("selected");
        update_selected_details();
    });

    convert_suggested_to_string();
    set_default();
    update_selected_details();
});

function set_default()
{
    $("input[name=details]").prop("checked", "");
    $("input[name=details]").parent().removeClass("selected");
    for (var idx in hint_ids)
    {
        $("input[name=details][value="+hint_ids[idx]+"]").prop("checked", "checked");
        $("input[name=details][value="+hint_ids[idx]+"]").parent().addClass("selected");
    }
}

function update_selected_details()
{
    var output = "";
    $("input[name=details]").each(function (){
        if ($(this).prop("checked"))
        {
            output += $(this).parent().text() + ", "
        }
    });

    if (output != "")
        output = "Selected Criteria:<br>" + output.slice(0, -2);
    else
        output = "Selected Criteria:<br>None";

    $("#details-selected").html(output)
}

function convert_suggested_to_string()
{
    $("td[name=suggested]").each(function (){
        var raw = $(this).text();
        var readable = "";
        var ids = raw.split(", ");
        for (var i in ids)
        {
            var text = $("input[name=details][value="+parseInt(ids[i])+"]").parent().text();
            readable += text + ", ";
        }
        $(this).text(readable.slice(0, -2));
    });
}
</script>
{% endblock %}


{% block world_content %}
<h2>Manage Details</h2>

<form method="POST">
{% csrf_token %}

<div class="flex-container">
    <div>
        <div id="zip-file-list">
            <b>File List:</b><br>
            <ul class="mono">
                {% for f in file_list %}
                <li{% if f == request.GET.file %} class="selected"{% endif %}>{{f}}
                {% endfor %}
            </ul>
        </div>
        <div id="unknown-extension-list">
            <b>Unknown Extensions:</b><br>
            <ul class="mono" style="background-color:red">
                {% for ext in suggestions.unknown_extensions %}
                <li>{{ext}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include "museum_site/blocks/content_field.html" %}
</div>

<input type="submit" value="Update File Details">
</form>

<hr>
<h2>Content Hints</h2>
<table>
<tr>
    <th>Filename</th>
    <th>Likely Type</th>
    <th>Suggested Details</th>
</tr>
{% for h in suggestions.hints %}
<tr>
    <td>{{h.0}}</td>
    <td>{{h.1}}</td>
    <td name="suggested">{{h.2|join:", "}}</td>
</tr>
{% endfor %}
</table>
</section>
{% endblock %}
