{% comment %}This template is meant to be included and not used directly{% endcomment %}
<style>
#otf-wrapper > div#otf-response
{
    height:auto;
    display:block;
    font-family:monospace;
}

#otf-wrapper > div
{
    display:flex;
    justify-content:space-between;
    max-width:750px;
    margin:auto;
    height:45px;

}

#otf-collection-list
{
    flex:1;
    max-width:30%;
}
#otf-description
{
    flex:1;
    max-width:20%;
}
#otf-wrapper button
{
    flex:1;
    max-width:15%;
}

#otf-wrapper > div.otf-hidden { display:none; }
.otf-selected { background-color: var(--selected-tab); }

#otf-error-list
{
    resize:none;
    width:80%;
}
</style>

<script>
var otf_bound = false;
var otf_user_collection_json = "{{request.session.otf_collection_json|default:'{}'|escapejs}}";
var collection_list = {};
var otf_to_add_pk = 0;
var otf_selected_title = "";
var otf_needs_refresh = {{request.session.otf_refresh|yesno:"true,false"}};
$(document).ready(initialize_otf_collections);

function initialize_otf_collections()
{
    if (otf_needs_refresh)
    {
        // Pull collection lists
        $.ajax({
            url:"/ajax/collection/get-available-collections/",
        }).done(function (response){
            collection_list = response["collections"];
            otf_bind_controls();
        });
    }
    else
    {
        var parsed = JSON.parse(otf_user_collection_json);
        if (parsed.collections)
        {
            collection_list = parsed.collections;
            otf_bind_controls();
        }
        else
        {
            $("#otf-response").html("Could not parse collections. Try disabling and re-enabling On The Fly Collections?");
        }
    }
}

function otf_bind_controls()
{
    populate_collection_list();
    if (! otf_bound)
    {
        otf_show_panel("#otf-main");

        $("#otf-collection-list").change(otf_change_check);
        $(".otf-cancel-button").click(otf_cancel);
        $("#otf-set-desc-button").click(otf_set_desc);
        $("#otf-clear-desc-button").click(otf_clear_desc);
        $(".model-block").click($(this), otf_select_zfile);
        $("#otf-quit").click(function (){
            window.location = "/collection/on-the-fly-collections/";
        });
        $("#otf-add-zfile").click(otf_add_selected_zfile);
        $("#otf-create-collection").click(otf_create_collection);
        otf_bound = true;
    }
}

function otf_change_check()
{
    if ($("#otf-collection-list option:selected").text() == "- Create New Collection -")
    {
        otf_show_panel("#otf-new-collection");
    }
    else if ($("#otf-collection-list option:selected").text() == "- Choose Collection -")
    {
        can_add_check();
    }
    else
    {
        can_add_check();
    }
}

function otf_cancel()
{
    otf_show_panel("#otf-main");
    if ($("#otf-collection-list option:selected").text() == "- Create New Collection -")
        $("#otf-collection-list").val("");
    otf_change_check();
}

function otf_set_desc()
{
    otf_show_panel("#otf-set-desc");
}

function otf_clear_desc()
{
    $("#otf-description").val("");
}

function otf_select_zfile(e)
{
    var target = e.delegateTarget;

    // Target must have data-pk and data-model
    if ($(target).data("model") != "File" || ! $(target).data("pk"))
        return true;

    if ($(target).hasClass("otf-selected"))
    {
        $(".otf-selected").removeClass("otf-selected");
        can_add_check();
        $("#otf-response").html("Click to select a file");
        otf_to_add_pk = 0;
        return true;
    }

    $(".otf-selected").removeClass("otf-selected");
    $(target).addClass("otf-selected");
    can_add_check();
    otf_selected_title = $(target).find(".model-block-title").text();
    otf_to_add_pk = $(target).data("pk");
    show_selected();
}

function can_add_check()
{
    if (
        ($("#otf-collection-list option:selected").text() != "- Choose Collection -")
        && (($("#otf-collection-list option:selected").text() != "- Create New Collection -"))
        && ($(".otf-selected").data("pk"))
    )
        $("#otf-add-zfile").prop("disabled", false);
    else
        $("#otf-add-zfile").prop("disabled", true);
}

function show_selected()
{
    var output = otf_selected_title + "[#" + otf_to_add_pk + "]";
    $("#otf-response").html(output);
}

function otf_add_selected_zfile()
{
    $.ajax({
        url:"/ajax/submit-form/collection-content-form/",
        method:"POST",
        data:{
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
            "associated_file": otf_to_add_pk,
            "collection_id": $("#otf-collection-list").val(),
            "collection_description": $("#otf-description").val(),
        }
    }).done(function (response){
        if (response.errors)
        {
            otf_show_errors(response.errors);
        }
        if (response.success)
        {
            $("#otf-response").text("Added: " + otf_selected_title);
        }
    });
}

function otf_create_collection()
{
    $.ajax({
        url:"/ajax/submit-form/collection-form/",
        method:"POST",
        data:{
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
            "title": $("input[name=otf-new-collection-name]").val(),
            "visibility": 1, // TODO: Magic Number
            "default_sort": "manual",
        }
    }).done(function (response){
        if (response.errors)
        {
            otf_show_errors(response.errors);
        }
        if (response.success)
        {
            $("#otf-response").text("Created: " + $("input[name=otf-new-collection-name]").val());
            otf_needs_refresh = true; // Pull the new collection via AJAX
            $("input[name=otf-new-collection-name]").val("");
            initialize_otf_collections();
            $(".otf-active").addClass("otf-hidden");
            $(".otf-active").removeClass("otf-active");
            otf_show_panel("#otf-main");
        }
    });
}

function otf_show_panel(panel)
{
    $(".otf-active").addClass("otf-hidden");
    $(".otf-active").removeClass("otf-active");
    $(panel).addClass("otf-active");
    $(panel).removeClass("otf-hidden");
}

function otf_show_errors(errors)
{
    output = "";
    for (var [k, v] of Object.entries(errors))
    {
        if (k == "__all__")
            var field_name = "Form"
        else
            var field_name = k;

        for (i in errors[k])
        {
            output += field_name + ": " + errors[k][i]["message"] + "\n";
        }
    }

    $("#otf-error-list").val(output);
    $("#otf-response").html("The requested action could not be performed.")
    otf_show_panel("#otf-errors");
}

function populate_collection_list()
{
    $("#otf-collection-list").html('<option value="">- Choose Collection -</option><option value="">- Create New Collection -</option>');
    for (var idx=0; idx < collection_list.length; idx++)
    {
        $("#otf-collection-list").append(
            `<option value="${collection_list[idx].pk}">${collection_list[idx].title} [${collection_list[idx].visibility}]</option>`
        );
    }
}
</script>

<div id="otf-wrapper">
    <div id="otf-response"><i>Click to select a file</i></div>
    <div id="otf-main" class="otf-hidden" >
        <select id="otf-collection-list"></select>
        <textarea name="otf-description" id="otf-description" placeholder="Collection Item Description"></textarea>
        <button type="button" id="otf-clear-desc-button">Clear Desc</button>
        <button type="button" id="otf-add-zfile" disabled>Add</button>
        <button type="button" id="otf-quit">Quit</button>
    </div>
    <div id="otf-new-collection" class="otf-hidden">
        <input name="otf-new-collection-name" placeholder="New Collection Name">
        <button type="button" id="otf-create-collection">Create</button>
        <button type="button" class="otf-cancel-button">Cancel</button>
    </div>
    <div id="otf-errors" class="otf-hidden">
        <textarea id="otf-error-list" readonly></textarea>
        <button type="button" class="otf-cancel-button">Back</button>
    </div>
</div>
{% csrf_token %}
