{% extends "museum_site/main.html" %}
{% load static %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#rendered").click(function (){
        $(this).select();
    });
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Prep Publication Pack</h1>
<br>

{% if request.method == "POST" %}
<label>Output:<br>
<textarea style="width:99%;height:600px" id="rendered">{{rendered}}</textarea>
</label>
{% endif %}

<hr>
<form method="POST">
{% csrf_token %}
<label>Publish Date: <input type="date" name="publish_date"></label>

<table>
<tr>
    <th>Prefix</th>
    <th>File</th>
</tr>
{% for file in unpublished_files %}
<tr>
    <td>
        <input name="prefix-{{file.id}}">
    </td>
    <td>
        <a href="{{file.view_url}}" target="_blank" tabindex="-1">{{file.title}}</a>
    </td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Generate Publication Pack">
</form>

</section>
{% endblock %}
