{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
.controls
{
    margin:auto;
    text-align:center;
}

.controls .col
{
    border:1px solid #000;
    padding:0.25em;
    width:20%;
    height:200px;
    overflow:auto;
    text-align:left;
}

.controls ul
{
    margin:0;
    padding:0;
}

.controls li
{
    list-style: none;
}

.controls li.selected
{
    background:#98C9C9;
}

.controls .col img
{
    width:100%;
}

.preview
{
    border:1px solid #AAA;
    text-align:center;
    margin:1em auto 1em auto;
    width:480px;
    height:350px;
}

#content-field > label
{
    display:none;
}

#file-analysis { flex:4; }
#zip-file-list { flex:1; }
#content-field { flex:3; }
#content-field .scrolling-checklist { height:auto; }

.known-ext { background: #55FF55; }
.unknown-ext { background: #FF5555; }
.ambiguous-ext { background: #FFFF55; }
</style>
{% endblock %}

{% block scripts %}
<script>
var hint_ids = [{% for h in suggestions.hint_ids %}{{h}}{% if not forloop.last %}, {% endif %}{% endfor %}];
$(document).ready(function (){
    $("#detail-list button").click(function (){
        if ($(this).text() == "All")
        {
            $("input[name=details]").prop("checked", "checked");
            $("input[name=details]").parent().addClass("selected");
        }
        else if ($(this).text() == "None")
        {
            $("input[name=details]").prop("checked", "");
            $("input[name=details]").parent().removeClass("selected");
        }
        else if ($(this).text() == "Suggested")
        {
            $("input[name=details]").prop("checked", "");
            $("input[name=details]").parent().removeClass("selected");
            for (var idx in hint_ids)
            {
                $("input[name=details][value="+hint_ids[idx]+"]").prop("checked", "checked");
                $("input[name=details][value="+hint_ids[idx]+"]").parent().addClass("selected");
            }
        }
        update_selected_details();
    });

    $("input[name=details]").click(function (){
        $(this).parent().toggleClass("selected");
        update_selected_details();
    });

    convert_suggested_to_string();
    update_selected_details();
    $("button[name=suggested]").click();
});

function update_selected_details()
{
    var output = "";
    $("input[name=details]").each(function (){
        if ($(this).prop("checked"))
        {
            output += $(this).parent().text() + ", "
        }
    });

    if (output != "")
        output = "Selected Criteria:<br>" + output.slice(0, -2);
    else
        output = "Selected Criteria:<br>None";

    $("#details-selected").html(output)
}

function convert_suggested_to_string()
{
    $("td[name=suggested]").each(function (){
        var raw = $(this).text();
        var readable = "";
        var ids = raw.split(", ");
        for (var i in ids)
        {
            var text = $("input[name=details][value="+parseInt(ids[i])+"]").parent().text();
            readable += text + ", ";
        }
        $(this).text(readable.slice(0, -2));
    });
}
</script>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Tool List - {{file}}</h1>

<br>

<form method="POST">
{% csrf_token %}
<div class="flex-container">
    <div id="file-analysis">
        <table>
            <tr>
                <th style="width:30%">Filename</th>
                <th>Likely Type</th>
                <th style="width:25%">Suggested Details</th>
            </tr>
            {% for h in suggestions.hints %}
            <tr class="{{h.role}}">
                <td class="mono">{{h.name}}</td>
                <td>{{h.type}}</td>
                <td name="suggested">{{h.suggested|join:", "}}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="field">
            <label>Spotlight:</label>
            <input type="checkbox" value="1" name="spotlight" checked>
        </div>

        <input type="submit" name="publish" id="publish" value="Publish File">
    </div>
    {% include "museum_site/blocks/content_field.html" %}
</div>
</form>
</section>
{% endblock %}
