{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<h1>Publication Packs</h1>

<p>{% if count %}<b>Added associations for {{count}} files.</b>{% else %}<br>{% endif %}</p>

<table style="max-width:800px;margin:auto;">
<tr>
    <th>Pack</th>
    <th>Summary</th>
    <th>Action</th>
</tr>
{% for p in packs %}
<tr>
    <td><a href="{{p.url}}">{{p.title}}</a></td>
    <td>{{p.summary}}</td>
    <td><a href="?pk={{p.id}}">Assoc. Files</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
