{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
.known-ext { background: #55FF55; }
.unknown-ext { background: #FF5555; }
.ambiguous-ext { background: #FFFF55; }
.scrolling-checklist { height:auto; }
.flex-container { column-gap:8px; }
#file-analysis { flex:3; }
#file-analysis table { margin-top:0px; }
</style>
{% endblock %}

{% block scripts %}
<script>
var hint_ids = [{% for h in suggestions.hint_ids %}{{h}}{% if not forloop.last %}, {% endif %}{% endfor %}];
$(document).ready(function (){
    $("#detail-list button").click(function (){
        if ($(this).text() == "All")
        {
            $("input[name=details]").prop("checked", "checked");
            $("input[name=details]").parent().addClass("selected");
        }
        else if ($(this).text() == "None")
        {
            $("input[name=details]").prop("checked", "");
            $("input[name=details]").parent().removeClass("selected");
        }
        else if ($(this).text() == "Suggested")
        {
            $("input[name=details]").prop("checked", "");
            $("input[name=details]").parent().removeClass("selected");
            for (var idx in hint_ids)
            {
                $("input[name=details][value="+hint_ids[idx]+"]").prop("checked", "checked");
                $("input[name=details][value="+hint_ids[idx]+"]").parent().addClass("selected");
            }
        }
        update_selected_details();
    });

    $("input[name=details]").click(function (){
        $(this).parent().toggleClass("selected");
        update_selected_details();
    });

    convert_suggested_to_string();
    update_selected_details();
    $("button[name=suggested]").click();
});

function update_selected_details()
{
    var output = "";
    $("input[name=details]").each(function (){
        if ($(this).prop("checked"))
        {
            output += $(this).parent().text() + ", "
        }
    });

    if (output != "")
        output = "Selected Criteria:<br>" + output.slice(0, -2);
    else
        output = "Selected Criteria:<br>None";

    $("#details-selected").html(output)
}

function convert_suggested_to_string()
{
    $("td[name=suggested]").each(function (){
        var raw = $(this).text();
        var readable = "";
        var ids = raw.split(", ");
        for (var i in ids)
        {
            var text = $("input[name=details][value="+parseInt(ids[i])+"]").parent().text();
            readable += text + ", ";
        }
        $(this).text(readable.slice(0, -2));
    });
}
</script>
{% endblock %}

{% block content %}
<form method="POST">
{% csrf_token %}
<div class="flex-container">
    <div id="file-analysis">
        <table>
            <tr>
                <th style="width:30%">Filename</th>
                <th>Likely Type</th>
                <th style="width:25%">Suggested Details</th>
            </tr>
            {% for h in suggestions.hints %}
            <tr class="{{h.role}}">
                <td class="mono">{{h.name}}</td>
                <td>{{h.type}}</td>
                <td name="suggested">{{h.suggested|join:", "}}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="field">
            <label>Allow Spotlight:</label>
            <input type="checkbox" value="1" name="spotlight"{% if file.spotlight %} checked{% endif %}>
        </div>

        <div>
            <input type="submit" name="action" value="{{action_text}}" {% if published %} disabled{% endif %}>
        </div>
    </div>

    <div id="detail-list">
        <div class="scrolling-checklist">
            {% for cat in detail_cats %}
            {% ifchanged %}<div class="checklist-header">{{cat.header}}</div>{% endifchanged %}
            <label{% if cat.d.id in details_list %} class="selected"{% endif %}><input name="details" type="checkbox" value="{{cat.d.id}}"{% if cat.d.id in details_list %} checked{% endif %}> {{cat.d.title}}{% if cat.d.detail.description %} - {{cat.d.detail.description}}{% endif %}</label>
            {% endfor %}
        </div>
        <br>
        <button type="button">All</button> <button type="button">None</button>
        {% if suggested_button %} <button type="button" name="suggested">Suggested</button>
        {% else %} <button type="button">Default</button>{% endif %}
        <div id="details-selected" class="mono">Selected Criteria:<br>None</div>
    </div>

</div>
</form>
{% endblock %}
