{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
#tool-info
{
    font-family:monospace;font-size:12pt;
}

#tool-info td
{
    padding:0.25em;
}
</style>
{% endblock %}

{% block content %}
<h1>Museum Scan</h1>

Started: {{scan_meta.started}}<br>
Finished: {{scan_meta.finished}}<br>

{% for cat in issues %}
<table>
    <tr>
        <th colspan="5">{{cat.0|title}}</th>
    </tr>
    {% for i in cat|slice:"1:" %}
        <tr>
            <td><a href="{{i.zf.get_absolute_url}}" target="_blank">{{i.zf.title}}</a></td>
            <td>{% if cat.0 == "archive mirror" %}<a href="{% url 'mirror' i.zf.key %}">Mirror</a>{% endif %}</td>
            <td><a href="{{i.zf.tool_url}}" target="_blank">Tools</a></td>
            <td><a href="{{i.zf.admin_url}}" target="_blank">Admin</a></td>
            <td>{{i.issue}}</td>
        </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}
