{% extends "museum_site/main.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block style %}
<style>
{% if request.GET.embed %}
#stream-card
{
    position:absolute;
    top:0;
    left:0;
}

body
{
    margin-top:350px;
}
{% endif %}

.stream-card-wrapper
{
}

.entry
{
    flex:0 0 100%;
}

.entry div
{
    display:inline-block;
}

.entry .key
{
    padding-left:1ch;
    padding-right:1ch;
    background-color:#0AA;
}
.entry:nth-child(2n) .key { background-color:#AAA; }

.entry .label
{
    color:#FF5;
}

.entry + .entry
{

}

.entry .val
{
    color:#FFF;
    padding-left:7ch;
}

form textarea
{
    height:80px;
    width:32ch;
}

#card-md
{
    height:316px;
}

#stream-card
{
    width: 464px;
    height: 322px;
    font-size:28px;
    color:#FFF;
}

#stream-card p
{
    margin:0;
    margin-left:16px;
}

#stream-card ul
{
    list-style: none;
    margin:0;
}

#stream-card h1
{
    font-size:28px;
    color:#FF5;
    display:block;
    margin:0;
    font-weight:normal;
    margin-top:28px;
}

#stream-card > h1:first-child { margin-top:0px; }

.heading-letter
{
    color:#000;
    padding-left:1ch;
    padding-right:1ch;
    margin-right:1ch;
}
</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/museum-forms.js"></script>
<script>
var idx = 0;
$(document).ready(function (){
    // Populate letters
    $("#stream-card h1").each(function (){
        var letter = $(this).text().slice(0, 1);
        console.log(letter);

        var bg_color = "ega-gray-bg";
        if (idx % 2 != 0)
            var bg_color = "ega-darkcyan-bg";

        var prefix = "<span class='heading-letter " + bg_color + "'>" + letter + "</span>"

        $(this).html(prefix + $(this).html());
        idx++;
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Stream Card</h1>
{% include "museum_site/blocks/generic-form.html" %}
<hr>
<p><a href="?">Reselect Base File</a></p>

<div class="flex-container" style="column-gap:14px">
    <div class="stream-card-wrapper">

    <div id="stream-card" class="cp437 ega-darkblue-bg">{{raw|markdown}}</div>

    <a href="?{{request.META.QUERY_STRING}}&embed=1" target="_blank">Ship it!</a>
    </div>
    <div>
        <form>
            <textarea id="card-md" name="card_md">{{raw}}</textarea>
            <br><br>
            <input type="submit" value="Apply">
        </form>
    </div>
</div>
{% endblock %}
