{% extends BASE_TEMPLATE %}
{% load static %}
{% load site_tags %}
{% load zzt_tags %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}?{{BOOT_TS}}"></script>
<script src="/static/js/change-ascii-char.js?{{BOOT_TS}}"></script>
{% for script in scripts %}<script src="{% static script %}?{{BOOT_TS}}"></script>{% endfor %}
<script>
var ctx = null;


$(document).ready(function (){
    $("input[name=btn-clear-image]").click(function (){
        ctx = document.getElementById("thumb-canvas").getContext("2d");
        ctx.clearRect(0, 0, 987, 720);
    });

    $("#update-thumbnail").click(function (){
        ctx = document.getElementById("thumb-canvas").getContext("2d");
        let img_src = $("#uploaded-image-preview").attr("src");
        let title = $("#id_title").val();
        let subtitle = $("#id_subtitle").val();
        let color = $("select[name=title_color]").val();
        let fg = "var(--ega-" + color + ")";
        let bg = "var(--ega-dark" + color + ")";

        let crop = $("#id_crop").val();

        let size = $("#id_text_size").val();
        let shadow_str = "";
        let font_size = "";
        if (size == "large")
        {
            shadow_str = `7px 7px 0px var(--ega-dark${color})`;
            font_size = "140px";
            sub_font_size = "105px";
            sub_shadow_str = `3px 3px 0px var(--ega-gray)`;
        }
        else if (size == "medium")
        {
            shadow_str = `3px 3px 0px var(--ega-dark${color})`;
            font_size = "70px";
            sub_font_size = "49px";
            sub_shadow_str = `2px 2px 0px var(--ega-gray)`;
        }
        else if (size == "small")
        {
            shadow_str = `2px 2px 0px var(--ega-dark${color})`;
            font_size = "35px";
            sub_font_size = "35px";
            sub_shadow_str = `2px 2px 0px var(--ega-gray)`;
        }

        let blob = null;
        console.log("CROP", crop);
        ctx.clearRect(0, 0, 987, 720);
        $("#background").css("background-color", "#000");
        if (crop == "ZZT")
            ctx.drawImage(document.getElementById("uploaded-image-preview"), 0, 0, 480, 350, 0, 0, 987, 720);
        else if (crop == "SZZT") //432x400
        {
            ctx.drawImage(document.getElementById("uploaded-image-preview"), 208, 0, 432, 400, 105, 0, 777, 720);
            $("#background").css("background-color", "#00A");
        }
        else
        {
            let src_w = $("uploaded-image-preview").attr("width");
            let src_h = $("uploaded-image-preview").attr("height");
            let img = $("#uploaded-image-preview")[0];

            $("#background").css("background-image", `url(${img.src})`);
        }


        $(".stream-title").html(title);
        $(".stream-title").css({"font-size": font_size, "text-shadow": shadow_str, "color": fg});
        $(".stream-subtitle").html(subtitle);
        $(".stream-subtitle").css({"font-size": sub_font_size, "text-shadow": sub_shadow_str});
        $("#thumb-image").attr("src", img_src);
    });
});
</script>
{% endblock %}

{% block style %}
<style>
#thumb-canvas {  }

.workspace
{
    width:1280px;
    height:720px;
    border:10px solid #F0F;
    border-bottom:50px solid #F0F;
    position:relative;
    background-color:var(--ega-black);
    overflow:hidden;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-bottom:14px;

    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

#background
{
    margin:auto;
    max-height:720px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#foreground
{
    position:absolute;
    width:1280px;
    height:720px;
}

#foreground .corner
{
    position:absolute;
}

.screenshot-wrapper
{
    top:10px;
    left:160px;
    display:none;
}

.title-wrapper
{
    width:1280px;
    height:720px;
    text-align:center;
    z-index:10;
    display:flex;
    flex-direction:column;
    justify-content:center;

}

.stream-title
{
    color:var(--ega-{{text_color|default:'cyan'}});
    background-color:rgba(0, 0, 0, 0.50);
}

.stream-subtitle
{
    color:var(--ega-white);
    background-color:rgba(0, 0, 0, 0.50);
}

.tiger-wrapper
{
    left:0px;
    bottom: -20px;
}

.tiger-wrapper img
{
    height:120px;
}

.bigchar { text-align:center; width:160px; }
.lion { top:0px; left:0px; transform:rotate(-20deg); }
.bear { top:0px; right:0px; transform:rotate(20deg); }
.ruffian { right:0px; bottom: 0px; transform:rotate(-20deg); }

.stream-title.large { font-size:140px; text-shadow: 7px 7px 0px var(--ega-{{shadow_color|default:'darkcyan'}}); }
.stream-title.medium { font-size:70px; text-shadow: 3px 3px 0px var(--ega-{{shadow_color|default:'darkcyan'}}); }
.stream-title.small { font-size:35px; text-shadow: 2px 2px 0px var(--ega-{{shadow_color|default:'darkcyan'}}); }

.stream-subtitle.large { font-size:105px; text-shadow: 3px 3px 0px var(--ega-gray); }
.stream-subtitle.medium { font-size:49px; text-shadow: 2px 2px 0px var(--ega-gray); }
.stream-subtitle.small { font-size:35px; text-shadow: 2px 2px 0px var(--ega-gray); }
</style>
{% endblock %}

{% block content %}
<h1>{{form.heading}}</h1>

{{form.text_prefix|default:""|safe}}

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<!--<input type="submit" value="{{form.submit_value}}">-->
<input type="button" value="Update" id="update-thumbnail">
<input type="button" value="Clear Image" name="btn-clear-image">
</form>

<hr>
<div class="workspace">
    <div id="background">
        <canvas id="thumb-canvas" width="987px" height="720px"></canvas>
    </div>
    <div id="foreground">
        <div class="corner bigchar lion">{% char 234 "red" "transparent" scale=14 %}</div>
        <div class="corner tiger-wrapper">
            <img src="{% static 'chrome/logos/museum-tiger-by-lazymoth.png' %}" class="">
        </div>
        <div class="corner bigchar bear">{% char 153 "darkyellow" "transparent" scale=14 %}</div>
        <div class="corner bigchar ruffian">{% char 5 "purple" "transparent" scale=14 %}</div>
        <div class="cp437 title-wrapper">
            <div class="stream-title {{request.POST.text_size|default:'large'}}">{{request.POST.title}}</div>
            <div class="stream-subtitle {{request.POST.text_size|default:'large'}}">{{request.POST.subtitle}}</div>
        </div>
    </div>
</div>

{% endblock %}
