{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Tools</h1>

<ul>
    <li><a href="{% url 'audit_genres' %}">Audit Genres</a></li>
    <li><a href="{% url 'audit_zeta_config' %}">Audit Zeta Config</a></li>
    <li><a href="{% url 'crediting_preferences' %}">Crediting Preferences</a></li>
    <li><a href="{% url 'log_viewer' %}">Log Viewer</a></li>
    <li><a href="{% url 'scan' %}">Museum Scan Results</a></li>
    <li><a href="{% url 'patron_input' %}">Patron Input</a></li>
    <li><a href="{% url 'prep_publication_pack' %}">Prepare Publication Pack</a></li>
    <li><a href="{% url 'pub_pack_file_assocs' %}">Publication Pack File Associations</a></li>
    <li><a href="{% url 'user_list' %}">User List</a></li>
    <li><a href="{% url 'worlds_of_zzt' %}">WoZZT Queue</a></li>
</ul>

</section>
{% endblock %}
