{% extends BASE_TEMPLATE %}
{% load static %}
{% load site_tags %}
{% load zfile_attrs %}

{% block style %}
<style>
#tool-container
{
    display:flex;
    justify-content:space-between;
    column-gap:8px;
    font-family:monospace;
    font-size:10pt;
}

#upload-notes
{
    height:16ch;
    width:55ch;
    font-size:smaller;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#recalculate-button").click(function (){
        var recalculate = $("select[name=recalculate] option:selected").val();
        var old = $("select[name=recalculate] option:selected").data("old");
        var location = ("" + window.location)
        if (location.indexOf("?") != -1)
            var location = location.slice(0, location.indexOf("?"));
        window.location = location + "?recalculate=" + recalculate + "&old=" + old;
    });
});
</script>
{% endblock %}

{% block content %}
{% if zfile %}{% model_block zfile %}{% endif %}

<h2>Tool Index</h2>
<div id="tool-container">
    <table>
        <tr>
            <tr><th>ZAP</th><th>Etc</th></tr>
            <tr><td><a href="{% url 'zap_index' %}">ZAP</a></td><td></td></tr>
        {% for category, entries in tool_list.items %}
        {% if category != "zfile_tools" %}
        <tr><th colspan="2">{{category}}</th></tr>
            {% for entry in entries %}
            <tr><td><a href="{% if entry.url_name %}{% url entry.url_name %}{% else %}{{entry.url}}{% endif %}">{{entry.text}}</a></td><td class="r">{% if entry.text == "Feedback Approvals" %}{{pending_approvals}}{% endif %}</td></tr>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>

    <div>
        {% if zfile %}
        <table>
            <tr>
                <th>ZFile Specific Tools</th>
            </tr>
            {% for entry in tool_list.zfile_tools %}
            <tr><td><a href="{% if entry.url_name %}{% url entry.url_name zfile.key %}{% else %}{{entry.url}}{% endif %}">{{entry.text}}</a></td></tr>
            {% endfor %}
        </table>
        {% endif %}
        <div id="tool-form">
            <form id="select-zfile-from-tools-form">
            {% include "museum_site/blocks/generic-form.html" %}
            <input type="submit" value="Select ZFile">
            </form>
        </div>
    </div>
</div>

{% if zfile %}
{% if request.GET.recalculate %}
<div><b>Recalculated {{request.GET.recalculate|title}}</b><br>
<table>
    <tr><th>Old Value</th><td>{{request.GET.old}}</td></tr>
    <tr><th>New Value</th><td>{{new}}</td></tr>
</table>
</div>
<br>
{% endif %}

<div id="tool-container" class="flex-container justify-space-between">
    <div>
        <h3>Upload Info</h3>
        <table class="dataTable" id="tool-info">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Upload ID</td>
                <td><a href="/admin/museum_site/upload/{{zfile.upload.id}}/change/">{{zfile.upload.id}}</a></td>
            </tr>
            <tr>
                <td>User</td>
                <td>{{zfile.upload.author_link}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{zfile.upload.date}}</td>
            </tr>
            <tr>
                <td>Edit Token</td>
                <td><a href="/upload?token={{zfile.upload.edit_token}}">{{zfile.upload.edit_token}}</a></td>
            </tr>
            <tr>
                <td>IP</td>
                <td>{{zfile.upload.ip}}</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>{% if zfile.upload.notes %}<textarea id="upload-notes">{{zfile.upload.notes}}</textarea>{% else %}<i>None</i>{% endif %}</td>
            </tr>
        </table>

        <div><h3 class="inline">ZFile Contents</h3> <a href="?recalculate=contents">Recalculate</a></div>
        <table>
            <tr>
                <th>Filename</th>
                <th>Path</th>
                <th>Ext.</th>
                <th>Mod. Date</th>
                <th>Dir</th>
                <th>CRC-32</th>
                <th>Size</th>
            </tr>
            {% for c in content_info %}
            <tr>
                <td>{{c.title}}</td>
                <td>{{c.path}}</td>
                <td>{{c.ext}}</td>
                <td>{{c.mod_date|date:"Y-m-d"}}</td>
                <td>{{c.directory|yesno:"Y,N"}}</td>
                <td>{{c.crc32}}</td>
                <td>{{c.size|filesizeformat}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h3>File Info</h3>
        <div>
            <select name="recalculate">
                <option value="feedback" data-old="{{zfile.feedback_count}}">Feedback Count</option>
                <option value="reviews" data-old="{{zfile.review_count}}/{{file.rating}}">Review Count/Rating</option>
                <option value="articles" data-old="{{zfile.article_count}}">Article Count</option>
                <option value="sort-title" data-old="{{zfile.sort_title}}">Sort Title</option>
                <option value="checksum" data-old="{{zfile.checksum}}">Checksum</option>
                <option value="boards" data-old="{{zfile.playable_boards}}/{{zfile.total_boards}}">Playable/Total Boards</option>
                <option value="size" data-old="{{zfile.size}}">Size</option>
            </select>
            <input type="button" value="Recalculate" id="recalculate-button">
        </div>
        {% zfile_attrs zfile %}
    </div>
</div>
{% endif %}
{% endblock %}
