{% extends BASE_TEMPLATE %}
{% load static %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Unscrolled ZFiles</h1>
<hr>
<table id="scroll-table">
    <tr>
        <th>PK</th><th>ZFile</th><th>Category</th><th>Date</th>
    </tr>
    {% for info in unscrolled %}
    <tr>
        <td>{{info.zfile.pk}}</td>
        <td><a href="{{ingo.zfile.get_absolute_url}}" target="_blank">{{info.zfile.title}}</td>
        <td>{{info.category}}</td>
        <td>{{info.date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
