{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}


{% block content %}
<h1>User List</h1>

<table class="mono">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Joined</th>
        <th>Email</th>
        <th>Act.</th>
        <th>Staff</th>
        <th>Patron</th>
        <th>Pledge</th>
        <th>Tier</th>
    </tr>
    {% for u in users %}
    <tr>
        <td><a href="/admin/auth/user/{{u.id}}/change/">{{u.id|zfill:3}}</a> / <a href="/admin/museum_site/profile/{{u.profile.pk}}/change/">profile</a></td>
        <td><a href="{{u.profile.link}}">{{u.username}}</a></td>
        <td>{{u.date_joined|date:"M d, Y"}}</td>
        <td>{{u.email}}</td>
        <td class="c">{{u.is_active|yesno:"✅,❌"}}</td>
        <td class="c">{{u.is_staff|yesno:"✅, "}}</td>
        <td class="c">{{u.profile.patron|yesno:"✅,❌"}}</td>
        <td class="r">({{u.profile.get_pledge}})</td>
        <td class="c">{{u.profile.patron_tier_name}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
