{% load static %}
<style>
@font-face
{
    /* http://int10h.org/oldschool-pc-fonts/readme/ */
    font-family: 'Roboto';
    src: url('/static/fonts/RobotoSlab-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

.stream
{
    display:grid;
    grid-template-areas:
    "screen time"
    "screen title"
    "screen description";
    width:1024px;
    padding:14px 8px 28px 8px;
    box-sizing:border-box;
    column-gap:32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto 1fr;
    background-color:var(--ega-darkblue);
    color:var(--ega-white);
    font-family:"cp437";
}

.stream img
{
    grid-area:screen;
    border-top:14px solid var(--ega-white);
    border-bottom:14px solid var(--ega-white);
    border-left:16px solid var(--ega-white);
    border-right:16px solid var(--ega-white);
    box-shadow: 16px 14px var(--ega-gray);
    max-width:480px;

}

.stream h2
{
    grid-area:title;
    font-weight:normal;
    font-size:42px;
    margin:0;
    font-family:cp437;
    text-align:center;
}

.stream .time
{
    grid-area:time;
    font-size:18pt;
    color:var(--ega-cyan);
    text-align:center;
}

.stream .description
{
    grid-area:description;
    align-self:center;
    color:var(--ega-yellow);
    margin-right:8px;
    font-size:28px;
}

.post-header
{
    display:flex;
    align-items:center;
    height:80px;
    color:var(--ega-yellow);
    background-color:var(--ega-darkblue);
    font-family:cp437;
    font-weight:normal;
    font-size:20pt;
}

.post-header h1
{
    flex:1;
    text-align:center;
    font-weight:normal;
    color:var(--ega-white);
}

.post-twitch
{
    background-color:var(--ega-darkpurple);
    color:var(--ega-white);
    font-size:20pt;
    font-family:roboto;
    text-align:center;
}

.post-twitch h2
{
    margin:0;
    text-align:right;
    margin-right:50px;
}

#post-logo
{
    position:relative;
    top:40px;
    max-height:160px;
}

.divider
{
    height:28px;
    background:var(--ega-black);
}

.post-twitch h2 a
{
    color:var(--ega-white);
}
</style>

<body>
<div style="width:1024px;" id="schedule">
    <div class="post-header">
        <img src="{% static 'chrome/logos/museum-tiger-by-lazymoth.png' %}" id="post-logo">
        <div>
            <h1>Worlds of ZZT Stream Schedule</h1>
            <div class="r ega-cyan">{{date_start}} through {{date_end}}</div>
        </div>
    </div>
    <div class="post-twitch">
        <h2><a href="https://twitch.tv/worldsofzzt" target="_blank" class="noext">https://twitch.tv/worldsofzzt</a></h2>
    </div>
    {% if title_1 %}
    <div class="stream" data-idx="1">
        <div class="time">{{date_1}}<br>{{time_1}}</div>
        <img src="{{media_1}}" id="preview-image1">
        <h2>{{title_1}}</h2>
        <div class="description">{{desc_1}}</div>
    </div>
    {% endif %}
    {% if title_2 %}
    <div class="stream" data-idx="2">
        <div class="time">{{date_2}}<br>{{time_2}}</div>
        <img src="{{media_2}}" id="preview-image2">
        <h2>{{title_2}}</h2>
        <div class="description">{{desc_2}}</div>
    </div>
    {% endif %}
    {% if title_3 %}
    <div class="stream" data-idx="3">
        <div class="time">{{date_3}}<br>{{time_3}}</div>
        <img src="{{media_3}}" id="preview-image3">
        <h2>{{title_3}}</h2>
        <div class="description">{{desc_3}}</div>
    </div>
    {% endif %}

</div>
