{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags url=request.build_absolute_uri title=display_poll.title description="A patron exclusive poll" og_image="pages/poll.png" %}{% endblock %}

{% block style %}
<style>
.gallery-break
{
    width:100%;
}

.patron
{
    font-weight:bold;
}

#poll-form
{
    border:0px;
}

#poll-form h2
{
    font-family:sans-serif;
}

#poll-form label
{
    width:50%;
    max-width:500px;
    color:#FFF;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:1em;
    padding:0.5em;
}

.winner
{
    font-size:32px;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">

<h1>{{display_poll.title}}</h1>
<p>Poll open from <b>{{display_poll.start_date}}</b> through <b>{{display_poll.end_date}}</b></p>

<div class="gallery-list">
    <div class="gallery-block">
        <img src="{% static display_poll.option1.file.screenshot_url %}" class="screenshot-thumb" alt="{{display_poll.option1.file.screenshot}}">
        <div class="title c"><a href="{{display_poll.option1.file.view_url}}">{{display_poll.option1.file.title}}</a></div>
        <div class="author c">{% for a in display_poll.option1.file.author_list %}<a href="{% url 'search' %}?author={{a}}&sort=release">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="date c">{{display_poll.option1.file.release_date}}</div>
        <div class="patron c">{% if display_poll.option1.backer %}Patron nominated!{% else %}&nbsp;{% endif %}</div>
        <div class="desc">{{display_poll.option1.summary}}</div>
    </div>

    <div class="gallery-block">
        <img src="{% static display_poll.option2.file.screenshot_url %}" class="screenshot-thumb" alt="{{display_poll.option2.file.screenshot}}">
        <div class="title c"><a href="{{display_poll.option2.file.view_url}}">{{display_poll.option2.file.title}}</a></div>
        <div class="author c">{% for a in display_poll.option2.file.author_list %}<a href="{% url 'search' %}?author={{a}}&sort=release">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="date c">{{display_poll.option2.file.release_date}}</div>
        <div class="patron c">{% if display_poll.option2.backer %}Patron nominated!{% else %}&nbsp;{% endif %}</div>
        <div class="desc">{{display_poll.option2.summary}}</div>
    </div>

    <div class="gallery-block">
        <img src="{% static display_poll.option3.file.screenshot_url %}" class="screenshot-thumb" alt="{{display_poll.option3.file.screenshot}}">
        <div class="title c"><a href="{{display_poll.option3.file.view_url}}">{{display_poll.option3.file.title}}</a></div>
        <div class="author c">{% for a in display_poll.option3.file.author_list %}<a href="{% url 'search' %}?author={{a}}&sort=release">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="date c">{{display_poll.option3.file.release_date}}</div>
        <div class="patron c">{% if display_poll.option3.backer %}Patron nominated!{% else %}&nbsp;{% endif %}</div>
        <div class="desc">{{display_poll.option3.summary}}</div>
    </div>

    <div class="gallery-break"></div>

    <div class="gallery-block">
        <img src="{% static display_poll.option4.file.screenshot_url %}" class="screenshot-thumb" alt="{{display_poll.option4.file.screenshot}}">
        <div class="title c"><a href="{{display_poll.option4.file.view_url}}">{{display_poll.option4.file.title}}</a></div>
        <div class="author c">{% for a in display_poll.option4.file.author_list %}<a href="{% url 'search' %}?author={{a}}&sort=release">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="date c">{{display_poll.option4.file.release_date}}</div>
        <div class="patron c">{% if display_poll.option4.backer %}Patron nominated!{% else %}&nbsp;{% endif %}</div>
        <div class="desc">{{display_poll.option4.summary}}</div>
    </div>

    <div class="gallery-block">
        <img src="{% static display_poll.option5.file.screenshot_url %}" class="screenshot-thumb" alt="{{display_poll.option5.file.screenshot}}">
        <div class="title c"><a href="{{display_poll.option5.file.view_url}}">{{display_poll.option5.file.title}}</a></div>
        <div class="author c">{% for a in display_poll.option5.file.author_list %}<a href="{% url 'search' %}?author={{a}}&sort=release">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="date c">{{display_poll.option5.file.release_date}}</div>
        <div class="patron c">{% if display_poll.option5.backer %}Patron nominated!{% else %}&nbsp;{% endif %}</div>
        <div class="desc">{{display_poll.option5.summary}}</div>
    </div>
</div>

{% if display_poll.active and not results_mode %}
<form method="POST" id="poll-form" class="cp437" action="/poll/results/{{display_poll.id}}/">
    {% csrf_token %}
    <label style="background-color:#0000AA">{{display_poll.option1.file.title}} <input name="vote" type="radio" value="{{display_poll.option1_id}}"></label>
    <label style="background-color:#00AA00">{{display_poll.option2.file.title}} <input name="vote" type="radio" value="{{display_poll.option2_id}}"></label>
    <label style="background-color:#00AAAA">{{display_poll.option3.file.title}} <input name="vote" type="radio" value="{{display_poll.option3_id}}"></label>
    <label style="background-color:#AA0000">{{display_poll.option4.file.title}} <input name="vote" type="radio" value="{{display_poll.option4_id}}"></label>
    <label style="background-color:#AA00AA">{{display_poll.option5.file.title}} <input name="vote" type="radio" value="{{display_poll.option5_id}}"></label>
    {% if request.user.profile.patron %}
    <label style="background-color:#AAAA00">Your Patron E-Mail <input name="email" value="{{request.user.profile.patron_email}}" type="hidden" readonly><div>{{request.user.profile.patron_email}}</div></label>
    {% else %}
    <label style="background-color:#AAAA00">Your Patron E-Mail <input name="email" value=""></label>
    {% endif %}
    <label style="background-color:#AAAAAA"><a href="/poll/results/{{display_poll.id}}">View Results</a><input type="submit" name="action" value="Vote"></label>
    {% comment %}<input type="hidden" name="key" value="{{key}}">{% endcomment %}
</form>
{% elif results_mode %}
<form method="POST" id="poll-form" class="cp437">
    <label style="background-color:#0000AA">{{display_poll.option1.file.title}} <div {% if winner == results.0 %}class="winner" {% endif %}name="vote">{{results.0|default:"0"}}</div></label>
    <label style="background-color:#00AA00">{{display_poll.option2.file.title}} <div {% if winner == results.1 %}class="winner" {% endif %}name="vote">{{results.1|default:"0"}}</div></label>
    <label style="background-color:#00AAAA">{{display_poll.option3.file.title}} <div {% if winner == results.2 %}class="winner" {% endif %}name="vote">{{results.2|default:"0"}}</div></label>
    <label style="background-color:#AA0000">{{display_poll.option4.file.title}} <div {% if winner == results.3 %}class="winner" {% endif %}name="vote">{{results.3|default:"0"}}</div></label>
    <label style="background-color:#AA00AA">{{display_poll.option5.file.title}} <div {% if winner == results.4 %}class="winner" {% endif %}name="vote">{{results.4|default:"0"}}</div></label>
    {% comment %}<input type="hidden" name="key" value="{{key}}">{% endcomment %}
</form>

{% if user.is_staff %}
<h2>Vote Log -- ONLY VISIBLE TO STAFF</h2>
<a href="https://www.patreon.com/manageRewardsList" target="_blank">Patrons</a><br>
<table class="data-table">
<tr><th colspan="4">Final Votes</th></tr>
<tr><th>ID</th><th>Option</th><th>Email</th><th>Timestamp</th></tr>
{% for v in final_votes %}
<tr><td>{{v.id}}</td><td>{{v.option}}</td><td>{{v.email}}</td><td>{{v.timestamp}}</tr>
{% endfor %}
<tr><th colspan="4">All Votes</th></tr>
<tr><th>ID</th><th>Option</th><th>Email</th><th>Timestamp</th></tr>
{% for v in all_votes %}
<tr><td>{{v.id}}</td><td>{{v.option}}</td><td>{{v.email}}</td><td>{{v.timestamp}}</tr>
{% endfor %}
</table>
{% endif %}

<h2>Results Info</h2>
<ul>
    <li>Results shown reflect the current votes in the database prior to filtering ineligible votes.</li>
    <li>Current totals may therefore differ from the final results!</li>
    <li>In the event of a tie, priority will be given to Patron selected poll options.</li>
    <li>If two Patron selected options tie, a winner will be selected randomly.</li>
</ul>
{% endif %}

<h2>Poll Rules</h2>
<ul>
    <li>Only Patrons are eligible for voting. Not a Patron? <a href="https://patreon.com/worldsofzzt" target="_blank">Become one</a>!</li>
    <li>Votes which do not provide an e-mail address associated with an active Patron will be rejected.</li>
    <li>Patrons at the $20/month level can select a game to be featured in the poll. Patrons who do so will have their chosen game
        in all subsequent polls until it either wins or the patron opts to change it to something else.</li>
    <li>Patrons who do not select a game will have one substituted by staff.</li>
    <li>Only the last vote for an e-mail address will be counted, you may change your vote by simply placing a new vote.</li>
</ul>

<h2>Poll History</h2>
<div style="border:1px solid #000;max-height:10em;overflow:auto;">
<ul>
    {% for poll in polls %}
    <li><a href="/poll/results/{{poll.id}}">{{poll.title}} ({{poll.start_date}} - {{poll.end_date }})</a></li>
    {% endfor %}
</ul>
</div>

</section>
{% endblock %}
