{% extends "museum_site/main.html" %}
{% load static %}
{% load tz %}

{% block style %}
<style>
@font-face
{
    font-family: 'Roboto';
    src: url('/static/fonts/RobotoSlab-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

#schedule { max-width:1024px; margin:auto; }

.stream
{
    display:grid;
    grid-template-areas:
    "screen title"
    "screen category"
    "screen time"
    "screen guests"
    "screen description";
    padding:14px 8px 28px 8px;
    box-sizing:border-box;
    column-gap:32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, auto) 1fr;
    background-color:var(--ega-darkblue);
    color:var(--ega-white);
    font-family:"cp437";
}

.stream div
{
    margin-bottom:1.0ch;
}

img:not(.screenshot-thumb).stream-thumbnail
{
    grid-area:screen;
    border-top:14px solid var(--ega-white);
    border-bottom:14px solid var(--ega-white);
    border-left:16px solid var(--ega-white);
    border-right:16px solid var(--ega-white);
    box-shadow: 16px 14px var(--ega-gray);
    max-width:480px;

}

.stream h2
{
    grid-area:title;
    font-weight:normal;
    font-size:42px;
    margin:0;
    font-family:cp437;
    text-align:center;
}

.stream .time
{
    grid-area:time;
    font-size:18pt;
    color:var(--ega-cyan);
    display:flex;
    justify-content:space-between;
}

.stream .description
{
    grid-area:description;
    align-self:start;
    color:var(--ega-yellow);
    margin-right:8px;
    font-size:28px;
}

.post-header
{
    display:flex;
    align-items:center;
    height:80px;
    color:var(--ega-yellow);
    background-color:var(--ega-darkblue);
    font-family:cp437;
    font-weight:normal;
    font-size:20pt;
}

.post-header h1
{
    flex:1;
    text-align:center;
    font-weight:normal;
    color:var(--ega-white);
}

.post-twitch
{
    background-color:var(--ega-darkpurple);
    color:var(--ega-white);
    font-size:20pt;
    font-family:roboto;
    text-align:center;
}

.post-twitch h2
{
    margin:0;
    text-align:right;
    margin-right:50px;
}

#post-logo
{
    position:relative;
    top:40px;
    max-height:160px;
}

.divider
{
    height:28px;
    background:var(--ega-black);
}

.post-twitch h2 a
{
    color:var(--ega-white);
}

.stream-category
{
    grid-area:category;
    font-size:18pt;
    color:var(--ega-yellow);
    text-align:center;
}

.stream-guests
{
    grid-area:guests;
    font-size:18pt;
    color:var(--ega-green);
}

@media (max-width:1580px) {
    .post-header { padding-top: 14px; }
    #post-logo { max-height:80px; top:0px; }
    #schedule { max-width:640px; }
    img:not(.screenshot-thumb).stream-thumbnail { max-width:240px; }
}

@media (max-width:1024px) {
    .stream
    {
        grid-template-areas:"screen"
        "title"
        "time"
        "description";
        grid-template-columns:1fr;
    }

    .post-header {
        height:auto;
    }
}

.nonstandard { color:var(--ega-red); font-size:24pt; }
</style>
{% endblock %}

{% block content %}
<div id="schedule">
    <div class="post-header">
        <img src="{% static 'chrome/logos/museum-tiger-by-lazymoth.png' %}" id="post-logo">
        <div>
            <h1>Worlds of ZZT Stream Schedule</h1>
        </div>
    </div>
    <div class="post-twitch">
        <h2><a href="https://twitch.tv/worldsofzzt" target="_blank" class="noext">https://twitch.tv/worldsofzzt</a></h2>
    </div>
    {% for stream in streams %}
    <div class="stream" data-idx="{{forloop.counter}}">
        <h2>{{stream.title}}</h2>
        {% if stream.category != "none" %}<div class="stream-category">{{stream.get_category_display}} {% if stream.theme %} - {{stream.theme}}{% endif %}</div>{% endif %}
        {% if stream.theme != "NOSTREAM" %}
        <div class="time">
            <div>
                {% timezone "America/New_York" %}{{stream.when|date:'l N jS'}}<br>
                {{stream.when|date:'h:i A e'}}{% endtimezone %}<br>
                {% timezone "America/Los_Angeles" %}{{stream.when|date:'h:i A e'}}{% endtimezone %}
            </div>
            <div class="ega-purple r">
            {{stream.when|date:'D M jS'}}<br>
            {{stream.when|date:'H:i e'}}
            </div>
        </div>
            {% if stream.nonstandard_time %}
                <div class="nonstandard c"><span class="ega-yellow">/!\</span> NOTICE <span class="ega-yellow">/!\</span><br>This stream is scheduled for a non-standard date/time!</div>
            {% endif %}
        {% else %}
        <div class="time">
            <div>
                {% timezone "America/New_York" %}{{stream.when|date:'l N jS'}}<br>{% endtimezone %}
            </div>
            <div class="ega-purple r">
            {{stream.when|date:'D M jS'}}<br>
            </div>
        </div>
        {% endif %}
        <img src="{{stream.preview_image}}" class="stream-thumbnail">
        {% if stream.guests %}<div class="stream-guests">Featuring Special Guests:<br>{{stream.guests}}</div>{% endif %}
        <div class="description">{{stream.description|safe}}
        </div>
    </div>
    {% empty %}
    <div class="stream">
        <h2>No streams have been scheduled!</h2>
        <img src="{% static 'screenshots/no_screenshot.png' %}" class="stream-thumbnail">
        <div class="description">Check back again soon.</div>
    </div>
    {% endfor %}
</div>

<h2>Standard Schedule</h2>

<p><b>Sundays at 12:00 noon Pacific, 3:00pm Eastern, {{sunday_time_utc}}</b> - Wildcard streams of 1-5 as of yet unpreserved ZZT worlds, ideally with some theme that relates them.</p>

<p><b>Mondays at 6:00pm Pacific, 9:00pm Eastern, {{monday_time_utc}}</b> - "Beyond Worlds" streams. These aren't ZZT worlds! They are generally some kind of indie titles with a creative spirit seen in ZZT though, and a nice way to get folks unaware of ZZT to tune in and perhaps stick around for the funny MS-DOS game played on other days.</p>

<p><b>Fridays at 6:00pm Pacific, 9:00pm Eastern, {{friday_time_utc}}</b> - ZZT worlds either voted on by viewers, new releases, or whatever Dr. Dos feels like that week.</p>

<p>Dates, content, and anything else stream related may change at any time!</p>
{% endblock %}
