{% if page_count > 1 %}
<div class="article-pages cp437 {{location}}">
    Page #{{page}}/{{page_count}}<br>
    {% if page > 1 %}<a href="{% url 'article_view_page' object.pk prev slug %}{% if private_disclaimer%}?secret={{request.GET.secret}}{% endif %}">&lt;</a>{% endif %}
    {% for p in page_range %}
    <a href="{% url 'article_view_page' object.pk p slug %}{% if private_disclaimer%}?secret={{request.GET.secret}}{% endif %}">{{p}}</a>
    {% endfor %}
    {% if next %}<a href="{% url 'article_view_page' object.pk next slug %}{% if private_disclaimer%}?secret={{request.GET.secret}}{% endif %}">&gt;</a>{% endif %}
</div>
{% endif %}
