<div class="pages">
    {% if page.has_other_pages %}
    Page #{{page.number}}/{{page.paginator.num_pages}}<br>
    {% if page.has_previous %}<a href="?page={{page.previous_page_number}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">&lt;</a>{% else %}&lt;{% endif %}
    {% for num in page.paginator.page_range %}
    <a href="?page={{num}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">{{num}}</a>
    {% endfor %}
    {% if page.has_next %}<a href="?page={{next}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">&gt;</a>{% else %}&gt;{% endif %}
    {% endif %}

    {% if not no_list %}<div class="sub">
        {% if view == "detailed" %}
        <strong>Detailed View</strong> |
        {% else %}
        <a href="?view=detailed">Detailed View</a> |
        {% endif %}
        {% if view == "list" %}
        <strong>List View</strong>
        {% else %}
        <a href="?view=list">List View</a>
        {% endif %}
    </div>{% endif %}

    <div class="sub">
        Sort: <select name="sort">
            <option value="category"{% if sort == "category" %} selected {%endif %}>Category</option>
            <option value="date"{% if sort == "date" %} selected {%endif %}>Date</option>
            <option value="name"{% if sort == "name" %} selected {%endif %}>Name</option>
        </select>
    </div>
</div>
