{% load static %}{% with article.is_restricted as is_restricted %}
<div class="overview-block" data-pk="{{article.id}}" data-model="article">
    <img src="{{article.preview}}"
    class="screenshot-thumb"
    alt="{{article.preview}}">
    <h1 class="title"><a href="{{article.url}}"{% if article.is_restricted %} class="restricted" data-published="{{article.published_string}}" {% endif %}>{{article.title}}</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">Author</div><div class="value">{{article.author}}</div>
        </div>
        <div class="field">
            <div class="key">Date</div><div class="value">{% if article.publish_date.year != 1970 %}{{article.publish_date}}{% else %}Unknown{% endif %}</div>
        </div>
        <div class="field">
            <div class="key">Category</div><div class="value">{{article.category}}</div>
        </div>
        {% if article.series.count %}<div class="field">
            <div class="key">Series</div><div class="value">{{article.series_links|safe}}</div>
        </div>{% endif %}
        {% if debug %}<div class="field debug">
            <div class="key">ID</div><div class="value"><a href="">{{article.id}}</a></div>
        </div>{% endif %}
        <div class="field">
            <div class="key">Summary</div><div class="value">{{article.summary}}</div>
        </div>
    </div>
</div>
{% endwith %}
