{% load staticfiles %}
<div class="file-block" id="{{file.filename}}" data-pk="{{file.id}}">
    <div class="file-screen">
        <img src="{% if file.screenshot %}{% static 'images/screenshots/'|add:file.letter|add:'/'|add:file.screenshot' %}{% else %}{% static 'images/screenshots/no_screenshot.png' %}{% endif %}"
        class="titlescreen"
        alt="{{file.screenshot}}">
    </div>
    <div class="file-info">
        <h1><a href="{{file.download_url}}">{{file.title|default:"NO NAME"}}</a></h1>
        <div>Author</div>: {% for a in file.author_list %}<a href="{% url 'search' %}?author={{a}}&exact=1">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br>
        <div>Filename</div>: {{file.filename}}<br>
        <div>Released</div>: <a href="{% url 'search'%}?year={{file.release_date.year|default:'any'}}" title="{% if file.release_date %}Source: {{file.release_source}}{% endif %}">{{file.release_date|default:"Unknown"}}</a><br>
        <div>Genre</div>: {% for g in file.genre_list %}<a href="{% url 'search' %}?genre={{g}}">{{g}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br>
        <div>Company</div>: <a href="{% url 'search'%}?company={{file.company}}">{{file.company}}</a><br>
        <div>Size</div>: {{file.size}} KB<br>
        <div>Rating</div>: {%if file.rating != None %}<span title="Based on {{file.review_count}} review{{file.review_count|pluralize}}">{{file.rating|floatformat:"2"}} / 5.00</span>{% else %}<em>No rating</em>{% endif %}<br>
        <div>Details:</div> {% for detail in file.details.all %}{{detail.detail}}, {% endfor %}<br>
        {% if debug %}<div class="debug">File ID</div>: {{file.id}} -- <a href="/admin/museum_site/file/{{file.id}}/change/">Edit</a><br>{% endif %}
    </div>
    {% if show_featured %}
    <div class="featured-reviews">
        <h2>Featured Reviews</h2>
        {% for article in file.articles.all %}
            {% if article.category == "Featured Game" %}
                <a href="{{article.url}}">{{article.title}} by {{article.author|default:"Unknown"}}</a><br>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if show_description and file.description %}
    <div class="featured-description">
        <div>
            <h2>Description</h2>
            <p>{{file.description|safe}}</p>
        </div>
    </div>
    {% endif %}
    <div class="file-links">
        {% include "museum_site/blocks/file_links.html" %}
    </div>
</div>
