<div class="pages">
    {% if pages > 1 %}
    Page #{{page}}/{{pages}}<br>
    <a href="?page={{prev}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">&lt;</a>
    {% for page in page_range %}
    <a href="?page={{page}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">{{page}}</a>
    {% endfor %}
    <a href="?page={{next}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">&gt;</a>
    {% endif %}
    {% if not no_list %}<div class="sub">
        {% if view == "detailed" %}
        <strong>Detailed View</strong> |
        {% else %}
        <a href="?view=detailed{% if qs_sans_view %}&{{qs_sans_view}}{% endif %}">Detailed View</a> |
        {% endif %}
        {% if view == "list" %}
        <strong>List View</strong> |
        {% else %}
        <a href="?view=list{% if qs_sans_view %}&{{qs_sans_view}}{% endif %}">List View</a> |
        {% endif %}
        {% if view == "gallery" %}
        <strong>Gallery View</strong>
        {% else %}
        <a href="?view=gallery{% if qs_sans_view %}&{{qs_sans_view}}{% endif %}">Gallery View</a>
        {% endif %}
    </div>{% endif %}
    <div class="sub">
        Sort: <select name="sort">
            <option value="title"{% if request.GET.sort == "title" %} selected {%endif %}>Title</option>
            <option value="author"{% if request.GET.sort == "author" %} selected {%endif %}>Author</option>
            <option value="company"{% if request.GET.sort == "company" %} selected {%endif %}>Company</option>
            <option value="rating"{% if request.GET.sort == "rating" %} selected {%endif %}>Rating</option>
            <option value="release"{% if request.GET.sort == "release" %} selected {%endif %}>Release Date</option>
        </select>
    </div>
    {% if advanced_search %}
    <a href="/advanced-search?{{request.META.QUERY_STRING}}">Modify Search Query</a>
    {% endif %}
</div>
