<div class="model-block gallery poll{% for r in roles %} {{r}}{% endfor %}" data-model="{{model}}" data-pk="{{pk}}" id="{{hash_id}}" data-generic="GENERIC">
    <img class="preview-image thumbnail {% if not nozoom %}zoomable{% endif %}" src="{{preview.url}}" alt="{{preview.url}}">
    {% include "museum_site/datum/"|add:title.datum|add:"-datum.html" with f=title %}
    <div class="data">
        {% for col in columns %}
        <div class="col">
        {% for field in col %}
        {% include "museum_site/datum/"|add:field.datum|add:"-datum.html" with f=field %}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="poll-info">
        {% if option.summary %}{{option.summary}}{% endif %}
        {% if option.backer %}<div class="poll-patron-label ega-cyan">PATRON NOMINATED</div>{% endif %}
    </div>
</div>
