<div class="model-block detailed{% for r in roles %} {{r}}{% endfor %}" data-model="{{model}}" data-pk="{{pk}}" data-generic="GENERIC">
    <img class="preview-image thumbnail zoomable" src="{{preview.url}}" alt="{{preview.url}}">
    <h2 class="title">
        <a href="{{url}}"
        {% if role %} class="{{role}}"{% endif %}
        {% for d in data_attrs %}data-{{d.key}}="{{d.value}}"{% endfor %}
        >{{title}}</a></h2>
    <div class="data">
        {% for col in columns %}
        <div class="col">
        {% for field in col %}
        {{field}}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="description">
        {{description|linebreaks}}
    </div>
</div>
{% if links %}{% include "museum_site/blocks/file-links.html" %}{% endif %}
