<div class="model-block detailed{% for r in roles %} {{r}}{% endfor %}" data-model="{{model}}" data-pk="{{pk}}" id="{{hash_id}}">
    {% if prefix %}<div class="prefix">{{prefix}}</div>{% endif %}
    <img class="preview-image thumbnail {% if not nozoom %}zoomable{% endif %}" src="{{preview.url}}" alt="{{preview.url}}">
    {% include "museum_site/datum/title-datum.html" with f=title %}
    <div class="data">
        {% for col in columns %}
        <div class="col">
        {% for field in col %}
        {% include "museum_site/datum/"|add:field.datum|add:"-datum.html" with f=field %}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% if extras %}<div class="extras">{% for extra in extras %}{% include extra %}{% endfor %}</div>{% endif %}
</div>
{% if links %}{% include "museum_site/blocks/file-links.html" with links=links %}{% endif %}
