<div class="model-block detailed{% for r in roles %} {{r}}{% endfor %}" data-model="{{model}}" data-pk="{{pk}}" id="{{hash_id}}" data-generic="GENERIC">
    {% if prefix %}<div class="prefix">{{prefix}}</div>{% endif %}
    <img class="preview-image thumbnail zoomable" src="{{preview.url}}" alt="{{preview.url}}">
    <h2 class="title">{{title}}</h2>
    <div class="data">
        {% for col in columns %}
        <div class="col">
        {% for field in col %}
        {{field}}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% if extras %}{% for extra in extras %}{% include extra %}{% endfor %}{% endif %}
</div>
{% if links %}{% include "museum_site/blocks/file-links.html" %}{% endif %}
