<div class="model-block gallery{% for r in roles %} {{r}}{% endfor %}" data-model="{{model}}" data-pk="{{pk}}" id="{{hash_id}}" data-generic="GENERIC">
    <img class="preview-image thumbnail {% if not nozoom %}zoomable{% endif %}" src="{{preview.url}}" alt="{{preview.url}}">
    <h2 class="title">{{title}}</h2>
    <div class="data">
        {% for col in columns %}
        <div class="col">
        {% for field in col %}
        {{field}}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
