<nav class="paginator-block">
    {% if paginator.num_pages > 1 %}
    {% if page.has_previous %}<a class="prev-page-link" href="?page={{page.previous_page_number}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">◄</a>{% else %}<span class="prev-page-link">◄</span>{% endif %}
    <div class="page-range">
        <div class="page-info">
            Page #
            <div class="current-page">
                <select name="page-selector" data-params="{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">
                    {% for p in paginator.page_range %}<option{% if p == page_number %} selected{% endif %}>{{p}}</option>{% endfor %}
                </select>
            </div>
            /<div class="num-pages">{{paginator.num_pages}}</div>
        </div>
        {% for p in page_range %}
        <a class="page-number-link{% if p == page_number %} selected{% endif %}" href="?page={{p}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">{{p}}</a>
        {% endfor %}
    </div>
    {% if page.has_next %}<a class="next-page-link" href="?page={{page.next_page_number}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">►</a>{% else %}<span class="next-page-link">►</span>{% endif %}
    {% endif %}
</nav>
<div class="view-links">
    {% for v in available_views %}
    {% if v == "list" and v != view %}<a class="view" href="?view={{v}}{% if qs_sans_both %}&{{qs_sans_both}}{% endif %}">{{v|title}} View</a>
    {% elif v == view %}<span class="view selected">{{v|title}} View</span>{% else %}<a class="view" href="?view={{v}}{% if qs_sans_view %}&{{qs_sans_view}}{% endif %}">{{v|title}} View</a>{% endif %}
    {% if not forloop.last %} ♦ {% endif %}
    {% endfor %}
</div>
{% if sort_options %}<div class="sort-methods">
    Sort: <select name="sort">
            {% for option in sort_options %}
                <option value="{{option.val}}"{% if request.GET.sort == option.val %} selected {%endif %}>{{option.text}}</option>
            {% endfor %}
        </select>
</div>{% endif %}
{% if advanced_search %}<div class="modify-query">
    <a href="{% url 'advanced_search' %}?{{request.META.QUERY_STRING}}">Modify Search Query</a>
</div>{% endif %}
{% if guide_words %}
<div class="guide-words">
    <span><a class="left" href="#{{first_item.filename}}">{{first_item.title}}</a></span>
    <span><a class="right" href="#{{last_item.filename}}">{{last_item.title}}</a></span>
</div>
{% endif %}
