{% load site_tags %}
<!--paginator-block.html-->
{% with qs_sans_page=request.GET|qs_sans:'page' qs_sans_view=request.GET|qs_sans:'view' qs_sans_both=request.GET|qs_sans:'page,view' %}
{% if paginator.num_pages > 1 %}
<nav class="paginator-block">
    <div class="page-snap nav-actions">
        {% if page_obj.has_previous %}
            <a href="?page=1{{qs_sans_page}}" class="page-first" title="First Page">◄◄</a>
            <a class="page-prev" href="?page={{page_obj.previous_page_number}}{{qs_sans_page}}" title="Previous Page">◄</a>
        {% else %}
            <div class="page-first ega-gray-bg">◄◄</div>
            <div class="page-prev ega-gray-bg">◄</div>
        {% endif %}
        <div class="page-info">
            <div>
                <select name="page-selector" data-params="{{qs_sans_page}}">
                    {% for p in paginator.page_range %}<option{% if p == page_obj.number %} selected{% endif %}>{{p}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>/</div>
            <div>{{paginator.num_pages}}</div>
        </div>
        {% if page_obj.has_next %}
            <a class="page-next" href="?page={{page_obj.next_page_number}}{{qs_sans_page}}" title="Next Page">►</a>
            <a href="?page={{paginator.num_pages}}{{qs_sans_page}}" class="page-last" title="Last Page">►►</a>
        {% else %}
            <div class="page-next ega-gray-bg">►</div>
            <div class="page-last ega-gray-bg">►►</div>
        {% endif %}
    </div>
    <div class="page-links nav-actions">
        {% for p in page_range %}{% if p == page_obj.number %}<div class="page-number-link selected">{{p}}</div>{% else %}<a class="page-number-link" href="?page={{p}}{{qs_sans_page}}">{{p}}</a>{% endif %}
        {% endfor %}
    </div>
</nav>
{% elif roulette %}
    <div class="roulette-links">
        Seed <a href="{% url 'zfile_roulette' %}?seed={{request.GET.seed}}">{{request.GET.seed}}</a> ♦
        <a href="{% url 'zfile_roulette' %}">Spin Again</a>
    </div>
{% endif %}
{% if available_views|length > 1 and object_list %}
<div class="view-links">
    {% for v in available_views %}
    {% if view == "list" %}
        {% if v == view %}<span class="view selected">{{v|title}} View</span></a>
        {% else %}<a class="view" href="?view={{v}}{{qs_sans_both}}">{{v|title}} View</a>{% endif %}
    {% else %}
        {% if v == view %}<span class="view selected">{{v|title}} View</span>
        {% elif v == "list" %}<a class="view" href="?view={{v}}{{qs_sans_both}}">{{v|title}} View</a>
        {% else %}<a class="view" href="?view={{v}}{{qs_sans_view}}">{{v|title}} View</a>
        {% endif %}
    {% endif %}
    {% if not forloop.last %} ♦ {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if sort_options and object_list %}
<div class="sort-methods">
    Sort by: <select name="sort">
            {% for option in sort_options %}
                <option value="{{option.val}}"{% if request.GET.sort == option.val or sort == option.val %} selected {% endif %}>{{option.text}}</option>
            {% endfor %}
        </select>
</div>
{% endif %}
{% if field == "year" %}<div class="paginator-extra"><a href="{% url 'zfile_browse_field' field prev_year %}">{{prev_year_text|default:prev_year}}</a> ♦ <a href="{% url 'zfile_browse_field' field next_year %}">{{next_year}}</a></div>{% endif %}
{% if searching %}
<div class="paginator-extra">
    {% if search_type == "basic" and paginator.count %}
    Limit Search To: {% for field in basic_search_fields %}<a href="{% url 'zfile_search' %}?{{field.lower}}={{request.GET.q}}">{{field}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    {% else %}
    <a href="{% url query_edit_url_name %}?{{request.META.QUERY_STRING}}&action=edit">Edit Search Query</a>
    {% endif %}
</div>
{% endif %}

{% if not disable_guide_words %}{% guide_words object_list sort=sort location=location %}{% endif %}
{% endwith %}
