{% load static %}
<div class="gallery-block" data-pk="{{review.id}}" data-model="review">
    <img src="{% static review.file.screenshot_url %}"
    class="screenshot-thumb"
    alt="{{review.file.preview}}">
    <div class="title c"><a href="{{review.file.review_url}}#rev-{{review.id}}">"{{review.title|default:"No title"}}"</a></div>
    <div class="author c">{{review.author|default:"Unknown"}}</div>
    {% if review.rating >= 0 %}<div class="rating c">{{review.rating}} / 5.0</div>{% endif %}
</div>
