{% load markdown_deux_tags %}
<div class="review-block" id="rev-{{review.id}}" data-pk="{{review.id}}" data-model="review">
<h2><a href="{{request.path}}#rev-{{review.id}}">{{review.title|default:"Untitled Review"}}</a></h2>
<div class="info mono">
    By: {{review.author_link|safe}}<br>
    Reviewed: {{review.date|timesince}} ago ({{review.date}})<br>
    {% if debug %}<div class="debug"><a href="/admin/museum_site/review/{{review.id}}/change/">Edit Review {{review.id}}</a></div>{% endif %}
</div>
<hr>
<article>
{% if profanity_filter == "on" %}{{review.filtered_content|markdown}}{% else %}{{review.content|markdown}}{% endif %}
</article>
<hr>
{% if review.rating >= 0 %}<b>Rating:</b> {{review.rating}} out of 5.0
{% else %}
<i>This user has opted out of providing a numeric rating</i>
{% endif %}
<div><a href="{% url 'reviews_by_author' review.author|default:'Anonymous'|lower %}">Other reviews written by {{review.author|default:'Anonymous'}}</a></div>
</div>
