{% load static %}
<div class="overview-block" data-pk="{{review.id}}" data-model="review">
    <img src="{% static review.file.screenshot_url %}"
    class="screenshot-thumb"
    alt="{{review.file.preview}}">
    <h1 class="title"><a href="{{review.file.review_url}}#rev-{{review.id}}">"{{review.title|default:"No title"}}"</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">File</div><div class="value"><a href="{{review.file.file_url}}">{{review.file.title}}</a></div>
        </div>
        <div class="field">
            <div class="key">Reviewer</div><div class="value">{{review.author_link|safe}}</div>
        </div>
        <div class="field">
            <div class="key">Date</div><div class="value">{{review.date}}</div>
        </div>
        {% if review.rating >= 0 %}<div class="field">
            <div class="key">Rating</div><div class="value">{{review.rating}} / 5.0</div>
        </div>{% endif %}
    </div>
</div>
