{% extends "museum_site/world.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
{% if article.parent_id %}
{{article.parent.css|safe}}
{% endif %}
{{article.css|safe}}
{% if request.GET.spellcheck %}
<style>
.zzt-img, .zzt-scroll, .patreon-plug, .zzt-txt-message, audio, video  { display:none; }
</style>
{% endif %}
{% if veryspecial %}
<style>
#crop-controls
{
    position:fixed;
    top:0;
    background:#0AA;
    width:100%;
    height:1.5em;
    padding:4px;
}

#crop-controls input
{
    width:5em;
}

#active
{
    width:10em;
    display:inline-block;
}

#crop-controls #crop-output
{
    width:10em;
}
</style>
{% endif %}
{% endblock %}

{% block world_content %}
<div id="article-meta">
    <h1>{{article.title}}</h1>
    <div>By: {{article.author}}</div>
    <div>Date: {{article.date}}</div>
</div>

{% if private_disclaimer %}
<div class="content-warning">
    <div class="text">
        <b class="heading">DISCLAIMER</b>
        <p>This article is available to you before being made available to the public thanks
        to your support on Patreon!</p>

        <b>Please: DO NOT SHARE THIS ARTICLE WITH OTHERS</b>

        <p>Content may change before before being published to all visitors of the Museum.
        If you encounter any issues with this article, letting me know so I could fix them
        before publishing would be <a href="mailto:{{EMAIL_ADDRESS}}">greatly appreciated</a>.</p>

        <p>Thank you again!</p>
    </div>
</div>
{% endif %}

{% if page_range %}
{% include "museum_site/blocks/article_view_page_block.html" %}
{% endif %}

<article class="{{article.category|slugify}}" data-article_id="{{article.id}}">
{% if veryspecial %}
<div class="debug">
    <script src="/static/js/debug-crop.js"></script>
    <a href="?file={{request.GET.file}}&spellcheck=1&page=all">Spellcheck</a>
</div>
{% endif %}
{% if article.schema == "html" %}
    {{article.content|safe}}
{% elif article.schema == "text" %}
    {{article.content|safe|linebreaks}}
{% else %}
    {{article.content|as_template|safe}}
{% endif %}
</article>

{% if page_range %}
{% include "museum_site/blocks/article_view_page_block.html" %}
{% endif %}

<a href="{% url 'article_directory' %}">Article directory</a><br>
<a href="{% url 'index' %}">Main page</a>
{% if debug %}<div class="debug"><a href="/admin/museum_site/article/{{article.id}}/change/">Edit Article {{article.id}}</a></div>{% endif %}

{% if article.allow_comments %}
<hr>
<div>
<div id="disqus_thread"></div>

<script>
var disqus_config = function () {
this.page.url = "{{request.build_absolute_uri}}";
this.page.identifier = "{{article.title|slugify}}";
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://museumofzzt.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

{% endblock %}
