{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
#no-results
{
    text-align:center;
    margin:7px 4px 7px 4px;
    font-family:cp437;
    font-size:24pt;
}
</style>
{% endblock %}


{% block content %}
<section id="content" class="block">
<h1>{% if category %}{{category}} {% endif %}Articles</h1>

{% if category == "Closer Look" %}
<p>Closer Looks are one of the main components of the Worlds of ZZT project.
The Closer Look series consists primarily of (re)visiting ZZT worlds and
looking at them from a contemporary perspective, attemping to give both a
complete playthrough of them while also pointing out noteworthy design
decisions.</p>
{% elif category == "Livestream" %}
<p>Recordings of Livestreams are posted here. They (along with other videos) can all be watched directly on
the <a href="https://www.youtube.com/c/WorldsofZZT" target="_blank">Worlds of ZZT YouTube channel</a>.</p>

<p>Livestreams typically occur every Sunday on the <a href="https://twitch.tv/worldsofzzt">Worlds of ZZT Twitch channel</a> at 2pm PST / 5pm EST.</p>
{% endif %}

{% include "museum_site/blocks/paginator_block.html" %}

{% if view == "list" %}
<table>
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th>Category</th>
    <th>Summary</th>
</tr>
{% elif view == "gallery" %}
<div class="gallery-list">
{% endif %}
{% for article in page %}
{% include "museum_site/blocks/article_"|add:view|add:"_block.html" %}
{% endfor %}
{% if view == "list" %}
</table>
{% elif view == "gallery" %}
</div>
{% endif %}
{% if not page %}
<div id="no-results">
<img src="{% static 'images/blank-board.png' %}">
<p>Your query returned zero results!</p>
</div>
{% endif %}

{% include "museum_site/blocks/paginator_block.html" %}

</section>
{% endblock %}
