{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags path=request.get_full_path article=article %}{% endblock %}

{% block style %}
<style>
.series-range .gallery
{
    max-width:15%;
    text-align:center;
}

.series-range .gallery-frame .screenshot-thumb
{
    max-width:100%;
    max-height:100px;
}
</style>
{% if article.parent_id %}
{{article.parent.css|safe}}
{% endif %}
{{article.css|safe}}
{% if request.GET.spellcheck %}
<style>
.zzt-img, .zzt-scroll, .patreon-plug, .zzt-txt-message, audio, video, .overview-block,
.overview-links, .image-set, article img, code { display:none; }

</style>
{% endif %}
{% if veryspecial %}
<style>
body
{
    margin-top:45px;
}
#crop-controls
{
    position:fixed;
    top:0;
    background:#0AA;
    width:100%;
    height:32px;
    font-size:21px;
    margin-left:-8px;
    padding-top:4px;
    padding-bottom:4px;
    border-bottom:2px solid #000;
}

#crop-controls input
{
    width:4em;
    font-family:monospace;
    text-align:center;
}

#active
{
    width:10em;
    display:inline-block;
}

#crop-controls #crop-output
{
    width:16em;
    text-align:left;
}

.zzt-img.zzt-CROP
{
    border:8px solid red;
}

.side-commentary.TODO .commentary {% comment %}Expected TODO usage.{% endcomment %}
{
    background:#FF8888;
}

.editing
{
    cursor:crosshair;
}

.red
{
    background:red;
}
</style>
{% endif %}
{% if request.GET.tweet %}
<style>
#tweet-controls
{
    display:grid;
    grid-template-areas:
    "text screens"
    "files nil";
    grid-template-columns:409px auto;
    grid-gap:7px 4px;
}

#tweet-files
{
    grid-area: files;
}

#tweet-text {
    height:350px;
    grid-area: text;
}

#tweet-screens
{
    grid-area: screens;
    display:flex;
    flex-wrap:wrap;
    grid-gap:8px;
}

.tweet-image
{
    width:240px;
    height:175px;
}

#tweet-copy-text
{
    flex:1 0 250px;
}
</style>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("select[name=80col-font]").change(function (){
        var new_font = $(this).val();
        console.log(new_font);

        if (new_font == "mono")
        {
            $("#80col-content").removeClass("cp437");
            $("#80col-content").addClass("mono");
        }
        else
        {
            $("#80col-content").removeClass("mono");
            $("#80col-content").addClass("cp437");
        }
    });
});
</script>
{% if veryspecial %}
<script src="/static/js/debug-crop.js"></script>
<script src="/static/js/debug-finalize.js"></script>
{% endif %}
{% if request.GET.tweet %}
<script src="/static/js/debug-pub-pack-tweet-mode.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div id="article-meta">
    <h1>{{article.title}}</h1>
    <div class="info">
        <div class="author">By: {{article.author}}</div>
        <div class="publish-date">Published: {% if article.publish_date.year == 1970 %}<i>Unknown</i>{% else %}{{article.publish_date}}{% endif %}</div>
        {% if article.series.all %}<div class="series">Series: {{article.series_links|safe}}</div>{% endif %}
        {% if article.last_revised %}<div class="revised-date">(Latest revision: {{article.last_revised}})</div>{% endif %}
        {% if article.revision_details %}<div class="revision-details">Revisions:<br><textarea id="revision-text" readonly>{{article.revision_details}}</textarea></div>{% endif %}
        {% if request.session.DEBUG %}
        <div><a href="/admin/museum_site/article/{{article.id}}/change/" class="debug">Edit Article {{article.id}}</a></div>
        <div><a href="?spellcheck=1&page=all" class="debug">Spellcheck</a></div>
        <div><a href="?finalize=1#finalization" class="debug">Finalize</a></div>
        {% if article.category == "Publication Pack" %}<div><a href="?tweet=1" class="debug">Tweet Mode</a></div>{% endif %}
        {% endif %}
        <p class="summary">{{article.description}}</p>
    </div>
     <img src="{{article.preview_url}}" class="screenshot-thumb preview">
</div>

{% if private_disclaimer %}
<div class="content-warning">
    <div class="text">
        <b class="heading">DISCLAIMER</b>
        <p>This article is available to you before being made available to the public thanks
        to your support on Patreon!</p>

        <b>Please: DO NOT SHARE THIS ARTICLE WITH OTHERS</b>

        <p>Content may change before before being published to all visitors of the Museum.
        If you encounter any issues with this article, letting me know so I could fix them
        before publishing would be <a href="mailto:{{EMAIL_ADDRESS}}">greatly appreciated</a>.</p>

        <p>Thank you again!</p>
    </div>
</div>
{% endif %}

{% if page_range %}
{% include "museum_site/blocks/article_view_page_block.html" %}
{% endif %}

{% if article.schema == "80col" %}
<div id="article-controls">
    <label for="80col-font"><b>Document Font:</b>
    <select name="80col-font">
        <option value="cp437">Classic - Preserves ASCII art</option>
        <option value="mono">Modern - Preserves your eyes</option>
    </select>
    </label>
</div>
<hr>
{% endif %}
<article class="{{article.category|slugify}}" data-article_id="{{article.id}}" data-schema="{{article.schema}}">
{% if article.schema == "html" %}
    {{article.content|safe}}
{% elif article.schema == "text" %}
    {{article.content|safe|linebreaks}}
{% elif article.schema == "80col" %}
    <pre class="80col cp437" id="80col-content">{{article.content}}</pre>
{% else %}
    {{article.render}}
{% endif %}
</article>

{% if page_range %}
{% include "museum_site/blocks/article_view_page_block.html" %}
{% endif %}

<hr>
<a href="{% url 'article_directory' %}">Article directory</a><br>
<a href="{% url 'index' %}">Main page</a>
{% if article.series.all %}
<h3>More In This Series</h3>
<div class="series-range gallery-frame">
    {% for article in article.series_range %}
    {% gblock article "gallery" %}
    {% endfor %}
</div>
<div class="c">
<a href="{{article.series.all.first.url}}">View All</a>
</div>
{% endif %}

{% if veryspecial and request.GET.finalize %}
<h2 id="finalization">Finalization</h2>

<h3>Link Audit</h3>
<table id="link-table">
    <tr><th>Text</th><th>Target</th><th>Path</th></tr>
</table>
{% endif %}

{% if article.allow_comments %}
<hr>
<div>
<div id="disqus_thread"></div>

<script>
var disqus_config = function () {
this.page.url = "{{request.build_absolute_uri}}";
this.page.identifier = "{{article.title|slugify}}";
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://museumofzzt.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

{% endblock %}
