{% extends "museum_site/article-skeleton.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}?{{BOOT_TS}}">
{{article.css|safe}}
{% endblock %}

{% block scripts %}
<script>
var jump = "{{request.GET.jump|default:''}}";
$(document).ready(function (){
    $("select[name=80col-font]").change(function (){
        var new_font = $(this).val();
        console.log(new_font);

        if (new_font == "mono")
        {
            $("#80col-content").removeClass("cp437");
            $("#80col-content").addClass("mono");
        }
        else
        {
            $("#80col-content").removeClass("mono");
            $("#80col-content").addClass("cp437");
        }
    });

    if (jump)
    {
        jump_to(jump);
    }
});

function jump_to(jump)
{
    var raw = $("article").html();
    var location = raw.indexOf(jump);
    if (location != -1)
    {
        var replaced = raw.replace(jump, "<span id='jump-point'>" + jump + "</span>");
        $("article").html(replaced);
        window.location = "#jump-point";
    }
}
</script>
{% endblock %}

{% block article_controls %}{% if article.schema == "80col" %}
<hr>
<div id="article-controls">
    <label for="80col-font"><b>Document Font:</b>
    <select name="80col-font">
        <option value="cp437">Classic - Preserves ASCII art</option>
        <option value="mono">Modern - Preserves your eyes</option>
    </select>
    </label>
</div>
{% endif %}{% endblock %}

{% block article_prefix %}
{% if article.published != article.PUBLISHED %}
    <div class="sticky-note">
        <div class="text">
            <b class="heading">DISCLAIMER</b>
            <p>This article is available to you before being made available to the public thanks to your support on Patreon!</p>

            <b>Please: DO NOT SHARE THIS ARTICLE WITH OTHERS</b>

            <p>Content may change before before being published to all visitors of the Museum. If you encounter any issues with this article, letting me know so I could fix them before publishing would be <a href="mailto:{{EMAIL_ADDRESS}}">greatly appreciated</a>.</p>

            <p>Thank you again!</p>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block article_body %}{% include article %}{% endblock %}

{% block article_footnotes %}
{% if article.footnotes %}
<ul class="footnotes">
{{article.render_footnotes}}
</ul>
{% endif %}
{% endblock %}

{% block article_nav_links %}
<nav class="nav-actions nav-actions-article-view">
    <a href="#top">Top of Page</a>
    {% if article.series.all %}<a href="{{article.series.all.first.get_absolute_url}}">Explore This Series</a>{% endif %}
    <a href="{% url 'article_browse_category' category_slug=article.category|slugify %}">{{article.category}} Directory</a>
    <a href="{% url 'article_browse' %}">Article Directory</a>
    <a href="{% url 'index' %}">Museum of ZZT Home</a>
</nav>
{% endblock %}

{% block article_footer %}
<div id="post-article">
    {% if article.category == "Livestream" %}
    <div class="flex-container justify-center">
        {% plug 'youtube' %}
        {% plug 'twitch' %}
    </div>
    {% elif article.category == "Let's Play" %}
    <div class="flex-container justify-center">
        {% plug 'youtube' %}
    </div>
    {% endif %}
    {% if article.plug_patreon and page == page_range|last %}
        {% patreon_plug %}
    {% endif %}

    {% if article.series.all %}
    <hr>
    <h3>More In This Series</h3>
    <div class="series-range gallery-frame">
        {% for article in article.series_range %}
        {% model_block article "gallery" %}
        {% endfor %}
    </div>
    <nav class="nav-actions nav-actions-article-view">
        <a href="{{article.series.all.first.get_absolute_url}}">Explore This Series</a>
    </nav>
{% endif %}
</div>
{% endblock %}

{% block comments %}
{% if article.comments_permitted %}
    <div>
    <div id="disqus_thread"></div>

    <script>
    var disqus_config = function () {
    this.page.url = "{{request.build_absolute_uri}}";
    this.page.identifier = "{{article.title|slugify}}";
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://museumofzzt.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
{% endif %}
{% endblock %}
