{% extends "museum_site/world.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags url=request.build_absolute_uri file=file %}{% endblock %}

{% block scripts %}
{% endblock %}

{% block world_content %}
{% if articles %}
<h2>Articles</h2>
{% for article in articles %}
<div class="overview-block" data-pk="{{article.id}}">
    <img src="{% if article.preview %}{% static 'images/'|add:article.preview %}{% else %}{% static 'images/screenshots/no_screenshot.png' %}{% endif %}"
    class="screenshot-thumb"
    alt="{{article.preview}}">
    <h1 class="title"><a href="{{article.url}}">{{article.title}}</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">Author</div><div class="value">{{article.author}}</div>
        </div>
        <div class="field">
            <div class="key">Date</div><div class="value">{% if article.date|date:"Y-m-d" != '1970-01-01' %}{{article.date}}{% endif %}</div>
        </div>
        <div class="field">
            <div class="key">Summary</div><div class="value">{{article.summary}}</div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
No articles found!
{% endif %}
{% endblock %}
