{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="block">
<h1>Article Directory</h1>

{% if sort == "category" %}
<div id="categories">
<ul>
{% for article in articles %}
    {% ifchanged %}<li><a href="#{{article.category}}">{{article.category}}</a></li>{% endifchanged %}
{% endfor %}
</ul>
{% else %}
<div id="years">
{% for article in articles %}
    {% if article.date|date:"Y" != "1970" %}
    {% ifchanged %}<a href="#year-{{article.date|date:'Y'}}">{{article.date|date:"Y"}}</a>{% endifchanged %}
    {% else %}
    {% ifchanged %}<a href="#year-none">N/A</a>{% endifchanged %}
    {% endif %}
{% endfor %}
{% endif %}
</div>

{% include "museum_site/blocks/article_page_block.html" %}

<table>
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th>Summary</th>
</tr>

{% for article in articles %}
    {%ifchanged %}
        {% if sort == "category" %}
        <tr><th colspan="4" id="{{article.category}}">{{article.category}}</th></tr>
        {% else %}
            {% if article.date|date:"Y" != "1970" %}
            <tr><th colspan="4" id="year-{{article.date|date:"Y"}}">{{article.date|date:"Y"}}</th></tr>
            {% else %}
            <tr><th colspan="4" id="year-none">N/A</th></tr>
            {% endif %}
        {% endif %}
    {% endifchanged %}
    <tr>
        <td><a href="{{article.url}}">{{article.title}}</a></td>
        <td>{{article.author}}</td>
        {% if article.date|date:"Y" != "1970" %}<td class="date">{{article.date}}</td>
        {% else %}<td class="date"></td>{% endif %}
        <td class="summary">{{article.summary}}</td>
    </tr>
{% endfor %}
</table>

{% include "museum_site/blocks/article_page_block.html" %}
</section>
{% endblock %}
