{% extends "museum_site/world.html" %}
{% load staticfiles %}
{% load site_tags %}

{% block style %}
{% if article.parent_id %}
{{article.parent.css|safe}}
{% endif %}
{{article.css|safe}}
{% endblock %}

{% block world_content %}
<h1>{{article.title}}{% if article.page != 1 %} - Page {{article.page}}{% endif %}</h1>
<div>By: {{article.author}}</div>
<div>Date: {{article.date}}</div>

{% if page_range %}
{% include "museum_site/blocks/article_page_block.html" %}
{% endif %}

<article class="{{article.category|slugify}}" data-article_id="{{article.id}}">
{% if article.type == "html" %}
    {{article.content|safe}}
{% elif article.type == "text" %}
    {{article.content|linebreaks}}
{% else %}
    {{article.content|as_template|safe}}
{% endif %}
</article>

{% if page_range %}
{% include "museum_site/blocks/article_page_block.html" %}
{% endif %}

<a href="{% url 'article_directory' %}">Article directory</a><br>
<a href="{% url 'index' %}">Main page</a>
{% if debug %}<div class="debug"><a href="/admin/museum_site/article/{{article.id}}/change/">Edit Article {{article.id}}</a></div>{% endif %}
{% endblock %}
