{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="block">

<h1>Article Categories</h1>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/bugs-and-glitches.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'bugs-and-glitches' %}">Bugs And Glitches</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.bugs}} article{{totals.bugs|pluralize}}</div>
        <p>
            Articles which discuss bugs and glitches in ZZT and how others have exploited them to their benefit.
        </p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/closer-look.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'closer-look' %}">Closer Look</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.closer}} article{{totals.closer|pluralize}}</div>
        <p>A core feature of the Museum. Closer Looks are articles that (typically) focus on a specific ZZT world and document a journey through it from start to finish, discussing gameplay, design, coding, and the legacy of the released world.
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/contest.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'contest' %}">Contest</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.contest}} article{{totals.contest|pluralize}}</div>
        <p>Articles which relate to ZZT contests such as award ceremonies and (un)official scores for events.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/featured-world.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'featured-game' %}">Featured Game</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.featured}} article{{totals.featured|pluralize}}</div>
        <p>Articles which cover specific ZZT and Super ZZT worlds of some notability. These include historical reviews for community awards such as "Game of the Month" as well as more recent reviews to better showcase ZZT worlds that are well worth your time.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/help.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'help' %}">Help</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.help}} article{{totals.help|pluralize}}</div>
        <p>Articles containing help on a variety of topics. This category contains articles that answer questions about ZZT, how to run it, how to create games for it, reference materials, game recommendations, and various other "how-to" guides.
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/historical.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'historical' %}">Historical</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.historical}} article{{totals.historical|pluralize}}</div>
        <p>Articles which contain documents and historical information including scans, newsletters, and message board logs.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/interview.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'interview' %}">Interview</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.interview}} article{{totals.interview|pluralize}}</div>
        <p>Articles in which a subject is interviewed about topics including their past/present/future with ZZT as well as discussing non-ZZT games they created inspired by ZZT.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/lets-play.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'lets-play' %}">Let's Play</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.lets}} article{{totals.lets|pluralize}}</div>
        <p>Articles which contain YouTube embeds of Worlds of ZZT playthroughs that were not streamed live. These playthroughs can also be watched directly on the Worlds of ZZT <a href="/youtube" target="_blank">YouTube channel</a>.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/livestream.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'livestream' %}">Livestream</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.livestream}} article{{totals.livestream|pluralize}}</div>
        <p>Articles which contain YouTube embeds of Worlds of ZZT livestreams, and in rare cases livestreams done by other individuals (published here with permission). Worlds of ZZT livestreams can also be watched directly from their <a href="/youtube" target="_blank">YouTube channel</a>.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/postmortem.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'postmortem' %}">Postmortem</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.postmortem}} article{{totals.postmortem|pluralize}}</div>
        <p>Articles in which authors of ZZT worlds discuss the creation of their game, lessons learned, and provide useful information about the obstacles overcome in creating a finished release.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/publication-pack.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'publication-pack' %}">Publication Pack</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.publication}} article{{totals.publication|pluralize}}</div>
        <p>Articles which provide brief overviews to newly published worlds on the Museum of ZZT. Information is purposefully brief and a few screenshots of each published item are included when possible.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/walkthrough.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'walkthrough' %}">Walkthrough</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.walkthrough}} article{{totals.walkthrough|pluralize}}</div>
        <p>Articles which serve as guides for ZZT worlds. Generally in text format, but more recent entries include video demonstrations and author produced guidebooks.</p>
    </div>
</div>

<div class="overview-block" data-model="none">
    <img src="{% static 'pages/article-categories/misc.png' %}"
    class="screenshot-thumb">
    <h1 class="title"><a href="{% url 'article_category' 'misc' %}">Misc</a></h1>
    <div class="wide-info">
        <div class="field">{{totals.misc}} article{{totals.misc|pluralize}}</div>
        <p>If it doesn't fit in anywhere else. It fits in here.</p>
    </div>
</div>
</section>
{% endblock %}
