{% extends "museum_site/main.html" %}
{% comment %}Outline used for rendering Articles {% endcomment %}
{% load static %}
{% load site_tags %}

{% block meta %}{% endblock %}

{% block style %}{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
    {% block article_overview %}
    <div id="article-meta">
        <div class="preview-container"><img src="{% static article.preview_url %}" class="screenshot-thumb preview"></div>
        <div class="info">
            <h{{file|yesno:"2,1"}}>{{article.title}}</h{{file|yesno:"2,1"}}>
            <div>
                <p class="summary">{{article.description}}</p>
                <div class="author">Authored By: {{article.author}}</div>
                <div class="publish-date">Published: {% if article.publish_date.year == None %}<i>Unknown</i>{% else %}{{article.publish_date}}{% endif %}</div>
                {% if article.series.all %}<div class="series">Part of Series: {{article.series_links|safe}}</div>{% endif %}
                {% if article.revision_details %}<div class="revision-label">Revisions (as of {{article.last_revised|default:"Unknown"}}):</div>
                <div class="revision-details">{{article.revision_details|linebreaksbr}}</div>{% endif %}
                <div class="article-rss"><a href="{% url 'rss_articles' %}"><img src="{% static 'icons/rss-large.png' %}" alt="RSS icon" style="width:16px;height:16px"></a></div>
                {% if request.user.is_staff %}
                <div><b>Staff Functions:</b> <a href="{{article.admin_url}}">Edit Article {{article.id}}</a> | <a href="{% url 'debug_article' article.id %}">WIP Tools</a></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% block article_controls %}{% endblock %}
    <hr>
    {% if page_range %}{% include "museum_site/blocks/article_view_page_block.html" with location='top' %}{% endif %}
    {% block article_prefix %}{% endblock %}
    <article class="{{article.category|slugify}}" data-article_id="{{article.id}}" data-article-slug="{{article.slug}}" data-schema="{{article.schema}}">
        {% block article_body %}{% endblock %}
        {% block article_footnotes %}{% endblock %}
    </article>
    {% if page_range %}{% include "museum_site/blocks/article_view_page_block.html" with location='bottom' %}{% endif %}

    <hr>
    {% block article_footer %}{% endblock %}
    <hr>
    {% block wip_finalize %}
    {% if request.user.is_staff and request.GET.finalize %}
    <h2 id="finalization">Finalization</h2>

    <h3>Link Audit</h3>
    <table id="link-table">
        <tr><th>Text</th><th>Target</th><th>Path</th></tr>
    </table>
    {% endif %}
    {% endblock wip_finalize %}

    {% block comments %}{% endblock %}
{% endblock %}
