{% extends "museum_site/article-view.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags path=request.get_full_path context=article.get_meta_tag_context %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}?{{BOOT_TS}}">
{% endblock %}

{% block article_prefix %}{% endblock %}

{% block article_body %}
<article>
<h2>Locked Article!</h2>

<p>The article you have requested is currently only available to patrons making a monthly pledge to the <a href="{% url 'patreon' %}" target="_blank">Worlds of ZZT Patreon</a> of at least <b>{{cost}}</b> per month.</p>

<p>If you are a patron that meets these requirements you can enter your password to access this article in the field below:</p>

<form class="c" action="{{article.get_absolute_url}}"{% if request.GET.secret %} style="background-color:#FCC"{% endif %}>
{% if request.GET.secret %}<p class="c b">Incorrect Password!</p>{% endif %}
<input name="secret" type="password" value="">
<input type="submit" value="Unlock">
</form>

<p>If you need your password please see the <a href="{% url 'patron_articles' %}" target="_blank">early articles</a> page for instructions.</p>

<p>Patrons may also read articles they have early access to by <a href="{% url 'login_user' %}" target="_blank">registering for a Museum of ZZT account</a> and linking their patron e-mail to avoid needing a password in the future.</p>

<p>All articles published on the Museum of ZZT are eventually made public. The estimated release date for this article is <b>{{release}}</b>, however the exact release date may change.</p>
</article>
{% endblock %}

{% block article_footnotes %}{% endblock %}
