{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}
{% load zzt_tags %}

{% block meta %}{% meta_tags path=request.get_full_path context=meta_context %}{% endblock %}

{% block scripts %}
<script src="{% static 'js/change-ascii-char.js' %}"></script>
{% endblock %}

{% block style %}
<style>
.ascii-table
{
    justify-content:center;
}

.ascii-selected-highlight
{
    justify-content:center;
    margin-top:14px;
    margin-bottom:14px;
}

.ascii-selected-number
{
    width:5ch;
}

.char
{
    display:block;
    width:8px;
    height:14px;
    overflow:hidden;
    background-color:#000;
    background-image:url("/static/images/charsets/cp437.png");
    background-repeat: no-repeat;
    margin:auto;
}

/* New table */
#ascii-flex-table
{
    font-family:"cp437";
    font-size:32px;
    flex-direction: column;
    flex-wrap:wrap;
    margin:auto;
    justify-content:center;
    gap:0px 10px;
    width:1280px;
    max-height:1088px; /* 64 chars * 34 height */
}

#ascii-flex-table .flex-row
{
    background:red;
    flex:0 0;
    width:150px;
    height:100px;
    align-content:center;
    align-items:center;
}

#ascii-flex-table .flex-row > div
{
    padding:2px;
    height:28px;
}

.ascii-char, .ascii-graphic { text-align: center; width:50px; }

.flex-table .value { background-color:var(--ega-darkgray); color:var(--ega-yellow); }
.flex-table .label { background-color:var(--ega-black); color:var(--ega-darkcyan);}

@media (max-width:1919px) {
    #ascii-flex-table
    {
        width:630px;
        max-height:2176px; /* 64 chars * 34 height */
    }
}

@media (max-width:500px) {
    #ascii-flex-table
    {
        width:310px;
        max-height:4352px;
    }
}

@media (max-width:320px) {
    #ascii-flex-table
    {
        width:150px;
        max-height:initial;
    }
}
</style>
{% endblock %}

{% block content %}
<h1>Ascii Character Reference</h1>
<div>
    <form>
    <div class="ascii-table scale-{{scale}} {{orientation}}">{% for i in range %}{% char i "white" "black" scale=scale %}{% endfor %}</div>
    <div class="ascii-selected-highlight b mono">
        Character:
        <div class="ascii-selected-char">{% char 2 scale=2 %}</div>
        <div class="ascii-selected-number">#{{2}}</div>
    </div>
    </form>

    <select name="character" class="none">
        {% for choice in range %}<option{% if choice|stringformat:'d' == 2 %} selected{% endif %}>{{choice}}</option>{% endfor %}
    </select>
</div>

<div class="flex-table" id="ascii-flex-table">
    {% for row in ascii_table %}
    <div class="flex-row">
        <div class="ascii-number label">{{row.number}}</div>
        <div class="ascii-char value">{{row.char}}</div>
        <div class="ascii-graphic value">{% char row.idx 'white' %}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
