{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}
{% load zfile_attrs %}

{% block meta %}{% meta_tags path=request.get_full_path context=file.get_meta_tag_context %}{% endblock %}

{% block content %}
{% model_block file %}

<h2 id="heading-attr">File Attributes</h2>
{% zfile_attrs file %}

<h2 id="heading-permissions">File Permissions</h2>
{% with file.supported_actions as supported_actions %}
<table class="data-table">
<tr><th>Can Review File</th><td>{{file.can_review|yesno|title}}</td></tr>
<tr><th>Can Download File</th><td>{{file.actions.download|yesno|title}}</td></tr>
<tr><th>Can Play File</th><td>{{file.actions.play|yesno|title}}</td></tr>
<tr><th>Can View File</th><td>{{file.actions.view|yesno|title}}</td></tr>
<tr><th>Can Read File Articles</th><td>{{file.actions.article|yesno|title}}</td></tr>
</table>
{% endwith %}

<h2 id="heading-upload">File Upload Info</h2>
<table class="data-table" id="tool-info">
    <tr>
        <th>Upload ID</th>
        <td>{{file.upload.pk}}</a></td>
    </tr>
    <tr>
        <th>User</th>
        <td>{% if file.upload.user_id %}Registered User{% else %}Unregistered Guest{% endif %}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{file.upload.date}}</td>
    </tr>
    {% if request.user.is_staff %}
    <tr><th colspan="2" class="staff-bg">Staff Information</th></tr>
    <tr><th class="staff-bg">User</th><td>{{file.upload.author_link}}</td></tr>
    <tr><th class="staff-bg">Edit Token</th><td>{{file.upload.edit_token}}</td></tr>
    <tr><th class="staff-bg">IP</th><td>{{file.upload.ip}}</td></tr>
    <tr><th class="staff-bg">Notes</th><td><textarea class="upload-notes">{{file.upload.notes}}</textarea></td></tr>
    <tr><th class="staff-bg">Announced on Discord</th><td>{{file.upload.announced|yesno|title}}</td></tr>
    {% endif %}
</table>

<h2 id="heading-contents">File Contents</h2>
<table class="data-table" id="contents-info">
    <tr><th>Filename</th><th>Path</th><th>Ext.</th><th>Mod. Date</th><th>Dir</th><th>CRC-32</th><th>Size</th></tr>
    {% for f in file.content.all %}
    <tr><td><a href="{{file.get_absolute_url}}?file={{f.title|urlencode}}" target="_blank">{{f.title}}</a></td><td>{{f.path}}</td><td>{{f.ext}}</td><td>{{f.mod_date}}</td><td class="c">{{f.directory|yesno:"Y,N"}}</td><td class="r">{{f.crc32}}</td><td class="r" title="{{f.size}} bytes">{{f.size|filesizeformat}}</td></tr>
    {% empty %}
        <tr><td colspan="7" class="c"><i>No Contents Found</i></td></tr>
    {% endfor %}
</table>
</section>
{% endblock %}
