{% extends "museum_site/main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="col block">
<button class="fr contracted" id="expand-contract" title="Toggle sidebars">🠈 🠊</button>
{% if category == "ZZT" %}
{% if mode == "browse" %}<h1>Browse - {{letter|upper}}</h1>{% endif %}
{% if mode == "search" %}<h1>Search - {{q}}</h1>{% endif %}
{% else %}
<h1>{{category|default:"Uhh"}}</h1>
{% endif %}
{% if files %}
{% include "museum_site/blocks/file_page_block.html" %}

{% for file in files %}
    {% include "museum_site/blocks/file_block.html" %}
{% endfor %}

{% include "museum_site/blocks/file_page_block.html" %}
{% else %}
    {% if 18 in details%}<p>There are no unverified file uploads at this time.</p>{% else %}
    <p>No files found!</p>
    {% endif %}
    {% if advanced_search %}
    <p><a href="/advanced-search?{{request.META.QUERY_STRING}}">Modify Search Query</a></p>
    {% endif %}
{% endif %}

</section>
{% endblock %}
