{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="block">
<button class="fr contracted" id="expand-contract" title="Toggle sidebars">&larr; &rarr;</button>
{% if category == "ZZT" %}
{% if mode == "browse" %}<h1>Browse - {{letter|upper}}</h1>{% endif %}
{% if mode == "search" %}<h1>Search - {{q}}</h1>{% endif %}
{% else %}
<h1>{{category}}</h1>
{% endif %}
{% include "museum_site/blocks/file_page_block.html" %}

<div class="gallery-list">
{% for file in files %}
<div class="gallery-block">
    <img src="{% static file.screenshot_url %}" class="screenshot-thumb" alt="{{file.screenshot}}">
    <div class="title c"><a href="{{file.file_url}}">{{file.title}}</a></div>
    <div class="author c">{% for a in file.author_list %}<a href="{% url 'search' %}?author={{a}}">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
</div>
{% endfor %}
</div>

{% include "museum_site/blocks/file_page_block.html" %}
</section>
{% endblock %}
