{% extends "museum_site/main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="block">
<h1>Closer Looks</h1>

<p>Closer Looks are one of the main components of the Worlds of ZZT project.
The Closer Look series consists primarily of (re)visiting ZZT worlds and
looking at them from a contemporary perspective, attemping to give both a
complete playthrough of them while also pointing out noteworthy design
decisions.</p>

{% include "museum_site/blocks/closer_look_page_block.html" %}

{% for article in articles %}
<div class="overview-block" data-pk="{{article.id}}">
    <img src="{% if article.preview %}{% static 'images/'|add:article.preview %}{% else %}{% static 'images/screenshots/no_screenshot.png' %}{% endif %}"
    class="screenshot-thumb"
    alt="{{article.preview}}">
    <h1 class="title"><a href="{{article.url}}">{{article.title}}</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">Author</div><div class="value">{{article.author}}</div>
        </div>
        <div class="field">
            <div class="key">Date</div><div class="value">{{article.date}}</div>
        </div>
        <div class="field">
            <div class="key">Summary</div><div class="value">{{article.summary}}</div>
        </div>
    </div>
</div>
{% endfor %}

{% include "museum_site/blocks/closer_look_page_block.html" %}
</section>
{% endblock %}
