{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}?{{BOOT_TS}}"></script>
{% endblock %}

{% block content %}
<h1>Manage On The Fly Collections</h1>
{% nav_action_list "collection" request.path %}

<p>"On The Fly Collections" are an alternative way to create collections designed to integrate collection functionality throughout the site.</p>

<p>By enabling On The Fly Collections, most pages on the Museum will have form controls along the top of the page shown in the figure below. This interface allows you to select any of the files shown on the page and add them to a collection without having to leave the page.</p>

<figure><img src='{% static "pages/otf-collection-screenshot.png" %}' alt="The On The Fly Collection Interface" title="The On The Fly Collection Interface"><figcaption>The On The Fly Collection interface</figcaption></figure>

<p>The "Quit" button will bring you back to this page where you can confirm you wish to stop working with On The Fly Collections.</p>

<p>Files can be selected by clicking on any non-link in the model block that details them. This includes all gallery blocks and detailed blocks used when browsing the File Archives, as well as the page header when viewing a specific file. This applies anywhere throughout the site, so other places may use these as well. The only exception of note is list view table rows. The currently selected file is listed on the top of the page and highlighted within the page.</p>

<p>A drop down menu allows you to choose which collection the file should be added to. In brackets, the visibility of the Collection is listed to make it clear if your additions can be seen immediately. A textarea allows you to enter a description for the File being added to the Collection which may be left blank.</p>

<p>The "- Create New Collection -" option will change the tool to display a prompt to enter a name for a new collection. Newly created collections in this manner are automatically set to <span class="keyword">PRIVATE</span> visibility, have no description set, and default the ordering of the collection is set to the order files were added. You may change these settings from the main collection management page for that collection.</p>

<form method="POST">
    {% csrf_token %}
    {% include "museum_site/blocks/generic-form.html" %}
    <input type="submit" value="Apply" name="action">
</form>

{% comment %}
<form method="POST">
    {% csrf_token %}
    <label><input type="radio" name="on_the_fly" value="enable"{% if active_tool == 'on-the-fly-collections' %} checked {% endif %}> Enable On The Fly Collections</label>
    <br>
    <label><input type="radio" name="on_the_fly" value="disable"{% if active_tool != 'on-the-fly-collections' %} checked {% endif %}> Disable On The Fly Collections</label>
    <br><br>
    <input type="submit" value="Apply" name="action">
</form>
{% endcomment %}

<p><b>{{output}}</b></p>
{% endblock %}
