{% extends "museum_site/main.html" %}
{% load markdown_deux_tags %}
{% load static %}
{% load site_tags %}

{% block content %}
<h1>{{title}}</h1>
<button id="expand-contract" class="fr">→ ←</button>

{% if prefix_template %}{% include prefix_template %}{% elif prefix_text %}{{prefix_text|safe|linebreaks}}{% endif %}

<h1>{{collection.title}}</h1>
{% gblock collection request=request %}
{{collection.description|markdown}}

<h2>Collection Contents ({{collection.item_count}} file{{collection.item_count|pluralize}})</h2>

{% include "museum_site/blocks/paginator_block.html" %}

{% for entry in page %}
{% gblock entry.zfile view="detailed-collection" collection_description=entry.collection_description %}
{% endfor %}

{% include "museum_site/blocks/paginator_block.html" %}
{% endblock %}
