{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block scripts %}
<script>
var collection_id = {{collection.id|default:0}};
</script>
<script src="{% static 'js/collection-manager.js' %}"></script>
{% endblock %}

{% block style %}
<style>
#content h2 { margin-bottom:0px; }
#id_arrange_file label { margin-left: 20px; }
.arrangeable-ghost { background:var(--header-bg); border-top:1px dotted var(--border-color); border-bottom:1px dotted var(--border-color);}
#id_arrange_file { min-height:250px; }
#content form { margin-top: 14px; }
.arrangeable-list.scrolling-checklist label { display:flex; height: 25px; align-items:center; }
</style>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>

<div><h2 id="current-action-heading">{{action.text}}</h2>{% for action in collection_actions %}<a href="{{action.url}}">{{action.text}}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</div>
{% model_block collection %}

{% if operation == "add" and collection.is_yours %}
<form method="POST" id="form-add">
{% csrf_token %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="button" value="Add To Collection" id="collection-add-button" class="ajax-submit-button"> <span class="mono b" id="added-item-text"></span>
</form>
{% elif operation == "remove" and collection.is_yours %}
<form method="POST" id="form-remove">
{% csrf_token %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="button" value="Remove From Collection" id="collection-remove-button" class="ajax-submit-button"> <span class="mono b" id="removed-item-text"></span>
</form>
{% elif operation == "arrange" and collection.is_yours %}
<form method="POST" id="form-arrange">
{% csrf_token %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="button" value="Arrange Collection" id="collection-arrange-button" class="ajax-submit-button"> <span class="mono b" id="arranged-item-text"></span>
</form>
{% elif operation == "edit-entry" and collection.is_yours %}
<form id="form-edit-entry" method="POST">
{% csrf_token %}
<input name="collection_id" value="{{collection.id}}" type="hidden">
<div class="field-wrapper">
    <label>Entry To Edit:</label>
    <div class="field-value">
        <select name="entry_id">
            <option value="N/A">- Choose - </option>
            {% for entry in contents %}
            <option value="{{entry.pk}}">{{entry.zfile.title}} [{{entry.zfile.key}}]</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="field-wrapper">
    <label>Collection description:</label>
    <div class="field-value">
        <textarea name="collection_description"></textarea>
    </div>
    <p class="field-help">Optional description for the file as part of the collection. Markdown supported.</p>
</div>
<div class="field-wrapper">
    <label>Set Collection Preview Image:</label>
    <div class="field-value">
        <input type="checkbox" name="set-preview-image" value="1">
    </div>
    <p class="field-help">Check this box to change the collection's current preview image to this file's preview image.</p>
</div>
<input type="button" id="edit-entry-button" value="Update Collection Entry" class="ajax-submit-button" disabled> <span class="mono b" id="edited-entry-text"></span>
</form>
<input name="preview_image" value="{{collection.preview_image.id|default:''}}" type="hidden">
<div id="original-descriptions" class="none">
    {% for entry in contents %}
    <textarea id="entry-{{entry.pk}}">{{entry.collection_description}}</textarea>
    {% endfor %}
</div>
{% endif %}

{% if collection.is_yours %}
<hr>

<h2>Collection Contents</h2>
<div id="collection-contents">
{% for entry in contents %}
{% model_block entry %}
{% endfor %}
</div>
{% else %}
<p><b>You do not have permission to manage this collection.</b></p>
{% endif %}
{% endblock %}
