{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block scripts %}
<script>
var collection_id = {{collection.id|default:0}};
</script>
<script src="{% static 'js/collection-manager.js' %}"></script>
{% endblock %}

{% block style %}
<style>
#content h2 { margin-bottom:0px; }
#collection-add-button { min-width:165px; }
#id_arrange_file label { margin-left: 20px; }
.arrangeable-ghost { background:#FFF; }
#id_arrange_file { min-height:250px; }
.ul-scrolling-checklist li > label { display:block; }
#content form { margin-top: 14px; }
</style>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>

<div><h2 id="current-action-heading">{{action.text}}</h2>{% for action in collection_actions %}<a href="{{action.url}}">{{action.text}}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</div>
{% model_block collection %}

{% if operation == "add" and collection.is_yours %}
<form method="POST" id="form-add">
{% csrf_token %}
{% for field in form.visible_fields %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
    {{field.label_tag}}
    <div class="field-value">
        {% if field.name == "associated_file" %}
        <div id="associated_file_filter" class="field_filter">
            <label>Filter: <input name="field_filter" id="add_field_filter" data-target="input[name=associated_file]">
            <button name="field_filter_clear_button" type="button" data-target="input[name=associated_file]" data-field="#add_field_filter">Clear</button>
            </label>
        </div>
        {% endif %}
        {{field|safe}}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
    {{field.errors}}
</div>
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}

<div><input type="button" value="{{action.text}}" id="collection-add-button"> <span class="mono b" id="added-item-text"></span></div>
</form>
{% elif operation == "remove" and collection.is_yours %}
<form method="POST" id="form-remove">
{% csrf_token %}
<input name="collection_id" value="{{collection.id}}" type="hidden">
<div class="field-wrapper">
    <label>File To Remove:</label>
    <div class="field-value">
        <div id="associated_file_filter" class="field_filter">
            <label>Filter: <input name="field_filter" id="remove_field_filter" data-target="input[name=removed_file]">
            <button name="field_filter_clear_button" type="button" data-target="input[name=removed_file]" data-field="#remove_field_filter">Clear</button>
            </label>
        </div>
        <ul id="id_removed_file" class="ul-scrolling-checklist">
        {% for entry in contents %}
        <li><label for="id_removed_file_{{forloop.counter0}}">
            <input id="id_removed_file_{{forloop.counter0}}" class="ul-scrolling-checklist" type="radio" name="removed_file" value="{{entry.zfile.pk}}">{{entry.zfile.title}} [{{entry.zfile.key}}]
        </label></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div><input type="button" value="Remove From Collection" id="collection-remove-button"> <span class="mono b" id="removed-item-text"></span></div>
</form>
{% elif operation == "arrange" and collection.is_yours %}
<form method="POST" id="form-arrange">
{% csrf_token %}
<input name="collection_id" value="{{collection.id}}" type="hidden">
<div class="field-wrapper">
    <label>Collection Order:</label>
    <div class="field-value">
        <ul id="id_arrange_file" class="ul-scrolling-checklist arrangeable-list">
        {% for entry in contents %}
        <li draggable="true" class="arrangeable order-item"><label for="id_arrange_file_{{forloop.counter0}}">
            <input id="id_arrange_file_{{forloop.counter0}}" class="ul-scrolling-checklist" type="hidden" name="arrange_file" value="{{entry.zfile.pk}}">{{entry.zfile.title}} [{{entry.zfile.key}}]
        </label></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div><input type="button" value="Arrange Collection" id="collection-arrange-button"> <span class="mono b" id="arranged-item-text"></span></div>
</form>
{% elif operation == "edit-entry" and collection.is_yours %}
<form id="form-edit-entry" method="POST">
{% csrf_token %}
<input name="collection_id" value="{{collection.id}}" type="hidden">
<div class="field-wrapper">
    <label>Entry To Edit:</label>
    <div class="field-value">
        <select name="entry_id">
            <option value="N/A">- Choose - </option>
            {% for entry in contents %}
            <option value="{{entry.pk}}">{{entry.zfile.title}} [{{entry.zfile.key}}]</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="field-wrapper">
    <label>Collection description:</label>
    <div class="field-value">
        <textarea name="collection_description"></textarea>
    </div>
    <p class="field-help">Optional description for the file as part of the collection. Markdown supported.</p>
</div>
<div class="field-wrapper">
    <label>Set Collection Preview Image:</label>
    <div class="field-value">
        <input type="checkbox" name="set-preview-image" value="1">
    </div>
    <p class="field-help">Check this box to change the collection's current preview image to this file's preview image.</p>
</div>
<div><input type="button" id="edit-entry-button" value="Update Collection Entry" disabled> <span class="mono b" id="edited-entry-text"></span></div>
</form>
<input name="preview_image" value="{{collection.preview_image.id|default:''}}" type="hidden">
<div id="original-descriptions" class="none">
    {% for entry in contents %}
    <textarea id="entry-{{entry.pk}}">{{entry.collection_description}}</textarea>
    {% endfor %}
</div>
{% endif %}

{% if collection.is_yours %}
<hr>

<h2>Collection Contents</h2>
<div id="collection-contents">
{% for entry in contents %}
{% model_block entry %}
{% endfor %}
</div>
{% else %}
<p><b>You do not have permission to manage this collection.</b></p>
{% endif %}
{% endblock %}
