{% extends "museum_site/main.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% load site_tags %}

{% block scripts %}
<script>
var collection_id = {{collection.id|default:0}};
</script>
<script src="{% static 'js/collection-manager.js' %}"></script>
{% endblock %}

{% block content %}
<section id="content" class="block {{request.resolver_match.url_name|default:'null_url_name'}}">
<h1>{{title}}</h1>

<h2>Add To Collection</h2>
{% gblock collection %}
<form method="POST">
{% csrf_token %}
{% for field in form.visible_fields %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
    {{field.label_tag}}
    <div class="field-value">
        {{field|safe}}
        {% if field.id_for_label == "id_title" %}<div>Collection URL: <span id="collection-url-preview"></span></div>{% endif %}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
    {{field.errors}}
</div>
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}

<input type="button" value="{{action}} Collection" id="collection-add-button">
</form>
<hr>
<h2>Collection Contents</h2>
<div id="collection-contents">
{% for entry in contents %}
{% gblock entry.zfile view="detailed-collection" collection_description=entry.collection_description %}
{% endfor %}
</div>
</section>
{% endblock %}
