{% extends "museum_site/main.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% load site_tags %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#id_title").change(update_url);
    update_url();
});

function update_url()
{
    var raw = $("#id_title").val();

    var formatted = raw.trim().replace(/ /g, "-").replace(/[^0-9a-zA-Z_-]/gi, "").toLowerCase();
    $("#collection-url-preview").text(formatted);
}
</script>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>

{% if action == "Create" %}
<p>Collections are created in two steps. This page is used to create an empty collection. After creating the collection, you will be taken to a page where files can be added to it.</p>
{% elif action == "Edit" %}
<p>This page is used to edit information about your collection.</p>

<p>Note that changing a collection's title will change the URL used to access it! This can lead to broken links if the collection has been shared.</p>
{% elif action == "Delete" %}
<p>This page is used to delete a collection and its contents. Deleting a collection is both permanent and immediate.</p>

<p>This will completely remove the collection and its contents, breaking all existing links to the collection if it has been shared.</p>
{% endif %}

{% if collection %}{% model_block collection %}{% endif %}

{% if collection.is_yours or action == "Create" %}
<form method="POST" id="collection-form">
{% csrf_token %}
{% for field in form.visible_fields %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
    {{field.label_tag}}
    <div class="field-value">
        {{field|safe}}
        {% if field.id_for_label == "id_title" %}<div>Collection URL: <span id="collection-url-preview"></span></div>{% endif %}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
    {{field.errors}}
</div>
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}

<input type="submit" value="{{action}} Collection">
{% else %}
<p><b>You do not have permission to {{action|lower}} this collection.</b></p>
{% endif %}

</form>
{% endblock %}
