{% extends "museum_site/main.html" %}
{% load static %}
{% load zzt_tags %}

{% block style %}
<style>
#content ul
{
    list-style:none;
}

#content h2
{
    margin-top:14px;
}

.listing
{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-around;
}

.listing
{
    text-align:center;
}

.credit
{
    flex:1 1 25%;
    padding:0.5em;
    border:1px solid #000;
    margin:0.5em;
    font-family:monospace;
    font-size:14pt;
}

.credit .ascii-char
{
    font-size:28pt;
}

.credit.xl
{
    flex:0 0 35%;
}

.flex-break
{
    flex:0 0 100%;
}

.credit .icon-frame
{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:7px 4px 7px 4px;

}

.credit .icon
{
    max-height:100px;
}

.smiley img
{
    position:relative;
    max-width:none;
}

.smiley
{
    display:inline-block;
    width:8px;
    height:14px;
    overflow:hidden;
    background:#CCC;
}

.credit .stub
{
    visibility:hidden;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Credits</h1>

<h2>Site Development</h2>
<ul>
    <li>Code: <a href="https://twitter.com/worldsofzzt" target="_blank">Dr. Dos</a></li>
    <li>Logo: <a href="https://twitter.com/dopterra" target="_blank">Lazymoth</a></li>
    <li>Fonts:
        <ul>
            <li>"<a href="https://int10h.org/oldschool-pc-fonts/" target="_blank">The Ultimate Oldschool PC Font Pack</a>" © 2015-2016 VileR (licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>)</li>
            <li>"<a href="https://design.ubuntu.com/font/" target="_blank">Ubuntu font family</a> © 2019 Canonical Ltd. (licensed under <a href="{% static 'fonts/LICENCE.txt' %}" target="_blank">Ubuntu Font License</a>)</li>
        </ul>
    </li>
    <li>Zeta Emulator: <a href="https://zeta.asie.pl" target="_blank">Asie</a></li>
</ul>

<h2>Articles</h2>
<div class="directory">
{% for row in list %}
    {% if forloop.counter0|divisibleby:split %}
    <div class="column">
    {% endif %}
        <div class="row">
            <a href="/article?&author={{row}}&sort=title&action=search">{{row}}</a>
            </div>
    {% if forloop.counter|divisibleby:split or forloop.last %}
    </div>
    {% endif %}
{% endfor %}
</div>

<h2>Patreon Supporters</h2>
<div class="listing">
    <div class="credit xl">
        <div class="icon-frame"><img src="{% static 'credits/tim.jpg' %}" class="icon"></div>
        {% char 2 'white' 'darkblue' %} Tim Sweeney
    </div>
    <div class="credit xl">
        <div class="icon-frame"><img class="icon" style="height:100px;width:100px;visibility:hidden;"></div>
        {% char 2 'white' 'darkblue' %} Chris A.
    </div>

    <div class="flex-break"></div>

    <div class="credit">
        <div class="icon-frame"><img class="icon" style="height:100px;width:100px;visibility:hidden;"></div>
        {% char 12 'purple' 'black' %} Anna Anthropy
    </div>

    <div class="credit large">
        <div class="icon-frame"><img src="{% static 'credits/zzthink.png' %}" class="icon"></div>
        {% char 3 'purple' 'transparent' %} Archenoth
    </div>

    <div class="credit">
        <div class="icon-frame"><img class="icon" style="height:100px;width:100px;visibility:hidden;"></div>
        {% char 165 'blue' 'black' %} Arun R.
    </div>

    <div class="credit large">
        <div class="icon"><img src="{% static 'credits/celine_kalante.png' %}" class="icon"></div>
        {% char 15 'purple' 'darkpurple' %} Celine Kalante
    </div>

    <div class="credit large">
        <div class="icon-frame"><img src="{% static 'credits/geight.png' %}" class="icon"></div>
        {% char 132 'purple' 'black' %} Geight
    </div>

    <div class="credit large">
        <div class="icon-frame"><img class="icon" style="height:100px;width:100px;visibility:hidden;"></div>
        {% char 237 'white' 'darkpurple' %} Josh Matthews
    </div>

    <div class="credit">
        <div class="icon-frame"><img class="icon" style="height:100px;width:100px;visibility:hidden;"></div>
        {% char 2 'white' 'darkyellow' %} Zinfandel Z.T.
    </div>

    <div class="credit stub"></div>
    <div class="credit stub"></div>

    <div class="flex-break"></div>

    <div class="credit">{% char 2 'white' 'darkblue' %} Adrian S.</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} Ashley</div>
    <div class="credit">{% char 233 'red' 'transparent' %} Avalix</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} Beau G.</div>
    <div class="credit">{% char 12 'green' 'darkgreen' %} Colin Matthew</div>
    <div class="credit">{% char 19 'yellow' 'black' %} David X Newton</div>
    <div class="credit">{% char 100 'yellow' 'darkred' %} Espilan</div>
    <div class="credit">{% char 2 'cyan' 'darkcyan' %} Jeanne T.</div>
    <div class="credit">{% char 19 'red' 'white' %} Jeremy W. Kaufmann</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} Jimantha</div>
    <div class="credit">{% char 224 'cyan' 'darkcyan' %} John D. "Newt" Moore</div>
    <div class="credit">{% char 141 'white' 'black' %} John Thyer</div>
    <div class="credit">{% char 2 'darkgray' 'white' %} JohnWWells</div>
    <div class="credit">{% char 216 'yellow' 'darkred' %} KA</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} Kevin C.</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} Leonard R.</div>
    <div class="credit">{% char 6 'green' 'black' %} meapineapple</div>
    <div class="credit">{% char 2 'darkblue' 'transparent' %} Mike Wasson</div>
    <div class="credit">{% char 164 'white' 'darkpurple' %} Nidoran</div>
    <div class="credit">{% char 148 'white' 'darkblue' %} Phil Salvador</div>
    <div class="credit">{% char 188 'red' 'black' %} Rabbitboots</div>
    <div class="credit">{% char 3 'yellow' 'black' %} RavenWorks</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} Sarkath</div>
    <div class="credit">{% char 159 'gray' 'darkpurple' %} Saxxon</div>
    <div class="credit">{% char 2 'darkred' 'darkblue' %} Skullie</div>
    <div class="credit">{% char 6 'cyan' 'darkcyan' %} Snorb</div>
    <div class="credit">{% char 227 'darkpurple' 'darkblue' %} SpellWeavre</div>
    <div class="credit">{% char 2 'white' 'darkblue' %} That Deer</div>
    <div class="credit">{% char 233 'green' 'black' %} thetaCriterion</div>
    <div class="credit">{% char 1 'black' 'red' %} Zephyr</div>
    <!-- Enable stubs to create an even arrangement
    <div class="credit stub"></div>
    <div class="credit stub"></div>
    <div class="credit stub"></div>
    -->
    <div class="flex-break"></div>
    <div class="credit">{% char 63 'white' 'black' %} And Many Anonymous Patrons!</div>
</div>
</section>
{% endblock %}
