{% extends "museum_site/main.html" %}

{% block scripts %}
<script>
</script>
{% endblock %}

{% block content %}
<section id="content" class="block">

<h1>Advanced Search</h1>
<form>
{% for field in form.visible_fields %}
{% if field.name not in grouped_fields %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
    {{field.label_tag}}
    <div class="field-value">
        {{field|safe}}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
    {{field.errors}}
</div>
{% else %}
    {% if field.name == "board_min" %}
    <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
    {{field.label_tag}}
    <div class="field-value">
    {% endif %}
        {{field|safe}}{% if field.name == "board_min" %} to {% endif %}
    {% if field.name == "board_type" %}
    </div><!--Value-->
    <p class="field-help">{{field.help_text|safe}}</p>
    </div><!--Wrapper-->
    {% endif %}
{% endif %}
{% endfor %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
<hr>
<input type="submit" value="Search">
</form>
</section>
{% endblock %}
