{% extends "museum_site/main.html" %}

{% load staticfiles %}
{% load zzt_tags %}
{% load site_tags %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">

{% for result in results %}
{{result}}<br>
{% endfor %}

<hr><hr><hr>

{% commentary %}
{% zzt_img 'images/articles/cl/shades-of-gray/zzt_001.png' %}
This is my commentary.
This is line 2

This is a break in paragraphs

So is this

And that.
{% endcommentary %}
<hr><hr>
<hr>

<div class="side-commentary">
    <div class="commentary-image">{% zzt_img 'images/articles/cl/shades-of-gray/zzt_001.png' %}</div>
    <div class="commentary">
        <p>Now here's a funny picture.</p>

        <p>It turns out that in this game, the player has to find five purple keys
        in order to enter the Palace. In order to do so, they'll have to cross dangerous
        waters, rob a bank, break out a convicted felon, and invest in leaves.</p>

        <p>Contrast this with most ZZT games, which are wholesome and sweet, and
        you'll quickly find that this game is for mature gamers only. If a little
        swearing upsets you, go back to playing MegaZeux, a children's game for
        babies.</p>

        <p>All things considered, I should really just be using Lorem Ipsum instead,
        but what do I know.</p>

        <p>All things considered, I should really just be using Lorem Ipsum instead,
        but what do I know.</p>

        <p>All things considered, I should really just be using Lorem Ipsum instead,
        but what do I know.</p>

        <p>All things considered, I should really just be using Lorem Ipsum instead,
        but what do I know.</p>
    </div>
</div>

<div class="side-commentary">
    <div class="commentary-image">
    {% zzt_img 'images/articles/cl/shades-of-gray/zzt_001.png' %}
    </div>
    <div class="commentary">
        <p>Now here's a funny picture.</p>

        <p>It turns out that in this game, the player has to find five purple keys
        in order to enter the Palace. In order to do so, they'll have to cross dangerous
        waters, rob a bank, break out a convicted felon, and invest in leaves.</p>
    </div>
</div>

<div class="side-commentary">
    <div class="material">
    {% zzt_img 'images/articles/cl/shades-of-gray/zzt_001.png' shorthand='hud' %}
    </div>
    <div class="commentary">
        <p>Now here's a funny picture.</p>

        <p>It turns out that in this game, the player has to find five purple keys
        in order to enter the Palace. In order to do so, they'll have to cross dangerous
        waters, rob a bank, break out a convicted felon, and invest in leaves.</p>
    </div>
</div>

<div class="side-commentary">
    <div class="commentary-image">
    {% zzt_img 'images/articles/cl/shades-of-gray/zzt_005.png' %}
    {% zzt_img 'images/articles/cl/shades-of-gray/zzt_016.png' %}
    {% zzt_img 'images/articles/cl/shades-of-gray/zzt_027.png' %}
    </div>
    <div class="commentary">
        <p>Now here's a funny picture.</p>

        <p>It turns out that in this game, the player has to find five purple keys
        in order to enter the Palace. In order to do so, they'll have to cross dangerous
        waters, rob a bank, break out a convicted felon, and invest in leaves.</p>
    </div>
</div>

<h1>Debug</h1>

{% message %}ARIC: Damn...

GEM HUNTER: It's over, Aric.

ARIC: Mwahahahahahaha. Do you think?

GEM HUNTER: Crud. You coward!! You're just
going to get away?

ARIC: Yep!
{% endmessage %}

{% message green %}ARIC: Damn...

GEM HUNTER: It's over, Aric.

ARIC: Mwahahahahahaha. Do you think?

GEM HUNTER: Crud. You coward!! You're just
going to get away?

ARIC: Yep!
{% endmessage %}

{% hyperlink "hack the planet" %}

{% patreon_plug %}

{% content_warning "bad stuff" "worse stuff" "the worst stuff" %}

{% scroll %}@Hello
1
2
3
4
5
6
7
8
9
10
11
12
13
14
----5----5----5----5----5----5----5----5--
{% endscroll %}

<hr>
{% zzt_img "images/test" %}
<hr>
{% zzt_img "images/test" alt="shrunk" css="border:2px solid red;width:20%;"%}
<hr>
Sidebar<br>
{% zzt_img "images/test" "sidebar" %}
<hr>
HUD<br>
{% zzt_img "images/test" "hud" %}
<hr>
Message<br>
{% zzt_img "images/test" "message" %}
{% zzt_img "images/test" "message" %}
{% zzt_img "images/test" "message" %}
<hr>
Cheat<br>
{% zzt_img "images/test2.png" "cheat" %}
<hr>
Custom<br>
{% zzt_img "images/test3.png" tl="12,14" br="27,22" %}
{% zzt_img "images/test3.png" tl="14,04" br="28,10" %}
{% zzt_img "images/test3.png" tl="39,14" br="50,16" %}

<hr>
<b>CL_INFO TAG</b>
{% cl_info 2276 %}
<hr>

</section>
{% endblock %}
