{% extends "museum_site/main.html" %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#directory-filter-input").keyup(function (){
        var val = $(this).val().toLowerCase();

        $(".directory .row").each(function (){
            var entry = $(this).text().toLowerCase();

            if (entry.indexOf(val) == -1)
                $(this).addClass("none");
            else
                $(this).removeClass("none");
        });
    });

    $("#clear-filter-input").click(function (){
        $("#directory-filter-input").val("");
        $("#directory-filter-input").keyup();
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{category|title}} Directory</h1>

<div class="controls">
    <input name="filter" value="" id="directory-filter-input">
    <input type="button" value="Clear Filter" id="clear-filter-input">
</div>

<div class="directory">
    {% for column in columns %}
    <div class="column">
        {% for entry in column %}
            {% if entry.kind == "header" %}
            <div class="header">{{entry.title}}</div>
            {% else %}
            <div class="row">
                <a href="{{entry.url}}">{{entry.title}}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
