{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags path=request.get_full_path context=file.get_meta_tag_context include_qs=True %}{% endblock %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}?{{BOOT_TS}}"></script>
{% for script in scripts %}<script src="{% static script %}?{{BOOT_TS}}"></script>{% endfor %}
{% endblock %}

{% block content %}
<h2>{{form.heading}}</h2>

<p><b>This file is known to contain explicit content.</b></p>

{% if file.explicit_warning %}{{file.explicit_warning|linebreaks}}{% else %}
<i>No detailed information has been be set for this file. Browse/Play at your own risk.</i>{% endif %}

<p>Please confirm that you are both of age to view explicit content and that you wish to do so.</p>

{{form.text_prefix|default:""|safe}}

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}"><input type="submit" name="action" value="Go Back">
</form>
{% endblock %}
