{% extends "museum_site/world.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block style %}
<style>
#review-form-controls
{
    display:flex;
    justify-content:space-between;
    column-gap:30%;
    border-top:1px dashed #000;
    padding:7px 4px 7px 4px;
}

#review-form-controls input
{
    flex:1;
}

#review-preview-wrapper { display: none; opacity: 0; }
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#preview-review").click(function (){
        $("#rev-preview-block").hide();
        $.ajax({
        url:"/ajax/render-review-text/",
        method:"POST",
        data:{
            "text":$("#id_content").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        }
        }).done(function (rendered){
            var rating = $("select[name=rating]").val();
            var has_rating = parseInt(rating);
            $("#rev-preview-title").text($("input[name=title]").val());
            $("#rev-preview-author").text($("input[name=author]").val());
            $("#rev-preview-text").html(rendered);

            $("#rev-preview-rating").hide();
            $("#rev-preview-no-rating").hide();

            if (has_rating == -1)
            {
                $("#rev-preview-no-rating").show();

            }
            else
            {
                $("#rev-preview-rating-number").text(rating);
                $("#rev-preview-rating").show();
            }

            $("#review-preview-wrapper").show();
            $("#review-preview-wrapper").animate({opacity: 1}, 250);
        });
    });
});
</script>
{% endblock %}

{% block world_content %}
<div class="view-links">
    <div><a href="#new-review">New Review</a></div>
    {% comment %}<div>Profanity Filter: <input type="radio" name="review-profanity-filter" value="on" {% if request.session.REVIEW_PROFANITY_FILTER == "on" %} checked{% endif %}> On  <input type="radio" name="review-profanity-filter" value="off"{% if request.session.REVIEW_PROFANITY_FILTER == "off" %} checked{% endif %}> Off</div>{% endcomment %}
</div>
<div class="sort-methods">
Sort: <select name="sort">
        {% for option in sort_options %}
            <option value="{{option.val}}"{% if request.GET.sort == option.val %} selected {%endif %}>{{option.text}}</option>
        {% endfor %}
    </select>
</div>


{% for review in reviews %}
{% include "museum_site/blocks/review-block.html" with profanity_filter=request.session.REVIEW_PROFANITY_FILTER %}
{% endfor %}

<span id="new-review"></span>
{% if recent %}
    <p><i>You have <a href="#rev-{{recent}}">recently reviewed</a> this file and cannot submit an additional review at this time.</i></p>
{% elif file.is_uploaded %}
    <p>Unpublished files cannot be reviewed as their content may still be modified by the uploader.</p>
{% elif file.is_lost %}
    <p>Lost files cannot be reviewed as they cannot be played in order to review them!</p>
{% elif file.can_review %}
    <h2>New Review</h2>
    <form method="POST">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
    <div class="field-wrapper" data-field="author">
        <label for="id_author">Your Name:</label>
        <div class="field-value">
            <b>{{request.user.username}}</b>
        </div>
    </div>
    {% endif %}
    {% include "museum_site/blocks/generic-form.html" %}
    <div id="review-form-controls">
        <input type="button" id="preview-review" value="Preview Review">
        <input type="submit" value="Submit Review">
    </div>
    </form>
{% else %}
    <h2>Reviews Disabled</h2>
    <p>This file is no longer accepting new reviews at this time.</p>
{% endif%}
<hr>
<div id="review-preview-wrapper">
    <div class="review-block">
    <h2 id="rev-preview-title"></h2>
    <div class="info">
        By: <span id="rev-preview-author">{{request.user.username}}</span><br>
        Reviewed: <span id="rev-preview-date">{{today|date}}</span><br>
    </div>
    <hr>
    <article id="rev-preview-text"></article>
    <hr>
    <span id="rev-preview-rating"><b>Rating:</b> <span id="rev-preview-rating-number"></span> out of 5.0</span>
    <span id="rev-preview-no-rating"><i>This user has opted out of providing a numeric rating</i></span>
    </div>
</div>
{% endblock %}
