{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags path=request.get_full_path og_image="cards/new-preview.png" %}{% endblock %}

{% block style %}
<style>
#no-results
{
    text-align:center;
    margin:7px 4px 7px 4px;
    font-family:cp437;
    font-size:24pt;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
<!--file_directory.html-->
<section id="content-header">
    <h1>{{header|default:"Browse"}}</h1>
    <button id="expand-contract">→ ←</button>
</section>
{% if request.GET.err == "404" %}
<h2>Broken Link!</h2>
<p>The URL provided returned an error when trying to find the requested file. A search has been performed using the zip name which may lead you to what you were after if the file was moved to a different letter.</p>
{% endif %}
{% if category == "Featured Worlds" %}
<p>Featured Worlds, are worlds which have been deemed exemplary in the context of what ZZT has to offer.
Often these worlds show a higher quality than their peers, and have been given their place in the spotlight here.</p>

<p>Originally, the ZZT community awarded worlds "Game of the Month" and "Classic Game of the Month" designation, for the best worlds released in a given month,
or notable worlds released at any time. These awards eventually stopped, and were later revived in spirit with "Featured Games" and "M‍a‍d‍T‍o‍m‍'s Pick" awards.
The former replacing CGotM, and the latter replacing GoTM.</p>

<p>Worlds which received any of these awards have been merged into the Featured Worlds list, typically accompanied by a review and short description of the world.</p>

<p>On the Museum of ZZT, "Featured World" status is given to worlds not just of high quality, but also of considerable interest to those looking to see what ZZT offers.</p>
{% endif %}
{% if request.path == "/uploaded/" %}
<p>The upload queue is a collection of files which have been submitted for publication, but not yet looked at in detail. These files could potentially contain anything and have not had any vetting whatsoever. Unpublished files are to be downloaded at your own risk. If a file is in some way malicious or outside the scope of what the Museum offers, contact <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a> to get them removed as quickly as possible.</p>

<p>Additionally because these files have not have any verification, some functionality like the "Play Online" feature will use default settings which may not be appropriate for the upload.</p>

<p>If you're looking to submit a file for upload yourself, check out the <a href="{% url 'upload' %}">upload page</a>.
{% endif %}

{% if mode == "Roulette" %}
<div class="roulette-links">
    Seed <a href="{% url 'roulette' %}?seed={{rng_seed}}">{{rng_seed}}</a> ♦
    <a href="{% url 'roulette' %}">Reroll</a>
</div>
{% else %}
{% include "museum_site/blocks/paginator_block.html" %}
{% endif %}
{% if view == "list" %}
<table>
<tr>
    <th>DL</th>
    <th>Title</th>
    <th>Author</th>
    <th>Company</th>
    <th>Genre</th>
    <th>Date</th>
    <th>Rating</th>
</tr>
{% elif view == "gallery" %}
<div class="gallery-list">
{% endif %}
{% for file in page %}
{% include "museum_site/blocks/file_"|add:view|add:"_block.html" %}
{% endfor %}
{% if view == "list" %}
</table>
{% elif view == "gallery" %}
</div>
{% endif %}
{% if not page %}
<div id="no-results">
<img src="{% static 'images/blank-board.png' %}">
<p>Your query returned zero results!</p>
</div>
{% endif %}

{% if mode != "Roulette" %}
{% include "museum_site/blocks/paginator_block.html" %}
{% endif %}
</section>
{% endblock %}
