{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}
{% load zzt_tags %}
{% load zfile_attrs %}

{% block meta %}{% meta_tags path=request.get_full_path context=file.get_meta_tag_context %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new-file-viewer.css' %}?{{BOOT_TS}}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jszip.min.js' %}?{{BOOT_TS}}"></script>
<script async src="{% static 'js/file-viewer/main.js' %}?{{BOOT_TS}}" type="module"></script>
<script>
{% if not local %}
let auto_load = "{{zfile.download_url}}{% if request.GET.file %}?file={{request.GET.file}}{% endif %}{% if request.GET.board %}&board={{request.GET.board}}{% endif %}";
let file_size = {{zfile.size}};
let mode = "standard";
{% else %}
let auto_load = "";
let file_size = 0;
let mode = "local";
{% endif %}
let fv_default_domain = "{{DOMAIN}}";
var initial_query_string = "{{request.META.QUERY_STRING|safe}}";
var DEBUG_VAR = null;
var user_test = {"bar": "baz", "yes": true}; // DEBUG
{% if zfile %}var zfile_info = {
    "key": "{{zfile.key}}",
    "size": {{zfile.size}},
};
{% else %}
var zfile_info = {};
{% endif %}
</script>
{% endblock %}

{% block content %}
<section id="file-viewer">
{% if weave %}
<div id="fv-prefix">
    <p>⚠️ Support for Weave ZZT content in the Museum's File Viewer is very limited. Weave specific features have not yet been implemented. Issues should be expected when exploring Weave ZZT related files (especially visuals).</p>
</div>
{% endif %}
<div id="fv-main">
    {% comment %}This envelope must be manually created to display _something_ for users with JS disabled{% endcomment %}
    <noscript>
        <div id="fv-noscript-error" class="sticky-note">JavaScript must be enabled in order for The Museum of ZZT file viewer to function.</div>
    </noscript>
    <div id="envelope-fvpk-overview" class="envelope envelope-overview active">
        <div class="zf-preview-wrapper"><img id="fv-preview" class="image" src="{% static zfile.preview_url|default:'images/no_screenshot.png' %}"></div>
        {% if zfile.description %}<div class="zf-desc-wrapper">{{zfile.description|linebreaks}}</div>{% endif %}
    </div>
</div>

<div id="region-file-list">
    <ul id="file-list"></ul>
</div>

<div id="tabs">
    {% comment %}
    <div name="world-info" data-shortcut="W">World</div>
    <div name="board-info" data-shortcut="B">Board</div>
    <div name="element-info" data-shortcut="E">Element</div>
    <div name="stat-info" data-shortcut="S">Stats</div>
    <div name="preferences" data-shortcut="P">Prefs.</div>
    <div name="help">?</div>
    {% endcomment %}
</div>

<div id="details">
    <div id="zip-info"></div>
    <div id="world-info"></div>
    <div id="board-info"></div>
    <div id="element-info"></div>
    <div id="stat-info"></div>
    <div id="preferences">
    </div>

    <div id="help">
        <b>File Navigation (with a file selected)</b>
        <ul>
            <li>Shift + +/J: Next file</li>
            <li>Shift + -/K: Previous file</li>
        </ul>
        <b>Board Navigation</b>
        <ul>
            <li>+/J: Next board</li>
            <li>-/K: Previous board</li>
            <li>Numpad 2/4/6/8: Follow board connection</li>
            <li>Double click on a passage ({% char 240 %}) to travel to its destination</li>
        </ul>
        <b>Tab Hotkeys</b>
        <ul>
            <li>W - World tab</li>
            <li>B - Board tab</li>
            <li>E - Element tab</li>
            <li>S - Stat tab</li>
            <li>P - Preferences tab</li>
        </ul>
        <b>Misc</b>
        <ul>
            <li>Shift + B - Toggle high intensity backgrounds (blinking)</li>
            <li>Z - Toggle zoom level</li>
        </ul>
        {% if request.user.is_staff %}{% include "museum_site/file_viewer_staff_module.html" %}{% endif %}
    </div>
</div>
</section>

<hr>
{% endblock %}
