{% extends "museum_site/main.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}"></script>
{% endblock %}

{% block content %}
<section id="content" class="block {{request.resolver_match.url_name|default:'null_url_name'}}">
<h1>{{form.heading}}</h1>

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>
</section>
{% endblock %}
