{% extends base_template|default:"museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block content %}
<!--generic-directory.html-->
<div id="heading-wrapper"><h{{header_idx|default:"1"}}>{{title}}</h{{header_idx|default:"1"}}>{% if rss_info %}<a href="{% url rss_info.url_name %}"><img src="{% static 'icons/rss-large.png' %}" alt="RSS icon"></a>{% endif %}</div>
{% if head_object %}{% model_block head_object %}{% endif %}
{% if prefix_template %}{% include prefix_template %}{% elif prefix_text %}{{prefix_text|safe|linebreaks}}{% endif %}
{% if cheat_applied %}<p><b>{{cheat_applied}}</b> has been applied!</p>{% endif %}
{% include "museum_site/blocks/paginator-block.html" with location="top" %}

{% for obj in object_list %}
    {% if forloop.first and view == "list" %}<table>{{obj.table_header}}{% endif %}
    {% if forloop.first and view == "gallery" %}<div class="gallery-frame">{% endif %}
    {% model_block obj view %}
    {% if forloop.last and view == "list" %}</table>{% endif %}
    {% if forloop.last and view == "gallery" %}</div>{% endif %}
{% empty %}
<div id="no-results">
    <img src={% static "chrome/blank-board.png" alt="An empty yellow bordered ZZT board" %}>
    <p>Your query returned zero results!</p>
</div>
{% endfor %}


{% include "museum_site/blocks/paginator-block.html" with location="bottom" %}
{% endblock %}
