{% extends base_template|default:"museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block content %}
<!--generic-directory.html-->

<h1>{{title}}</h1>
<button id="expand-contract" class="fr">→ ←</button>

{% if prefix_template %}{% include prefix_template %}{% elif prefix_text %}{{prefix_text|safe|linebreaks}}{% endif %}

{% include "museum_site/blocks/paginator_block.html" %}

{% generic_block_loop items=page view=view header=table_header request=request %}

{% include "museum_site/blocks/paginator_block.html" %}
{% endblock %}
