{% extends base_template|default:"museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% if file %}{% block meta %}{% meta_tags path=request.get_full_path file=file %}{% endblock %}{% endif %}

{% block content %}
<!--generic-directory.html-->
<h{{header_idx|default:"1"}}>{{title}}</h{{header_idx|default:"1"}}>
{% if heading_model %}{% gblock heading_model "detailed" request=request %}{% endif %}

{% if prefix_template %}{% include prefix_template %}{% elif prefix_text %}{{prefix_text|safe|linebreaks}}{% endif %}

{% include "museum_site/blocks/paginator_block.html" %}

{% generic_block_loop items=page view=view header=table_header request=request %}

{% include "museum_site/blocks/paginator_block.html" %}
{% endblock %}
