{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="block">

<h1>Museum of ZZT</h1>
<p>Welcome to the Museum of ZZT, a site dedicated to the preservation and
curation of the many games and worlds created with ZZT.</p>

<p>ZZT is a text-mode game from 1991 created by Tim Sweeney of Epic Games. ZZT
has its own editor and scripting language which offers what may still be an
unmatched level of accessibility to beginning game developers. A significant
number of ZZT worlds were created by authors in their early teenage years, with
some being made by children under 10. ZZT's simple ZZT-OOP scripting language
gave many a friendly introduction to programming.</p>

<p>The goal of the Museum of ZZT site is to collect these worlds, offer
discussions into them and the community built around them, and keep them safely
preserved. It is the hope of the Museum that the generally unknown works of ZZT
community can be easily discovered and that their importance can be recognized.
</p>

<div id="fp-new-files-grid">
    <h1 id="new-releases-heading">New Releases Spotlight</h1>
    <div class="gallery-list scrolling">
        {% for file in new_releases %}
        {% include "museum_site/blocks/file_gallery_block.html" %}
        {% endfor %}
        <div class="view-more">
            <a href="{% url 'new_releases' %}">View All New Releases</a>
        </div>
    </div>
    <h1 id="latest-additions-heading">Latest Additions Spotlight</h1>
    <div class="gallery-list scrolling">
        {% for file in files %}
        {% include "museum_site/blocks/file_gallery_block.html" %}
        {% endfor %}
        <div class="view-more">
            <a href="{% url 'new_files' %}">View All Files</a>
        </div>
    </div>
</div>

<h1>Latest Articles</h1>
{% for article in articles|slice:":3" %}
<div class="overview-block" data-pk="{{article.id}}">
    <img src="{{article.preview}}"
    class="screenshot-thumb"
    alt="{{article.preview}}">
    <h1 class="title"><a href="{{article.url}}">{{article.title}}</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">Author</div><div class="value">{{article.author}}</div>
        </div>
        <div class="field">
            <div class="key">Date</div><div class="value">{{article.publish_date}}</div>
        </div>
        <div class="field">
            <div class="key">Summary</div><div class="value">{{article.summary}}</div>
        </div>
    </div>
</div>
{% endfor %}
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th class="">Summary</th>
    </tr>
    {% for article in articles|slice:"3:" %}
    <tr>
    <td><a href="{{article.url}}">{{article.title}}</a></td>
    <td>{{article.author}}</td>
    <td class="td-date">{% if article.publish_date|date:"Y-m-d" != '1970-01-01' %}{{article.publish_date|date:"N jS"}}{% endif %}</td>
    <td class="">{{article.summary}}</td>
    </tr>
    {% endfor %}
</table>
<div class="view-more">
        <a href="{% url 'article_directory' %}">View More</a>
</div>

<h1>Latest Reviews</h1>
<table>
    <tr>
        <th>File</th>
        <th>Author</th>
        <th>Rating</th>
    </tr>
    {% for review in reviews %}
    <tr>
        <td><a href="{{review.file.review_url}}#rev-{{review.id}}"><i>{{review.file.title}}</i></a></td>
        <td>{{review.author}}</td>
        <td>{% if review.rating > -1 %} {{review.rating}} / 5.0{% else %}&mdash;{% endif %}</td>
    </tr>
    {% endfor %}
</table>
<div class="view-more">
        <a href="{% url 'review_directory' %}">View More</a>
</div>
</section>
{% endblock %}
