{% extends "museum_site/main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="block">
<h1>Livestreams</h1>

<p>Closer Looks are one of the main components of the Worlds of ZZT project.
The Closer Look series consists primarily of (re)visiting ZZT worlds and
looking at them from a contemporary perspective, attemping to give both a
complete playthrough of them while also pointing out noteworthy design
decisions.</p>

<p>Most Closer Looks are written articles, however there are also livestreams
which can be watched on the <a href="https://www.youtube.com/channel/UCr0f-r1bRexAZK8sWyk4NJA" target="_blank">Worlds of ZZT YouTube channel.</a></p>

{% include "museum_site/blocks/closer_look_page_block.html" %}

{% for article in articles %}
<div class="file-block" data-pk="{{article.id}}">
    <div class="file-screen">
        <img src="{% static article.preview %}"
        class="titlescreen"
        alt="{{article.preview}}">
    </div>
    <div class="file-info">
        <h1><a href="{% url 'article_view' article.id article.title|slugify %}">{{article.title}}</a></h1>
        <div>Author</div>: {{article.author}}<br>
        <div>Date</div>: {{article.date}}<br>
        <div><br>{{article.summary}}</div>
    </div>
</div>
{% endfor %}

{% include "museum_site/blocks/closer_look_page_block.html" %}
</section>
{% endblock %}
