{% extends "museum_site/main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="block">
<h1>Livestreams</h1>

<p>Recordings of Livestreams are posted here. They (along with other videos) can all be watched directly on
the <a href="https://www.youtube.com/channel/UCr0f-r1bRexAZK8sWyk4NJA" target="_blank">Worlds of ZZT YouTube channel.</a></p>

<p>Livestreams are done roughly every 2 weeks on <a href="https://twitch.tv/worldsofzzt">Worlds of ZZT on Twitch</a>.</p>

{% include "museum_site/blocks/closer_look_page_block.html" %}

{% for article in articles %}
<div class="overview-block" data-pk="{{article.id}}">
    <img src="{% if article.preview %}{% static 'images/'|add:article.preview %}{% else %}{% static 'images/screenshots/no_screenshot.png' %}{% endif %}"
    class="screenshot-thumb"
    alt="{{article.preview}}">
    <h1 class="title"><a href="{{article.url}}">{{article.title}}</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">Author</div><div class="value">{{article.author}}</div>
        </div>
        <div class="field">
            <div class="key">Date</div><div class="value">{{article.date}}</div>
        </div>
        <div class="field">
            <div class="key">Summary</div><div class="value">{{article.summary}}</div>
        </div>
    </div>
</div>
{% endfor %}

{% include "museum_site/blocks/closer_look_page_block.html" %}
</section>
{% endblock %}
