{% load staticfiles %}
{% load site_tags %}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}{{title}}{% endblock %}{% if title %} - {% endif %}Museum of ZZT</title>

{% for file in CSS_INCLUDES %}
<link rel="stylesheet" type="text/css" href="{% static 'css/'|add:file %}?{{BOOT_TS}}">
{% endfor %}

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

<meta name="author" content="Dr. Dos">
<meta name="description" content="The Museum of ZZT website is dedicated towards the curation and preservation of ZZT worlds made by budding game developers. Explore over 25 years of indie gaming history.">
<meta name="keywords" content="ZZT">

{% block og %}
<meta property="og:title" content="{% if title %}{{title}} - {% endif %}Museum of ZZT">
<meta property="og:type" content="website">
{% if article.preview %}<meta property="og:image" content="{{DOMAIN}}{% static 'images/'|add:article.preview %}">
{% elif file.screenshot %}<meta property="og:image" content="{{DOMAIN}}{% static 'images/screenshots/'|add:file.letter|add:'/'|add:file.screenshot' %}">
{% else %}<meta property="og:image" content="{{DOMAIN}}{% static 'images/og_default.jpg' %}">{% endif %}
<meta property="og:url" content="{{request.build_absolute_uri}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@worldsofzzt">
{% if article.title %}<meta name="twitter:title" content="{{article.title}}">
{% elif file.title %}<meta name="twitter:title" content="{{file.title}}">
{% else %}<meta name="twitter:title" content="Museum of ZZT">{% endif %}
{% if article.summary %}<meta name="twitter:description" content="{{article.summary}}">
{% else %}<meta name="twitter:description" content="{{title|default:'A Museum of ZZT page'}}">{% endif %}
{% if article.preview %}<meta name="twitter:image" content="{{DOMAIN}}{% static 'images/'|add:article.preview %}">
{% elif file.screenshot %}<meta name="twitter:image" content="{{DOMAIN}}{% static 'images/screenshots/'|add:file.letter|add:'/'|add:file.screenshot' %}">
{% else %}<meta property="twitter:image" content="{{DOMAIN}}{% static 'images/og_default.jpg' %}">{% endif %}
{% endblock %}

{% block analytics %}
{% if request.get_host == "beta.museumofzzt.com" %}<!--N/A-->
{% elif request.get_host == "museumofzzt.com" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45185267-6', 'auto');
  ga('send', 'pageview');

</script>
{% else %}<!--N/A-->{% endif %}
{% endblock %}

<script src="/static/js/jquery.3.1.0.min.js"></script>
<script src="{% static 'js/museum.js' %}?{{BOOT_TS}}"></script>
{% block scripts %}{% endblock %}
{% block style %}{% endblock %}
</head>

<body class="grid-root">

<header id="logo-area">
    <a href="/" id="logo"></a>
</header>

<nav id="top-links" class="cp437">
    <div class="nav-link"><a href="{% url 'about_zzt' %}"><span class="key">A</span> About<span class="optional"> ZZT</span></a></div>
    <div class="nav-link"><a href="{% url 'upload' %}"><span class="key">U</span> Upload</a></div>
    <div class="nav-link"><a href="http://zzt.org/fora"><span class="key">Z</span> <span class="optional"> z2 </span>Forums</a></div>
</nav>

<section id="sidebar-left" class="sidebar">
    <div id="featured" class="block c">
        <h1 class="l">Featured Game</h1>
        <a href="{{fg.file_url}}">{{fg.title}}</a><br>
        <a href="{{fg.file_url}}"><img src="{% static fg.screenshot_url %}" alt="{{fg.title}}" title="{{fg.title}}" id="fg-screenshot"></a>
        by {% for author in fg.author_list %}<a href="{% url 'search' %}?author={{author}}">{{author}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br>
        <a href="{% url 'featured_games' %}">Featured Games</a>
    </div>

    <div id="worlds-block" class="block l">
        <h1>ZZT Worlds</h1>
        <div id="letters" class="c cp437">
            <a href="{% url 'browse_letter' '1'%}">#</a>
            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <a href="{% url 'browse_letter' l|lower %}">{{l}}</a>
            {% endfor %}
        </div>

        <div class="world-special">
            &bull; <a href="{% url 'mass_downloads' %}">Mass Downloads</a><br>
            &bull; <a href="{% url 'new_files' %}">New Additions</a><br>
            &bull; <a href="{% url 'random' %}">Random ZZT World</a><br>
            &bull; <a href="{% url 'roulette' %}">Roulette</a><br>
            &bull; <a href="{% url 'uploaded_worlds' %}">Upload Queue</a><br>
        </div>

        <form method="GET" action="{% url 'search' %}">
        <div id="search-form">
            <input name="q" value="{{q}}"><div class="low-res-break"></div>
            <input id="search-button" type="submit" value="Search">
        </div>
        </form>
        &bull; <a href="{% url 'advanced_search' %}">Advanced Search</a>
    </div>

    <div class="block">
        <h1>Downloads</h1>
        &bull; <a href="{% url 'zzt_dl' %}">ZZT</a><br>
        &bull; <a href="http://zeta.asie.pl/" target="_blank">Zeta</a><br>
        &bull; <a href="http://www.dosbox.com/download.php?main=1" target="_blank">DOSBox</a><br>
        &bull; <a href="https://github.com/cknave/kevedit" target="_blank">KevEdit</a><br>
        &bull; <a href="{% url 'clones' %}">ZZT Clones</a><br>
        &bull; <a href="{% url 'szzt_worlds' %}">Super ZZT Worlds</a><br>
        &bull; <a href="{% url 'utilities' %}">External Utilities</a><br>
        &bull; <a href="{% url 'zig_worlds' %}">ZIG Worlds</a><br>
        &bull; <a href="{% url 'zzm_audio' %}">ZZM Music</a><br>
    </div>
</section>

{% block content %}
<main id="content">
</main>
{% endblock %}

<section id="sidebar-right" class="sidebar">
    <div class="block">
        <h1>Exhibits</h1>

        <h2>Worlds of ZZT</h2>
        &bull; <a href="{% url 'closer_looks' %}">Closer Looks</a><br>
        &bull; <a href="{% url 'livestreams' %}">Livestreams</a><br>
        &bull; <a href="https://github.com/DrDos0016/zookeeper" target="_blank">Zookeeper</a><br>

        <h2>Directories</h2>
        &bull; <a href="{% url 'article_directory' %}">Articles</a><br>
        &bull; <a href="{% url 'directory' 'author' %}">Authors</a><br>
        &bull; <a href="{% url 'directory' 'company' %}">Companies</a><br>
        &bull; <a href="{% url 'directory' 'genre' %}">Genres</a><br>

        <h2>Playing</h2>
        &bull; <a href="{% url 'zeta' %}">Using ZZT with Zeta</a><br>
        &bull; <a href="{% url 'zzt_dosbox' %}">Using ZZT with DOSBox</a><br>
        &bull; <a href="{% url 'article_directory' 'walkthrough' %}">Walkthroughs</a><br>
        &bull; <a href="{% url 'zzt_cheats' %}">ZZT Cheats</a><br>

        <h2>Editing</h2>
        &bull; <a href="{% url 'ascii' %}">ASCII Characters</a><br>
        &bull; <a href="{% url 'local_file' %}">Local File Viewer</a><br>

        <h2>Historical</h2>
        &bull; <a href="{% url 'lost_worlds' %}">Lost Worlds</a><br>
        &bull; <a href="http://zzt.org" target="_blank">z2 ZZT Archive</a><br>
        &bull; <a href="{% url 'comic_index' %}">ZZT Comics Archive</a><br>
    </div>

    <div class="block">
        <h1>Worlds of ZZT</h1>
        <div id="social">
            <a href="https://twitter.com/worldsofzzt" target="_blank"><img src="{% static 'images/social/Twitter_Social_Icon_Rounded_Square_Color.png' %}" alt="Twitter" title="Twitter"></a>
            <a href="https://discordapp.com/invite/Nar4Upf"><img src="{% static 'images/social/Discord-Logo-Color.png' %}" alt="Discord" title="Worlds of ZZT Discord"></a>
            <a href="https://patreon.com/worldsofzzt" target="_blank"><img src="{% static 'images/social/patreon_logo.png' %}" alt="Patreon" title="Patreon"></a>
            <a href="https://www.youtube.com/channel/UCr0f-r1bRexAZK8sWyk4NJA" target="_blank"><img src="{% static 'images/social/YouTube-social-squircle_red_24px.png' %}" alt="YouTube" title="YouTube"></a>
            <a href="https://twitch.tv/worldsofzzt" target="_blank"><img src="{% static 'images/social/Glitch_Purple_RGB.png' %}" alt="Twitch" title="Twitch"></a>
            <a href="https://github.com/DrDos0016/z2" target="_blank"><img src="{% static 'images/social/GitHub-Mark-32px.png' %}" alt="GitHub" title="GitHub"></a>
        </div>

        <div id="policies">
            <h2>Policies</h2>
            &bull; <a href="{% url 'correction_policy' %}">Correction Policy</a><br>
            &bull; <a href="{% url 'data_integrity' %}">Data Integrity</a><br>
            &bull; <a href="{% url 'removal_policy' %}">Removal Policy</a><br>
            &bull; <a href="{% url 'review_policy' %}">Review Policy</a><br>
            &bull; <a href="{% url 'credits' %}">Site Credits</a><br>
            &bull; <a href="{% url 'upload_policy' %}">Upload Policy</a><br>
        </div>

        <div id="patreon-links">
            <h2>Patron Exclusives</h2>
            &bull; $1+ <a href="{% url 'poll_index' %}">Closer Look Poll</a><br>
            &bull; $2+ <a href="{% url 'patron_articles' %}">Early Articles</a><br>
            &bull; $5+ <a href="https://beta.museumofzzt.com">Private Beta</a><br>
        </div>
    </div>
</section>

<footer id="footer">
    - Museum of ZZT -
{% if drupe %}Happy Drupe Day! -{% endif %}
<br>
&copy; 2015-{{datetime.year}} <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a><br>
Additional content copyright its  <a href="{% url 'credits' %}">respective owners</a>
<br>
{% if debug %}
<div class="debug">
<textarea style="width:100ch;height:50px;">
Domain: {{DOMAIN}}
Absolute URI: {{request.build_absolute_uri}}
HTTP_HOST: {{request.META.HTTP_HOST}} | Host: {{HOST}} | Env: {{ENV}}
</textarea><br>
View this page on: <a href="https://beta.museumofzzt.com{{request.path}}" target="_blank">BETA</a> <a href="https://museumofzzt.com{{request.path}}" target="_blank">LIVE</a>
</div>
{% endif %}
{% if user.is_staff %}
<a id="showdebug" class="jsLink">TOGGLE DEBUG CLASS</a>
<script>
$("#showdebug").click(function (){
    $(".debug").toggle();
});
</script>
{% endif %}
</footer>

</body>
</html>
