{% load static %}
{% load site_tags %}
{% load zzt_tags %}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{{title}}{% endblock %}{% if title %} - {% endif %}Museum of ZZT</title>
{% for file in CSS_INCLUDES %}<link rel="stylesheet" type="text/css" href="{% static 'css/'|add:file %}?{{BOOT_TS}}">{% endfor %}
<link rel="shortcut icon" href="{% static 'chrome/favicon.png' %}">
{% block meta %}{% meta_tags path=request.get_full_path %}{% endblock %}
{% block analytics %}
{% if request.get_host == "museumofzzt.com" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45185267-6', 'auto');
  ga('send', 'pageview');

</script>
{% else %}<!--N/A-->{% endif %}
{% endblock %}
<script src="/static/js/jquery.3.1.0.min.js"></script>
<script src="{% static 'js/museum.js' %}?{{BOOT_TS}}"></script>
{% block scripts %}{% endblock %}
{% block style %}{% endblock %}
</head>

<body class="grid-root" id="top">
<nav id="low-res-shortcuts" class="cp437">
    <a href="#top-links" class="nohover">▼ Navigation ▼</a>
</nav>

<section id="sidebar-left" class="sidebar">
    <header id="logo-area">
        <a href="/" id="logo"><img src="{% static 'chrome/logos/museum-logo-by-lazymoth.png' %}" alt="Museum of ZZT Logo by LazyMoth"></a>
    </header>

    <div id="featured" class="block c">
        <h1 class="l">Featured World</h1>
        {{fg.as_gallery_block}}
        <a href="{% url 'featured_games' %}">View All Featured Worlds</a>
    </div>

    <div id="worlds-block" class="block l">
        <h1>ZZT Worlds</h1>
        <div id="letters" class="c cp437">
            <a href="{% url 'browse_letter' '1'%}">#</a>{% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <a href="{% url 'browse_letter' l|lower %}">{{l}}</a>{% endfor %}
        </div>
        <div id="letters-select">
            <select id="letter-select">
                <option value="">By Letter</option>
                <option value="1">#</option>{% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                <option value="{{l}}">{{l}}</option>{% endfor %}
            </select>
            <input id="letter-button" type="button" value="Go">
        </div>

        <div class="world-special">
            <a href="{% url 'mass_downloads' %}">Mass Downloads</a>
            <a href="{% url 'new_files' %}">New Additions</a>
            <a href="{% url 'random' %}">Random ZZT World</a>
            <a href="{% url 'roulette' %}">Roulette</a>
            <a href="{% url 'uploaded_worlds' %}">Upload Queue ({{request.session.FILES_IN_QUEUE}})</a>
        </div>

        <form method="GET" action="{% url 'search' %}">
        <div id="search-form">
            <input name="q" value="{{q}}" list="search-suggestions" autocomplete="off"><div class="low-res-break"></div>
            <input id="search-button" type="submit" value="Search">
        </div>
        </form>

        <div class="advanced-search">
            <a href="{% url 'advanced_search' %}">Advanced Search</a>
        </div>
    </div>

    <div id="downloads-block" class="block">
        <h1>Downloads</h1>
        <a href="{% url 'zzt_dl' %}">ZZT</a>
        <a href="http://zeta.asie.pl/" target="_blank">Zeta</a>
        <a href="https://github.com/cknave/kevedit" target="_blank">KevEdit</a>
        <a href="https://zedit2.skyend.net/" target="_blank">zedit2</a>
        <a href="https://github.com/asiekierka/reconstruction-of-zzt" target="_blank">The Reconstruction of ZZT</a>
        <a href="{% url 'clones' %}">ZZT Clones</a>
        <a href="{% url 'szzt_worlds' %}">Super ZZT Worlds</a>
        <a href="{% url 'utilities' %}">External Utilities</a>
        <a href="{% url 'zig_worlds' %}">ZIG Worlds</a>
        <a href="{% url 'zzm_audio' %}">ZZM Audio</a>
    </div>
</section>

{% block content %}
<main id="content">
</main>
{% endblock %}

<section id="sidebar-right" class="sidebar">
    <nav id="top-links" class="cp437">
        <a id="top-link-div" class="nav-link nohover" href="#top"><div class="text">Top of page</div></a>
        <a href="{% url 'about_zzt' %}" class="nav-link nohover"><div class="key">A</div><div class="text">About<span class="optional"> ZZT</span></div></a>
        <a href="{% url 'upload' %}" class="nav-link nohover"><div class="key">U</div><div class="text">Upload</div></a>
        <a href="{% url 'support' %}" class="nav-link nohover"><div class="key">S</div><div class="text">Support</div></a>
        <a href="/discord" class="nav-link nohover"><div class="key">D</div><div class="text">Discord</div></a>
        <a href="http://zzt.org/fora" class="nav-link nohover"><div class="key">Z</div><div class="text"><span class="optional"> z2 </span>Forums</div></a>
        {% if user.is_authenticated %}<a href="{% url 'my_profile' %}" class="nav-link nohover" title="Logged in as: {{user.username}}"><div class="key">{% char user.profile.char user.profile.fg user.profile.bg scale=2 %}</div><div class="text">Profile</div></a>{% else %}
        <a href="{% url 'login_user' %}" class="nav-link nohover"><div class="key">{% char 1 "black" "transparent" %}</div><div class="text">Account</div></a>{% endif %}
        {% if user.is_staff %}
        <a href="{% url 'tool_index' %}" class="nav-link nohover"><div class="key">T</div><div class="text">Tools</div></a>
        {% endif %}
    </nav>

    <div class="block">
        <h1>Exhibits</h1>

        <h2>Worlds of ZZT</h2>
        <a href="{% url 'article_category' 'closer-look' %}">Closer Looks</a>
        <a href="{% url 'article_category' 'livestream' %}">Livestreams</a>
        <a href="{% url 'article_category' 'publication-pack' %}">Publication Packs</a>
        <a href="https://github.com/DrDos0016/zookeeper" target="_blank">Zookeeper</a>

        <h2>Directories</h2>
        <a href="{% url 'article_directory' %}">Article Directory</a>
        <a href="{% url 'directory' 'author' %}">Author Directory</a>
        <a href="{% url 'directory' 'company' %}">Company Directory</a>
        <a href="{% url 'directory' 'genre' %}">Genre Directory</a>
        <a href="{% url 'review_directory' %}">Review Directory</a>

        <h2>Articles</h2>
        <a href="{% url 'article_categories' %}">Articles By Category</a>
        <a href="{% url 'series_directory' %}">Articles By Series</a>
        <a href="{% url 'article_search' %}">Search Articles</a>

        <h2>Playing</h2>
        <a href="{% url 'zeta' %}">Using ZZT with Zeta</a>
        <a href="{% url 'article_category' 'walkthrough' %}">Walkthroughs</a>
        <a href="{% url 'zzt_cheats' %}">ZZT Cheats</a>

        <h2>Editing</h2>
        <a href="{% url 'ascii' %}">ASCII Characters</a>
        <a href="{% url 'local_file' %}">Local File Viewer</a>

        <h2>Historical</h2>
        <a href="http://zzt.org" target="_blank">z2 ZZT Archive</a>
        <a href="{% url 'comic_index' %}">ZZT Comics Archive</a>
    </div>

    <div id="wozzt-block" class="block">
        <h1>Worlds of ZZT</h1>
        <div id="social">
            <a class="inline nohover" href="https://twitter.com/worldsofzzt" target="_blank"><img src="{% static 'icons/Twitter_Social_Icon_Rounded_Square_Color.png' %}" alt="Twitter" title="Twitter"></a>
            <a class="inline nohover" href="{% url 'discord_invite' %}" target="_blank"><img src="{% static 'icons/Discord-Logo-Color.png' %}" alt="Discord" title="Worlds of ZZT Discord"></a>
            <a class="inline nohover" href="https://patreon.com/worldsofzzt" target="_blank"><img src="{% static 'icons/patreon_logo.png' %}" alt="Patreon" title="Patreon"></a>
            <a class="inline nohover" href="https://www.youtube.com/c/WorldsofZZT" target="_blank"><img src="{% static 'icons/YouTube-social-squircle_red_24px.png' %}" alt="YouTube" title="YouTube"></a>
            <a class="inline nohover" href="https://twitch.tv/worldsofzzt" target="_blank"><img src="{% static 'icons/Glitch_Purple_RGB.png' %}" alt="Twitch" title="Twitch"></a>
            <a class="inline nohover" href="https://github.com/DrDos0016/museum-of-zzt" target="_blank"><img src="{% static 'icons/GitHub-Mark-32px.png' %}" alt="GitHub" title="GitHub"></a>
            <a class="inline nohover" href="{% url 'rss_feeds' %}"><img src="{% static 'icons/rss-large.png' %}" alt="RSS Feeds" title="RSS Feeds"></a>
        </div>

        <div id="policies">
            <h2>Policies</h2>
            <a href="{% url 'correction_policy' %}">Correction Policy</a>
            <a href="{% url 'data_integrity' %}">Data Integrity</a>
            <a href="{% url 'removal_policy' %}">Removal Policy</a>
            <a href="{% url 'review_policy' %}">Review Policy</a>
            <a href="{% url 'credits' %}">Site Credits</a>
            <a href="{% url 'upload_policy' %}">Upload Policy</a>
        </div>

        <div id="patreon-links">
            <h2>Patron Exclusives</h2>
            <a href="{% url 'poll_index' %}">$1+ Closer Look Poll</a>
            <a href="{% url 'patron_articles' %}">$2+ Early Articles</a>
            <a href="https://beta.museumofzzt.com">$5+ Private Beta</a>
        </div>
    </div>
</section>

<footer id="footer">
    - Museum of ZZT -
{% if drupe %}Happy Drupe Day! -{% endif %}
<br>
&copy; 2015-{{datetime.year}} <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a><br>
Additional content copyright its  <a href="{% url 'credits' %}">respective owners</a><br>
Server Time: {{datetime}}<br>
<a href="{% url 'my_profile' %}">View my data</a><br>
{% if debug %}
<div class="debug">
Device Resolution: <span id="debug-res"></span><br>
Page Dimensions: <span id="debug-view"></span><br>
<textarea style="width:100ch;height:50px;max-width:90vw;margin:auto;">
Domain: {{DOMAIN}}
Absolute URI: {{request.build_absolute_uri}}
HTTP_HOST: {{request.META.HTTP_HOST}} | Host: {{HOST}} | Env: {{ENV}}
</textarea><br>
View this page on: <a href="https://beta.museumofzzt.com{{request.path}}" target="_blank">BETA</a> <a href="https://museumofzzt.com{{request.path}}" target="_blank">LIVE</a>
<br>
<table id="meta-tags" class="data-table" style="max-width:800px;margin:auto;background:#FFF;">
</table>
</div>

<script>
$("#debug-res").text($(window).width() + "x" + $(window).height());
$("#debug-view").text($("body").width() + "x" + $("body").height());
</script>
{% endif %}
{% if user.is_staff %}
<a id="showdebug" class="jsLink">TOGGLE DEBUG CLASS</a><br>
<script>
$("#showdebug").click(function (){
    $(".debug").toggle();
});

$("meta").each(function (){
    var key = $(this).attr("name");
    if (! key)
        key = $(this).attr("property");

    var val = $(this).attr("content");
    var row = `<tr><th>${key}</th><td class="l">${val}</td></tr>`;
    $("#meta-tags").html($("#meta-tags").html() + row);
});
</script>
{% endif %}
</footer>

<datalist id="search-suggestions">
</datalist>

</body>
</html>
