{% load static %}
{% load site_tags %}
{% load zzt_tags %}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if title %}{{title}} - {% endif %}Museum of ZZT</title>
{% for file in CSS_INCLUDES %}<link rel="stylesheet" type="text/css" href="{% static 'css/'|add:file %}?{{BOOT_TS}}">
{% endfor %}<link rel="shortcut icon" href="{% static 'chrome/favicon.png' %}">
{% block meta %}{% meta_tags path=request.get_full_path %}{% endblock %}
{% block analytics %}
{% if request.get_host == "museumofzzt.com" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45185267-6', 'auto');
  ga('send', 'pageview');

</script>
{% else %}<!--N/A-->{% endif %}
{% endblock %}
<script src="{% static 'js/jquery.3.1.0.min.js' %}"></script>
<script src="{% static 'js/museum.js' %}?{{BOOT_TS}}"></script>
{% block scripts %}{% endblock %}
{% block staff_scripts %}{% endblock %}
{% block style %}{% endblock %}
{% block staff_style %}{% endblock %}
</head>

<body class="grid-root{% if april %} april{% endif %}{% if request.session.theme %} theme-{{request.session.theme}}{% endif %}{% if request.session.sidebars == 'hide' %} expanded{% endif %}" {% if request.session.active_tool %}data-active-tool="true"{% endif %} id="top">

<nav id="low-res-shortcuts" class="cp437">
    <input type="button" id="left-hamburger" value="Archives" class="hamburger-menu-button ega-white" data-state="closed" data-target="#sidebar-left">
    <a href="{% url 'index' %}"><img src="{% static 'chrome/logos/museum-tiger-by-lazymoth-48px.png' %}" alt="Museum of ZZT Logo by LazyMoth"></a>
    {% if user.is_authenticated and not forced_logout %}<a href="{% url 'my_profile' %}" title="Logged in as: {{user.username}}"><div class="key">{% char user.profile.char user.profile.fg user.profile.bg scale=3 %}</div></a>{% endif %}
    <input type="button" id="right-hamburger" value="Exhibits" class="hamburger-menu-button ega-white" data-state="closed" data-target="#sidebar-right">
</nav>

{% block active_tool %}{% if request.session.active_tool %}<section id="active-tool">{% include request.session.active_tool_template %}</section>{% endif %}{% endblock %}

{% block sidebar_left %}
<section id="sidebar-left" class="sidebar">
    <header id="logo-area">
        <a href="{% url 'index' %}" id="logo"><img src="{% static logo_path %}" alt="Museum of ZZT Logo by LazyMoth"></a>
    </header>

    <div id="featured-block" class="block">
        <h2>Featured World️</h2>
        {% model_block fg "gallery" %}
    </div>

    <div id="archives-block" class="block">
        <h2>File Archives</h2>
        <div id="letters" class="c cp437">
            <a href="{% url 'zfile_browse_letter' '1'%}">#</a>{% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <a href="{% url 'zfile_browse_letter' l|lower %}">{{l}}</a>{% endfor %}
        </div>
        <div id="letters-select">
            <select id="letter-select">
                <option value="">By Letter</option>
                {% for l in "1ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                <option value="{% url 'zfile_browse_letter' l %}">{{l}}</option>{% endfor %}
            </select>
            <input id="letter-button" type="button" value="Go">
        </div>
        <div class="world-special">
            <a href="{% url 'zfile_browse' %}">All Files</a>
            <a href="{% url 'collection_browse' %}">Collections</a>
            <a href="{% url 'zfile_browse_field' 'detail' 'featured-world' %}" id="fp-fw-link">Featured Worlds</a>
            <a href="{% url 'zfile_mass_downloads' %}">Mass Downloads</a>
            <a href="{% url 'zfile_browse_new_finds' %}">New Finds</a>
            <a href="{% url 'zfile_browse_new_releases' %}">New Releases</a>
            <a href="{% url 'zfile_random' %}">Random ZZT World</a>
            <a href="{% url 'zfile_roulette' %}">Roulette</a>
            <a href="{% url 'uploaded_worlds' %}">Upload Queue ({{UPLOAD_QUEUE_SIZE}})</a>
        </div>
        <form method="GET" action="{% url 'zfile_search' %}" id="search-form" title="Search by Title/Author/Genre/Filename">
            <input name="q" value="{{request.GET.q|default:''}}" list="search-suggestions" autocomplete="off" placeholder="Title/Author/Genre/Filename"  data-click-select>
            <input id="search-button" type="submit" value="Search">
        </form>
        <div class="advanced-search">
            <a href="{% url 'zfile_search' %}">Advanced Search</a>
        </div>
    </div>

    <div id="essentials-block" class="block">
        <h2>Essentials</h2>
        <a href="{% url 'zzt_dl' %}">ZZT</a>
        <a href="http://zeta.asie.pl/" target="_blank">Zeta</a>
        <a href="https://meangirls.itch.io/weave-3" target="_blank">Weave</a>
        <a href="https://github.com/cknave/kevedit" target="_blank">KevEdit</a>
        <a href="https://zedit2.skyend.net/" target="_blank">zedit2</a>
        <a href="https://github.com/asiekierka/reconstruction-of-zzt" target="_blank">The Reconstruction of ZZT</a>
        <a href="https://github.com/DrDos0016/zookeeper" target="_blank">Zookeeper</a>
    </div>

    <div id="specialty-block" class="block">
        <h2>Specialty Archives</h2>
        <a href="{% url 'zfile_browse_field' 'detail' 'weave-zzt-world' %}">Weave ZZT Worlds</a>
        <a href="{% url 'zfile_browse_field' 'detail' 'super-zzt-world' %}">Super ZZT Worlds</a>
        <a href="{% url 'zfile_browse_field' 'detail' 'utility' %}">External Utilities</a>
        <a href="{% url 'zfile_browse_field' 'detail' 'zig-world' %}">ZIG Worlds</a>
        <a href="{% url 'zfile_browse_field' 'detail' 'zzm-audio' %}">ZZM Audio</a>
        <a href="{% url 'detail_browse' %}">All Details</a>
    </div>
</section>
{% endblock %}

<main id="content" class="block{% for class in content_classes %} {{class}}{% endfor %}" data-url-name="{{request.resolver_match.url_name|default:'null_url_name'}}">
<div id="top-margin">
    <button id="toggle-light-dark-theme" title="Toggle Light/Dark Theme">¥</button>
    {% block top_margin_middle %}{% endblock %}
    <button id="expand-contract" title="Toggle sidebars">⮜ ⮞</button>
</div>
{% block zfile_header %}
{% if file %}
    {% if not local %}{% model_block file "header" zgames=zgames %}
    {% else %}<h1>Local File Viewer - <input type="file" id="local-file-path"> <button id="local-load">Load File</button></h1>
    {% endif %}

{% endif %}
{% endblock zfile_header %}
{% block content %}
{% endblock %}
</main>

{% block sidebar_right %}
<section id="sidebar-right" class="sidebar">
    <nav id="blue-block" class="cp437">
        <a href="{% url 'about_zzt' %}" class="nohover"><div class="key">A</div><div class="text">About ZZT</div></a>
        <a href="{% url 'upload' %}" class="nohover"><div class="key">U</div><div class="text">Upload</div></a>
        <a href="{% url 'support' %}" class="nohover"><div class="key">S</div><div class="text">Support</div></a>
        <a href="{% url 'discord' %}" class="nohover"><div class="key">D</div><div class="text">Discord</div></a>
        <a href="http://zzt.org/fora" class="nohover"><div class="key">Z</div><div class="text">z2 Forums</div></a>
        {% if user.is_authenticated and not forced_logout %}<a href="{% url 'my_profile' %}" class="nohover" title="Logged in as: {{user.username}}"><div class="key">{% char user.profile.char user.profile.fg user.profile.bg scale=2 %}</div><div class="text">Profile</div></a>{% else %}
        <a href="{% url 'login_user' %}" class="nohover"><div class="key">{% char 1 "black" "transparent" %}</div><div class="text">Account</div></a>{% endif %}
        {% if user.is_staff %}
        <a href="{% url 'tool_index' %}" class="nohover"><div class="key">T</div><div class="text">Tools</div></a>
        {% endif %}
    </nav>

    <div id="exibits-block" class="block">
        <h2>Exhibits</h2>

        <h3>Worlds of ZZT</h3>
        <a href="{% url 'article_browse_category' 'closer-look' %}">Closer Looks</a>
        <a href="{% url 'article_browse_category' 'livestream' %}">Livestream VODs</a>
        <a href="{% url 'article_browse_category' 'publication-pack' %}">Publication Packs</a>
        <a href="{% url 'stream_schedule' %}">Stream Schedule</a>

        <h3>Articles</h3>
        <a href="{% url 'article_browse_categories' %}">Articles By Category</a>
        <a href="{% url 'article_browse' %}">Article Directory</a>
        <a href="{% url 'series_browse' %}">Articles By Series</a>
        <a href="{% url 'article_search' %}">Search Articles</a>

        <h3>Feedback</h3>
        <a href="{% url 'review_browse' %}">Feedback Directory</a>
        <a href="{% url 'review_browse_authors' %}">Feedback Author Directory</a>
        <a href="{% url 'review_search' %}">Search Feedback</a>

        <h3>Directories</h3>
        <a href="{% url 'directory' 'author' %}">Author Directory</a>
        <a href="{% url 'directory' 'company' %}">Company Directory</a>
        <a href="{% url 'directory' 'genre' %}">Genre Directory</a>

        <h3>Playing ZZT Worlds</h3>
        <a href="{% url 'zeta' %}">Using ZZT with Zeta</a>
        <a href="{% url 'article_browse_category' 'walkthrough' %}">Walkthroughs</a>
        <a href="{% url 'zzt_cheats' %}">ZZT Cheats</a>

        <h3>Editing ZZT Worlds</h3>
        <a href="{% url 'ascii' %}">ASCII Characters</a>
        <a href="{% url 'zfile_view_local' %}">Local File Viewer</a>

        <h3>Historical</h3>
        <a href="http://zzt.org" target="_blank">z2 ZZT Archive</a>
        <a href="{% url 'clones' %}">ZZT Clones</a>
        <a href="{% url 'comic_index' %}">ZZT Comics Archive</a>

        <h3>Patron Exclusives</h3>
        <a href="{% url 'poll_index' %}">$1+ Closer Look Poll</a>
        <a href="{% url 'patron_articles' %}">$2+ Early Articles</a>
        <a href="https://beta.museumofzzt.com">$5+ Private Beta</a>

        <h3>Just For Fun</h3>
        <a href="{% url 'scroll_browse' %}">Scrolls of ZZT</a>
        <a href="{% url 'worlds_of_zzt' %}">Worlds of ZZT Queue</a>
        <a href="{% url 'beyond_worlds' %}">Beyond Worlds Streams</a>

        <h3>Policies</h3>
        <a href="{% url 'policy' 'correction' %}">Correction Policy</a>
        <a href="{% url 'policy' 'data-integrity' %}">Data Integrity</a>
        <a href="{% url 'policy' 'removal' %}">Removal Policy</a>
        <a href="{% url 'policy' 'review' %}">Feedback Policy</a>
        <a href="{% url 'policy' 'upload' %}">Upload Policy</a>

        <h3>Credits</h3>
        <a href="{% url 'credits' %}">Museum of ZZT Credits</a>
    </div>

    <div id="social-block" class="block">
        <a href="https://bsky.app/profile/worldsofzzt.bsky.social" target="_blank"><img src="{% static 'icons/bsky.svg' %}" alt="Bluesky" title="Bluesky"></a>
        <a href="https://twitter.com/worldsofzzt" target="_blank"><img src="{% static 'icons/Twitter_Social_Icon_Rounded_Square_Color.png' %}" alt="Twitter" title="Twitter"></a>
        <a rel="me" href="https://mastodon.social/@worldsofzzt" target="_blank"><img src="{% static 'icons/mastodon-logo.svg' %}" alt="Mastodon" title="Mastodon"></a>
        <a href="https://worldsofzzt.tumblr.com" target="_blank"><img src="{% static 'icons/tumblr.png' %}" alt="Tumblr" title="Tumblr"></a>
        <a href="{% url 'discord' %}"><img src="{% static 'icons/Discord-Logo-Color.png' %}" alt="Discord" title="Worlds of ZZT Discord"></a>
        <div class="flex-break"></div>
        <a href="https://patreon.com/worldsofzzt" target="_blank"><img src="{% static 'icons/patreon_logo.png' %}" alt="Patreon" title="Patreon"></a>
        <a href="https://www.youtube.com/c/WorldsofZZT" target="_blank"><img src="{% static 'icons/YouTube-social-squircle_red_24px.png' %}" alt="YouTube" title="YouTube"></a>
        <a href="https://twitch.tv/worldsofzzt" target="_blank"><img src="{% static 'icons/Glitch_Purple_RGB.png' %}" alt="Twitch" title="Twitch"></a>
        <a href="https://github.com/DrDos0016/museum-of-zzt" target="_blank"><img src="{% static 'icons/GitHub-Mark-32px.png' %}" alt="GitHub" title="GitHub"></a>
        <a href="{% url 'rss' %}"><img src="{% static 'icons/rss-large.png' %}" alt="RSS Feeds" title="RSS Feeds"></a>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer id="footer">
    - Museum of ZZT -
{% if drupe %}Happy Drupe Day! -{% endif %}
<br>
&copy; 2015-{{datetime.year}} <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a><br>
Additional content copyright its  <a href="{% url 'credits' %}">respective owners</a><br>
Server Time: {{datetime}}<br>
<a href="{% url 'my_profile' %}">View my data</a><br>
{% if debug %}
<div id="debug-block" class="debug block" style="font-size:10pt;background:var(--ega-red);">
Device Resolution: <span id="debug-res"></span><br>
Page Dimensions: <span id="debug-view"></span><br>
<textarea style="width:95%;margin:auto;">
URL Name: "{{resolved_url.url_name}}" Path: {{request.path}}
Domain: {{DOMAIN}}
Absolute URI: {{request.build_absolute_uri}}
HTTP_HOST: {{request.META.HTTP_HOST}} | Host: {{HOST}} | Env: {{ENV}}
</textarea><br>
View this page on: <a href="https://beta.museumofzzt.com{{request.path}}" target="_blank">BETA</a> <a href="https://museumofzzt.com{{request.path}}" target="_blank">LIVE</a>
<br>

<table id="meta-tags" class="data-table" style="max-width:800px;margin:auto;background:#FFF;font-size:10pt;">
</table>
</div>

<script>
$("#debug-res").text($(window).width() + "x" + $(window).height());
$("#debug-view").text($("body").width() + "x" + $("body").height());
</script>
{% endif %}
{% if user.is_staff %}
<a id="showdebug" class="jsLink">TOGGLE DEBUG CLASS</a><br>
<script>
$("#showdebug").click(function (){
    $(".debug").toggle();
});

$("meta").each(function (){
    var key = $(this).attr("name");
    if (! key)
        key = $(this).attr("property");
    else if (key.indexOf("twitter") == 0)
        key = "t:" + key.split(":")[1];

    var val = $(this).attr("content");

    if (key == "og:image")
        var row = `<tr><th>${key}</th><td class="l">${val}</td><td rowspan="9" id="debug-embed-image-preview"><img src="${val}"></td></tr>`;
    else
        var row = `<tr><th>${key}</th><td class="l">${val}</td></tr>`;
    $("#meta-tags").html($("#meta-tags").html() + row);
});
</script>
{% endif %}
</footer>
{% endblock %}

<datalist id="search-suggestions">
</datalist>

{% if april %}{% include "museum_site/subtemplate/april.html" %}{% endif %}
</body>
</html>
