{% extends "museum_site/main.html" %}

{% block style %}
<style>
.mass-dl-table
{
    width:auto;
    margin:auto;
    border:0;
}

.table-wrapper
{
    margin:0.5em;
}
</style>
{% endblock %}

{% block content %}
<h1>Mass Downloads</h1>
<p>By today's standards, ZZT's worlds are incredibly small downloads. A complete collection of all files hosted on the Museum of ZZT is in the 300 MB range when compressed.</p>

<p>Because of their small size, automatically updated bulk downloads are made available to download. Due to potential collisions with file names (as well as issues with ZZT only being capable of listing 1024 worlds), they have been split up by release year for ZZT worlds and by file type for non-ZZT files.</p>

<p>Note that since these downloads consist of nothing more than a zip file filled with dozens of zip files you may wind up downloading plenty of duplicate copies of executables, fonts, or other content.</p>

<div class="flex-container flex-wrap" style="justify-content:center;">
{% for col in columns %}
<div class="table-wrapper">
    <table class="mass-dl-table">
    <tr>
        <th>Files</th>
        <th>Zips</th>
        <th>Size</th>
        <th>Updated</th>
    </tr>
    {% for row in col %}
    <tr>
        <td><a href="/zgames/mass/{{row.zip}}">{{row.label}}</a></td>
        <td>{{row.count}}</td>
        <td>{{row.size|filesizeformat}}</td>
        <td>{{row.updated}}</td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}
</div>
{% endblock %}
