{% extends "museum_site/main.html" %}
{% load staticfiles %}

{% block scripts %}
<script>
$(document).ready(function() {
    $.ajax({
        url: "/static/data/mass_dl.json",
        dataType: "json",
        }
    ).done(function (data)
    {
        console.log(data);

        for (key in data)
        {
            console.log(data[key]);
            $("tr[name="+key+"] td[name=zips]").text(data[key]["file_count"]);
            $("tr[name="+key+"] td[name=updated]").text(data[key]["date"].slice(0,10));
        }
    }
);
});
</script>
{% endblock %}

{% block style %}
<style>
.mass-dl-table
{
    width:auto;
    display:inline-block;
    vertical-align:top;
    margin:auto;
    border:0;
}

.mass-dl-table td:first-child
{
    width:60%;
}

td[name=zips]
{
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Mass Downloads</h1>
<p>By today's standards, ZZT's worlds are incredibly small downloads.
A complete collection of all files hosted on the Museum of ZZT isn't that much larger than 100 MB.</p>

<p>Because of their small size, automatically updated bulk downloads are made available to download.
Due to potential collisions with file names (as well as issues with ZZT trying to load a list of hundreds of worlds),
they have been split up by release year for ZZT worlds and by file type for non-ZZT files.</p>

<p>Note that since these downloads consist of nothing more than a zip file filled with dozens of zip files you may wind up downloading
plenty of duplicate copies of executables, fonts, or other content.</p>

<table class="mass-dl-table">
<tr>
    <th>File</th>
    <th>Zips</th>
    <th>Updated</th>
</tr>
<tr name="zzt_worlds_UNKNOWN">
    <td><a href="/zgames/mass/zzt_worlds_UNKNOWN.zip">ZZT Worlds - Unknown</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1991">
    <td><a href="/zgames/mass/zzt_worlds_1991.zip">ZZT Worlds - 1991</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1992">
    <td><a href="/zgames/mass/zzt_worlds_1992.zip">ZZT Worlds - 1992</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1993">
    <td><a href="/zgames/mass/zzt_worlds_1993.zip">ZZT Worlds - 1993</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1994">
    <td><a href="/zgames/mass/zzt_worlds_1994.zip">ZZT Worlds - 1994</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1995">
    <td><a href="/zgames/mass/zzt_worlds_1995.zip">ZZT Worlds - 1995</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1996">
    <td><a href="/zgames/mass/zzt_worlds_1996.zip">ZZT Worlds - 1996</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1997">
    <td><a href="/zgames/mass/zzt_worlds_1997.zip">ZZT Worlds - 1997</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1998">
    <td><a href="/zgames/mass/zzt_worlds_1998.zip">ZZT Worlds - 1998</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_1999">
    <td><a href="/zgames/mass/zzt_worlds_1999.zip">ZZT Worlds - 1999</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
</table>

<table class="mass-dl-table">
<tr>
    <th>File</th>
    <th>Zips</th>
    <th>Updated</th>
</tr>
<tr name="zzt_worlds_2000">
    <td><a href="/zgames/mass/zzt_worlds_2000.zip">ZZT Worlds - 2000</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2001">
    <td><a href="/zgames/mass/zzt_worlds_2001.zip">ZZT Worlds - 2001</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2002">
    <td><a href="/zgames/mass/zzt_worlds_2002.zip">ZZT Worlds - 2002</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2003">
    <td><a href="/zgames/mass/zzt_worlds_2003.zip">ZZT Worlds - 2003</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2004">
    <td><a href="/zgames/mass/zzt_worlds_2004.zip">ZZT Worlds - 2004</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2005">
    <td><a href="/zgames/mass/zzt_worlds_2005.zip">ZZT Worlds - 2005</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2006">
    <td><a href="/zgames/mass/zzt_worlds_2006.zip">ZZT Worlds - 2006</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2007">
    <td><a href="/zgames/mass/zzt_worlds_2007.zip">ZZT Worlds - 2007</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2008">
    <td><a href="/zgames/mass/zzt_worlds_2008.zip">ZZT Worlds - 2008</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2009">
    <td><a href="/zgames/mass/zzt_worlds_2009.zip">ZZT Worlds - 2009</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
</table>

<table class="mass-dl-table">
<tr>
    <th>File</th>
    <th>Zips</th>
    <th>Updated</th>
</tr>
<tr name="zzt_worlds_2010-2019">
    <td><a href="/zgames/mass/zzt_worlds_2010-2019.zip">ZZT Worlds - 2010-2019</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zzt_worlds_2020-2029">
    <td><a href="/zgames/mass/zzt_worlds_2010-2019.zip">ZZT Worlds - 2020-2029</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="szzt_worlds">
    <td><a href="/zgames/mass/szzt_worlds.zip">Super ZZT Worlds</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="zig_worlds">
    <td><a href="/zgames/mass/zig_worlds.zip">ZIG Worlds</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
<tr name="utilities">
    <td><a href="/zgames/mass/utilities.zip">Utilities</a></td>
    <td name="zips"></td>
    <td name="updated"></td>
</tr>
</table>

</section>
{% endblock %}
