{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_forms.css' %}?{{BOOT_TS}}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/upload.js' %}?{{BOOT_TS}}"></script>
<script src="{% static 'js/jszip.min.js' %}?{{BOOT_TS}}"></script>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Upload File</h1>

<form method="POST" enctype="multipart/form-data">
<h2 class="cut-heading">File Information<div class="fr cut-state">➖</div></h2>
<div class="cut-wrapper cut-open">
{% csrf_token %}
{% for field in zgame_form %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}">
    {{field.label_tag}}
    <div class="field-value">
        {% if field.id_for_label == "id_title" %}
        <div class="chars-remaining" data-field="{{field.id_for_label}}"><span id="{{field.id_for_label}}-remaining" data-max="{{field.field.max_length}}">{{field.field.max_length}}</span> characters remaining</div>
        {% endif %}
        {% if field.id_for_label == "id_zfile" %}
        <div class="size-limit">Your maximum upload size: <b title="{{user.profile.max_upload_size}} bytes">{{user.profile.max_upload_size|filesizeformat}}</b></div>
        {% endif %}
        {{field|safe}}
        {% if field.id_for_label == "id_release_date" %}
        <input name="today" value="Today" type="button">
        {% endif %}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
    {{field.errors}}
</div>
{% endfor %}
</div>
<hr>

<h2 class="cut-heading">Play Online Settings<div class="fr cut-state">➕</div></h2>
<div class="cut-wrapper cut-closed">
{% for field in play_form %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}">
    {{field.errors}}
    {{field.label_tag}}
    <div class="field-value">
        {{field}}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
</div>
{% endfor %}
</div>
<hr>

<h2 class="cut-heading">Download Settings<div class="fr cut-state">➕</div></h2>
<div class="cut-wrapper cut-closed">
{% for field in download_form %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}">
    {{field.errors}}
    {{field.label_tag}}
    <div class="field-value">
        {{field}}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
</div>
{% endfor %}
</div>
<hr>


<h2 class="cut-heading">Upload Settings<div class="fr cut-state">➕</div></h2>
<div class="cut-wrapper cut-closed">
{% for field in upload_form %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}">
    {{field.errors}}
    {{field.label_tag}}
    <div class="field-value">
        {{field}}
        {% if field.id_for_label == "id_release_date" %}
        <input name="today" value="Today" type="button">
        {% endif %}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
</div>
{% endfor %}
</div>
<hr>

<input type="submit" name="action" value="Upload File">
<!--Suggestions-->
<datalist id="author-suggestions"></datalist>
<datalist id="company-suggestions"></datalist>
</form>
</section>
{% endblock %}
