{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<style>
.nav-actions a[target="_blank"] { background:var(--notice-bg); }

.nav-actions { margin:8px auto auto auto; justify-content:center; }

#patreon-big-plug
{
    display:flex;
    max-width:900px;
    background-color:var(--notice-bg);
    gap:10px;
    align-items:center;
    padding:10px;
    border:1px solid var(--border-color);
    margin:auto;
    text-align:center;
}

#patreon-big-plug > a { flex: 0 1 480px; }
#patreon-big-plug > div { flex: 1; }
#patreon-big-plug li { text-align:left; }
</style>
{% endblock style %}

{% block content %}
<h1>Patrons Only!</h1>

<form method="POST" class="badge-form">
    {% csrf_token %}
    <label for="secret">Enter your Patreon Supporter Password to unlock articles:</label>
    <input name="secret" type="password">
    <label style="display:flex;justify-content:center;margin-top:4px;"><input type="submit" value="Unlock Articles"></label>
    {% if wrong_password %}<p><b>Incorrect password!</b></p>{% endif %}
</form>

<nav class="nav-actions">
    <a href="https://www.patreon.com/posts/27088669" target="_blank">Get the $2+ pledge password</a>
    <a href="https://www.patreon.com/posts/27089050" target="_blank">Get the $5+ pledge password</a>
</nav>

{% if wrong_password %}
<div class="c" style="font-size:28pt">
<b>Incorrect password!</b>
</div>
{% endif %}

<h2>Early Access To The Next Article</h2>

<p>Want to read the next Closer Look or other article in advance?</p>

<p>Patrons pledging at least <b>$2</b> per month or more to the <a href="https://patreon.com/worldsofzzt" target="_blank">Worlds of ZZT Patreon</a>
can read this upcoming article right away:

{% queryset_to_model_blocks upcoming view="detailed" %}

<h2>Early Access to Every Article</h2>

<p>Want to read the complete article backlog?</p>

<p>Patrons pledging at least <b>$5</b> per month or more to the <a href="https://patreon.com/worldsofzzt" target="_blank">Worlds of ZZT Patreon</a>
can <i>also</i> read anything in the article queue which additionally includes:

{% queryset_to_model_blocks unpublished view="detailed" %}

<div id="patreon-big-plug">
    <a href="{% url 'patreon' %}" target="_blank" class="noext"><img src="{% static 'images/wozzt_pinned_tweet.png' %}"></a>
    <div>
        <h2>Make a Monthly Pledge To Worlds of ZZT On Patreon</h2>
        <ul>
            <li><b>All Patrons</b> &mdash; Vote for the subject of an upcoming Closer Look</li>
            <li><b>$2+</b> &mdash; Early access the next article. Access to the private patrons room on the <a href="{% url 'discord' %}" target="_blank">Discord of ZZT</a></li>
            <li><b>$5+</b> &mdash; Early access to all unpublished articles. Invites to beta test new Museum features.</li>
            <li><b>More rewards for greater pledges!</b> &mdash; Select streamed games, nominate worlds for Closer Look Polls, and even get a ZZT game made for your support!</li>
        </ul>
        <nav class="nav-actions"><a href="https://www.patreon.com/c/worldsofzzt/membership" target="_blank" style="background-color:#DFE">Pledge Now!</a></nav>
    </div>
</div>
{% endblock %}
