{% extends base %}

{% block style %}
<style>
#play-area
{
    text-align:center;
    margin:auto;
}

#zzt_canvas
{
    image-rendering:crisp-edges;
}

#zeta-controls
{
    margin-bottom:1em;
}

#zeta-config
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border:0px;
    margin-bottom:1em;
}

.setting
{
    flex:1 0 20%;
    padding:7px 8px 7px 8px;
    font-family:mono;
    border:1px solid #000;
    margin:2px;
}

.setting .heading
{
    text-align:center;
    border-bottom:1px dashed #000;
    margin-bottom:7px;
}

.setting label
{
    display:block;
}

.setting .list
{
    height:260px;
    overflow:auto;
}

#apply-config
{
    width:100%;
    margin-top:10px;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    var speed = 3000;
    $(window).keyup(function (e){
        if (e.ctrlKey)
            console.log(e.keyCode);
    });

    $("select[name=player]").change(function (){
        window.location = "?player=" + $(this).val();
    });
});
</script>
<script type="text/javascript" src="/static/zeta86/zeta_loader.js"></script>
<script type="text/javascript">
var url = new URL(window.location);
var scale = {{zeta_player_scale|default:1}};
var base_w = 640;
var base_h = 350;
var ZETA = null;

$(document).ready(function (){
    $("#zzt_canvas").width(base_w * scale);
    $("#zzt_canvas").height(base_h * scale);

    $("#popout").click(function (e){
        url.searchParams.set("player", "zeta");
        url.searchParams.set("mode", "popout");
        url.searchParams.set("scale", scale);
        window.open(url, "popout-{{file.filename}}", "width="+(base_w * scale)+",height="+(base_h * scale)+",toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0");
    });

    $(".zoom").click(function (){
        if ($(this).val() == "+")
        {
            scale++;
        }
        else
        {
            scale--;
        }

        $(".zoom").attr("disabled", false);
        $(this).attr("disabled", true);

        $("#zzt_canvas").width(base_w * scale);
        $("#zzt_canvas").height(base_h * scale);

        var now = new Date();
        var time = now.getTime();
        var expireTime = time + (1000 * 31536000); // 1yr
        now.setTime(expireTime);
        document.cookie = "zeta_player_scale=" + scale + ";expires=" + now.toGMTString() + ";path=/";
        console.log("Set scale cookie to " + scale);
    });

    $("#fullscreen").click(function (){
        $("#zzt_canvas")[0].requestFullscreen();
    });

    $("#advanced-settings").click(function (){
        url.searchParams.set("advanced", 1);
        window.location = url;
    });

    ZetaLoad({
        path: "/static/zeta86/",
        render: {
            canvas: document.getElementById("zzt_canvas"),
            blink_cycle_duration: {{zeta_config.blink_duration}},
            /*charset_override: {{zeta_config.charset|default:""}}*/
        },
        {% if not request.GET.no_args %}arg: "{{zeta_config.arguments|default:""|escapejs}}",{% endif %}
        {% if zeta_config.commands and not request.GET.no_commands %}commands: {{zeta_config.commands|safe}},{% endif %}
        storage: {
            type: "auto",
            database: "{{zeta_database|default:'generic-zeta-save-db'}}"
        },
        audio : {
            bufferSize: {{zeta_config.audio_buffer}},
            sampleRate: {{zeta_config.sample_rate}},
            noteDelay: {{zeta_config.note_delay}},
            volume: {{zeta_config.volume}},
        },
        files: [
            {% if zeta_config.executable %}"/static/data/zeta86_engines/{{zeta_config.executable}}",{% endif %}
            {% for file in included_files %}"{{file}}",
            {% endfor %}
            {% if zeta_url %}"{{zeta_url}}",{% endif %}
        ],
    }, function(zeta) {
        ZETA = zeta;
    });

});
</script>
{% if request.user.is_staff %}
<script>
// Staff functions
$(document).ready(function (){
    $("#debug-screenshot").click(function (){
        data_url = document.getElementById("zzt_canvas").toDataURL();
        $("#b64img").val(data_url);
        $("#screenshot-submit").click();
    });
});
</script>
{% endif %}
{% endblock %}

{% block world_content %}
<div id="play-area">
    {% if player == "archive" %}
    <iframe src="https://archive.org/embed/{{file.archive_name}}" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
    {% elif player == "zeta" %}
    <canvas id="zzt_canvas" width="640" height="350"></canvas>
    {% if unpublished %}<p>This file is currently UNPUBLISHED. Support for Zeta has been assumed, but the file may not be compatible.</p>{% endif %}
    {% endif %}
</div>

{% if components.controls %}<div id="zeta-controls" class="c">
    <button id="popout">Popout</button>
    <button id="zoom-out" class="zoom" value="-"{% if zeta_player_scale == 1 %} disabled{% endif %}>-</button>
    <button id="zoom-in" class="zoom" value="+"{% if zeta_player_scale == 2 %} disabled{% endif %}>+</button>
    <button id="fullscreen">Fullscreen</button>
    {% if not components.advanced %}<button id="advanced-settings">Advanced Settings</button>{% endif %}
    {% if request.user.is_staff %}
    <form method="POST" id="screenshot-form" action="/tools/set_screenshot/{{file.id}}">
        {% csrf_token %}
        <button id="debug-screenshot">Set Screenshot</button>
        <input type="hidden" name="b64img" id="b64img">
        <input type="submit" id="screenshot-submit" style="display:none">
    </form>
    {% endif %}
</div>{% endif %}

{% if components.players %}
<div id="player-list" class="c">
    <b>Play Method</b><br>
    <select name="player">
        {% for k, info in players.items %}
        <option value="{{k}}"{% if k == player %} selected{% endif %}>{{info.name}}</option>
        {% endfor %}
    </select>
</div>
{% endif %}

{% if components.instructions %}<div class="zeta-instructions">
    <p></p>
</div>{% endif %}

{% if components.credits %}<div class="zeta-credits">
    <p><b><a href="https://zeta.asie.pl" target="_blank">Zeta</a></b> created and maintained by asie.</p>
</div>{% endif %}

{% if components.advanced %}<form id="zeta-config">
    <div class="setting">
        <div class="heading">Zeta Config</div>
        <div class="list">
        <select name="zeta_config">
            {% for config in config_list %}
            {% ifchanged %}<optgroup label="{{config.category_as_text}}">{% endifchanged %}
            <option value="{{config.id}}"{% if zeta_config.id == config.id %} selected{% endif %}>{{config.name}}</option>
            {% endfor %}
        </select><br>
        Arguments: {% if zeta_config.args %}{{zeta_config.args}}{% else %}<i>None</i>{% endif %}<br>
        Commands: {% if zeta_config.commands %}{{zeta_config.commands}}{% else %}<i>None</i>{% endif %}<br>
        <label class="option"><input type="checkbox" name="no_args" value="1"{% if request.GET.no_args %} checked{% endif %}> Disable config's args<label>
        <label class="option"><input type="checkbox" name="no_commands" value="1"{% if request.GET.no_commands %} checked{% endif %}> Disable config's commands<label>
        </div>
    </div>

    <div class="setting">
        <div class="heading">Executable</div>
        <div class="list">
            <label class="option"><input type="radio" name="executable" value="AUTO" checked> Use Config</label>
        {% for exe in ZETA_EXECUTABLES %}
        <label class="option"><input type="radio" name="executable" value="{{exe.filename}}"{% if executable == exe.filename %} checked{% endif %}> {{exe.name}}</label>
        {% endfor %}
        <label class="option"><input type="radio" name="executable" value="NONE"{% if executable == exe.filename %} checked{% endif %}> None</label>
        </div>
    </div>

    {% comment %}
    <div class="setting">
        <div class="heading">Storage</div>
        <label class="option">
            Type<br>
            <select name="storage-type">
                <option value="auto">Auto</option>
                <option value="localstorage">Local Storage</option>
                <option value="indexeddb">Indexed DB</option>
            </select>
        </label>
        <label class="option">DB Name (blank for auto)<br><input type="text" value="" name="database"></label>
    </div>
    {% endcomment %}

    <div class="setting">
        <div class="heading">Render</div>
        {% comment %}
        <label class="option">
            Type<br>
            <select name="render">
                <option value="auto">Auto</option>
                <option value="canvas">Canvas</option>
            </select>
        </label>
        {% endcomment %}
        <label class="option">Blink Duration (-1 disables)<br><input type="number" name="blink_cycle" value="{{request.GET.blink_cycle}}" step="0.001" placeholder="0.466"></label>
    </div>

    <div class="setting">
        <div class="heading">Charset Override</div>
        <div class="list">
        <label class="option"><input type="radio" name="charset_override" value=""{% if charset_override == "" %} checked{% endif %}> Code Page 437</label>
        {% for charset in charsets %}
        <label class="option"><input type="radio" name="charset_override" value="{{charset}}"{% if charset_override == charset %} checked{% endif %}> {{charset|slice:"5:-4"}}</label>
        {% endfor %}
        <img src="/static/images/charsets/{{request.GET.charset_override|default:'cp437.png'}}" style="background:#000">
        </div>
    </div>

    <div class="setting">
        <div class="heading">Audio</div>
        <div class="list">
            {% comment %}
            <label class="option">
                Type<br>
                <select name="audio-type">
                    <option value="auto">Auto</option>
                    <option value="buffer">Buffer</option>
                </select>
            </label>
            {% endcomment %}
            <label class="option">Buffer Size (Samples)<br><input type="number" name="bufferSize" value="{{request.GET.bufferSize}}" placeholder="2048"></label>
            <label class="option">Sample Rate (Hz)<br><input type="number" name="sampleRate" value="{{request.GET.sampleRate}}" placeholder="48000"></label>
            <label class="option">Note Delay (ms)<br><input type="number" name="noteDelay" value="{{request.GET.noteDelay}}" placeholder="1"></label>
            <label class="option">Volume<br><input type="number" name="volume" value="{{request.GET.volume}}" placeholder="0.2" min="0.0" max="1.0" step="0.1"></label>
        </div>
    </div>

    <div class="setting">
        <div class="heading">Included Files (<span id="included-file-count">{{file_count}}</span>)</div>
        <div class="list" id="all-files">
            {% for f in all_files %}
            <label class="option"><input name="file_id" value="{{f.id}}" type="checkbox"{% if f.id in file_ids %} checked{% endif %}> {{f.title}}</label>
            {% endfor %}
        </div>
    </div>

    <div class="setting">
    <button id="apply-config">Apply</button>
    <br><br>
    <label class="option"><input type="checkbox" name="advanced" value="1"{% if request.GET.advanced %} checked{% endif %}> Continue to show advanced settings</label>
    <br>
    Primary File (used for default Zeta config):<br><b>{{file.title}}</b>
    </div>
</form>

<h3>Information on Advanced Options</h3>
<p>&bull; When choosing a custom executable, it may be overridden by the Zeta configuration's launch commands. Disable them if needed.</p>

<p>&bull; Support for custom charsets is not yet implemented.</p>

<p>&bull; The are no reasons to adjust the audio settings (other than volume). They are included for completion's sake as all files assume the default settings.</p>

<p>&bull; Including too many files may cause issues.</p>

<p>&bull; When only file is included the Museum uses the ID of that file as the basis for storing data such as game saves. When multiple files are included the database name
will change to a "generic-zeta-save-db". This is done so that you don't need to recreate the exact set of files to restore saves. It may be wise to avoid including extra files
to prevent a cluttered save list as you play through more worlds.</p>

<p>&bull; When multiple files are included, the Zeta config exectued by default is that of the first file in the list by ID. To use a different file's config in the set, it must be chosen manually.</p>
{% endif %}
{% endblock %}
