{% extends "museum_site/world.html" %}

{% block scripts %}
<script type="text/javascript" src="/static/cerulean86/zzt_preload.js"></script>
<script type="text/javascript">
    window.onload = function() {
        zzt_emu_load("/static/cerulean86/", {
            files: [
            {% if file.is_super_zzt %}
                "/static/cerulean86_engines/szzt.zip",
            {% else %}
                "/static/cerulean86_engines/zzt.zip",
            {% endif %}
            "{{file.download_url}}"],
            charset_png:
            {% if custom_charset %}
                "/static/images/charsets/{{custom_charset}}"
            {% else %}
                "/static/images/charsets/cp437.png"
            {% endif %}
        });
    };
</script>
{% endblock %}

{% block world_content %}
<div id="play-area">
    <canvas id="zzt_canvas" width="640" height="350"></canvas>
</div>

<div>
</div>
{% endblock %}
