{% extends "museum_site/play-base.html" %}
{% block play_area %}

<div class="sticky-note">
    <div class="text">
        <b class="heading">ERROR</b>
        <p class="l">The file you have requested is not supported by any online player.</p>

        <p class="l">This may be due to compatibility issues or author request. Consider downloading the file and playing it locally instead.</p>
    </div>
</div>
{% endblock play_area %}

{% block controls %}{% endblock %}
{% block help %}{% endblock %}
