{% extends "museum_site/main.html" %}

{% block content %}
<h1>Review Policy</h1>

<p>With thousands of ZZT worlds preserved on the Museum of ZZT website, one of the biggest challenges for those who have never played ZZT worlds before is determining where to begin. This has been an issue with ZZT collections for years and has often been mitigated with the use of user reviews. The collection of reviews on z2 has been imported, but like any review system there are flaws.</p>

<p>The imported reviews are all based on a scale from 0.0 - 5.0 with steps of 0.5. The Museum keeps this numeric rating in place, but also supports the option to omit a review score as more and more people begin to reconsider the usefulness of turning an experience with a ZZT world into an abstract number. <i>Rotten Robots</i> has a 3.25 rating, <i>Sketch the MP3 Monkey</i> has a 3.20, and <i>Hallucina 1383890</i> has a 3.17. What do those numbers mean?</p>

<p>Many of these old reviews are also very short, consist of people swearing at other reviews in disagreement, and generally aren't that helpful! But they sure are historical representations of the ZZT community. Reviews posted directly to the Museum are expected to fit a higher standard.
</p>

<p>Do not post reviews which:<br>
<ul>
    <li>Do not discuss the contents of the ZIP file archive they're associated with.</li>
    <li>Are personal attacks on the world's author.</li>
    <li>Contain slurs (racial, homophobic, transphobic, etc.) or generally create a toxic presence.</li>
</ul>
</p>

<h2>Reviewing Your Own Worlds</h2>
<p>ZZT has a long history and many authors may be interested in seeing how their worlds hold up today. Provided that some time has passed between the world's release and the author's review (there's no explicit amount of time, try to be reasonable), you may review your own world. However, it may be better to submit an article giving the world a proper post-mortem or revisit instead of using the review system.</p>

<p>If you do review your own world, please opt out of giving a numeric score.</p>

<p>If you believe a review should be removed because it violates these rules, please contact <a href="mailto:{{EMAIL_ADDRESS}}?subj=Museum Content Removal">Dr. Dos</a> with detailed information on what reviews should be deleted and why.</p>
{% endblock %}
