{% extends "museum_site/main.html" %}

{% block content %}
<h1>Feedback Policy</h1>

<p>The Museum of ZZT allows both guests and registered users to provide feedback on any published file. Feedback must abide to the rules listed below in order to remain on the site. Failure to abide by these rules may lead to your ability to post feedback as well as other site functionality being removed.</p>

<p>All feedback:</p>

<ul>
<li>Must discuss the contents of the ZIP file archive the feedback is being posted on.</li>
<li>Must not contain personal attacks on the world's author(s).</li>
<li>Must not contain slurs (racial, homophobic, transphobic, etc.) or generally create a toxic presence.</li>
<li>Must not deliberately inflate/deflate a rating to actively counteract another piece of feedback's rating.</li>
<li>Must be tagged with at least one feedback tag to better identify the contents of the feedback.</li>
</ul>

<p>Guests are subject to more strict requirements when posting feedback due to the submission process being anonymous. These requirements include:</p>

<ul>
<li>Guest feedback is always announced on the Museum of ZZT Discord and featured on the front page so that spam and other feedback in violation of these terms can be found and removed promptly.</li>
<li>Guest feedback is limited to one submission per day per file to prevent spamming any given file.</li>
<li>Guest feedback can contain links to external sites, however, any feedback which contains a link requires staff approval before the feedback is visible to the public.</li>
</ul>

<h2>Feedback Tags</h2>
<p>When giving feedback, users have the option to mark it as containing any of the following tags:</p>

<ul>
    <li><b>Bug Report</b> - For feedback which reports bugs and other issues with the file that may impact players' ability to complete the game in ways unintended by the author(s).</li>
    <li><b>Content Warning</b> - For feedback which discusses content within the file that some players may not wish to see.</li>
    <li><b>Hints and Solutions</b> - For feedback which contains information on how to get past certain obstacles which may not be clear such as the location of hidden items, trivia solutions, or navigational aids to get through mazes</li>
    <li><b>Review</b> - For feedback discussing the highs and lows of playing the file.</li>
</ul>

<p>Reviews may include a numeric rating for the file ranging from 0.0 through 5.0 in steps of 0.5, replicating the scoring system used by z2's review system which the Museum has imported. You may choose to not provide a numeric score when reviewing a file, though any file which is given a score will automatically be tagged as a "Review" regardless of whether or not you have tagged it as such yourself.</p>

<h2>Providing Feedback On Your Own Files</h2>
<p>ZZT has a long history and many authors may be interested in seeing how their worlds hold up today. Provided that some time has passed between the world's release and the author's feedback (there's no explicit amount of time, try to be reasonable), you may provide feedback on your own world. However, it may be better to submit an article giving the world a proper post-mortem or revisit instead of using the review system.</p>

<p>If you do review your own world, please opt out of giving a numeric score.</p>

<hr>
<p>If you believe certain feedback should be removed because it violates these rules, please contact <a href="mailto:{{EMAIL_ADDRESS}}?subj=Museum Feedback Removal">Dr. Dos</a> with detailed information on what feedback is in violation of which rules.</p>
{% endblock %}
