{% extends BASE_TEMPLATE %}

{% load static %}
{% load site_tags %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}?{{BOOT_TS}}"></script>
{% for script in scripts %}<script src="{% static script %}?{{BOOT_TS}}"></script>{% endfor %}
{% endblock %}

{% block content %}
<h1>{{form.heading}}</h1>

<p>A randomly selected world is given spotlight positioning on every page load on the Museum of ZZT. Worlds which appear in the spotlight are taken from the checked categories in the form below.</p>

<p>You may customize these categories to your preferences. If you are logged in, they will be saved to your account and be used whenever you are logged in. If not, they will be tied to your browser session.</p>

<h2>Spotlight Categories</h2>
<p>The default categories are as follows:</p>

<p><b>{% ml "/file/browse/new-releases/" "New Releases" i=0 %}</b> - Worlds which have been released within the past year. This category shows off newer creations whose authors would surely love to hear that you played their world, and how you enjoyed it!</p>

<p><b>{% ml "/collection/view/beginner-friendly-worlds/" "Beginner Friendly Worlds" i=0 %}</b> - Worlds which have been recognized as being ideal for new ZZTers. Short, friendly, and fun games to show off the appeal of ZZT.</p>

<p><b>Featured Worlds</b> - Worlds which have won one of several community awards throughout history. These include {% ml "/series/view/29/game-of-the-month-reviews/" "Game of the Month" i=0 %} (1998-2002),  {% ml "/series/view/30/classic-game-of-the-month-reviews/" "Classic Game of the Month" i=0 %} (1999-2002), {% ml "/series/view/32/mtp-reviews/" "MTP Awards" i=0 %} (2002-2004), {% ml "/series/view/31/featured-games/" "Featured Games" i=0 %} (2003-2009), and Museum of ZZT {% ml "/series/view/33/featured-world-reviews/" "Featured Worlds" i=0 %} (2017-Present).</p>

<p><b>{% ml "/series/view/18/best-of-zzt/" "Best of ZZT Picks" i=0 %}</b> - Worlds featured in "Best of ZZT" and similar articles. These are hand picked worlds recommended by Dr. Dos covering ZZT's entire history.</p>

<p>In addition, visitors may also choose to spotlight worlds from the following sources:</p>

<p><b>From Collections</b> - Worlds specified in public Museum user created collections covering a variety of criteria.</p>

<p><b>Random</b> - A randomly selected ZZT, Super ZZT, or Weave world hosted on the site will be displayed.</p>

<h2>Customize Categories</h2>

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>
<hr>


<h2>Disclaimer</h2>

<p>Some worlds have been marked as ineligible for a spotlight for reasons including author request, outdated contents, or focusing on inappropriate material best not pushed onto random visitors. All these categories exclude non-spotlight worlds. Museum of ZZT staff have the final say on worlds which are permitted the opportunity to be in the spotlight. Authors wishing to request their world(s) be excluded may contact <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a>.</p>

<p><b>Additionally, (and hopefully temporarily,) worlds which are tagged as "Demos" will be automatically excluded from the New Releases category.</b> This is to prevent potentially recommending a demo when a full release is available. This may still happen with certain revised releases. You may wish to confirm the world has no newer version available before playing.</p>

{% block form_output %}{% endblock %}
{% endblock %}
