{% extends "museum_site/world.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block style %}
<style>
#rev-preview-block
{
    display:none;
    opacity:0;
}
</style>
{% endblock %}

{% block scripts %}
{% if file.can_review %}
<script>
$(document).ready(function (){
    $("#submit-review").click(function (e){
        e.preventDefault();
        var name = $("#name").val();
        var email = $("#email").val();
        var title = $("#title").val();
        var review = $("#review-content").val();

        var valid = true;

        if (name.trim() == "")
            valid = valid && error_message("name", "Name cannot be blank.");
        else
            clear_error("name");

        if (email.trim() == "" || (! email.match(/.+@.+/)))
            valid = valid && error_message("email", "Please enter a valid email address.");
        else
            clear_error("email");

        if (title.trim() == "")
            valid = valid && error_message("title", "Title cannot be blank.");
        else
            clear_error("title");

        if (review.trim() == "")
            valid = valid && error_message("review-content", "Review cannot be blank!");
        else
            clear_error("review-content");

        if (valid)
        {
            // Submit the form
            $("#review-form").submit();

        }

        return false;
    });

    $("#preview-review").click(function (){
        console.log("Previewing...");
        $.ajax({
        url:"/ajax/render-review-text",
        method:"POST",
        data:{
            "text":$("#review-content").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        }
        }).done(function (rendered){
            var rating = parseInt($("select[name=rating]").val());
            console.log("RATING", rating);
            $("#rev-preview-title").text($("input[name=title]").val());
            $("#rev-preview-author").text($("input[name=name]").val());
            $("#rev-preview-text").html(rendered);

            $("#rev-preview-rating").hide();
            $("#rev-preview-no-rating").hide();

            if (rating == -1)
            {
                $("#rev-preview-no-rating").show();

            }
            else
            {
                $("#rev-preview-rating-number").text(rating);
                $("#rev-preview-rating").show();
            }

            $("#rev-preview-block").show();
            $("#rev-preview-block").animate({opacity: 1}, 250);
        });
    });
});

function error_message(identifier, msg)
{
    $("label[for="+identifier+"]").addClass("error");
    $("#"+identifier).addClass("error");
    $("label[for="+identifier+"] div.error").text(msg);
    return false;
}

function clear_error(identifier)
{
    $("label[for="+identifier+"]").removeClass("error");
    $("#"+identifier).removeClass("error");
    $("label[for="+identifier+"] div.error").text("");
    return true;
}
</script>
{% endif %}
{% endblock %}

{% block world_content %}
{% for review in reviews %}
<div class="review block" id="rev-{{review.id}}">
<div class="review-meta">
    <h2>{{review.title}}</h2>
    <i>Written by {{review.author}}<br>{{review.date}}</i><br>
    <a href="{{request.path}}#rev-{{review.id}}">Link</a><br>
</div>

<article>
{{review.content|markdown}}
</article>

{% if review.rating >= 0 %}<b>Rating:</b> {{review.rating}} out of 5.0
{% else %}
<i>This user has opted out of providing a numeric rating</i>
{% endif %}
{% if debug %}<div class="debug"><a href="/admin/museum_site/review/{{review.id}}/change/">EDIT {{review.id}}</a></div>{% endif %}
</div>
{% endfor %}

{% if file.can_review %}
<h2>Review {{file.title}}</h2>
<form method="POST" id="review-form">
{% csrf_token %}
<input name="action" value="post-review" type="hidden">
<input name="file_id" value="{{file.id}}" type="hidden">
<div class="field">
    <label for="name">Your Name:<br>
        <div class="sub"></div>
        <div class="sub error"></div>
    </label>
    <input id="name" name="name" value="" maxlength="50">
</div>
<div class="field">
    <label for="email">Email Address:<br>
        <div class="sub">Will not be displayed.</div>
        <div class="sub error"></div>
    </label>
    <input id="email" name="email" value="" maxlength="50" type="email">
</div>
<div class="field">
    <label for="title">Review Title:<br>
        <div class="sub"></div>
        <div class="sub error"></div>
    </label>
    <input id="title" name="title" value="" maxlength="50">
</div>
<div class="field">
    <label for="review-content">Review:<br>
        <div class="sub"><a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown syntax</a> is supported for formatting.</div>
        <div class="sub error"></div>
    </label>
    <textarea id="review-content" name="content"></textarea>
</div>
<div class="field">
    <label for="rating">Rating:<br>
        <div class="sub">Optionally give the file a numeric score from 0.0 to 5.0</div>
        <div class="sub error"></div>
    </label>
    <select id="rating" name="rating">
        <option value="-1">No rating</option>
        <option>0.0</option>
        <option>0.5</option>
        <option>1.0</option>
        <option>1.5</option>
        <option>2.0</option>
        <option>2.5</option>
        <option>3.0</option>
        <option>3.5</option>
        <option>4.0</option>
        <option>4.5</option>
        <option>5.0</option>
    </select>
</div>
<div class="field">
    <input type="button" id="preview-review" value="Preview Review">
</div>

<div class="review block" id="rev-preview-block">
<div class="review-meta">
    <h2 id="rev-preview-title"></h2>
    <i>Written by <span id="rev-preview-author"></span></i>
</div>

<article id="rev-preview-text">
</article>

<span id="rev-preview-rating"><b>Rating:</b> <span id="rev-preview-rating-number"></span> out of 5.0</span>
<span id="rev-preview-no-rating"><i>This user has opted out of providing a numeric rating</i></span>
</div>

<div class="field">
    <input type="submit" id="submit-review" value="Post Review">
</div>
</form>
{% else %}
<h2>Reviews Disabled</h2>
This file is no longer accepting new reviews at this time.
{% endif %}
{% endblock %}
