{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="block">
<h1>Articles</h1>

{% include "museum_site/blocks/paginator_block.html" %}

{% if view == "list" %}
<table>
<tr>
    <th>Title</th>
    <th>File</th>
    <th>Reviewer</th>
    <th>Date</th>
    <th>Rating</th>
</tr>
{% elif view == "gallery" %}
<div class="gallery-list">
{% endif %}
{% for review in page %}
{% include "museum_site/blocks/review_"|add:view|add:"_block.html" %}
{% endfor %}
{% if view == "list" %}
</table>
{% elif view == "gallery" %}
</div>
{% endif %}

{% include "museum_site/blocks/paginator_block.html" %}

</section>
{% endblock %}
