{% extends "museum_site/main.html" %}
{% load site_tags %}
{% load zzt_tags %}

{% block style %}
<style>
#scroll-nav
{
    justify-content:center;
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    font-weight:bold;
}

#scroll-nav a
{
    display:block;
    flex:1;
    text-align:center;
}
</style>
{% endblock %}

{% block content %}
<h1>Scroll {{scroll.identifier}} - {{scroll.title}}</h1>
<nav id="scroll-nav" class="flex-container">
    <a href="{% url 'scroll_browse' %}">Scrolls of ZZT</a>
    <a href="{% url 'scroll_navigation' 'first' %}">First Scroll</a>
    <a href="{% url 'scroll_navigation' 'prev' %}?id={{scroll.identifier}}">Previous Scroll</a>
    <a href="{{scroll.source}}">Scroll Source</a>
    <a href="{% url 'scroll_navigation' 'random' %}">Random Scroll</a>
    <a href="{% url 'scroll_navigation' 'next' %}?id={{scroll.identifier}}">Next Scroll</a>
    <a href="{% url 'scroll_navigation' 'latest' %}">Latest Scroll</a>
</nav>

<div class="c">
{% scroll %}@Scroll {{scroll.identifier}}
{{scroll.content_as_text}}
{% endscroll %}
</div>

{% if scroll.zfile %}
<h2>Originating File</h2>
{% model_block scroll.zfile %}{% endif %}
{% endblock %}
