{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="block">

<h1>Series Directory</h1>

{% include "museum_site/blocks/paginator_block.html" %}

{% for i in page %}
{% if forloop.first and view == "list" %}<table>{{table_header}}{% endif %}
{% if forloop.first and view == "gallery" %}<div class="gallery-frame">{% endif %}
{{i}}
{% if forloop.last and view == "list" %}</table>{% endif %}
{% if forloop.last and view == "gallery" %}</div>{% endif %}
{% endfor %}

{% include "museum_site/blocks/paginator_block.html" %}
</section>
{% endblock %}
