{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="block">

<h1>{{series.title}}</h1>

{% include "museum_site/blocks/paginator_block.html" %}

{% for i in page %}
<div class="overview-block" data-pk="{{i.id}}" data-model="series">
    <img src="{{i.preview_url}}"
    class="screenshot-thumb"
    alt="{{i.title}} preview image">
    <h1 class="title"><a href="{{i.url}}"}>{{i.title}}</a></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">First Entry</div><div class="value">{{i.first_entry_date}}</div>
        </div>
        <div class="field">
            <div class="key">Latest Entry</div><div class="value">{{i.last_entry_date}}</div>
        </div>
        <div class="field">
            {{i.article_set.count}} article{{i.article_set.count|pluralize}}
        </div>
        <p>{{i.description|safe}}</p>
    </div>
</div>
{% endfor %}
</section>
{% endblock %}
