{% extends "museum_site/main.html" %}
{% load static %}
{% load zzt_tags %}

{% block style %}
<style>
.listing
{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-around;
    text-align:center;
}

.credit
{
    flex:1 1 25%;
    padding:0.5em;
    border:1px solid #000;
    margin:0.5em;
    font-family:monospace;
    font-size:14pt;
}

.credit.xl { flex:0 0 35%; }

.credit .icon-frame
{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:14px 8px 14px 8px;

}

.credit .icon { max-height:114px; }
</style>
{% endblock %}

{% block content %}
<h1>Credits</h1>

<h2>Site Development</h2>
<ul class="bulletless">
    <li>Code: <a href="mailto:{{EMAIL_ADDRESS}}" target="_blank">Dr. Dos</a></li>
    <li>Dark Theme: Based on a palette designed by inbtwn, with modifications by Dr. Dos</li>
    <li>Logo: <a href="https://twitter.com/dopterra" target="_blank">Lazymoth</a></li>
    <li>Fonts:
        <ul>
            <li>"<a href="https://int10h.org/oldschool-pc-fonts/" target="_blank">The Ultimate Oldschool PC Font Pack</a>" © 2015-2016 VileR (licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>)</li>
            <li>"<a href="https://design.ubuntu.com/font/" target="_blank">Ubuntu font family</a> © 2019 Canonical Ltd. (licensed under <a href="{% static 'fonts/LICENCE.txt' %}" target="_blank">Ubuntu Font License</a>)</li>
            <li>"<a href="https://fonts.google.com/specimen/Roboto+Condensed/about" target="_blank">Roboto Condensed</a>" designed by Christian Robertson (licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License Version 2.0</a>)
        </ul>
    </li>
    <li>Libraries:
        <ul>
            <li>"<a href="https://github.com/niklasvh/html2canvas" target="_blank">html2canvas</a>" - niklasvh</li>
            <li>"<a href="https://github.com/Stuk/jszip" target="_blank">jszip</a>" - Stuk</li>
        </ul>
    </li>
    <li>Zeta Emulator: <a href="https://zeta.asie.pl" target="_blank">asie</a></li>
</ul>

<hr>

<h2>Articles</h2>
<div class="directory">
{% for row in list %}
    {% if forloop.counter0|divisibleby:split %}
    <div class="column">
    {% endif %}
        <div class="row">
            <a href="/article?&author={{row}}&sort=title&action=search">{{row}}</a>
        </div>
    {% if forloop.counter|divisibleby:split or forloop.last %}
    </div>
    {% endif %}
{% endfor %}
</div>

<hr>

<h2>Patreon Supporters</h2>
<div class="listing">
    {% for s in biggest_supporters %}
    {%if s.email == "STUB" %}
    <div class="credit stub"></div>
    {% else %}
    <div class="credit xl">
        <div class="icon-frame"><img src="{% static 'credits/'|add:s.img %}" class="icon"></div>
        {% char s.char s.fg s.bg scale=3 %} {{s.name}}
    </div>
    {% endif %}
    {% endfor %}

    <div class="flex-break"></div>

    {% for s in bigger_supporters %}
    {%if s.email == "STUB" %}
    <div class="credit stub"></div>
    {% else %}
    <div class="credit">
        <div class="icon-frame"><img src="{% static 'credits/'|add:s.img %}" class="icon"></div>
        {% char s.char s.fg s.bg scale=3 %} {{s.name}}
    </div>
    {% endif %}
    {% endfor %}

    <div class="flex-break"></div>

    {% for s in supporters %}
    {%if s.email == "STUB" %}
    <div class="credit stub"></div>
    {% else %}
    <div class="credit"><div class="ascii-icon">{% char s.char s.fg s.bg scale=3 %}</div> <div class="credited-name">{{s.name}}</div></div>
    {% endif %}
    {% endfor %}

    <div class="flex-break"></div>
    <div class="credit"><div class="ascii-icon">{% char 63 'yellow' 'black' scale=3 %}</div> And Many Anonymous Patrons!</div>
</div>
{% endblock %}
