{% extends "museum_site/main.html" %}

{% block content %}
<h1>Select An Upload To {{action|title}}</h1>
<nav class="nav-actions">
    <a href="{% url 'upload' %}">Upload a New File</a>
    {% if action == "Edit" %}<div class="selected">Edit an existing upload</div>{% else %}<a href="{% url 'upload_action' 'edit' %}">Edit an existing upload</a>{% endif %}
    {% if action == "Delete" %}<div class="selected">Delete an existing upload</div>{% else %}<a href="{% url 'upload_action' 'delete' %}">Delete an existing upload</a>{% endif %}
</nav>

<p>{{action_verb}} an unpublished upload requires entering the <i>Edit Token</i> that was generated when the file was first uploaded.</p>

<p>Your most recently used edit token (if available) has been pre-filled.</p>

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>

<hr>
<h2>User Uploads</h2>
<p>If you uploaded a file while <a href="{% url 'login_user' %}">logged in</a> to an account, then you may {{action|lower}} any of your unpublished uploads without having to manually enter an edit token.<p>

<p>Below is a list of all uploads associated with your account that remain unpublished.</p>

<table>
<tr>
    <th>Title</th>
    <th>Upload Time</th>
    <th>Edit Token</th>
{% for zf in my_uploads %}
<tr>
<td><a href="{{zf.get_absolute_url}}">{{zf.title}}</a></td>
<td>{{zf.upload.date}}</td>
{% if action == "Edit" %}
<td><a href="{% url 'upload' %}?token={{zf.upload.edit_token}}">{{zf.upload.edit_token}}</a></td>
{% elif action == "Delete" %}
<td><a href="{% url 'upload_delete_confirm' %}?token={{zf.upload.edit_token}}">{{zf.upload.edit_token}}</a></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
