{% extends "museum_site/main.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/upload.js' %}?{{BOOT_TS}}"></script>
<script src="{% static 'js/jszip.min.js' %}?{{BOOT_TS}}"></script>
<script src="{% static 'js/museum-forms.js' %}?{{BOOT_TS}}"></script>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<p><ul>
    <li>{% if not request.GET.token %}Upload a New File{% else %}<a href="{% url 'upload' %}">Upload a New File</a>{% endif %}</li>
    <li><a href="{% url 'upload_action' 'edit' %}">Edit an existing upload</a></li>
    <li><a href="{% url 'upload_action' 'delete' %}">Delete an existing upload</a></li>
</ul></p>

<form method="POST" enctype="multipart/form-data" id="upload_form">

<details open>
    <summary><h2>File Information<div class="detail-state"></div></h2></summary>
    {% csrf_token %}
    {% for field in zgame_form.visible_fields %}
    <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
        {{field.label_tag}}
        <div class="field-value">
            {% if field.id_for_label == "id_zfile" %}
            <div class="size-limit">Your maximum upload size: <b title="{{your_max_upload_size}} bytes">{{your_max_upload_size|filesizeformat}}</b></div>
            {% endif %}
            {{field|safe}}
        </div>
        {% if field.help_text %}
        <p class="field-help">{{field.help_text|safe}}</p>
        {% endif %}
        {{field.errors}}
    </div>
    {% endfor %}
    {% for field in zgame_form.hidden_fields %}
    {{field}}
    {% endfor %}
</details>
<hr>

<details>
    <summary><h2>Play Online Settings<div class="detail-state"></div></h2></summary>
    {% for field in play_form.visible_fields %}
    <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
        {{field.errors}}
        {{field.label_tag}}
        <div class="field-value">
            {{field}}
        </div>
        {% if field.help_text %}
        <p class="field-help">{{field.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    {% for field in play_form.hidden_fields %}
    {{field}}
    {% endfor %}
    </div>
</details>
<hr>

<details>
    <summary><h2>Download Settings<div class="detail-state"></div></h2></summary>
    {% for field in download_form.visible_fields %}
    <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
        {{field.errors}}
        {{field.label_tag}}
        <div class="field-value">
            {% if field.name == "hosted_text" %}<div class="r">Hosted on...</div>{% endif %}{{field}}
        </div>
        {% if field.help_text %}
        <p class="field-help">{{field.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    {% for field in download_form.hidden_fields %}
    {{field}}
    {% endfor %}
</details>
<hr>


<details>
    <summary><h2>Upload Settings<div class="detail-state"></div></h2></summary>
    {% for field in upload_form.visible_fields %}
    <div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
        {{field.errors}}
        {{field.label_tag}}
        <div class="field-value">
            {{field}}
            {% if field.id_for_label == "id_release_date" %}
            <input name="today" value="Today" type="button">
            {% endif %}
        </div>
        {% if field.help_text %}
        <p class="field-help">{{field.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    {% for field in upload_form.hidden_fields %}
    {{field}}
    {% endfor %}
</details>
<hr>

<input id="submit_upload" type="submit" name="action" value="{{submit_text|default:'Upload File'}}">

<!--Suggestions-->
<datalist id="author-suggestions"></datalist>
<datalist id="company-suggestions"></datalist>
</form>
{% endblock %}
