{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<style>
#id_confirmation { text-transform:uppercase; }
</style>
{% endblock %}

{% block content %}
<h1>{{heading}}</h1>

{% if selected_file %}
{% model_block selected_file %}
<br>
<div class="sticky-note">
    <div class="text">
        <b class="heading">WARNING</b>
        <p>Deleting an upload cannot be undone. The zipfile and all associated data will be permanently removed. Please be certain this is the action you wish to take and the correct upload has been selected before continuing.</p>
    </div>
</div>

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>
{% elif request.GET.success %}
<div class="c"><img src="{% static 'chrome/blank-board.png' %}" alt="A blank ZZT board"><br>
<p class="cp437 larger">Your upload has been deleted successfully.</p></div>
{% else %}
<p>No upload with the provided token was found.</p>
{% endif %}

<hr>

<a href="{% url 'upload_action' 'delete' %}">Select Another Upload</a>

{% endblock %}
