{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="block">
<h1>Select An Upload To Edit</h1>

<p>Editing an existing upload requires entering the <i>Edit Token</i> that was generated when the file was first uploaded.</p>

<form id="edit-upload-form" action="/debug/upload/">
<div class="field">
    <label for="token">Edit Token:<br>
        <span class="sub">The token that identifies which upload should be modified</span>
    </label>
    <input id="token" name="token" value="{{request.GET.edit_token}}" maxlength="16">
</div>
<div class="field">
    <button type="submit" class="full-width-submit">Begin Editing</button>
</div>
</form>
<hr>
<h2>User Uploads</h2>
<p>If you uploaded a file while <a href="{% url 'login_user' %}">logged in</a> to an account, then you may edit any still unpublished worlds without having to enter an edit token. Below is a list of all uploads associated with your account that remain unpublished.

<table>
<tr>
    <th>Title</th>
    <th>Upload Time</th>
    <th>Edit Token</th>
{% for u in my_uploads %}
<tr>
<td>{{u.file.title}}</td>
<td>{{u.date}}</td>
<td><a href="/debug/upload/?token={{u.edit_token}}">{{u.edit_token}}</a></td>
</tr>
{% endfor %}
</table>
</section>
{% endblock %}
