{% extends "museum_site/main.html" %}
{% load staticfiles %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Upload Policy</h1>

<p>The Museum of ZZT operates with the goal of collecting and sharing as complete a copy of all worlds produced with ZZT and related to ZZT as possible.
In order to accomplish this visitors are encouraged to upload their own works as well as the works of others which are currently missing from the Museum.</p>

<h2>Acceptable Files</h2>
<p>All uploaded files must be compressed and in the ZIP archive format.</p>

<p>Uploaded files must contain at least one of the following:

<ul>
<li>ZZT World Files.</li>
<li>Super ZZT World Files.</li>
<li>ZIG World Files.</li>
<li>ZZM Audio Files.</li>
<li>Programs to aid in the creation, modification, or playing of previously listed file types</li>
<li>Custom palettes or fonts specifically created for the creation of previously listed world files.</li>
<li>Graphic or Audio Files relating to ZZT or its derivatives (excluding MegaZeux as <a href="http://vault.digitalmzx.net">DigitalMZX</a> covers those).</li>
</ul>
</p>

<h2>Acceptable Content</h2>
<p>Prior archives such as z2 had rules in place to require that all uploaded ZZT worlds created after a certain point were required to have a minimum file size and make use of extended Super Tool Kit colors.
The Museum has no such restrictions.</p>

<h2>Metadata</h2>
<p>When uploading files, some data such as the title of the upload and authors who have worked on it are requested by the site to be filled out by the user. Other information is automatically parsed by the Museum site.</p>

<p>If you are uploading files of your own, you are free to modify them for upload to the Museum as you see fit.
When uploading data created by someone else, please refrain from making any changes to the content.
Include as much of the original content available (high scores, text files) without modification. If there is
additional information that needs to be provided, please create a text file of your own to insert into the ZIP file.</p>

<h2>Incomplete Worlds</h2>

<p>Worlds which haven't been completed are acceptable to upload, but should be clearly noted as such in the title. These may be demos that have intentional end points or worlds which had simply been abandoned and end abruptly rather
than having been packaged for release. If you have many incomplete worlds you wish to upload (sharing the entire contents of your old ZZT projects folder) it is preferred to bundle them together and publish them as such as seen in Gingermuffins' <a href="/file/a/Abandoned_Games.zip">Abandoned Games</a> collection.</p>

<h2>World Variants</h2>

<p>Prior archives such as z2 had inconsistently enforced rules where upon receiving an upload of a completed world, the demo would be removed. A similar policy
existed for worlds which received updates which in some way made an older version "obsolete". The Museum has no such restriction and welcomes all revisions of worlds
so that the changes may be compared between original release and update or demo and final release.</p>
</section>
{% endblock %}
