{% extends "museum_site/main.html" %}
{% load static %}

{% block content %}
<section id="content" class="block">
<h1>Upload Deleted</h1>

<div class="c"><img src="{% static 'chrome/blank-board.png' %}" alt="A blank ZZT board"><br>
<p>Your upload has been removed from the queue successfully.</p></div>

<ul>
    <li><a href="{% url 'upload' %}">New Upload</a></li>
    <li><a href="{% url 'upload_delete' %}">Delete Another Upload</a></li>
    <li><a href="{% url 'upload_edit' %}">Edit Another Upload</a></li>
</ul>

</section>
{% endblock %}
