{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="col block">
    <b>Upload Successful!</b><br>
    <p>The following file has been added to the upload queue. Please wait patiently for it to be published.</p>

    <p>If you have discovered an error with your uploaded file, or its data, you may edit it prior to its publication/rejection using the following edit token:
    <b><a href="/upload?edit=1&edit_token={{your_upload.edit_token}}">{{your_upload.edit_token}}</a></b></p>

    {% include "museum_site/blocks/file_block.html" %}
</section>
{% endblock %}
