{% extends "museum_site/main.html" %}

{% block style %}
<style>
#upload-form
{
    margin-top:14px;
}
#desc
{
    height:7em;
    flex:4;
}

.upload-error
{
    background:#FAA;
}

input[name=today]
{
    max-width:20%;
    margin-left:8px;
}
</style>
{% endblock %}

{% block scripts %}
<script>
function load_local_file()
{
    return false;
}

function reload_preview()
{
    var filename = $("input[name=file]").val().split("\\").reverse()[0];
    var title = $("input[name=title]").val();
    var authors = $("input[name=author]").val();
    var company = $("input[name=company]").val();
    if ($("input[name=file]").val())
        var size = Math.round($("input[name=file]").get(0).files[0].size / 1024.0);
    var released = $("input[name=release_date]").val();

    var genres = "";
    $("input[name=genre]:checked").each(function (){
        genres += $(this).val() + ", ";
    });
    genres = genres.slice(0, (genres.length - 2));

    $("#pre-title").text(title ? title : "<Title>");
    $("#pre-authors").text(authors ? authors : "<Authors>");
    $("#pre-filename").text(filename ? filename : "<Filename>");
    $("#pre-released").text(released ? released : "<Release Date>");
    $("#pre-genres").text(genres ? genres : "<Genres>");
    $("#pre-company").text(company ? company : "<Company>");
    $("#pre-size").text(size);
}

$(document).ready(function (){
    $("#file").change(load_local_file);
    $("input").change(reload_preview);
    $("input[name=genre]").click(function (){
        if ($(this).prop("checked"))
            $(this).parent().addClass("selected");
        else
            $(this).parent().removeClass("selected");
    });
    $("input[name=today]").click(function (){
        var today = new Date();
        $("#release_date").val(today.toISOString().slice(0,10));
        reload_preview();
    });

    // Keep background on genre labels between refreshes
    $("input[name=genre]").each(function (){
        if ($(this).prop("checked"))
            $(this).parent().addClass("selected");
        else
            $(this).parent().removeClass("selected");
    });
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="col block">

<h1>Upload File</h1>

{% if error %}
<h2>File Not Uploaded!</h2>

<div class="upload-error">
<p>Your file could not be uploaded.</p>

<p>Reason: {{error}}</p>

<p>Please correct any errors and try again. If the problem persists, contact
<a href="mailto:{{EMAIL_ADDRESS}}?subj=Upload error">Dr. Dos</a>.</p>
</div>
{% endif %}

<div class="overview-block">
    <h1 class="title"><span id="pre-title">&lt;Title&gt;</span></h1>
    <img src="/static/images/screenshots/no_screenshot.png" class="screenshot-thumb" alt="{{file.screenshot}}">
    <div class="basic-info">
        <div class="field">
            <div class="key">Author(s)</div><div class="value"><span id="pre-authors">&lt;Author(s)&gt;</div>
        </div>
        <div class="field">
            <div class="key">Company</div><div class="value"><span id="pre-company">&lt;Company&gt;</div>
        </div>
        <div class="field">
            <div class="key">Released</div><div class="value"><span id="pre-released">&lt;Release Date&gt;</span></div>
        </div>
        <div class="field">
            <div class="key">Genre(s)</div><div class="value"><span id="pre-genres">&lt;Genre(s)&gt;</span></div>
        </div>
        <div class="field">
            <div class="key">Filename</div><div class="value"><span id="pre-filename">&lt;Filename&gt;</span></div>
        </div>
        <div class="field">
            <div class="key">Size</div><div class="value"><span id="pre-size">&lt;File Size&gt;</span></div>
        </div>
    </div>
</div>

<form method="POST" enctype="multipart/form-data" id="upload-form">
{% csrf_token %}
<input type="hidden" name="action" value="upload">
<div class="field">
    <label>File:<br>
        <span class="sub">Select the file you wish to upload. All uploads MUST be zipped. The zip file must be smaller than <b>{{UPLOAD_CAP|filesizeformat}}</b></span>
    </label>
    <input id="file" name="file" type="file" accept=".zip">
</div>
<div class="field">
    <label for="title">Title:<br>
        <span class="sub">The title of your upload. Maximum 80 characters. Leave A/An/The as the first word if applicable.<br>
        ("The Town of ZZT" is good. "Town of ZZT, The" is bad.)</span>
    </label>
    <input id="title" name="title" maxlength="80">
</div>
<div class="field">
    <label for="author">Author(s):<br>
        <span class="sub">The author(s) of your upload. Maximum 80 characters. Separate multiple authors with a forward slash (/). Do not abbreviate names.<br>
        ("Hercules/Hydra78" is good. "Herc, Hydra" is bad.) For files with many authors, consider using the compiler as the author with "Various" to represent the rest.</span>
    </label>
    <input id="author" name="author" maxlength="80">
</div>
<div class="field">
    <label for="company">Company:<br>
        <span class="sub">The company this file is published under. Maximum 80 characters. This field is optional and may be left blank.</span>
    </label>
    <input id="company" name="company" value="" maxlength="80">
</div>
<div class="field">
    <label for="genre">Genre(s):<br>
        <span class="sub">Any genres which this file may fall under. At least one genre must be selected.</span>
    </label>
    <div class="genre-checklist">
        {% for genre in genres %}
        <label><input name="genre" type="checkbox" value="{{genre}}"> {{genre}}</label>
        {% endfor %}
    </div>
</div>
<div class="field">
    <label for="release_date">Release Date:<br>
        <span class="sub">The date this file was first made public. Use YYYY-MM-DD for the format. If this is a new release, it should be the modified date of the most recent ZZT world (or executable, or other primary file).
        If the release date is not known, leave this field blank.</span>
    </label>
    <div class="field-group">
        <input id="release_date" name="release_date" value="" maxlength="10" type="date"> <input type="button" value="Today" name="today">
    </div>
</div>
<div class="field">
    <label for="desc">Utility Description:<br>
        <span class="sub">If you are uploading a utility, please describe it here. Otherwise, leave this field blank.</span>
    </label>
    <textarea id="desc" name="desc"></textarea>
</div>

<div class="field">
    <button type="submit" id="submit-upload-button">Upload File</button>
</div>
</form>

</section>
{% endblock %}
