{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="block">
<h1>Change Password</h1>

{% if changed %}
<p><b>Your password has been updated successfully!</b></p>

<p>You will need to <a href="{% url 'login_user' %}">login</a> again using your new password.</p>
{% else %}
<form method="POST">
{% csrf_token %}
<input type="hidden" name="action" value="change-password">


<div class="field{% if errors.token %} error{% endif %}">
    <label for="moz-pwd-cur">Current Password:<br>
        <span class="sub"></span>
    </label>
    <div class="field-group">
        <input id="moz-pwd-cur" name="moz-pwd-cur" maxlength="150" type="password" value="">
        <p class="form-error">{{errors.cur_pwd}}</p>
    </div>
</div>

<div class="field{% if errors.pwd %} error{% endif %}">
    <label for="moz-pw">New Password:<br>
        <span class="sub">Use a unique password for your account. Passwords are hashed and will not be viewable.</span>
    </label>
    <div class="field-group">
        <input id="moz-pw" name="moz-pw" maxlength="150" type="password" value="">
        <p class="form-error">{{errors.pwd}}</p>
    </div>
</div>

<div class="field">
    <label for="moz-pw-conf">Confirm Password:<br>
        <span class="sub"></span>
    </label>
    <div class="field-group">
        <input id="moz-pw-conf" name="moz-pw-conf" maxlength="150" type="password" value="">
    </div>
</div>

<div class="field">
    <button type="submit" id="submit-change-password-button" class="full-width-submit">Change password</button>
</div>

</form>
{% endif %}
</section>
{% endblock %}
