{% extends "museum_site/main.html" %}
{% load site_tags %}
{% load zzt_tags %}

{% block meta %}
{% if user_obj %}
{% meta_tags path=user_obj.profile.link title=title description="User profile for "|add:user_obj.username %}
{% else %}
{% meta_tags path=request.get_full_path title=title description="User profile" %}
{% endif %}
{% endblock %}

{% block style %}
<style>
.table-textarea
{
    width:99%;
    height:90px;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    iso8601_to_user_tz("#date-joined");
    iso8601_to_user_tz("#last-login");
});

function iso8601_to_user_tz(selector)
{
    var raw = $(selector).data("iso8601");
    months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];
    var d = new Date(raw);
    var h = ("0" + d.getHours()).slice(-2);
    var m = ("0" + d.getMinutes()).slice(-2);
    output = months[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear() + ", " + h + ":" + m;
    $(selector).html(output);
}
</script>
{% endblock %}

{% block content %}
<section id="content" class="block">
{% if user_obj %}
<h1>Profile for {{user_obj.username}}</h1>
{% if request.session.DEBUG %}<a href="/admin/auth/user/{{user_obj.id}}/change/" class="debug">Edit User</a>
<a href="/admin/museum_site/profile/{{user_obj.profile.pk}}/change/" class="debug">Edit Profile</a>{% endif %}
<table>
    <tr>
        <th>Username</th>
        <td>{{user_obj.username}}</td>
        {% if private %}<td><a href="{% url 'change_username' %}">Change Username</a></td>{% endif %}
    </tr>
    <tr>
        <th>ASCII Char</th>
        <td>{% char user_obj.profile.char user_obj.profile.fg user_obj.profile.bg scale=2 %} Char {{user_obj.profile.char}} {{user_obj.profile.fg}} on {{user_obj.profile.bg}}</td>
        {% if private %}<td><a href="{% url 'change_char' %}">Change ASCII Char</a></td>{% endif %}
    </tr>
    <tr>
        <th>Profile Link</th>
        <td colspan="2"><a href="{{user_obj.profile.link}}">Public Profile</a></td>
    </tr>
    {% if user_obj.profile.public_patron_status %}<tr>
        <th>Patron</th>
        <td>{{user_obj.profile.patron|yesno|title}}</td>
        <td><a href="{% url 'patreon' %}" target="_blank">Worlds of ZZT Patreon</a></td>
    </tr>{% endif %}
    <tr>
        <th>Staff</th>
        <td colspan="2">{{user_obj.is_staff|yesno|title}}</td>
    </tr>
    <tr>
        <th>Date Joined</th>
        <td id="date-joined" colspan="2" data-iso8601="{{user_obj.date_joined|date:'c'}}" title="UTC: {{user_obj.date_joined|date:'c'}}">{{user_obj.date_joined}}</td>
    </tr>
    <tr>
        <th>Files Published</th>
        <td colspan="2">{{user_obj.profile.files_published}}</td>
    </tr>
    <tr>
        <th>Pronouns</th>
        <td>{{user_obj.profile.pronouns|default:"<i>Not provided</i>"}}</td>
        {% if private %}<td><a href="{% url 'change_pronouns' %}">Change Pronouns</a>{% endif %}
    </tr>
</table>
<hr>
{% if private %}
<h1>Private Data</h1>
<br><br>
<h2>User Data</h2>
<table>
    <tr>
        <th>Password</th>
        <td>&bull;&bull;&bull;&bull;&bull;&bull;</td>
        <td><a href="{% url 'change_password' %}">Change Password</a></td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>{{user_obj.email}}</td>
        <td><a href="{% url 'change_email' %}">Change Email Address</a></td>
    </tr>
    <tr>
        <th>Patron</th>
        <td>{{user_obj.profile.patron|yesno|title}}</td>
        <td><a href="{% url 'patreon' %}" target="_blank">Worlds of ZZT Patreon</a></td>
    </tr>
    {% if user_obj.profile.patron %}
    <tr>
        <th>Patron Email Address</th>
        <td>{{user_obj.profile.patron_email}}</td>
        <td><a href="{% url 'change_patron_email' %}">Change Patron Email</a></td>
    </tr>
    {% endif %}
    <tr>
        <th>Active</th>
        <td colspan="2">{{user_obj.is_active|yesno|title}}</td>
    </tr>
    <tr>
        <th>Last Login</th>
        <td id="last-login" colspan="2" data-iso8601="{{user_obj.last_login|date:'c'}}" title="UTC: {{user_obj.last_login|date:'c'}}">{{user_obj.last_login}}</td>
    </tr>
    <tr>
        <th>Maximum Upload Size</th>
        <td colspan="2">{{user_obj.profile.max_upload_size|filesizeformat}} ({{user_obj.profile.max_upload_size}} bytes)</td>
    </tr>
</table>

{% if user_obj.profile.patron %}
<h2>Worlds of ZZT Patronage</h2>
<table>
    <tr>
        <th>Patronage</th>
        <td colspan="2">{{user_obj.profile.get_pledge}} - <i>"{{user_obj.profile.patron_tier|tiername}}"</i></td>
    </tr>
    <tr>
        <th>Patronage Visibility</th>
        <td>{{user_obj.profile.patron_visibility|yesno:"On,Off"}}</td>
        <td><a href="{% url 'change_patronage_visibility' %}">Change Patronage Visibility</a></td>
    </tr>
    <tr>
        <th>Site Credits Name*</th>
        <td>{{user_obj.profile.site_credits_name|default:"<i>Not provided</i>"}}</td>
        <td rowspan="2"><a href="{% url 'change_credit_preferences' %}">Change Credit Preferences</a></td>
    </tr>
    <tr>
        <th>Stream Credits Name*</th>
        <td>{{user_obj.profile.stream_credits_name|default:"<i>Not provided</i>"}}</td>
    </tr>
    <tr>
        <th>Stream Poll Nominations<br>[$2+]</th>
        <td colspan="2">{% if user_obj.profile.patronage >= 200 %}<textarea readonly class="table-textarea">{{user_obj.profile.stream_poll_nominations}}</textarea>
        <p class="r"><a href="{% url 'change_stream_poll_nominations' %}">Change Stream Poll Nominations</a></p>
        {% else %}<i>Unavailable at your current pledge and/or tier.</i>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Stream Selections<br>[$20+, "ZZT River Stream" Tier]</th>
        <td colspan="2">{% if user_obj.profile.patronage >= 2000 and user_obj.profile.patron_tier == TIERS.ZZT_RIVER %}<textarea readonly class="table-textarea">{{user_obj.profile.stream_selections}}</textarea>
        <p class="r"><a href="{% url 'change_stream_selections' %}">Change Stream Selections</a></p>{% else %}
        <i>Unavailable at your current pledge and/or tier.</i>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Closer Look Poll Nominations<br>[$20+, "20 KB Board Size" Tier]</th>
        <td colspan="2">{% if user_obj.profile.patronage >= 2000 and user_obj.profile.patron_tier == TIERS.BOARD_SIZE %}<textarea readonly class="table-textarea">{{user_obj.profile.closer_look_nominations}}</textarea>
        <p class="r"><a href="{% url 'change_closer_look_poll_nominations' %}">Change Closer Look Poll Nominations</a></p>
        {% else %}
        <i>Unavailable at your current pledge and/or tier.</i>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Guest Stream Selections<br>[$30+, "Throwstar Seek" Tier]</th>
        <td colspan="2">{% if user_obj.profile.patronage >= 3000  and user_obj.profile.patron_tier == TIERS.THROWSTAR_SEEK %}<textarea readonly class="table-textarea">{{user_obj.profile.guest_stream_selections}}</textarea>
        <p class="r"><a href="{% url 'change_guest_stream_selections' %}">Change Guest Stream Selections</a></p>
        {% else %}
        <i>Unavailable at your current pledge and/or tier.</i>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Closer Look Selection<br>[$50+, "?HEALTH" Tier]</th>
        <td colspan="2">{% if user_obj.profile.patronage >= 5000  and user_obj.profile.patron_tier == TIERS.HEALTH %}<textarea readonly class="table-textarea">{{user_obj.profile.closer_look_selections}}</textarea>
        <p class="r"><a href="{% url 'change_closer_look_selections' %}">Change Closer Look Selections</a></p>
        {% else %}
        <i>Unavailable at your current pledge and/or tier.</i>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>BKZZT Topics<br>[$100+, "Bribe the Mayor..." Tier]</th>
        <td colspan="2">{% if user_obj.profile.patronage >= 10000  and user_obj.profile.patron_tier == TIERS.BRIBE_THE_MAYOR %}<textarea readonly class="table-textarea">{{user_obj.profile.bkzzt_topics}}</textarea>
        <p class="r"><a href="{% url 'change_bkzzt_topics' %}">Change BKZZT Topics</a></p>
        {% else %}
        <i>Unavailable at your current pledge and/or tier.</i>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Beta Site Credentials<br>[$5+]</th>
        {% if user_obj.profile.patronage >= 500 %}<td class="mono">Username: {{BETA_USERNAME}}<br>Password: {{BETA_PASSWORD}}</td>
        <td><a href="https://beta.museumofzzt.com" target="_blank">Visit Beta Site</a></td>
        {% else %}
        <td colspan="2"><i>Unavailable at your current pledge and/or tier.</i></td>
        {% endif %}
    </tr>
</table>
<p>Patronage information is updated nightly. If information is inaccurate and you are unable to access functionality you should be able to access, contact <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a>.
<p class="r"><i>* This information is not displayed on your public profile, but is publicly displayed elsewhere.</i></p>
{% endif %}
{% endif %}{% comment %}End private check{% endcomment %}

{% else %}
<h1>Non-Registered User Data</h1>
<table>
    <tr>
        <th>ASCII Avatar</th>
        <td>{% char 2 'white' 'darkblue' scale=2 %} Char 2 white on dark blue</td>
    </tr>
    <tr>
        <th>Maximum Upload Size</th>
        <td>{{UPLOAD_CAP|filesizeformat}} ({{UPLOAD_CAP}} bytes)</td>
    </tr>
</table>
{% endif %}

{% if show_session %}
<h1>Session Data</h1>

<table>
    {% for k,v,hr in user_data %}
    <tr>
        <th>{{hr}}</th>
        <td>{{v}}</td>
        <td class="c"><a href="?delete={{k}}">Delete</a></td>
    </tr>
    {% empty %}
    <tr><td class="c b">No Data Found</td></tr>
    {% endfor %}
</table>
{% endif %}

{% if user.is_authenticated and private %}
<h1>Account Actions</h1>
<ul>
    <li><a href="{% url 'logout_user' %}">Log out</a></li>
</ul>
{% endif %}
</section>
{% endblock %}
