{% extends "museum_site/main.html" %}
{% load zzt_tags %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
{% if user_obj %}
<h1>User Data</h1>
<table>
    <tr>
        <th>Username</th>
        <td>{{user_obj.username}}</td>
    </tr>
    <tr>
        <th>Password</th>
        <td><a href="">Change Password</a></td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{user_obj.email}}</td>
    </tr>
    <tr>
        <th>Active</th>
        <td>{{user_obj.is_active|yesno|title}}</td>
    </tr>
    <tr>
        <th>Staff</th>
        <td>{{user_obj.is_staff|yesno|title}}</td>
    </tr>
    <tr>
        <th>Last Login</th>
        <td>{{user_obj.last_login}}</td>
    </tr>
    <tr>
        <th>Date Joined</th>
        <td>{{user_obj.date_joined}}</td>
    </tr>

    <tr>
        <th>ASCII Avatar</th>
        <td>{% char user_obj.profile.char user_obj.profile.fg user_obj.profile.bg scale=2 %} Char{{user_obj.profile.char}} {{user_obj.profile.fg}} on {{user_obj.profile.bg}}</td>
    </tr>
    <tr>
        <th>Maximum Upload Size</th>
        <td>{{user_obj.profile.max_upload_size|filesizeformat}} ({{user_obj.profile.max_upload_size}} bytes)</td>
    </tr>
    <tr>
        <th>Files Uploaded</th>
        <td>{{user_obj.profile.files_uploaded}}</td>
    </tr>
    <tr>
        <th>Pronouns</th>
        <td>{{user_obj.profile.pronouns}}</td>
    </tr>
    <tr>
        <th>Patron</th>
        <td>{{user_obj.profile.patron|yesno|title}}</td>
    </tr>
    <tr>
        <th>Patron Level</th>
        <td>{{user_obj.profile.patron_level}}</td>
    </tr>
    <tr>
        <th>Site Credits Name</th>
        <td>{{user_obj.profile.patron_level}}</td>
    </tr>
    <tr>
        <th>Stream Credits Name</th>
        <td>{{user_obj.profile.patron_level}}</td>
    </tr>
</table>
{% else %}
<h1>Non-Registered User Data</h1>
<table>
    <tr>
        <th>ASCII Avatar</th>
        <td>{% char 2 'white' 'darkblue' scale=2 %} Char 2 white on dark blue</td>
    </tr>
    <tr>
        <th>Maximum Upload Size</th>
        <td>{{UPLOAD_CAP|filesizeformat}} ({{UPLOAD_CAP}} bytes)</td>
    </tr>
</table>
{% endif %}

<h1>Session Data</h1>

<table>
    {% for k,v in user_data %}
    <tr>
        <th>{{k}}</th>
        <td>{{v}}</td>
        <td class="c"><a href="?delete={{k}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% if user.is_authenticated %}
<a href="{% url 'logout_user' %}">Log out</a>
{% endif %}
</section>
{% endblock %}
