{% extends "museum_site/main.html" %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Reset Password</h1>

<p>Your request has been received. If the provided email has an associated account, an email will be sent to <b>{{request.POST.email}}</b> containing a token to reset your password. A link is also provided to automatically enter the token's value.</p>

<p>If no message is received, check your spam folder and wait a few minutes before trying again. If the issue persists, <a href="mailto:{{EMAIL_ADDRESS}}">contact Dr. Dos</a>.
<form method="POST">
{% csrf_token %}
<input type="hidden" name="action" value="reset-password">

{% if not token %}
<div class="field{% if errors.token %} error{% endif %}">
    <label for="token">Reset Token:<br>
        <span class="sub"></span>
    </label>
    <div class="field-group">
        <input id="token" name="token" maxlength="150" type="text" value="{{request.POST.token}}">
        <p class="form-error">{{errors.token}}</p>
    </div>
</div>
{% else %}
<input type="hidden" name="token" value="{{token}}">
<div class="field{% if errors.token %} error{% endif %}">
    <label for="token">Reset Token:<br>
        <span class="sub"></span>
    </label>
    <div class="field-group">
        <input id="token" name="token" maxlength="150" type="hidden" value="{{request.POST.token}}">
        <div class="prepop-data">{{token}}</div>
        <p class="form-error">{{errors.token}}</p>
    </div>
</div>
{% endif %}

<div class="field{% if errors.pwd %} error{% endif %}">
    <label for="moz-pw">New Password:<br>
        <span class="sub">Use a unique password for your account. Passwords are hashed and will not be viewable.</span>
    </label>
    <div class="field-group">
        <input id="moz-pw" name="moz-pw" maxlength="150" type="password" value="">
        <p class="form-error">{{errors.pwd}}</p>
    </div>
</div>

<div class="field">
    <label for="moz-pw-conf">Confirm Password:<br>
        <span class="sub"></span>
    </label>
    <div class="field-group">
        <input id="moz-pw-conf" name="moz-pw-conf" maxlength="150" type="password" value="">
    </div>
</div>

<div class="field">
    <button type="submit" id="submit-forgotten-password-button" class="full-width-submit">Update your password</button>
</div>

</form>
</section>
{% endblock %}
