{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="col block">
{% if file and not local%}
<h1>[{{file.filename}}] - {{file.title}}{% if debug %} <span class="debug"><a href="/admin/museum_site/file/{{file.id}}/change/">Edit {{file.id}}</a></span>{% endif %}</h1>
<div class="file-links">
    {% include "museum_site/blocks/file_links.html" %}
</div>
<div class="file-meta">
    <div>Author<br> {% for a in file.author_list %}<a href="{% url 'search' %}?author={{a}}">{{a}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
    <div>Released<br> <a href="{% url 'search' %}?year={{file.release_date.year|default:'any'}}" title="{% if file.release_date %}Source: {{file.release_source}}{% endif %}">{{file.release_date|default:"Unknown"}}</a></div>
    <div>Genre<br> {% for g in file.genre_list %}<a href="{% url 'search' %}?genre={{g}}">{{g}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
    <div>Company<br> <a href="{% url 'search' %}?company={{file.company}}">{{file.company}}</a></div>
    <div>Size<br> {{file.size}} KB</div>
    <div>Rating<br> {%if file.rating != None %}<span title="Based on {{file.review_count}} review{{file.review_count|pluralize}}">{{file.rating|floatformat:"2"}} / 5.00</span>{% else %}<em>No rating</em>{% endif %}</div>
</div>
{% endif %}
{% if local %}
<h1>Local File Viewer - <input type="file" id="local-file-path"> <button id="local-load">Load File</button></h1>
{% endif %}

{% block world_content %}
{% endblock %}

</section>
{% endblock %}
