{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
input[name=count], input[name=priority]
{
    width:4ch;
    text-align:center;
}

.controls
{
    border:1px solid #000;
    padding:0.5em;
}

.tuesday-skip
{
    font-size:xx-large;
    text-align:center;
    padding:1em;
    background:#F00;
    margin:0.5em;
}
</style>
{% endblock %}

{% block scripts %}
<script>
var tweet_date = new Date();
var dow_str = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

$(document).ready(function (){

    var now = new Date();

    // Calculate the next time to tweet
    var h = now.getHours();
    var m = now.getMinutes();
    if (m >= 45)
        h = h + 1;
    while (h % 3 != 2)
    {
        h++;
    }
    var next_hour = h;

    tweet_date.setHours(next_hour);
    tweet_date.setSeconds(0);
    tweet_date.setMinutes(45);

    $("h1.title").each(function (){
        var dow = tweet_date.getDay();

        {% if request.GET.category != "tuesday" %}
        console.log("Included tuesday skip code");
        // Skip Tuesdays
        if (tweet_date.getDay() == 2)
        {
            tweet_date.setHours(26);
            console.log("Skipping Tuesday my dudes");
            console.log($(this));
            var element = $(this).parent();
            $("<div class='tuesday-skip'>SKIPPING TITLE SCREEN TUESDAY</div>").insertBefore(element);
        }
        {% else %}
        // Force Tuesday
        console.log("Included tuesday force code");
        if (tweet_date.getDay() != 2)
        {
            tweet_date.setDate(tweet_date.getDate() + 6);
        }
        {% endif %}

        $(this).text(dow_str[tweet_date.getDay()] + ". " + tweet_date.toLocaleString());
        tweet_date.setHours(tweet_date.getHours() + 3);


        $("#queue-end").text(tweet_date.toLocaleString());
    });

    $(".screenshot-thumb").click();
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Worlds of ZZT Queue{% if request.user.is_staff %}[STAFF MODE]{% endif %}</h1>
<p>Category: <b>{{request.GET.category|default:"wozzt"}}</b><br>
<a href="?category=wozzt">Worlds of ZZT</a> | <a href="?category=tuesday">Title Screen Tuesday</a></p>
<p>Times are displayed in your local time zone.</p>
<p><b>{{queue_size}}</b> entries in queue ending on <span id="queue-end">-</span>.</p>

{% if request.user.is_staff %}
<form method="POST" class="controls">
    {% csrf_token %}
    <input type="hidden" name="action" value="roll">
    Quantity: <input name="count" value="{{request.POST.count|default:56}}" maxlength="2"> |
    Category: <select name="category">
        <option value="wozzt">Worlds of ZZT</option>
        <option value="tuesday">Title Screen Tuesday</option>
    </select> |
    <input type="submit" value="Roll">
</form>
{% endif %}

{% for entry in queue %}
<div class="wozzt-queue-entry overview-block" id="queue-{{entry.id}}">
    <img src="{% static "wozzt-queue/"|add:entry.uuid %}.png" class="screenshot-thumb">
    <h1 class="title" id="test-{{entry.id}}"></h1>
    <div class="wide-info">
        <div class="field">
            <div class="key">Tweet</div><div class="value">{{entry.tweet_text|linebreaks}}</div>
        </div>
        <div class="field">
            <div class="key">Links</div><div class="value">
                <a href="{{entry.file.file_url}}?file={{entry.zzt_file}}&board={{entry.board}}" target="_blank">File</a>
            </div>
        </div>
        {% if request.user.is_staff %}
        <div class="field">
            <div class="key">Priority</div><div class="value">
                <form method="POST">
                {% csrf_token %}
                <input name="action" value="set-priority" type="hidden">
                <input name="id" value="{{entry.id}}" type="hidden">
                <input name="priority" value="{{entry.priority}}">
                <input type="submit" value="Update">
                </form>
            </div>
        </div>
        <div class="field">
            <div class="key">Action</div><div class="value">
                <form method="POST">
                {% csrf_token %}
                <input name="action" value="delete" type="hidden">
                <input name="id" value="{{entry.id}}" type="hidden">
                <input type="submit" value="Delete">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
</section>
{% endblock %}
