{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<style>
.tuesday-skip
{
    font-size:xx-large;
    text-align:center;
    padding:1em;
    background:#619F9F;
    margin:0.5em;
    border:4px dashed #000;
}
</style>
{% endblock %}

{% block scripts %}
<script>
var tweet_date = new Date();
var dow_str = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

$(document).ready(function (){
    set_csrf();

    var now = new Date();
    var dow = now.getDay()

    // Calculate the next time to tweet
    var h = now.getHours();
    var m = now.getMinutes();
    if (m >= 45)
        h = h + 1;
    while (h % 3 != 2)
    {
        h++;
    }
    var next_hour = h;
    tweet_date.setHours(next_hour);

    {% if request.GET.category == "tuesday" %}
    // Tuesday code
    var distance = (2 - dow);
    if (distance)
    {
        tweet_date.setDate(tweet_date.getDate() + distance);
        tweet_date.setHours(2);
    }
    {% endif %}

    tweet_date.setSeconds(0);
    tweet_date.setMinutes(45);

    $("h2.title .value").each(function (){
        {% if request.GET.category != "tuesday" %}
        // Skip Tuesdays
        if (tweet_date.getDay() == 2)
        {
            tweet_date.setHours(26);
            var element = $(this).parent().parent();
            $("<div class='tuesday-skip'>Title Screen Tuesday</div>").insertBefore(element);
        }
        {% endif %}


        $(this).text(dow_str[tweet_date.getDay()] + ". " + tweet_date.toLocaleString());
        tweet_date.setHours(tweet_date.getHours() + 3);

        {% if request.GET.category == "tuesday" %}
        if (tweet_date.getDay() != 2)
        {
            tweet_date.setDate(tweet_date.getDate() + 6);
            tweet_date.setHours(2);
        }
        {% endif %}

        $("#queue-end").text(tweet_date.toLocaleString());
    });

    $(".preview-image.zoomable.thumbnail").click();
});

function set_csrf()
{
    var val = $("input[name=csrfmiddlewaretoken]").first().val();
    $("input[name=csrfmiddlewaretoken]").val(val);
}
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Worlds of ZZT Queue{% if request.user.is_staff %} [STAFF MODE]{% endif %}</h1>
<p>Category: <b>{{request.GET.category|title|default:"Wozzt"}}</b><br>
<a href="?category=wozzt">Worlds of ZZT</a> | <a href="?category=tuesday">Title Screen Tuesday</a> | <a href="?category=discord">Discord Queue</a> | <a href="?category=failed">Failed Tweets</a></p>
<p>Times are displayed in your local time zone.</p>
<p>There are currently <b>{{queue_size}}</b> entries in the queue. The queue will be exhausted on <span id="queue-end" class="b">-</span>.</p>

{% if request.user.is_staff %}
<form method="POST" class="controls">
    {% csrf_token %}
    <input type="hidden" name="action" value="roll">
    Quantity: <input name="count" value="{{request.POST.count|default:56}}" maxlength="2"> |
    Category: <select name="category">
        <option value="wozzt">Worlds of ZZT</option>
        <option value="tuesday"{% if request.GET.category == 'tuesday' %} selected{% endif %}>Title Screen Tuesday</option>
        <option value="discord"{% if request.GET.category == 'discord' %} selected{% endif %}>Discord Queue</option>
    </select> |
    <input type="submit" value="Roll">
</form>
{% endif %}

{% generic_block_loop items=queue %}
{% endblock %}
