{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<style>
.tuesday-skip
{
    font-size:xx-large;
    text-align:center;
    padding:1em;
    background:#619F9F;
    margin:0.5em;
    border:4px dashed #000;
}
</style>
{% endblock %}

{% block scripts %}
<script>
function set_csrf()
{
    var val = $("input[name=csrfmiddlewaretoken]").first().val();
    $("input[name=csrfmiddlewaretoken]").val(val);
}

var dow_str = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
$(document).ready(function (){
    set_csrf();
    var now = new Date();
    var next = now;
    var append_tuesday = true;

    next.setMinutes(45);
    next.setSeconds(0);

    /* Title Seen Tuesday Tweaks */
    {% if request.GET.category == "tuesday" %}
    append_tuesday = false;
    while (next.getUTCDay() != 2)
    {
        next.setUTCHours(next.getUTCHours() + 1);
    }
    {% endif %}

    while (next.getUTCHours() % 3 != 0)
    {
        next.setHours(next.getHours() + 1);
    }

    $(".model-block[data-model=WoZZT-Queue] h2").each(function (){
        $(this).text(dow_str[next.getDay()] + ". " + next.toLocaleString());
        next.setHours(next.getHours() + 3);

        if (next.getUTCDay() == 2 && append_tuesday)
        {
            var element = $(this).parent().parent();
            $("<div class='tuesday-skip'>Title Screen Tuesday</div>").insertAfter(element);
            next.setDate(next.getDate() + 1);
        }
        if (next.getUTCDay() != 2 && ! append_tuesday)
        {
            // Adjust date again
            while (next.getUTCDay() != 2)
            {
                next.setUTCHours(next.getUTCHours() + 24);
            }
        }
        $("#queue-end").text(next.toLocaleString());
    });

});
</script>
{% endblock %}
{% block staff_scripts %}{% if request.user.is_staff %}
<script src="{% static 'js/staff-wozzt.js'%}"></script>
{% endif %}{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Worlds of ZZT Queue{% if request.user.is_staff %} [STAFF MODE]{% endif %}</h1>

<a href="?category=wozzt">Worlds of ZZT</a>
| <a href="?category=tuesday">Title Screen Tuesday</a>
{% if request.user.is_staff %}
| <a href="?category=discord">Discord Queue</a>
| <a href="?category=failed">Failed Tweets</a>
{% endif %}
<p>Current Category: <b>{{category|title|default:"Wozzt"}}</b><br>

{% if request.GET.category == "tuesday" %}
<p>The Title Screen Tuesday queue is posted from once every three hours starting at 00:45 UTC on Tuesdays. It consists of randomly selected title screen boards from (nearly) every non-explicit marked ZZT world hosted on the Museum of ZZT that can be displayed with the default character set and palette.</p>
{% else %}
<p>The main WoZZT queue is posted from once every three hours starting at 00:45 UTC each day, except for on Tuesdays where the "Title Screen Tuesday" queue is used instead. It consists of randomly selected boards from (nearly) every non-explicit marked ZZT world hosted on the Museum of ZZT that can be displayed with the default character set and palette.</p>
{% endif %}

<p>There are currently <b>{{queue_size}}</b> entries in the queue. <a href="{% url 'patreon' %}" target="_blank">Worlds of ZZT Patrons</a> may view the complete queue, while non-patrons are limited to the next sixteen entries.{% if request.user.is_staff %}The queue will be exhausted on <span id="queue-end" class="b">-</span>.{% endif %}</p>

<p>Times are displayed in your local time zone.</p>

<p>Items in the queue are subject to repositioning or removal at any time. Additional entries are added to the queue typically on the 10th, 20th, and 30th of each month, give or take a day. After being generated, new additions are manually checked to minimize the chance of tweeting offensive material.</p>

<p>You can follow these queue entries as they are posted on the Worlds of ZZT Twitter, Mastodon, Tumblr, and Discord server.</p>
<div class="flex-container justify-center flex-wrap">
{% plug 'twitter' %}
{% plug 'mastodon' %}
{% plug 'tumblr' %}
{% plug 'discord' %}
</div>

{% if request.user.is_staff %}
<form method="POST" class="controls">
    {% csrf_token %}
    <input type="hidden" name="action" value="roll">
    Quantity: <input name="count" value="{{request.POST.count|default:56}}" maxlength="2"> |
    Category: <select name="category">
        <option value="wozzt">Worlds of ZZT</option>
        <option value="tuesday"{% if request.GET.category == 'tuesday' %} selected{% endif %}>Title Screen Tuesday</option>
        <option value="discord"{% if request.GET.category == 'discord' %} selected{% endif %}>Discord Queue</option>
    </select> |
    <input type="submit" value="Roll">
</form>
{% endif %}

{% queryset_to_model_blocks queue view="detailed" %}
{% endblock %}
