{% extends "museum_site/main.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/elements.js' %}"></script>
<script src="{% static 'js/z0x.js' %}"></script>
{% endblock %}

{% block style %}
<style>
#z0x
{
    border:1px solid #333;
    font-family:monospace;
    display:flex;
    flex-wrap:wrap;
}

#z0x > div
{
    padding:0.25em;
}

#nav
{
    flex:1 1 100%;
    border-bottom:1px solid #333;
    height:2em;
}

#hex
{
    flex:0 0 29em;
    border-right:1px solid #333;
    height:600px;
    overflow:auto;
    color:#FFF;
    background:#000;
}

#hex span:hover
{
    background:#AAA;
    cursor:help;
}

#text
{
    flex:0 0 12em;
    border-right:1px solid #333;
    height:600px;
    overflow:auto;
}

#text span
{

}

#friendly
{
    flex:1;
    height:600px;
    overflow:auto;
}

.hex .identifier
{
    color:yellow;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="col block">
    <input id="file" type="file"> <input id="open" type="button" value="Open File">
    <hr>

    <div id="z0x">
        <div id="nav">
            0x<input id="address" value="">
            <input id="addr-seek" type="button" value="Seek">
        </div>
        <div id="hex">
        </div>

        <div id="text">
        </div>

        <div id="friendly">
        </div>
    </div>
</section>
{% endblock %}
