{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block meta %}{% meta_tags path=request.get_full_path context=file.get_meta_tag_context %}{% endblock %}

{% block style %}
<style>
#review-form-controls
{
    display:flex;
    justify-content:space-between;
    border-top:1px dashed #000;
    padding:7px 4px 7px 4px;
}

#review-form-controls input { flex:0 0 40%; }
#new-review { display:none; }
</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/museum-forms.js' %}?{{BOOT_TS}}"></script>
<script>
$(document).ready(function (){
    $("#preview-review").click(function (){
        $.ajax({
        url:"/ajax/render-review-text/",
        method:"POST",
        data:{
            "title":$("#id_title").val(),
            "content":$("#id_content").val(),
            "rating":$("#id_rating").val(),
            "author":$("#id_author").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
        }
        }).done(function (rendered){
            console.log(rendered);
            $("#review-preview-wrapper").html(rendered);
        });
    });
});
</script>
{% endblock %}

{% block content %}
{% if object_list %}
<div class="view-links">
    <div><a href="#give-feedback">Give Feedback</a></div>
</div>
<div class="sort-methods">
Sort: <select name="sort">
        {% for option in sort_options %}
            <option value="{{option.val}}"{% if request.GET.sort == option.val %} selected {%endif %}>{{option.text}}</option>
        {% endfor %}
    </select>
</div>
<div class="modify-query">
    Filter Feedback To: <a href="?filter=reviews">Reviews</a>, <a href="?filter=hints">Hints &amp; Solutions</a>, <a href="?filter=cws">Content Warnings</a>, <a href="?filter=bugs">Bug Reports</a>
    {% if request.GET.filter %}
    , <a href="{{request.path}}">Remove Filter</a>
    {% endif %}
</div>

{% queryset_to_model_blocks object_list view="review_content" %}
{% endif %}

<section id="give-feedback">
{% if cant_review_message %}
    <h2>Cannot Give Feedback On File</h2>
    <p>{{cant_review_message|safe}}</p>
{% else %}
    <h2>Give Feedback</h2>
    <form method="POST" action="{{request.path}}">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
    <div class="field-wrapper" data-field="author">
        <label for="id_author">Your Name:</label>
        <div class="field-value">
            <b>{{request.user.username}}</b>
        </div>
    </div>
    {% endif %}
    {% include "museum_site/blocks/generic-form.html" %}
    {% if not user.is_authenticated %}
    <div style="border-top:1px dashed #000;">
    <p>Feedback can only be provided on a file once every 24 hours for guests. Please sign in to a <a href="{% url 'login_user' %}">Museum of ZZT account</a> if you wish to provide additional feedback.</p>
    </div>
    {% endif %}
    {% if form %}
    <div id="review-form-controls">
        <input type="button" id="preview-review" value="Preview Feedback">
        <input type="submit" value="Submit Feedback">
    </div>
    {% endif %}
    </form>
{% endif%}
<hr>
<div id="review-preview-wrapper"></div>
</section>
{% endblock %}
