{% extends "museum_site/subtemplate/mass-dl/mass-dl-base.html" %}

{% block what %}A compiliation of all Featured worlds hosted on the Museum of ZZT.{% endblock %}

{% block instructions %}Most, though not all included files are designed to run with ZZT v3.2.

To run:
- Download ZZT v3.2 from https://museumofzzt.com/file/view/zzt/
- Extract ZZT and any worlds you wish you play into a directory
- Download the latest version of Zeta from https://zeta.asie.pl
- Extract Zeta into the directory containing ZZT and your ZZT worlds
- Run zeta86.exe and configure ZZT (You'll likely want "K"eyboard and "C"olor)
- Press W to bring up the world list and ENTER to select a world
- Press P to play!

Other worlds included in this compilation may require Weave (included in the
games' zip files) or Super ZZT (not included in the games' zip files).

For more detailed set up instructions, please refer to
https://museumofzzt.com/zzt/

Additional setup may be required for some worlds.{% endblock %}
