{% extends "museum_site/subtemplate/mass-dl/mass-dl-base.html" %}

{% block what %}A compiliation of all Weave worlds hosted on the Museum of ZZT.{% endblock %}

{% block instructions %}To run:
- Extract any worlds you wish you play into their own directories
- Download the latest version of Zeta from https://zeta.asie.pl
- Extract a copy of Zeta into these directories
- Run zeta86.exe -e "WeaveExecutable.exe"

Weave worlds are bundled with the appropriate version of Weave under which they
run. Some zip files may include batch files to automatically launch the
included game.

Additional setup may be required for some worlds.{% endblock %}
