{% extends "main.html" %}

{% block title %} - Article Management{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/css/staff.css">
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#article_id").change(function (){
        window.location = "?article_id="+$(this).val();
    });
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>Article Management</h1>

<form method="POST">
{% csrf_token %}
<div class="field">
    <label for="article_id">Article:<br>
        <span class="sub">The article to work with.</span>
    </label>
    <select id="article_id" name="article_id">
        <option value="NEW">NEW ARTICLE</option>
        {% for a in articles %}
            <option value="{{a.id}}"{% if a.id == article.id %} selected {% endif %}>{{a.title}}</option>
        {% endfor %}
    </select>
</div>
<div class="field">
    <label for="title">Title:<br>
        <span class="sub">The title for the article.</span>
    </label>
    <input id="title" name="title" value="{{article.title}}" maxlength="50">
</div>
<div class="field">
    <label for="author">Author:<br>
        <span class="sub">The author for the article.</span>
    </label>
    <input id="author" name="author" value="{{article.author}}" maxlength="50">
</div>
<div class="field">
    <label for="type">Type:<br>
        <span class="sub">The formatting of the article.</span>
    </label>
    <select name="type" id="type">
        <option value="html"{% if article.type == 'html' %} selected{% endif %}>HTML</option>
        <option value="text"{% if article.type == 'text' %} selected{% endif %}>Plain text</option>
    </select>
</div>
<div class="field">
    <label for="category">Category:<br>
        <span class="sub">The category for the article.</span>
    </label>
    <input id="category" name="category" value="{{article.category}}" maxlength="50">
</div>
<div class="field">
    <label for="a_content">Content:<br>
        <span class="sub">The content for the article.</span>
    </label>
    <textarea id="a_content" name="content">{{article.content|safe}}</textarea>
</div>
<div class="field">
    <label for="css">CSS:<br>
        <span class="sub">The css for the article.</span>
    </label>
    <textarea id="css" name="css">{{article.css|safe}}</textarea>
</div>
<div class="field">
    <label for="date">Date:<br>
        <span class="sub">The date for the article.</span>
    </label>
    <input id="date" name="date" value="{% if article.date %}{{article.date|date:'Y-m-d'}}{% else %}{{today|date:'Y-m-d'}}{% endif %}" maxlength="50">
</div>
<div class="field">
    <label for="published">Published:<br>
        <span class="sub">The published for the article.</span>
    </label>
    <input id="published" name="published" type="checkbox" value="1"{% if article.published %} checked="CHECKED"{% endif %}>
</div>
<div class="field">
    <label for="file_id">File:<br>
        <span class="sub">The file for the article.</span>
    </label>
    <input id="file_id" name="file_id" value="{% if article.file_id %}{{article.file_id}}{% endif %}" maxlength="50">
</div>
<div class="field">
    <button type="submit">Save Article Settings</button>
    <input name="action" type="hidden" value="save">
</div>


<div>
    <h2>Results</h2>
    {{results}}
</div>
</form>
</section>
{% endblock %}