{% extends "main.html" %}

{% block title %} - File Management{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/css/staff.css">
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("#load_file").click(function (){
        window.location = "?letter="+$("select[name=letter_filter]").val()+"&file_name="+$("input[name=file_name_filter]").val();
    });
    
    var details = {{file.get_detail_ids}};
    var genres = {{file.get_genre_ids}};
    
    for (var x = 0; x < details.length; x++)
        $("input[name=detail][value="+details[x]+"]").prop("checked", true);
    for (var x = 0; x < genres.length; x++)
        $("input[name=genres][value="+genres[x]+"]").prop("checked", true);
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="col block">
<h1>File Management</h1>

<div class="field">
    <label>Filter:<br>
        <span class="sub">The file to work with.</span>
    </label>
    <select name="letter_filter">
        <option value="1" {% if file.letter == "1" %} selected{% endif %}>#</option>
        <option value="a" {% if file.letter == "a" %} selected{% endif %}>a</option>
        <option value="b" {% if file.letter == "b" %} selected{% endif %}>b</option>
        <option value="c" {% if file.letter == "c" %} selected{% endif %}>c</option>
        <option value="d" {% if file.letter == "d" %} selected{% endif %}>d</option>
        <option value="e" {% if file.letter == "e" %} selected{% endif %}>e</option>
        <option value="f" {% if file.letter == "f" %} selected{% endif %}>f</option>
        <option value="g" {% if file.letter == "g" %} selected{% endif %}>g</option>
        <option value="h" {% if file.letter == "h" %} selected{% endif %}>h</option>
        <option value="i" {% if file.letter == "i" %} selected{% endif %}>i</option>
        <option value="j" {% if file.letter == "j" %} selected{% endif %}>j</option>
        <option value="k" {% if file.letter == "k" %} selected{% endif %}>k</option>
        <option value="l" {% if file.letter == "l" %} selected{% endif %}>l</option>
        <option value="m" {% if file.letter == "m" %} selected{% endif %}>m</option>
        <option value="n" {% if file.letter == "n" %} selected{% endif %}>n</option>
        <option value="o" {% if file.letter == "o" %} selected{% endif %}>i</option>
        <option value="p" {% if file.letter == "p" %} selected{% endif %}>p</option>
        <option value="q" {% if file.letter == "q" %} selected{% endif %}>q</option>
        <option value="r" {% if file.letter == "r" %} selected{% endif %}>r</option>
        <option value="s" {% if file.letter == "s" %} selected{% endif %}>s</option>
        <option value="t" {% if file.letter == "t" %} selected{% endif %}>t</option>
        <option value="u" {% if file.letter == "u" %} selected{% endif %}>u</option>
        <option value="v" {% if file.letter == "v" %} selected{% endif %}>v</option>
        <option value="w" {% if file.letter == "w" %} selected{% endif %}>w</option>
        <option value="x" {% if file.letter == "x" %} selected{% endif %}>x</option>
        <option value="y" {% if file.letter == "y" %} selected{% endif %}>y</option>
        <option value="z" {% if file.letter == "z" %} selected{% endif %}>z</option>
    </select>
    <input name="file_name_filter" value="{{file.filename}}">.zip
    <input id="load_file" type="button" value="Load File">
</div>

<form method="POST">
{% csrf_token %}
<input name="file_id" value="{{file.id}}" type="hidden">
<div class="field">
    <label for="title">Title:<br>
        <span class="sub">The title for the file.</span>
    </label>
    <input id="title" name="title" value="{{file.title}}" maxlength="50">
</div>
<div class="field">
    <label for="author">Author:<br>
        <span class="sub">The author for the file.</span>
    </label>
    <input id="author" name="author" value="{{file.author}}" maxlength="50">
</div>
<div class="field">
    <label for="filename">File Name:<br>
        <span class="sub">The filename of the zip.</span>
    </label>
    <input id="filename" name="filename" value="{{file.filename}}" maxlength="50">
</div>
<div class="field">
    <label for="category">Category:<br>
        <span class="sub">The category for the file.</span>
    </label>
    <select id="category" name="category">
        <option{% if file.category == "ZZT" %} selected {% endif %}>ZZT</option>
        <option{% if file.category == "Super ZZT" %} selected {% endif %}>Super ZZT</option>
        <option{% if file.category == "ZIG" %} selected {% endif %}>ZIG</option>
        <option{% if file.category == "Utility" %} selected {% endif %}>Utility</option>
    </select>
</div>
<div class="field">
    <label for="release_date">Release Date:<br>
        <span class="sub">The day this file was first made available. Likely an estimate. (YYYY-MM-DD format)</span>
    </label>
    <input id="release_date" name="release_date" value="{% if file.release_date %}{{file.release_date}}{% endif %}" maxlength="50">
</div>
<div class="field">
    <label for="release_source">Release Source:<br>
        <span class="sub">Where the release date came from</span>
    </label>
    <select id="release_source" name="release_source">
        <option{% if file.category == "ZZT File" %} selected {% endif %}>ZZT File</option>
        <option{% if file.category == "News Post" %} selected {% endif %}>News Post</option>
        <option{% if file.category == "Text File" %} selected {% endif %}>Text File</option>
        <option{% if file.category == "Author" %} selected {% endif %}>Author</option>
    </select>
</div>
<div class="field">
    <label for="company">Company<br>
        <span class="sub">The company this file was published under.</span>
    </label>
    <input id="company" name="company" value="{% if file.company %}{{file.company}}{% endif %}" maxlength="50">
</div>
<div class="field">
    <label for="description">Description<br>
        <span class="sub">Description for utilities or featured games.</span>
    </label>
    <input id="description" name="description" value="{% if file.description %}{{file.description}}{% endif %}" maxlength="50">
</div>
<div class="field">
    <label for="genres">Genres<br>
        <span class="sub">genres to tag this file with</span>
    </label>
    <div class="checklist">
        {% for genre in genres %}
            <label><input name="genre" type="checkbox" value="{{genre.id}}"> - {{genre.genre}}</label><br>
        {% endfor %}
    </div>
</div>
<div class="field">
    <label for="details">Details<br>
        <span class="sub">Details to tag this file with</span>
    </label>
    <div class="checklist">
        <input name="original_detail" value="{% for detail in file.details.all %}{{detail.id}},{% endfor %}" type="hidden">
        {% for detail in details %}
            <label><input name="detail" type="checkbox" value="{{detail.id}}"> - {{detail.detail}}</label><br>
        {% endfor %}
    </div>
</div>

<div class="field">
    <button type="submit">Save File Settings</button>
    <input name="action" type="hidden" value="save">
</div>

<div>
    <h2>Results</h2>
    {{results}}
</div>
</form>
</section>
{% endblock %}