form
{
    margin:auto;
}

input, select, textarea
{
    border:1px solid var(--border-color);
    background:var(--input-bg);
    font-size:larger;
    color: var(--text-color);
}

@media (max-width: 1024px)
{
    input, select, textarea { font-size:medium; }
}

input[type="button"], input[type="submit"], button
{
    background:var(--notice-bg);
    font-family:cp437;
    cursor:pointer;
    font-size:16px;
    padding:1px 4px 1px 4px;
    min-height:28px;
    border:1px solid var(--border-color);
    overflow:hidden;
}

.field-wrapper
{
    padding:7px 4px 7px 4px;
    border-top:1px dashed var(--border-color);
    display:grid;
    grid-template-areas:
     "label value"
     "help  value"
     "error error";
    grid-template-columns:50% auto;
    grid-template-rows:auto 1fr auto;
    column-gap:4px;
}

@media (max-width:480px) {
    .field-wrapper
    {
        grid-template-areas:
         "label help"
         "value value"
         "error error";
    }
}

.field-wrapper[data-field=first_name] { visibility:hidden; height:0px; width:0px; position:absolute; top:0; left:0; } /* Spam */

label
{
    font-weight:bold;
    grid-area: label;
}

.field-help
{
    grid-area: help;
    margin:7px 4px 7px 4px;
}

.field-value { grid-area: value; }
.field-value input[type=text], .field-value textarea, .field-value input[type=file], .field-value input[type=date],
.field-value input[type=url], .field-value select, .field-value input[type=password], .field-value input[type=email]
{
    box-sizing:border-box;
    width:100%;
}

.field-value ul {
    margin:0;
    padding:0;
    list-style: none;
}

.field-value label { font-weight:normal; }
.field-value input[type=checkbox] { width:auto; }
.field-value textarea { height:100px; }
.field-value input[type=button]
{
    margin:7px 0px 7px 8px;
    float:right;
    padding:7px 4px 7px 4px;
}

.chars-remaining, .size-limit
{
    font-size:smaller;
    text-align:right;
}

input:disabled { background:var(--file-list-bg); }

/* Specialty Forms */
.scrolling-checklist
{
    font-family:mono;
    min-height: 200px;
    height: 200px;
    overflow: auto;
    min-width: 300px;
    border: 1px solid var(--border-color);
    background: var(--board-list-bg);
    resize: vertical;
}

.scrolling-checklist label { display:block; }
.scrolling-checklist label + label {  border-top: 1px dotted var(--border-color); }
.scrolling-checklist label.selected { background: var(--header-bg);}
.scrolling-checklist label:hover { background:var(--hover-bg); }

.checklist-header
{
    font-weight:bold;
    background:var(--header-bg);
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    padding-left:3.5ch;
}

@media (max-width:480px) {
    .field-wrapper
    {
        grid-template-columns:35% auto;
    }
}

/* Advanced Search Tweaks For Mobile */
@media (max-width:480px) {
    .radio-list label
    {
        display:block;
    }

    .scrolling-checklist
    {
        min-width:auto;
        width:auto;
    }

    .scrolling-checklist-filter .widget-filter
    {
        max-width:60px;
    }
}

.upload-area
{
    display:flex;
    align-items:center;
    justify-content:center;
    box-sizing:border-box;
    height:100px;
    font-family:cp437;
    border:3px dashed var(--border-color);
    flex:1;
    cursor:pointer;
    background:var(--header-bg);
}

.upload-area.dragging { background:var(--hover-bg); }

.upload-info
{
    font-family:monospace;
    font-size:larger;
    max-height:150px;
    overflow:auto;
}

.upload-info .file-list-header
{
    border-bottom:1px solid var(--border-color);
    font-weight:bold;
    position:sticky;
    top:0px;
    background:var(--block-bg);
}

.upload-info .file-size { float:right; }
.upload-info .file-list li { border-bottom:1px dotted var(--border-color); }

.hr-checklist-values, .field_filter
{
    font-family:monospace;
    font-size:larger;
    border:1px solid var(--border-color);
    border-bottom:0px;
    padding:7px 4px 7px 4px;
    min-height:2.1ch;
    background-color:var(--header-bg);
    font-weight:bold;
}

.field_filter input { font-size:smaller; }
.field_filter label { font-weight:bold; }

#upload_form #id_zfile, #id_preview { display:none; } /* Auto hide widgets for drag and drop alternatives */

.field-with-error { background-color:var(--field-error-bg);; }

.errorlist { font-weight: bold; }

/* Older non-django form CSS below */
#terms { height:20ch; }

.field.error input { background: var(--field-error-bg); }
.field-group textarea { flex:1; }
.field-group p { flex:1 1 100%; margin:0; }
.form-error { font-weight:bold; }
.prepop-data { font-weight:bold; }
.field.error .prepop-data { background: var(--field-error-bg); }

.range-widget
{
    width:6ch;
    text-align:right;
}

.ul-scrolling-checklist
{
    max-height:250px;
    overflow-x:auto;
    border:1px solid var(--border-color);
    background: var(--file-list-bg);
    font-family:monospace;
    font-size:larger;
}

.ul-scrolling-checklist li { display:block; }
.ul-scrolling-checklist li + li {  border-top: 1px dotted var(--border-color); }
.ul-scrolling-checklist li.selected { background:var(--header-bg);}
.ul-scrolling-checklist li:hover { background:var(--hover-bg); }
li.arrangeable, li.arrangeable label { cursor:grab; }

.related-content-header
{
    text-align:center;
    font-weight:bold;
    border-bottom:1px solid var(--border-color);
}

.related-content-wrapper
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.related-content-wrapper label { flex:1 0 95%; }

/* Jul 2022 Form modifications */
.scrolling-checklist-filter
{
    background-color:var(--header-bg);
    border-bottom:1px solid var(--border-color);
    position:sticky;
    top:0px;
    font-size:16px;
    padding:2px 8px 2px 8px;
}

.scrolling-checklist-filter input[type=button].widget-clear { margin-top:-1px; }
.scrolling-checklist label input { margin-right:8px; margin-left:8px; }

.label-button { padding-left:16px; }
.label-button:hover { cursor:pointer; }

input[type=button]:hover, input[type=submit]:hover, button:hover
{
    text-decoration:underline;
    text-decoration-style:dashed;
    cursor:pointer;
}

.tag
{
    display:none; /* Template is hidden */
    margin:4px;
    font-weight:bold;
}

.tag-list { min-height:45px; }
.tag-list > div { display:inline-block; }
.tag-list > div:first-child { margin-left:0px; }
.tag > div { display:inline-block; }
.tag > div:hover { background:var(--hover-bg); }
.tag.selected .tag-text { background-color:var(--hover-bg); }

.tag-text
{
    display:inline-block;
    background:var(--file-list-bg);
    border:1px solid var(--border-color);
    border-right:0;
    border-radius:8px 0 0 8px;
    padding:7px 8px 7px 8px;
}

.tag-text:hover { cursor:grab; }
.tag-text.no-hover:hover { cursor:auto; }
.tag-text.no-highlight:hover { background:var(--file-list-bg); }

.tag-remove
{
    display:inline-block;
    border:1px solid var(--border-color);
    border-left:1px dashed var(--border-color);
    border-radius:0 8px 8px 0;
    background:var(--header-bg);
    padding:7px 8px 7px 8px;
}

.tag-remove:hover { cursor:pointer; }

.tag.dragging { opacity:0.25; }

.tag-ghost
{
    border:1px dashed var(--border-color);
    border-radius:8px;
    padding:7px 8px 7px 8px;
    width:4ch;
    text-align:center;
    font-weight:normal;
}

.controls
{
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    padding:0.5em;
}

.ascii-table { display:grid; }
.ascii-table.scale-1.horiz { grid-template-columns: repeat(32, 8px); }
.ascii-table.scale-2.horiz { grid-template-columns: repeat(32, 16px); }
.ascii-table.scale-1.vert { grid-template-columns: repeat(16, 8px); }
.ascii-table.scale-2.vert { grid-template-columns: repeat(16, 16px); }
.ascii-table .ascii-char-image:hover {
    outline:4px solid var(--ega-yellow);
    z-index:2;
    cursor:pointer;
}
.ascii-selected-highlight { display:flex; align-items:center; }
.ascii-selected-char { margin-left:0.5em; margin-right:0.5em; }

button.color-button {
    float:none;
    width:32px;
    height:32px;
    cursor:pointer;
}
button.color-button:first-child { margin-bottom:7px; }
button.color-button.selected { border:inset; }

/* Specific Fields */
input[name=count], input[name=priority]
{
    width:4ch;
    text-align:center;
}

textarea[name=wozzt-tweet] { height:150px; }

input[name=rss-url]
{
    margin:auto;
    display:block;
    width:90%;
}
/* End specific fields */

#uploaded-image-preview
{
    max-height:175px;
}
