/* Basic Elements */
/* Basic Elements */
body
{
    font-family:sans-serif;
    background:#CCC;
    margin:7px 8px auto 8px;
    overflow-y:scroll;
}

a { text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color:#00F; }

a[target=_blank]
{
    padding-right:16px;
    background:url("/static/images/external_link.png");
    background-position:top right;
    background-repeat:no-repeat;
}

a.noext[target=_blank]
{
    padding-right:0;
    background:none;
}

a.nohover:hover
{
    background-color:none;
}

a.broken
{
    text-decoration:line-through;
    color:#F00;
}

a.il
{
    font-style:italic;
}

blockquote
{
    font-family:serif;
    font-style:oblique;
    text-align:justify;
    padding:0.5em;
    border:3px double #000;
    background:#DEF;
}

blockquote::first-letter
{
    margin-left:1em;
    font-size:x-large;
}

blockquote footer
{
    text-align:right;
    font-style:normal;
}

figure
{
    text-align:center;
}

figure figcaption
{
    font-family:"cp437";
}

figure.zzt-figure
{
    width:480px;
    padding:14px 8px 0px 8px;
    background:#0AA;
    margin:auto;
    color:#FFF;
    font-family:"cp437";
    border:1px solid #000;
}

figure.zzt-figure figcaption
{
    padding-top:7px;
    padding-bottom:7px;
}

h1, h2, h3 { margin:0; margin-bottom:7px; }

img:not(.screenshot-thumb) { max-width:100%; }

p
{
    margin:14px auto 14px auto;
}

pre { margin:0; white-space: pre-wrap; }

table
{
    border-collapse:collapse;
    border:1px solid #000;
    width:100%;
    margin-top:14px;
    margin-bottom:14px;
}

table th
{
    background-color:#619F9F;
}

table th, table td
{
    border:1px solid #000;
    padding:7px 4px 7px 4px;
}

input, select { max-height:2.5ch; }
input, select, textarea
{
    border:1px solid #000;
    background:#FFF;
    font-size:larger;
}

@media (max-width: 1024px)
{
    input, select, textarea
    {
        font-size:medium;
    }
}

input[type=number]
{
    padding:2px;
}

.spoiler
{
    color:transparent;
    cursor:pointer;
    background-image:url('/static/images/spoiler-bg.png');
}

.spoiler img, .spoiler code
{
    visibility:hidden;
}

.spoiler.revealed
{
    color:#000;
    background-image:none;
}

.spoiler.revealed img, .spoiler.revealed code
{
    visibility:visible;
}
/* End Basic Elements */

/* Fonts */
@font-face
{
    /* http://int10h.org/oldschool-pc-fonts/readme/ */
    font-family: 'cp437';
    src: url('/static/fonts/Px437_IBM_EGA8.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    /* http://int10h.org/oldschool-pc-fonts/readme/ */
    font-family: 'mono';
    src: url('/static/fonts/UbuntuMono-R.ttf');
    font-weight: normal;
    font-style: normal;
}

.cp437 { font-family: "cp437";}
/* End Fonts */

/* Site Layout */
.grid-root
{
    display:grid;
    grid-template-areas:
    "left content right"
    "footer footer footer";

    grid-template-columns:3fr 14fr 3fr;
    grid-template-rows:auto auto;
    grid-gap:14px 8px;
}

#low-res-shortcuts { display:none; background-color:#00A; }

#logo-area
{
    margin-bottom:0;
}

@media (min-width: 1500px)
{
    #logo-area
    {
        grid-area: logo;
        margin-bottom:-24px;
    }
}

@media (max-width: 1024px)
{
    .low-res-hidden { display:none; }
}

@media (min-width: 1025px)
{
    .low-res-break { display:none; }
}

#logo:hover
{
    background-color:transparent;
}

#top-links
{
    margin-bottom:14px;
    background-color:#00A;
}

.nav-link
{
    color:#FF5;
    font-size:28px;
    display:flex;
    justify-content:flex-start;
}

@media (max-width:1024px)
{
    .nav-link .optional { display:none; }
}

.nav-link:nth-child(even) .key { background-color:#AAA; }
.nav-link:nth-child(odd) .key { background-color:#0AA; }


.nav-link:visited { color:#FF5; }
.nav-link:hover { text-decoration:none; }

.nav-link .key
{

    text-align:center;
    margin:auto;
    color:#000;
    flex:0 0 42px;
    margin-left:14px;
}

.nav-link .text
{
    flex:1;
    margin-left:14px;
}

#top-link-div { display:none }

/* Adjust special links on low-res devices */
@media (max-width:1499px) {
    .grid-root
    {
    }


    .nav-link
    {
        font-size:21px;
    }
}

@media (max-width:1279px) {
    .nav-link .key
    {
        display:none;
    }

    #top-links
    {
        height:auto;
    }

    .nav-link
    {
        height:auto;
        /*font-size:smaller;*/
    }
}

#sidebar-left { grid-area: left; }
#content { grid-area: content; margin-bottom: 0px;}
#sidebar-right { grid-area: right; }

.sidebar .block a {
    display:block;
    padding-top:1px;
    padding-bottom:1px;
}

.sidebar .block a + a
{
    border-top:1px dashed #AAA;
}

.sidebar a[target=_blank]
{
    background:none;
}

.sidebar .block a:hover, .sidebar a[target=_blank]:hover
{
    background-color:#98C9C9;
}

#top-links a:hover
{
    background-color:inherit;
    text-decoration:none;
}

.sidebar a[target=_blank]::after
{
    background-image:url("/static/images/external_link.png");
    background-repeat:no-repeat;
    background-position:top left;
    padding-left:12px;
    margin-left:2px;
    content:"";
}

@media (max-width: 1100px)
{
    .sidebar, #content
    {
        font-size:smaller;
    }
}

#footer
{
    grid-area: footer;
    text-align: center;
    font-size: smaller;
}

#content-header
{
    display:flex;
    justify-content:space-between;

}
/* End Site Layout */

/* Utility Classes */
.debug { background:#F00; }
.hidden { visibility: hidden; }
.inline { display: inline; }
.fit-height { height: calc(100vh - 44px ); align-self:start; }

a.inline
{
    display:inline;

}

a.inline[target=_blank]::after
{
    margin:0;
    padding:0;
    content:"";
}

.b { font-weight: bold; }
.i { font-style: oblique; }
.smaller { font-size: smaller; }
.larger { font-size: larger; }

.jsLink { cursor:pointer; color:#00F; }

.fl { float:left; }
.fr { float:right; }

.l { text-align:left; }
.c { text-align:center; margin:auto; }
.r { text-align:right; }

.zoomed { cursor:zoom-out; width:auto; }
/* End Utility Classes */

/* Generic Structures */
.block
{
    padding:14px 8px 14px 8px;
    margin-bottom:14px;
    background:#F0F0F0;
    border:1px solid #000;
}

.td-date { width:5em; }
.top-margin { margin-top:7px; }
.screenshot-thumb { width:240px; }
.screenshot-thumb.zoomed { width:auto; height:auto; max-width:100%; }
.screenshot-thumb:hover { cursor:zoom-in; }

@media (max-width: 1650px)
{
    /* Front page only at this resolution */
    #fp-new-files-grid .gallery-block > .screenshot-thumb:not(.zoomed)
    {
        width:120px;
    }
}

@media (max-width: 1100px)
{
    .gallery-block > .screenshot-thumb:not(.zoomed)
    {
        width:120px;
    }
}

.img-set /* Used in old Featured Game reviews */
{
    display:block;
    text-align:center;
    margin:auto;
}

.img-set img { border:1px solid #AAA; }

.image-set /* Used in Publication Packs */
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.image-set img
{
    width:240px;
    height:175px;
    margin:14px 8px 14px 8px;
    border:1px solid #000;
}
/* End Generic Structures */

/* Specific Structures */
.sidebar h1
{
    border-bottom:1px solid #000;
}

.sidebar h2
{
    font-size:smaller;
    border-bottom:1px solid #000;
    padding-top:7px;
}

#featured a
{
    border-top:0px;
}

#featured a.nohover:hover
{
    background:none;
}

#featured img
{
    width:100%;
    max-width:480px;
    margin:auto;
}

#fg-screenshot { display:block; }

#letters
{
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(9, 11%);
    font-size:21px;
    border-bottom:1px solid #000;
    padding-bottom:7px;
    margin-bottom:7px;
}

#letters-select
{
    display:none; /* Low-res only */
}

#letters a
{
    border-top:0px;
}

#search-form
{
    display:grid;
    grid-template-columns:1fr auto;
    grid-gap:4px 8px;
    margin-top:2px;
    margin-bottom:2px;
    border-top:1px dashed #AAA;
}

#worlds-block form
{
    border:0px;
    padding:1px;
    border-top:1px dashed #AAA;
}

.advanced-search
{
    border-top:1px dashed #AAA;
}

input[name=q]
{
    width:100%;
    font-size:medium;
}

#search-button
{
    font-size:medium;
}

@media (max-width: 1024px)
{
    #search-button, input[name=q]
    {
        height:auto;
        width:100%;
        margin:auto;
        padding:0;
        max-width:116px;
    }

    input[name=q]
    {
        max-width:114px;
    }
}

#social
{
    text-align:center;
    border-bottom:1px solid #000;
    padding-bottom:7px;
    margin-bottom:7px;
    min-height:24px;
    line-height:0px; /* TODO: what */
}

#social a
{
    padding-right:0px;
    background:none;
    display:inline-block;
    width:24px;
    height:24px;
    border-top:0px;
}

#social img { max-width:24px; max-height:24px; }
#policies { margin-bottom:7px; }

.pages
{
    text-align:center;
    margin:14px auto 14px auto;
    font-size: larger;
}

.guide-words
{
    display:flex;
    justify-content:space-between;
    max-width:100%;
    margin:auto;
    border-bottom:1px solid #000;
}

.guide-words a
{
    font-style:oblique;
}


#years
{
    margin:auto;
    text-align:center;
    width:100%;
}

#years a
{
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}

.directory
{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start;
}

.column
{
    border:1px solid #000;
    border-top:0px;
    display:inline-block;
    width:24%;
    vertical-align:top;
}

.column .header
{
    background:#619F9F;
    text-align:center;
    font-weight:bold;
}

.column .row
{
    padding-left:0.5em;
}

.column div
{
    border-top:1px solid #000;
}

.column .row:hover
{
    background:#98C9C9;
}

.content-warning
{
    background:#DEF;
    display:flex;
    align-items:center;
    padding:0.25em 1em 0.25em 1em;
    max-width:75%;
    margin:auto;
    border:1px dashed #000;
    margin-bottom:1em;
}

.content-warning .img
{;
    flex:0 0 150px;
    height:50px;
    padding:1em;
}

.content-warning .text
{
    flex:1;
    font-size:smaller;
}

.content-warning .text p
{
    margin-top:0.25em;
    margin-bottom:0.25em;
}

.content-warning .text b.heading
{
    font-size:larger;
    letter-spacing:0.5em;
    text-align:center;
    display:block;
    width:100%;
}

.patreon-plug
{
    font-family:cp437;
    font-size:16px;
    color:#FF5;
    background:#000;
    padding:14px 8px;
    max-width:320px;
    margin:0.25em auto 0.25em auto;
    border:2px solid #00A;
}

.patreon-plug .heading
{
    color:#FFF;
}

.patreon-plug .heading span
{
    color:#00A;
}

.patreon-plug a
{
    color:#5F5;
    text-align:center;
    width:100%;
    display:block;
    padding-right:0;
    background:none;
    text-decoration:underline;
}
/* End Specific Structures */

/* Forms */
form,
{
    border:1px solid #000;
    padding:0px 8px 0px 8px;
}

form .field
{
    display:flex;
    flex-wrap:wrap;
    padding:14px 0px 14px 0px;
}

form .field + .field { border-top:1px dashed #000; }

form .field > label
{
    font-weight:bold;
    flex:1 1 20%;
    margin-right:8px;
}

form .field input, form .field textarea, form .field select, form .field div
{
    flex:4;
    height:max-content;
}

.field-group
{
    display:flex;
    flex-wrap:wrap;
    font-weight:normal;
}

.field-group label
{
    flex:1 1 25%;
}

.field div.field-row
{
    flex:0 0 100%;
    display:flex;
    justify-content:space-between;
    margin-bottom:4px;
}

#review-content
{
    min-height:140px;
}

@media (max-width: 1280px)
{
    #detail-list
    {
        font-size:smaller;
    }

    input[name=board_min], input[name=board_max], input[name=min], input[name=max]
    {
        flex:1;
        max-width:40%;
    }
}


form .field .board-type-select
{
    flex:1 0 100%;
}

#detail-list label { font-weight:normal; }
#submit-search-button, #submit-upload-button {width:100%;font-size:larger;}

.sub
{
    font-size:medium;
    font-weight:normal;
}

@media (max-width: 1024px)
{
    .sub
    {
        font-size:smaller;
    }
}

form .full-width-submit
{
    width: 100%;
    font-size: larger;
}

form .field .genre-checklist
{
    font-family:mono;
    height: 150px;
    overflow: auto;
    min-width: 300px;
    border: 1px solid #000;
    background: #AAA;
}

.genre-checklist label { display:block; }
.genre-checklist label + label {  border-top: 1px dotted #000; }
.genre-checklist label.selected { background:#619F9F;}
.genre-checklist label:hover { background:#98C9C9; }
/* Forms */

/* File Structures */
.gallery-list
{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:center;
    margin:14px auto 14px auto;
}

.gallery-list.scrolling
{
    padding:14px 8px 14px 8px;
    overflow:auto;
    border:1px solid #000;
    max-height:546px;
}

.gallery-list > .gallery-block
{
    margin-bottom:14px;
    margin-right:8px;
}

.gallery-block
{
    width:auto;
    border:1px solid #000;
    padding:14px 8px 14px 8px;
    text-align:center;
}

.gallery-block > div
{
    width:240px;
    max-width:100%;
}

@media (max-width: 1100px)
{
    .gallery-block > div
    {
        width:120px;
    }
}

.view-more
{
    width:100%;
    text-align:center;
    padding-bottom:14px;
}

/* Front page gallery grid */
#fp-new-files-grid
{
    display:grid;
    grid-template-areas:
    "lefthead righthead"
    "leftcontent rightcontent";

    grid-gap:0px 8px;
}

#fp-new-files-grid .gallery-list { margin-top:0; }
#new-releases-heading { grid-area:lefthead; }
#latest-additions-heading { grid-area:righthead; }

@media (max-width: 1600px)
{
    #fp-new-files-grid .gallery-block > div
    {
        width:160px;
    }
}
/* End front page gallery grid */

.article-category-heading
{
    margin-top:8px;
}

.overview-block
{
    border:1px solid #000;
    padding:14px 8px 14px 8px;
    margin:14px auto auto auto;
    display:grid;
    grid-template-areas:
    "screenshot title title"
    "screenshot basic advanced"
    "feat desc desc"
    "links links links";

    grid-template-columns: minmax(240px, auto) 1fr 1fr;
    grid-template-rows:auto minmax(0px, 1fr) auto auto;
}

.overview-block.ob-zoomed
{
    /* Used when zooming in on screenshots */
    grid-template-columns: auto auto auto auto;

    grid-template-areas:
    "screenshot screenshot screenshot screenshot"
    "title title title title"
    "basic basic advanced advanced"
    "feat feat desc desc"
    "links links links links";
}

.overview-block .screenshot-thumb
{
    grid-area:screenshot;
}

.overview-block.ob-zoomed .screenshot-thumb
{
    margin:auto;
    max-width:100%;
}

.overview-block .title { grid-area:title; margin-left:8px;}
.overview-block .basic-info { grid-area:basic; margin-left:8px;}
.overview-block .advanced-info { grid-area:advanced; margin-left:8px;}
.overview-block .wide-info { grid-area:basic / basic / advanced / advanced; margin-left:8px;}
.overview-block .field { display:flex; flex-wrap: wrap; border-bottom:1px dotted #000; }

.overview-block .key { flex:1; min-width:10ch; }
.overview-block .value { flex:3; }

.featured-reviews {
    grid-area: feat;
    margin-top:7px;
    margin-left:-8px;
    padding-left:8px;
    max-width:240px;
}

.featured-reviews ul
{
    padding-left:1em;

}

.featured-description {
    grid-area: desc;
    margin-top:7px;
    margin-right:-8px;
    padding-right:8px;
    padding-left:8px;
}

.overview-links
{
    grid-area:links;
    display:grid;
    border:1px solid #000;
    border-top:0px;
    grid-template-columns: repeat(5, auto);
    text-align:center;
}

.download-link.explicit::after, .play-link.explicit::after, .view-link.explicit::after
{
    content:" 🔞";
}
/* End File Structures */

/* File Viewer */
.fv-grid /* Applied to center content element */
{
    display:grid;
    grid-template-areas:
    "header header expand"
    "links links links"
    "data data data"
    "display display display"
    "zip-name tabs tabs"
    "file-list analysis analysis";

    grid-template-columns:1.5fr 2fr auto;
    /*grid-template-rows:auto auto auto minmax(378px, auto) auto 1fr;*/
    grid-template-rows:auto auto auto auto auto 1fr;
    min-height:858px; /* With padding this is 900px of space */
    height:calc(100vh - 42px);

}

.file-header { grid-area: header;}

#alt-file-listing
{
    max-width:25%;
}

#expand-contract { grid-area: expand;}

#content h1
{
    margin-bottom:0px;
    display:inline-block;
}

.file-links
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
    grid-area: links;
    width:100%;
}

.file-data
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    text-align:center;
    grid-area:data;
    border-bottom:1px solid #000;
    padding-top:3px;
    padding-bottom:3px;
}
.file-data > div
{
    flex:1;
}

#fv-main
{
    grid-area: display;
    border:1px solid #000;
    padding:7px 4px 7px 4px;
    margin-bottom:14px;
    max-height:728px;
    overflow:auto;
    resize:vertical;
}

#fv-main .output
{
    display:none
}

#fv-main .output.active
{
    display:block;
}

#fv-main #canvas-envelope.output.active
{
    display:grid;
}

#zip-name
{
    grid-area:zip-name;
    text-align:center;
    border:1px solid #000;
    border-bottom:0px;
    background:#AAA;
}

#file-tabs
{
    grid-area: tabs;
    display:flex;
    text-align:center;
    justify-items:stretch;
    border-top:1px solid #000;
    border-right:1px solid #000;
    overflow-x:auto;
}
#file-tabs div
{
    border-bottom:0px;
    border-left:0px;
    background:#AAA;
    flex:3;
}

#file-tabs div:hover, #zip-name:hover
{
    cursor:pointer;
    background:#98C9C9;
    text-decoration:underline;
}

#file-tabs div + div
{
    border-left:1px solid #000;
}

#file-tabs div[name=help]
{
    flex:1;
}

#file-list
{
    grid-area: file-list;
    border:1px solid #000;
    font-family:mono;
    overflow:auto;
    max-height:100%;
}

#file-list .selected
{
    background-color:#619F9F;
}

#file-list li:hover
{
    /* (Preview, List of files) */
    cursor:pointer;
    background:#98C9C9;
}

#file-list ul /* (Preview, List of files) */
{
    margin:0px;
    padding:0px;
    overflow:auto;
    height:100%;
}

#file-list ul li /* (Preview, List of files) */
{
    list-style:none;
    border-bottom:1px dashed #000;
    padding-left:8px;
    padding-right:8px;

}

#file-list ul li.selected
{
    text-align:center;
    font-weight:bold;
}

#file-list ol /* (List of boards in ZZT file) */
{
    text-align:left;
    font-weight:normal;

    list-style:none;
    margin-left:8px;
    margin-right:8px;
    padding:0px;
    background:#FFF;

}

#file-list ol li { border-bottom:1px dotted #000; } /* (List of boards in ZZT file) */

li.board div  { display:inline-block; } /* Board numbers and names */

#analysis
{
    grid-area: analysis;
    border:1px solid #000;
    border-left:0px;
    padding:7px 4px 7px 4px;
    font-family:mono;
    overflow:auto;
}

#analysis table
{
    padding:0px;
    margin:0;
}

#analysis table td
{
    background:#FFF;
    padding:0px 0px 0px 1ch;
}

#analysis table th
{
    padding:0px 1ch 0px 1ch;
}

#analysis .zip-info-table td, #analysis .zip-info-table th
{
    padding-left:8px;
    padding-right:8px;
}

#analysis .fv
{
    margin-bottom:7px;
}

#analysis .fv-hidden, #analysis .fv-hidden-row
{
    display:none;
}

#file-tabs .selected, #zip-name.selected { background:#619F9F; }
#analysis .toggle { display:none; }
#file-list ul li.code-match { padding-left:3ch; }

#analysis #search-table input
{
    margin-top:2px; /* TODO: This could be done better */
}

#preferences .field
{
    display:flex;
    padding: 7px 0px 7px 0px;
    font-size:medium;
    font-weight:bold;
    font-family:sans-serif;
}

#preferences .field + .field
{
    border-top: 1px dashed #000;
}

#preferences label
{
    flex:1 1 20%;
}

#preferences input, #preferences select
{
    flex:1 1;
}

/* File Viewer Extension Based Formatting */
#fv-main #canvas-envelope
{
    justify-content:center;
    grid-template-areas:
    "left canvas right";
    grid-template-columns:auto minmax(480px, auto) auto;
}

@media (max-width: 1024px)
{
    #fv-main #canvas-envelope
    {
        grid-template-areas:
        "left right"
        "canvas canvas";
        grid-template-columns:auto auto;
    }
}

#fv-left-sidebar
{
    font-family:cp437;
    grid-area:left;
    font-size:medium;
    line-height:14px;
    z-index:3;
    visibility:hidden;
}


#fv-left-sidebar #overlay
{
    position: absolute;
    background-color:rgba(204, 204, 204, 0.7);
    padding:7px 4px 7px 4px;
}


.color-swatch
{
    height:2em;
    background-image:url("/static/images/colors.png");
    width:8px;
    height:14px;
    margin:auto;
    display:inline-block;
}

#fv-right-sidebar
{
    grid-area:right;
    z-index:1;
}

#world-canvas
{
    grid-area:canvas;
    align-self:center;
    image-rendering: crisp-edges;
    z-index:2;
}

#image-envelope {
    height:100%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
#fv-image { border:1px solid #AAA;}

#text-body { font-family:cp437; }
#doc-header { color:#F00; text-align:center;}

.high-scores .score
{
    text-align:right;
    display:inline-block;
    width:5ch;
    padding-right:1ch;
}

.high-scores .name
{
    display:inline-block;
}
/* End File Viewer Extension Based Formatting */

/* End File Viewer */

/* ZZT-OOP Syntax */
code
{
    display:block;
    width:42ch;
    color:#839496;
    background-color:#002B36;
    font-size:larger;
    padding:1ch 2ch 1ch 2ch;
    white-space:pre;
    margin-left:0.2em;
}

code.inline { width:auto; padding:0.1em; }
code .blue, code .command { color:#268BD2; }
code .green, code .comment { color:#859900; }
code .cyan, code .reserved { color:#2AA198; }
code .red, code .name { color:#DC322F; }
code .magenta, code .hyperlink { color:#D33682; }
code .purple, code .center { color:#6C71C4; }
code .yellow, code .go, code .try { color:#B58900; }
code .orange, code .label { color:#CB4B16; }
code .char:hover { cursor:help; }

#oop-wrapper.zzt-scroll { margin:0; }
#oop-wrapper.zzt-scroll code
{
    background:transparent;
    color:#FF5;
    padding:0;
    font-size:16px;
    line-height:14px;
    margin-left:32px;
    font-family:"cp437";
    overflow:auto;
    width:356px;
    height:210px;
}

#oop-wrapper.zzt-scroll code::before, #oop-wrapper.zzt-scroll code::after { content:"  •    •    •    •    •    •    •    •    •\A"; }
/* End ZZT-OOP Syntax */
/* Article Globals -- Copied directly from old CSS */
#article-meta
{
    display:grid;
    grid-template-areas:
    "title preview"
    "info preview";
    align-items:start;
    grid-template-rows:auto 1fr;
    grid-template-columns:auto auto;
}

#article-meta h1 { grid-area:title; }
#article-meta .info { grid-area:info; }
#article-meta .preview { grid-area:preview; margin: 7px 0px 7px 7px; border:1px solid; height:175px; justify-self:end;}
#article-meta .preview.zoomed { height:auto; }
#article-meta .summary,#article-meta .revised-date { font-style:italic; }

#plain-text-article
{
    padding:0;
    margin:0;
    border:0;
    font-family:sans-serif;
    background:#F0F0F0;
    width:100%;
    min-height:50vh;
    resize:none;
    color:#000;
}

.side-commentary
{
    margin-bottom:0.25em;
    overflow:auto;
    border-bottom:1px solid #000;
    padding-bottom:0.25em;
}

.zzt-img + .side-commentary, .zzt-scroll + .side-commentary, p + .side-commentary
{
    margin-top:0.25em;
    padding-top:0.25em;
    border-top:1px solid #000;
}

.material
{
    float:left;
    min-width:240px;
    margin-right:0.5em;
}

@media (max-width:1280px)
{
    .material
    {
        width:100%;
    }
}

.commentary
{
    min-width:20%;
}

.commentary p
{
    margin-top:0.25em;
}

article aside
{
    background:#AAA;
    width:480px;
    max-width:40%;
    margin-left:0.5em;
    padding:0.25em;
    font-size:smaller;
    float:right;
}
/* End Article Globals */

/* Hotfixes */
/* Screenshots in MTP reviews */
article.featured-game a.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    margin: 0.25em auto 0.25em auto;
    text-align: center;
}

article.closer-look img { max-width:640px; } /* Stretched screenshots in old CLs */

/* End Hotfixes */

/* Comics */
#comics-nav
{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top:1px solid #000;
    margin-top:7px;
    padding-top:7px;
}
/* End Comics */

/* Paginator */
.paginator-block
{
    text-align:center;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:cp437;
    font-size:larger;
}

.paginator-block .page-info
{
    margin-bottom:4px;
}

select[name=page-selector]
{
    font-family:cp437;
    text-align:center;
    width:5ch;
    font-size:14pt;
}

.prev-page-link, .next-page-link
{
    font-weight:bold;
    padding-left:8px;
    padding-right:8px;
}

.paginator-block .selected
{
    background:#619F9F;
}

.paginator-block a:hover
{
    background:#98C9C9;
}

.paginator-block .page-range
{
    display:flex;
    flex-wrap:wrap;
}

.page-range .current-page, .page-range .num-pages
{
    display:inline-block;
    min-width:3ch;
}

.paginator-block .page-info
{
    flex:0 0 100%;
}

.paginator-block .page-range a
{
    flex:0 0 10%;
}

.page-number-link
{
    display:inline-block;
    min-width:2.25ch;
}

.view-links, .roulette-links
{
    font-family:cp437;
    font-size:larger;
    margin:auto;
    text-align:center;
    margin-top:4px;
}

.sort-methods
{
    margin:auto;
    margin-top:4px;
    text-align:center;
    font-family:cp437;
    font-size:larger;
}

.sort-methods select
{
    font-family:cp437;
}

.modify-query
{
    margin-top:4px;
    text-align:center;
    font-family:cp437;
    font-size:larger;
}
/* End Paginator */
