#quick-links
{
    flex-wrap:wrap;
}

@media (max-width: 880px)
{
    #quick-links
    {
        overflow:auto;
        flex-wrap:nowrap;
        padding-left:50px;
        padding-bottom:25px;
    }

    #quick-links .plug { min-width:170px; }
}

#welcome-text
{
    flex:1;
    margin:auto;
}

#event-splash h2 { margin:0px; }


@media (max-width: 1023px)
{
    #intro-event-wrapper {
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
}
.main-event
{
    font-family:cp437;
    max-width:250px;
    text-align:center;
    margin:auto;
    margin-left:8px;
    font-size:28px;
    background-color:var(--ega-darkblue);
    color:var(--ega-cyan);
    border:4px solid var(--ega-blue);
    border-radius:8px;
    padding:10px;
}

.main-event a { color: var(--ega-yellow) };
.main-event img { border:1px solid var(--border-color); max-width:240px; }
.main-event .when { cursor:help; font-size:smaller; }

/* Frontpage Galleries */
.gallery-list
{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:center;
    margin:14px auto 14px auto;
}

.gallery-list.scrolling
{
    padding:14px 8px 14px 8px;
    overflow:auto;
    border-top:1px dashed var(--border-color);
    border-bottom:1px dashed var(--border-color);
    max-height:546px;
}

#fp-file-frame
{
    display:grid;
    grid-template-areas:
    "left-heading right-heading"
    "content content"
    "links links";
}

#fp-file-frame > h2 + h2 { grid-area:right-heading; text-align:right; }
#fp-file-frame .gallery-list
{
    grid-area:content;
    margin:0;
    padding:0;
}

#fp-file-frame .nav-actions
{
    grid-area:links;
    justify-content:space-between;
    margin-top:7px;
    margin-left:20px;
    margin-right:20px;
}

#fp-file-frame .gallery-list > .col
{
    flex:1;
    display:flex;
    flex-wrap:wrap;
}

#fp-file-frame .gallery-list > .col + .col
{
    justify-content:flex-end;
    border-left:1px dashed var(--border-color);
}

@media (max-width: 1680px)
{
    #quick-links .plug { width:180px; }
}

@media (max-width: 1610px)
{
    #fp-file-frame .gallery-frame > .model-block .preview-image.thumbnail
    {
        width:160px;
    }

    #fp-file-frame .gallery-frame > .model-block
    {
        max-width:180px;
    }
}

#mobile-fp-file-frame { display:none; }
/* End Frontpage Galleries */
