@media (max-width:480px) {
    body
    {
        margin-top:0px;
    }

    #sidebar-left a , #sidebar-right a
    {
        padding-top:12px;
        padding-bottom:12px;
    }

    #sidebar-left, #sidebar-right
    {
        justify-self:stretch;
    }

    .sidebar
    {
        max-width:initial;
    }
}

@media (max-width:999px) {
.grid-root
{
    display:grid;
    grid-template-areas:
    "low-res low-res"
    "content content"
    "links links"
    "left left"
    "right right"
    "footer footer";

    grid-template-columns:1fr 1fr;
    grid-template-rows:repeat(6, auto);
    justify-items:center;
}

.grid-root[data-active-tool="true"]
{
    display:grid;
    grid-template-areas:
    "low-res low-res"
    "tool tool"
    "content content"
    "links links"
    "left left"
    "right right"
    "footer footer";

    grid-template-columns:1fr 1fr;
    grid-template-rows:repeat(7, auto);
    justify-items:center;
}

#low-res-shortcuts
{
    grid-area:low-res;
    display:flex;
    flex-wrap:wrap;
    font-size:21px;
    line-height:28px;
    width:100vw;
    position:sticky;
    top:0px;
    border-bottom:1px solid var(--border-color);
    text-align:center;
    column-gap:1px;
    background-color:var(--ega-black);
    z-index:999;
}

#low-res-shortcuts a
{
    text-decoration:none;
    flex:1;
}

#low-res-shortcuts a:nth-child(odd) { background-color:var(--ega-darkcyan); color: var(--ega-cyan);}
#low-res-shortcuts a:nth-child(even) { background-color:var(--ega-gray); color: var(--ega-white);}

#active-tool
{
    /* "Attach" to the main mobile header */
    margin-top:-15px;
    top:28px;
}

#content { max-width:95vw; }
#sidebar-left, #sidebar-right { min-width:auto; }
#sidebar-left { margin-top:0px; }

#letters { display:none; /* High-res only */ }

#letters-select
{
    display:block;
    margin:auto;
}

#top-link-div { display:block; }

#expand-contract { display:none; }

#detail-list.field-group label { text-align:center; margin:2px; border:1px dotted var(--border-color)}
#detail-list.field-group label input[type=checkbox] { display:block; margin:auto; }

form { border:0px; padding:0px; }
form .field .genre-checklist { min-width:0px; }

#upload-form input { width:100%; }
#upload-form input[type=checkbox] { width:auto; }
#upload-form .field { display:block; }
#upload-form .field label { display:block; }
}

/* Aug 2022 */
@media (max-width:480px) {
    /* Front Page */
    table
    {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    #debug-embed-image-preview{ display:none; }
    #fp-file-frame { display:none; }
    #mobile-fp-file-frame
    {
        display:block;
        border:1px dashed var(--border-color);
        border-bottom:1px dashed var(--border-color);
    }

    #mobile-fp-file-frame h2
    {
        text-align:center;
    }

    #mobile-fp-file-frame .gallery-frame
    {
        max-height:300px;
        overflow:auto;
    }

    #mobile-fp-file-frame .gallery-frame .model-block.gallery
    {
        flex:0 0 auto;
    }

    /* Mass Downloads */
    .mass-dl-table + .mass-dl-table
    {
        margin-top:14px;
    }

    /* Support */
    figure.zzt-figure
    {
        box-sizing:border-box;
        max-width:100%;
    }
}
/* End Aug 2022
