@media (max-width:1280px) {
    /* Conserve space and remove cp437 font for legibility at non-integer sizes */
    #sidebar-left { margin-left:1px; }
    #sidebar-right { margin-right:1px; }
    .sidebar { min-width:180px; max-width:180px; }

    #blue-block a { font-size:20px; font-family:monospace; }
    #blue-block a .key { margin-left:0px; }

    #logo-area { margin-bottom: -16px; }

    #social-block
    {
        justify-content: flex-start;
        padding-left:28px;
        padding-right:28px;
    }
}

@media (max-width:930px) {
    /* Switch from 3 columns to 1 column */
    body
    {
        margin-top:0px;
    }

    #sidebar-left a , #sidebar-right a
    {
        padding-top:12px;
        padding-bottom:12px;
    }

    #sidebar-left, #sidebar-right
    {
        justify-self:stretch;
    }

    .sidebar
    {
        max-width:initial;
        z-index:10;
    }

    #logo-area { display:none; }
    #featured-block { order: 2; margin-bottom:0px;}
    #blue-blocks { order: 2; }
    #social-block { order: 3; margin-bottom:0px;}

    .sidebar {
        position:fixed;
        top:48px;
        width:75vw;
        max-width: 360px;
        margin-left:0px;
        margin-right:0px;
        height: calc(100vh - 64px);
        overflow:scroll;
        background-color:var(--block-margin-lowlight);
        border-bottom:2px solid var(--border-color);
    }

    #sidebar-left
    {
        left:-100%;
        border-right:2px solid var(--border-color);
        display:none;
    }

    #sidebar-right
    {
        right:-100%;
        border-left:2px solid var(--border-color);
        display:none;
    }

    .grid-root
    {
        display:grid;
        grid-template-areas:
        "content"
        "links"
        "footer";

        grid-template-columns:1fr 1fr;
        grid-template-rows:repeat(4, auto);
        justify-items:center;
        grid-gap:4px 0px;
    }

    .grid-root[data-active-tool="true"]
    {
        display:grid;
        grid-template-areas:
        "low-res"
        "content"
        "links"
        "footer";

        grid-template-columns:1fr;
        grid-template-rows:repeat(4, auto);
        justify-items:center;
    }

    .grid-root[data-active-tool="true"] #content
    {
        margin-top:44px;
    }

    #low-res-shortcuts
    {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        font-size:21px;
        line-height:28px;
        width:100vw;
        position:fixed;
        top:0px;
        text-align:center;
        column-gap:1px;
        background-color:var(--ega-darkblue);
        z-index:999;
        height:48px;
    }

    #low-res-shortcuts img
    {
        max-height:48px;
    }


    #low-res-shortcuts input[type=button]
    {
        border:0px;
        font-size:20px;
        background-color:var(--ega-darkblue);
        color:var(--ega-yellow);
    }

    #low-res-shortcuts input[type=button]:hover
    {
        text-decoration:none;
    }

    #low-res-shortcuts a
    {
        width:64px;
        height:48px;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    #active-tool
    {
        /* "Attach" to the main mobile header */
        top:48px;
    }

    #content { margin:auto; width:100vw; margin-top: 48px; }
    #sidebar-left, #sidebar-right { min-width:auto; }
    #sidebar-left { margin-top:0px; }

    #letters { display:none; /* High-res only */ }

    #letters-select
    {
        display:block;
        margin:auto;
    }

    #top-link-div { display:block; }

    #expand-contract { display:none; }

    #detail-list.field-group label { text-align:center; margin:2px; border:1px dotted var(--border-color)}
    #detail-list.field-group label input[type=checkbox] { display:block; margin:auto; }

    form { border:0px; padding:0px; }
    form .field .genre-checklist { min-width:0px; }

    #upload-form input { width:100%; }
    #upload-form input[type=checkbox] { width:auto; }
    #upload-form .field { display:block; }
    #upload-form .field label { display:block; }
}

/* Aug 2022 */
@media (max-width:480px) {
    /* Front Page */
    table
    {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    #debug-embed-image-preview{ display:none; }
    #fp-file-frame { display:none; }
    #mobile-fp-file-frame
    {
        display:block;
        border:1px dashed var(--border-color);
        border-bottom:1px dashed var(--border-color);
    }

    #mobile-fp-file-frame h2
    {
        text-align:center;
    }

    #mobile-fp-file-frame .gallery-frame
    {
        max-height:300px;
        overflow:auto;
    }

    #mobile-fp-file-frame .gallery-frame .model-block.gallery
    {
        flex:0 0 auto;
    }

    /* Mass Downloads */
    .mass-dl-table + .mass-dl-table
    {
        margin-top:14px;
    }

    /* Support */
    figure.zzt-figure
    {
        box-sizing:border-box;
        max-width:100%;
    }
}
/* End Aug 2022 */

/* ZZT Images at < 480px */
@media (max-width:479px) {
    .zzt-img
    {
        overflow:scroll;
    }
}
/* End ZZT Images at < 480px */
