@media (max-width:480px) {
    #sidebar-left a , #sidebar-right a
    {
        padding-top:12px;
        padding-bottom:12px;
    }
}

@media (max-width:999px) {
.grid-root
{
    display:grid;
    grid-template-areas:
    "low-res low-res"
    "content content"
    "links links"
    "left right"
    "footer footer";

    grid-template-columns:1fr 1fr;
    grid-template-rows:repeat(4, auto);
    justify-items:center;
}

#low-res-shortcuts
{
    grid-area:low-res;
    display:flex;
    width:100vw;
}

#low-res-shortcuts a
{
    font-size:42px;
    line-height:42px;
    color:#FF5;
    text-decoration:none;
    flex:1;
    text-align:center;
}

#content
{
    max-width:95vw;
}

#sidebar-left, #sidebar-right
{
    min-width:auto;
}

#sidebar-left
{
    margin-top:0px;
}

#letters
{
    display:none; /* High-res only */
}

#letters-select
{
    display:block;
    margin:auto;
}

#letter-select
{
}

#wozzt-block, #downloads-block {margin-bottom: 0px; }

#top-link-div { display:block; }

.overview-block
{
    border:1px solid #000;
    padding:14px 8px 14px 8px;
    margin:14px auto auto auto;
    display:grid;
    grid-template-areas:
    "screenshot"
    "title"
    "basic"
    "advanced"
    "feat"
    "desc"
    "links";

    grid-template-columns: 1fr;
    grid-template-rows:repeat(7, auto);
}

.overview-block .screenshot-thumb
{
    margin:auto;
}

#expand-contract
{
    display:none;
}

#detail-list.field-group label { text-align:center; margin:2px; border:1px dotted #000}
#detail-list.field-group label input[type=checkbox] { display:block; margin:auto; }

form { border:0px; padding:0px; }
form .field .genre-checklist { min-width:0px; }

#upload-form input { width:100%; }
#upload-form input[type=checkbox] { width:auto; }
#upload-form .field { display:block; }
#upload-form .field label { display:block; }
}

/* Aug 2022 */
@media (max-width:480px) {
    /* Front Page */
    table
    {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    #debug-embed-image-preview
    {
        display:none;
    }

    #fp-file-frame { display:none; }
    #mobile-fp-file-frame
    {
        display:block;
        border:1px dashed #000;
        border-bottom:1px dashed #000;
    }

    #mobile-fp-file-frame h2
    {
        display:inline-block;
    }

    #mobile-fp-file-frame .gallery-frame
    {
        flex-wrap:nowrap;
        justify-content:flex-start;
        align-items:flex-start;
        overflow-x:scroll;
    }

    #mobile-fp-file-frame .gallery-frame .model-block.gallery
    {
        flex:0 0 auto;
    }

    /* Mass Downloads */
    .mass-dl-table + .mass-dl-table
    {
        margin-top:14px;
    }
}
/* End Aug 2022
