/* Components used on main.html */
.grid-root
{
    display:grid;
    grid-template-areas:
    "left content right"
    "footer footer footer";
    grid-template-columns:1fr minmax(auto, 1300px) 1fr;
    grid-template-rows:auto auto;
    grid-gap:7px 6px;
    max-width:1920px;
    margin-left: auto;
    margin-right: auto;
    justify-items:center;
    justify-content:space-around;
}

.grid-root[data-active-tool=true]
{
    margin-top:70px;
}

.grid-root.expanded
{
    grid-template-areas:
    "content"
    "footer";
    grid-template-columns:auto;
    max-width:100vw;
}

.grid-root[data-active-tool=true].expanded
{
    grid-template-areas:
    "tool"
    "content"
    "footer";
}

.grid-root.expanded #content
{
    box-sizing:border-box;
    width:98vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

#low-res-shortcuts { display:none; }

#active-tool {
    position:fixed;
    top:0px;
    max-width:750px;
    z-index:4;
}

#active-tool > div {
    box-sizing:border-box;
    background: var(--block-bg);
    border: 1px solid var(--border-color);
    width:750px;
    max-width:100vw;
    margin:auto;
    padding:2px;
}

.sidebar { min-width:255px; max-width:255px; display:flex; flex-direction:column; }
#sidebar-left { grid-area: left; justify-self:end; margin-left:6px; }
#sidebar-right { grid-area: right; justify-self:start; margin-right:6px;  }
#content { grid-area: content; margin-bottom: 0px; justify-self:center; width:100%; padding-top:0px; }

#content h1 { margin-bottom:0px; }

.block
{
    padding:14px 8px 14px 8px;
    margin-bottom:7px;
    background:var(--block-bg);
    border:1px solid var(--border-color);
    box-sizing:border-box;
}

.sidebar h2, .sidebar h3 {
    margin:0; margin-bottom:7px;
    border-bottom:1px solid var(--border-color);
}
.sidebar h2 { font-size:14pt; }
.sidebar h3 { font-size:10pt; padding-top:7px; }

.sidebar .block a {
    display:block;
    padding-top:1px;
    padding-bottom:1px;
}

.sidebar .block a + a { border-top:1px dashed var(--side-link-border); }
.sidebar #featured-block.block a { display:inline; } /* Fix Multiple Authors appearing on multiple lines with doubled borders */
.sidebar #featured-block.block a + a { border-top:0; }

.sidebar a[target=_blank]
{
    background:none;
    padding-right:0px;
}

.sidebar .block a:hover { background-color:var(--hover-bg); }

#logo-area {
    margin-bottom:-24px;
    z-index:2;
}

.sidebar a[target=_blank]::after
{
    background-image:url("/static/chrome/external_link.png");
    background-repeat:no-repeat;
    background-position:top left;
    padding-left:12px;
    margin-left:2px;
    content:"";
}

#logo:hover { background-color:transparent; }

#featured-block { margin-bottom:7px; }
#featured-block a.nohover:hover { background:none; }
#featured-block > a
{
    border-top:1px dashed var(--side-link-border);
    margin:0;
    text-align:left;
}
#featured-block img:hover { cursor:default; }

#letters
{
    width:100%;
    display:grid;
    grid-template-columns: repeat(9, 11%);
    font-size:21px;
    border-bottom:1px dashed var(--side-link-border);
    padding-bottom:7px;
}
#letters-select { display:none; /* Low-res only */ }
#letters a { border-top:0px; }

#search-form
{
    display:flex;
    width:100%;
    column-gap:4px;
    margin-top:2px;
    margin-bottom:2px;
    border-top:1px dashed var(--side-link-border);
    border-bottom:1px dashed var(--side-link-border);
    padding-top:2px;
    padding-bottom:2px;
    font-size:10pt;
}

#search-form input { max-width:70%; flex:1; }

#blue-block a:hover, #social-block a:hover { background-color:inherit; text-decoration:none; }
#blue-block
{
    margin-bottom:14px;
    background-color:var(--ega-darkblue);
}
#blue-block a
{
    color:var(--ega-yellow);
    font-size:28px;
    display:flex;
    justify-content:flex-start;
    height:28px;
    line-height:28px;
}
#blue-block a:nth-child(even) .key { background-color:var(--ega-gray); }
#blue-block a:nth-child(odd) .key { background-color:var(--ega-darkcyan); }
#blue-block a:visited { color:var(--ega-yellow); }
#blue-block a:hover { text-decoration:none; }
#blue-block a .key
{
    text-align:center;
    margin:auto;
    color:var(--ega-black);
    flex:0 0 48px;
    margin-left:16px;
    height:28px;
}
#blue-block a .text
{
    flex:1;
    margin-left:16px;
    height:28px;
}

#wozzt-block h2 { margin-bottom:0; }

#social-block
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
#social-block a
{
    width:24px;
    height:24px;
    border-top:0px;
}
#social-block a::after
{
    margin:0;
    padding:0;
    content:"";
}

#footer
{
    grid-area: footer;
    text-align: center;
    font-size: 10pt;
}

#debug-block
{
    width:95vw;
    max-width:800px;
    margin:auto;
}

.file-meta
{
    margin-bottom:14px;
}

/* ZFile Page Header */
.file-links
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    padding-top:3px;
    padding-bottom:3px;
    font-weight:bold;
    width:100%;
}

.file-data
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    text-align:center;
    border-bottom:1px solid var(--border-color);
    padding-top:3px;
    padding-bottom:3px;
    gap:4px;
}

.file-data > div { flex:1; }

.file-heading { display:flex; }
