#content
{
    order:1;
    margin-left:1em;
    margin-right:1em;
    flex:0 1 100%;
}

#sidebar-left
{
    order:2;
    flex:1;
    margin-right:0.5em;
}

#sidebar-right
{
    order:3;
    flex:1;
    margin-left:0.5em;
}

#lower-ui
{
    flex-wrap:wrap;
}

#tab-area
{
    order:1;
    flex:1 1 100%;
}

#file-list
{
    order:2;
    flex:1 1 100%;
    border:1px solid #000;
    border-right:1px solid #000; /* Needed to overwrite style.css */
    margin-top:2px;
}
