.fg-icon { filter:sepia(1) hue-rotate(220deg) saturate(6); }
.unpublished { background-color:var(--hover-bg); }

/* All Model Blocks */
.model-block
{
    padding:0px 8px 0px 8px;
    margin:14px auto 14px auto;
    border:1px solid var(--border-color);
    display:grid;
}

.model-block .preview-image { grid-area:screenshot; }
.model-block .preview-image.thumbnail { width:240px; }

.model-block-title
{
    grid-area:title;
    display:flex;
    font-size:18pt;
}

.model-block-icons
{
    margin-right:8px;
    cursor:help;
    display:inline-block;
}

.model-block .extras { grid-area:extras; }
/* Detailed View */
.model-block.detailed
{
    grid-template-areas:
    "screenshot margin"
    "screenshot title"
    "screenshot data"
    "extras extras"
    "actions actions";

    column-gap:8px;
    grid-template-columns: minmax(240px, auto) 1fr;
    grid-template-rows:14px min-content 1fr min-content min-content;
}

@media (max-width:1279px) {
    .model-block.detailed
    {
        grid-template-areas:
        "margin"
        "prefix"
        "screenshot"
        "title"
        "data"
        "desc"
        "extras"
        "actions";

        grid-template-columns: 1fr;
    }
}

.model-block-top-margin
{
    grid-area:margin;
    font-family:"cp437";
    font-size:16px;
    text-align:right;
    color:var(--block-margin-lowlight);
}

.model-block-top-margin span { cursor:help; }

.model-block.detailed .preview-image { margin:14px auto 14px auto; }

.model-block-title h2
{
    margin:0;
    font-size:inherit;
}

.model-block-data
{
    grid-area:data;
    display:flex;
    flex-wrap:wrap;
    column-gap:8px;
}

.model-block-data .col { flex:1; }

.model-block-data .datum
{
    display:flex;
    align-items:flex-start;
    column-gap:8px;
    border-bottom:1px dotted var(--border-color);
}

.model-block-data .datum .label { flex:1; }
.model-block-data .datum .value { flex:3; }

.model-block-data .datum .value textarea
{
    width:100%;
    height:100px;
}

.model-block-actions
{
    grid-area:actions;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    text-align:center;
    border-top:1px dotted #000;
}

@media (max-width:480px) {
    .model-block-actions { grid-template-columns: repeat(3, 1fr); }
    .model-block-actions .datum .value { line-height:32px; }
}

.model-block-actions a { display:block; }
.model-block-actions a:hover { background-color:var(--hover-bg); }

/* List View */
/* Gallery View */
.gallery-frame /* Container for gallery blocks */
{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-evenly;
    grid-template-columns: minmax(240px, auto) 1fr;
    gap: 14px 8px;
    text-align:center;
    margin:14px 0px 14px 0px;
}

.model-block.gallery
{
    grid-template-areas:
    "screenshot"
    "title"
    "data";
    margin:0;
    padding:14px 8px 14px 8px;
}

.model-block.gallery .preview-image
{
    margin:auto;
}

.model-block.gallery .model-block-title
{
    text-align:center;
    margin:auto;
    max-width:240px;
}

.model-block.gallery .model-block-title .model-block-icons { font-size:medium; }

.model-block.gallery .model-block-title h2
{
    flex:1 1 100%;
    font-size:medium;
    font-weight:normal;
    border-bottom:1px dotted var(--border-color);
}

.model-block.gallery .model-block-data
{
    margin:auto;
    max-width:240px;
}

.model-block.gallery .model-block-data .datum
{
    flex:1 1 100%;
    flex-wrap:wrap;
    border-bottom:0;
    text-align:center;
}

/* Poll View (Based on Gallery) */
.model-block.gallery.poll
{
    grid-template-areas:
    "screenshot title"
    "screenshot data"
    "screenshot poll"
    "screenshot patron";
    column-gap:8px;
    font-family:"cp437";
    font-size:16pt;
    color:var(--ega-white);
}

.model-block.poll-option-1 { background-color: var(--ega-darkblue); }
.model-block.poll-option-2 { background-color: var(--ega-darkgreen); }
.model-block.poll-option-3 { background-color: var(--ega-darkcyan); }
.model-block.poll-option-4 { background-color: var(--ega-darkred); }
.model-block.poll-option-5 { background-color: var(--ega-darkpurple); }

.model-block.gallery.poll a { color:var(--ega-yellow); }
.model-block.gallery.poll .model-block-title { max-width:240px; }
.model-block.gallery.poll .model-block-title h2 { font-size:16pt;  }
.model-block.gallery.poll .data .datum { flex:1 1 100%; text-align:center;  }

.model-block.gallery.poll .poll-info
{
    grid-area:poll;
    max-width:240px;
    text-align:left;
    border-top:1px solid var(--border-color);
    padding-top:4px;
}

.model-block.gallery.poll .poll-patron-label
{
    grid-area:patron;
    text-align:center;
    border-top:1px solid var(--border-color);
    padding-top:4px;
}

.model-block.gallery.poll .model-block-data .datum {
}

/* Review Content View */
.model-block.review-content
{
    grid-template-areas:
    "margin"
    "title"
    "data"
    "extras"
    "actions";

    column-gap:8px;
    grid-template-columns: 1fr;
    grid-template-rows:14px min-content 1fr min-content min-content;
}

.model-block.review-content .data > .datum { flex:1 0 100%; }

/* Collection Contents View -- Based on Detailed */
.model-block.detailed.collection-content
{
    grid-template-areas:
    "screenshot margin"
    "screenshot title"
    "screenshot data"
    "collection-info collection-info"
    "extras extras"
    "actions actions";

    column-gap:8px;
    grid-template-columns: minmax(240px, auto) 1fr;
    grid-template-rows:14px min-content 1fr min-content min-content min-content;
}

.model-block .collection-info
{
    grid-area:collection-info;
}

/* Header View -- File Viewer */
.model-block.header
{
    grid-area:header;

    grid-template-areas:
    "title related"
    "actions actions"
    "data data";
    grid-template-columns: 7fr 3fr;
    width:100%;
    border:0px;
    padding:0px;
    margin-top:0px;
}

.model-block.header .model-block-title h1
{
    font-size:24pt;
}

.model-block.header #alt-file-listing
{
    margin-bottom:2px;
}

.model-block.header .model-block-actions
{
    grid-area: actions;
    border-top:1px solid var(--border-color);
    font-weight:bold;
}

.model-block.header .model-block-meta
{
    grid-area: data;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    text-align:center;
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    gap:4px;
}

.model-block.header .model-block-meta > .datum
{
    flex:1;
}
/* UNORGANIZED BELOW THIS POINT */

.model-block .prefix
{
    grid-area:prefix;
    font-family:"cp437";
    font-size:larger;
    text-align:center;
    padding-bottom:14px;
}
.model-block .description
{
    grid-area:desc;
}

.model-block h3
{
    margin:0;
}

/* Try to fit more than 2 at lower resolutions  TODO: THIS ISN'T VERY GOOD IMO */
@media (max-width:1300px) {
    .gallery-frame { gap:7px 2px; }
}

/* Featued World on Front Page */
#featured .model-block.gallery
{
    border:0;
    padding:0;
}

/* Links for File blocks */
.model-block-links
{
    border:1px solid var(--border-color);
    border-top:0;
    margin-top:-14px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    text-align:center;
}

@media (max-width:480px) {
    .model-block-links { grid-template-columns: repeat(3, 1fr); }
    .model-block-links .datum .value { line-height:32px; }
}

.file-links .model-block-links
{
    /* Links when viewing a file */
    flex:1;
    margin-top:0;
    border:0;
}
/* End Links for File blocks */

/* OLD STUFF */
.model-block.detailed.unpublished + .model-block-links
{
    background-color: var(--hover-bg);
}

.link-icons { padding-right:0.5ch; }
.link-icons .icon:hover { cursor:help; }

.model-block.unlisted[data-model="Collection"], .model-block.unlisted[data-model="Collection"] + .model-block-links
{
    background:var(--hover-bg);
}

.model-block.private[data-model="Collection"], .model-block.private[data-model="Collection"] + .model-block-links
{
    background:var(--file-list-bg);
}
/* END OLD STUFF */
