:root {
    --site-bg: #CCC;
    --block-bg: #F0F0F0;
    --header-bg: #619F9F;
    --hover-bg: #98C9C9;
    --link-color: #00F;
    --notice-bg: #DEF;
    --error-bg: #FDE;
    --restricted: #F00;
    --input-bg: #FFF;
    --text-color: #000;
    --side-link-border: #AAA;
    --th-background: #619F9F;
    --lowlight-button-color: #666;
    --border-color: #000;
    --board-list-bg: #FFF;
    --file-list-bg: #AAA;
    --field-error-bg: #FCC;

    --unselected-tab: #AAA;
    --selected-tab: #619F9F;

    --block-margin-lowlight: #888;
}

body.theme-dark
{
    --site-bg: #080917;
    --block-bg: #171B22;
    --header-bg: #3A55BF;
    --hover-bg: #3A55BF;
    --link-color: #64BEEE;
    --notice-bg: #224166;
    --restricted: #A00;
    --input-bg: #13141A;
    --text-color: #DADAF0;
    --side-link-border: #3A4648;
    --th-background: #353B53;
    --lowlight-button-color: #666;
    --border-color: #3B4355;
    --board-list-bg: #16182B;
    --file-list-bg: #232455;
    --field-error-bg: #833;

    --unselected-tab: #232455;
    --selected-tab: #232455;

    --block-margin-lowlight: #3B4355;
}

body
{
    font-family:sans-serif;
    background-color:var(--site-bg);
    margin-top:7px;
    overflow-y:scroll;
    color:var(--text-color);
}

/* Basic Elements */
a { text-decoration:none; color:var(--link-color); }
a:hover { text-decoration:underline; }
a:visited { color:var(--link-color); }

a[target=_blank]
{
    padding-right:16px;
    background:url("/static/chrome/external_link.png");
    background-position:top right;
    background-repeat:no-repeat;
}

a[href^="https://www.digitalmzx.com"]
{
    padding-left:12px;
    padding-right:16px;
    background:url("/static/chrome/mzx-smiley.png"), url("/static/chrome/external_link.png");
    background-position:center left, top right;
    background-repeat:no-repeat;
}

a.noext[target=_blank]
{
    padding-right:0;
    background:none;
}

a.nohover:hover { background-color:transparent; }
a.noul, a.noul:hover { text-decoration:none; }
a.broken { text-decoration:line-through; color:var(--restricted); }
a.restricted { color:var(--restricted); }
a.unlocked { color:var(--ega-darkgreen); }
a.il { font-style:italic; }

blockquote
{
    font-family:serif;
    font-style:oblique;
    text-align:justify;
    padding:0.5em;
    border:3px double var(--border-color);
    background:var(--notice-bg);
}

blockquote::first-letter
{
    margin-left:1em;
    font-size:x-large;
}

blockquote footer
{
    text-align:right;
    font-style:normal;
}

details > summary { list-style:none; cursor:pointer; }
.detail-state { float:right; }
details .detail-state::before { content:"➕"; }
details[open] .detail-state::before { content:"➖"; }

figure { text-align:center; }
figure figcaption { font-family:"cp437"; }

figure.zzt-figure
{
    width:480px;
    padding:14px 8px 0px 8px;
    background:var(--ega-darkcyan);
    margin:auto;
    color:var(--ega-white);
    font-family:"cp437";
    border:1px solid var(--ega-white);
}

figure.zzt-figure figcaption { padding-top:7px; padding-bottom:7px; }
figure.zzt-figure figcaption a { color:var(--ega-yellow); }

#heading-wrapper { display:flex; align-items:center; gap:8px; }
h1 {margin-top:0;}

hr { height:14px; border:0px; background-image:url("/static/chrome/hr-center.png"); }
.theme-dark hr { height:14px; border:0px; background-image:url("/static/chrome/hr-center-dark.png"); }

img:not(.screenshot-thumb) { max-width:100%; }

p { margin:14px auto 14px auto; }

pre { margin:0; white-space: pre-wrap; }

table
{
    border-collapse:collapse;
    box-sizing:border-box;
    margin-top:14px;
    margin-bottom:14px;
    width:100%;
    max-width:100%;
    overflow-x:auto;
}

th
{
    box-sizing:border-box;
    background-color:var(--th-background);
    border:1px solid var(--border-color);
    padding:7px 4px 7px 4px;
}

td
{
    box-sizing:border-box;
    border:1px solid var(--border-color);
    padding:7px 4px 7px 4px;
}

/* End Basic Elements */

/* Fonts */
@font-face
{
    /* http://int10h.org/oldschool-pc-fonts/readme/ */
    font-family: 'cp437';
    src: url('/static/fonts/PxPlus_IBM_EGA_8x14.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    /* http://int10h.org/oldschool-pc-fonts/readme/ */
    font-family: 'mono';
    src: url('/static/fonts/UbuntuMono-R.ttf');
    font-weight: normal;
    font-style: normal;
}

.cp437 { font-family: "cp437"; }
pre.cp437 { line-height:14px;}
.mono { font-family: "monospace";}
.col-80 { max-width:80ch; }
/* End Fonts */

/* Site specific pseudo-elements */
.keyword { font-family:"cp437", monospace; font-size:16pt; }

.spoiler, .spoiler a
{
    color:transparent;
    cursor:pointer;
    background-image:url('/static/chrome/spoiler-bg.png');
}

.spoiler img, .spoiler code, .spoiler p a { visibility:hidden; }
.spoiler.revealed { color:var(--text-color); background-image:none; }
.spoiler.revealed a { color:var(--link-color); }
.spoiler.revealed img, .spoiler.revealed code, .spoiler.revealed p a { visibility:visible; }

.content-warning, .sticky-note
{
    background:var(--notice-bg);
    display:flex;
    align-items:center;
    padding:0.25em 1em 0.25em 1em;
    max-width:500px;
    margin:auto;
    border:1px dashed var(--border-color);
    margin-top:14px;
    margin-bottom:14px;
}

.content-warning .text, .sticky-note .text
{
    flex:1;
    font-size:smaller;
}

.content-warning .text p, .sticky-note .text
{
    margin-top:0.25em;
    margin-bottom:0.25em;
}

.content-warning .text b.heading, .sticky-note .text b.heading
{
    font-size:larger;
    letter-spacing:0.25em;
    text-align:center;
    display:block;
    width:100%;
}

.patreon-plug
{
    font-family:cp437;
    font-size:16px;
    color:var(--ega-yellow);
    background:var(--ega-black);
    padding:14px 8px;
    width:320px;
    margin:7px auto 7px auto;
    border:2px solid var(--ega-darkblue);
}
.patreon-plug .heading { color:var(--ega-white); }
.patreon-plug .heading span { color:var(--ega-darkblue); }
.patreon-plug a
{
    color:var(--ega-green);
    text-align:center;
    width:100%;
    display:block;
    padding-right:0;
    background:none;
    text-decoration:underline;
}

.youtube-embed
{
    margin:auto;
    text-align:center;
}

/* Plugs */
.plug
{
    width:210px;
    padding:7px 4px 7px 4px;
    border:5px double;
    margin:14px 8px 14px 8px;
    background-color:var(--ega-gray); /* Default */
    border-color:var(--ega-darkgray);
    box-shadow:10px 10px 2px var(--ega-gray);
}

.plug a {
    display:flex;
    align-items:center;
    column-gap:8px;
    text-align:center;
}

.plug .logo
{
    background-color:var(--ega-white);
    border-radius:100%;
    padding:8px;
    height:40px;
    width:40px;
    text-align:center;
    display:flex;
    overflow:clip;
    display:flex;
    justify-content:center;
    align-items:center;
}

.plug .logo img
{
    background-color:var(--ega-white);
    padding:10px;
    max-width:30px;
}
.plug .text
{
    font-family:cp437;
    font-size:20px;
    color:var(--ega-white);
}

.plug-mastodon { background:var(--ega-darkblue); border-color:var(--ega-darkpurple); }
.plug-twitter { background:var(--ega-darkcyan); border-color:var(--ega-cyan); }
.plug-tumblr { background:var(--ega-darkblue); border-color:var(--ega-blue); }
.plug-youtube { background:var(--ega-darkred); border-color:var(--ega-red); }
.plug-twitch { background:var(--ega-darkpurple); border-color:var(--ega-purple); }
.plug-discord { background:var(--ega-darkgray); border-color:var(--ega-gray); }
.plug-patreon { background:var(--ega-darkred); border-color:var(--ega-yellow); }
.plug-github { background:var(--ega-black); border-color:var(--ega-darkgray); }
.plug-rss { background:var(--ega-darkyellow); border-color:var(--ega-yellow); }
.plug-bluesky { background:var(--ega-blue); border-color:var(--ega-darkblue); }
/* End site specific pseudo-elements */

/* Utility Classes */
/* Display/Visibility */
.none { display: none; }
.inline { display: inline; }
.hidden { visibility: hidden; }
.mobile-only { display:none; }

/* Text Formatting */
.b { font-weight: bold; }
.i { font-style: oblique; }
.u { text-decoration: underline; }
.caps { text-transform: uppercase; }
.smaller { font-size: smaller; }
.larger { font-size: larger; }
.sub { font-size:medium; font-weight:normal; }

/* Positioning */
.fl { float:left; }
.fr { float:right; }
.l { text-align:left; }
.c { text-align:center; margin:auto; }
.r { text-align:right; }

/* Etc */
.basic-border { border:1px solid var(--border-color); }
.bulletless { list-style:none; }
.debug { background:var(--restricted); }
.faded { opacity:0.6 }
.fit-height { height: calc(100vh - 44px ); align-self:start; }
.jsLink { cursor:pointer; color:var(--link-color); }
.no-margin { margin:0; }
.staff-bg { background-color:var(--ega-purple); }
.zoomed { cursor:zoom-out; width:auto; }
.true { background-color:var(--ega-green); }
.false { background-color:var(--ega-red); }

/* Flex Shortcuts */
.flex-container { display:flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-break { flex:0 0 100%; }
.flex-container.justify-space-between { justify-content: space-between; }
.flex-container.justify-center { justify-content: center; }
.flex-container.align-center { align-items:center; }
/* End Utility Classes */

/* Generic Structures */
.screenshot-thumb { width:240px; display:block; }
.screenshot-thumb.zoomed { width:auto; height:auto; max-width:100%; }
.screenshot-thumb:hover { cursor:zoom-in; }
.screenshot-thumb.zoomed:hover { cursor:zoom-out; }
/* End Generic Structures */

/* Generic Model Directories */
.guide-words
{
    display:flex;
    justify-content:space-between;
    max-width:100%;
    margin:auto;
    border-bottom:1px solid var(--border-color);
    font-style:oblique;
}

.guide-words .left { text-align:left; }
.guide-words .right { text-align:right; }

.guide-words.bottom
{
    border-bottom:0px;
    border-top:1px solid var(--border-color);
    margin-top:4px;
}
/* End Generic Model Directories */

/* 4-Column Directories */
.directory
{
    display:flex;
    justify-content:space-between;
    margin-top:14px;
    gap:8px;
}

.directory .column { flex:1; }
.directory .row { padding-left:1em; }

.column .header
{
    background:var(--header-bg);
    text-align:center;
    font-weight:bold;
    border-top:2px solid var(--border-color);
    border-bottom:2px solid var(--border-color);
}

.column .row + .row { border-top:1px dotted var(--border-color); }
.column .header + .row { border-top:0px; }
.column .row:last-child { border-bottom:1px dotted var(--border-color); }
.column .row:hover { background:var(--hover-bg); }
/* End 4-Column Directories */
/* End Specific Structures */

/* ZZT-OOP Syntax */
code
{
    display:block;
    color:#839496;
    background-color:#002B36;
    font-size:larger;
    padding:1ch 2ch 1ch 2ch;
    white-space:pre;
    margin-left:0.2em;
}

code.inline { padding:0.1em; }
code .blue, code .command { color:#268BD2; }
code .green, code .comment { color:#859900; }
code .cyan, code .reserved { color:#2AA198; }
code .red, code .name { color:#DC322F; }
code .magenta, code .hyperlink { color:#D33682; }
code .purple, code .center { color:#6C71C4; }
code .yellow, code .go, code .try { color:#B58900; }
code .orange, code .label { color:#CB4B16; }
code .char:hover { cursor:help; }

code.zzt-oop
{
    min-width:42ch;
    max-width:fit-content;
    background-image:url("/static/chrome/long-code-divider.png");
    background-position:44ch; /* +2 for padding */
    background-repeat:repeat-y;
}

code.super-zzt-oop
{
    min-width:30ch;
    max-width:fit-content;
    background-image:url("/static/chrome/long-code-divider.png");
    background-position:32ch; /* +2 for padding */
    background-repeat:repeat-y;
}

code.cheat {
    font-family:cp437;
    background:var(--ega-black);
    color:var(--ega-white);
    font-size:medium;
    line-height:14px;
}

#oop-wrapper.zzt-scroll { margin:0; }
#oop-wrapper.zzt-scroll code
{
    background:transparent;
    color:var(--ega-yellow);
    padding:0;
    font-size:16px;
    line-height:14px;
    margin-left:32px;
    font-family:"cp437";
    overflow:auto;
    width:356px;
    height:210px;
}

#oop-wrapper.zzt-scroll code::before, #oop-wrapper.zzt-scroll code::after { content:"  •    •    •    •    •    •    •    •    •\A"; }
/* End ZZT-OOP Syntax */

/* Paginator */
.paginator-block
{
    text-align:center;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    font-family:cp437;
    font-size:14pt;
    max-width:750px;
}

select[name=page-selector]
{
    text-align:right;
    width:7ch;
    font-family:cp437;
    font-size:14pt;
}

.paginator-block .page-snap { display:flex; flex:1; }
.paginator-block .page-snap .page-first { flex: 0 0 15%; }
.paginator-block .page-snap .page-last { flex: 0 0 15%; }
.paginator-block .page-snap .page-prev { flex: 0 0 20%; }
.paginator-block .page-snap .page-next { flex: 0 0 20%; }
.paginator-block .page-snap > div.page-info { flex: 1; }

.page-links
{
    flex:0 0 100%;
    display:flex;
    flex-wrap:wrap;
}

.page-links .page-number-link { flex:0 0 10%; }
.paginator-block .selected { background:var(--header-bg); }
.paginator-block a:hover {background:var(--hover-bg);}

.view-links, .roulette-links
{
    font-family:cp437;
    font-size:larger;
    margin:auto;
    text-align:center;
    margin-top:4px;
}

.sort-methods
{
    margin:auto;
    margin-top:4px;
    text-align:center;
    font-family:cp437;
    font-size:larger;
}

.sort-methods select { font-family:cp437; font-size:larger;}

.modify-query
{
    margin-top:4px;
    text-align:center;
    font-family:cp437;
    font-size:larger;
}

.letter-links
{
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    font-family:cp437;
    font-size:14pt;
    margin:auto;
    margin-top:4px;
    max-width:700px;
}

.letter-links a
{
    padding:0px 0.5ch 0px 0.5ch;
    flex:0 0 2.5ch;
}

.letter-links a:hover {background:var(--hover-bg);}
/* End Paginator */

.itch-badge
{
    height:64px;
    margin:7px 4px 7px 4px;
}

/* Thumbnails */
img.zoomable.thumbnail:hover { cursor:zoom-in; }
img.zoomable.zoomed:hover { cursor:zoom-out; }
@media (max-width:500px) {
    img.zoomable.thumbnail:hover { cursor:default; }
    img.zoomable.zoomed:hover { cursor:default; }
}
/* End thumbnails */

#no-results
{
    margin:14px auto 14px auto;
    font-family:cp437;
    font-size:20pt;
    text-align:center;
}

.series-range .gallery
{
    max-width:15%;
    text-align:center;
}

.series-range .gallery-frame .screenshot-thumb
{
    max-width:100%;
    max-height:100px;
}

.data-table
{
    font-family:monospace;
    font-size:12pt;
}

.data-table textarea
{
    box-sizing:border-box;
    height:5em;
    width:100%;
    font-size:smaller;
}

.zfile-attr-table
{
    font-family:monospace;
    font-size:12pt;
}

.zfile-attr-table th
{
    text-align:left;
    width:30%;
}

.zfile-attr-table th[colspan="2"]
{
    text-align:center;
    width:100%;
}

#top-margin
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:20px;
}

.fv-grid #top-margin
{
    grid-area:expand;
}

#top-margin button
{
    padding:0px;
    border:0;
    background:transparent;
    height:20px;
    min-height:20px;
    cursor:pointer;
}

#toggle-light-dark-theme
{
    font-family:cp437;
    font-size:20px;
    color:var(--ega-darkyellow);
}

#toggle-zoom { font-family:cp437; font-size:20px; color:var(--ega-darkpurple);

.theme-dark #toggle-light-dark-theme { color:var(--lowlight-button-color); }

#expand-contract {
    line-height:20px;
    font-family:sans-serif;
    background:var(--block-bg);
    color:var(--lowlight-button-color);
}

#top-margin button:hover { color:var(--text-color); }

/* Nav Action Lists */
.nav-actions
{
    display:flex;
    gap:8px;
    flex-wrap:wrap;
    font-family:"cp437";
    font-size:16px;
    justify-content:flex-start;
}

.nav-actions div
{
    display:flex;
    align-items:center;
    justify-content:center;
}

.nav-actions > *
{
    background:var(--notice-bg);
    flex:1;
    max-width:250px;
    text-align:center;
    border:1px solid var(--border-color);
    padding:7px 4px 7px 4px;
}

.nav-actions > a { display:flex; align-items:center; justify-content: center; }

.nav-actions > .selected
{
    background:var(--header-bg);
}

/* ZZMPlay Widget */
.zzmplay-widget
{
    background:var(--ega-darkblue);
    margin:5px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    width:365px;
    font-family:"cp437", monospace;
    border:1px solid var(--ega-black);
    color:var(--ega-white);
}

.zzmplay-widget textarea[readonly] { display:none; }
.zzmplay-widget textarea[readonly].show { display:block; }
.zzmplay-widget textarea { font-size:10pt; margin-left:8px; margin-right:8px; resize:vertical; min-height:32px;}
.zzmplay-widget .zzmplay-play-button { width:70px; }
.zzmplay-widget .zzm-meta { color: var(--ega-white); flex:1 0 100%; display:flex; }
.zzmplay-widget .zzmplay-source-button { border:0px; background:initial; height:auto; margin-right:1ch; align-self:flex-start; cursor:pointer; }
.zzmplay-widget .zzmplay-source-button.hide { color:var(--ega-gray); }
.zzmplay-widget .zzmplay-source-button.show { color:var(--ega-purple); }
.zzmplay-widget .zzmplay-mute-button { border:0px; background:initial; padding:0px; font-size:smaller; }
.zzmplay-widget .zzmplay-volume { width:50px; }
.zzmplay-widget .zzmplay-seek { width:100px; margin-right:10px; visibility:hidden; }
.zzmplay-widget .time { display:flex; align-items:center; color: var(--ega-white); }
.zzmplay-widget.playing .zzm-meta, .zzmplay-widget.playing .time { color: var(--ega-yellow); }
.zzmplay-widget .zzm-prefix-options { display: flex; align-items:center; gap:4px;}
/* End ZZMPlay Widget */
