.envelope { display:none; min-height:360px; }
.envelope.active { display:flex; }

.envelope-image { justify-content:center; align-items:center; }

#region-file-list
{
    border:1px solid var(--border-color);
}

#file-list
{
    padding:0px;
    margin:0px;
    min-width:500px;
}

#file-list > li
{
    list-style: none;
    padding:0px 8px 0px 8px;
}

#file-list .fv-content::before { content: "+ ";}
#file-list .fv-content.selected::before { content: "· ";}
#file-list .fv-content:has(ol)::before { content: "- ";}
#file-list .fv-content.selected:has(ol)::before { content: "- ";}

#file-list li.selected
{
    font-weight:bold;
}

#file-list li:has(ol) { padding-bottom: 14px; background-color:#AAA; }
#file-list > li ol.board-list { margin-left:2ch; padding-left:5ch; list-style-type:decimal-leading-zero; }

#file-viewer /* Main Grid */
{
    display:grid;
    grid-template-areas: "envelope envelope"
    "file-list tabs"
    "file-list details";
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto min-content 1fr;
    align-content:stretch;
    font-family: mono;
}

#file-viewer table { margin:0px; background-color:var(--board-list-bg); }

#file-viewer > * { box-sizing: border-box; }

/* Grid areas */
#fv-main { grid-area: envelope; }
#tabs { grid-area: tabs; }
#region-file-list { grid-area: file-list; }
#details { grid-area: details; }

#details { border-bottom:1px solid var(--border-color); border-right:1px solid var(--border-color) }

#details > div:not(.active)
{
    display:none;
}

#tabs
{
    display:flex;
    text-align:center;
    align-items:stretch;
    border-style:solid;
    border-width:1px 1px 1px 0px;
    border-color: var(--border-color);
    overflow-x:auto;
}

#tabs > div { flex: 3; background-color: var(--unselected-tab); }
#tabs > div.active { background-color: var(--selected-tab); }
#tabs > div:hover { background-color: var(--hover-bg); cursor:pointer; text-decoration:underline; }
#tabs > div + div { border-left: 1px solid var(--border-color); }
#tabs > div[name=help] { flex: 1 }

#details > div
{
    padding:4px;
}

.board-list li {
    margin-right:4ch;
}

.fv-canvas, #fv-preview
{
    border:5px solid #000;
}

#fv-noscript-error
{
    background-color:var(--error-bg);
    margin:auto;
    width:50%;
    max-width:500px;
    padding:2ch;
    margin-bottom:2ch;
    text-align:center;
    font-weight:bold;
    font-size:larger;
}

#envelope-fvpk-overview
{
    justify-content:space-evenly;
    align-items:center;
}

#envelope-fvpk-overview > div
{
    flex:1;
}

#envelope-fvpk-overview > .zf-preview-wrapper
{
    text-align:center;
    max-width:fit-content;
}

#envelope-fvpk-overview > .zf-desc-wrapper
{
    border:5px solid var(--border-color);
    min-height:120px;
    max-width:480px;
    background-color:var(--notice-bg);
    font-family:sans-serif;
}

#envelope-fvpk-overview > .zf-desc-wrapper > div
{
    padding:2ch;
}

/* Envelope positioning */
.envelope-zzt.active {display:flex; justify-content:center; }


/* EVERYTHING BELOW IS COPIED FROM ORIGINAL FILE VIEWER */

#fv-main
{
    /*border:1px solid var(--border-color);*/
    padding:7px 4px 7px 4px;
    margin:auto;
    margin-bottom:14px;
    max-height:728px;
    overflow:auto;
    resize:vertical;
    border-bottom:1px dashed var(--border-color);
    width:100%;
}

#fv-main .output { display:none }
#fv-main .output.active { display:block; }
#fv-main #canvas-envelope.output.active { display:grid; }

#zip-name
{
    grid-area:zip-name;
    text-align:center;
    border:1px solid var(--border-color);
    border-bottom:0px;
    background:var(--selected-tab);
}

#file-tabs
{
    grid-area: tabs;
    display:flex;
    text-align:center;
    justify-items:stretch;
    border-top:1px solid var(--border-color);
    border-right:1px solid var(--border-color);
    overflow-x:auto;
}

#file-tabs div
{
    border-bottom:0px;
    border-left:0px;
    background:var(--unselected-tab);
    flex:3;
}

#file-tabs div:hover, #zip-name:hover
{
    cursor:pointer;
    background:var(--hover-bg);
    text-decoration:underline;
}

#file-tabs div + div { border-left:1px solid var(--border-color); }

#file-tabs div[name=help] { flex:1; }

#file-list
{
    grid-area: file-list;
    font-family:mono;
    overflow:auto;
    max-height:100%;
}

#file-list .selected
{
    background-color:var(--selected-tab);
}

#file-list li
{
    border-bottom:1px dashed var(--border-color);
}

#file-list li:hover
{
    /* (Preview, List of files) */
    cursor:pointer;
    background:var(--hover-bg);
}

#file-list ul /* (Preview, List of files) */
{
    margin:0px;
    padding:0px;
    overflow:auto;
    height:100%;
}

#file-list ul li /* (Preview, List of files) */
{
    list-style:none;
    border-bottom:1px dashed var(--border-color);
    padding-left:8px;
    padding-right:8px;

}

#file-list ul li.selected
{
    text-align:center;
    font-weight:bold;
}

#file-list ol /* (List of boards in ZZT file) */
{
    text-align:left;
    font-weight:normal;

    /*list-style:none;*/
    margin-left:8px;
    margin-right:8px;
    padding:0px;
    background:var(--board-list-bg);

}

#file-list ol li { border-bottom:1px dotted var(--border-color); } /* (List of boards in ZZT file) */

li.board div  { display:inline-block; } /* Board numbers and names */

#analysis
{
    grid-area: analysis;
    border:1px solid var(--border-color);
    border-left:0px;
    padding:7px 4px 7px 4px;
    font-family:mono;
    overflow:auto;
}

#analysis table
{
    padding:0px;
    margin:0;
}

#analysis table td
{
    background:var(--board-list-bg);
    padding:0px 0px 0px 1ch;
}

#analysis table th
{
    padding:0px 1ch 0px 1ch;
}

#analysis .zip-info-table td, #analysis .zip-info-table th
{
    padding-left:8px;
    padding-right:8px;
}

#analysis #zip-comment
{
    width:81ch;
}

#analysis .fv
{
    margin-bottom:7px;
}

#analysis .fv-hidden, #analysis .fv-hidden-row
{
    display:none;
}

#file-tabs .selected, #zip-name.selected { background:var(--header-bg); }
#analysis .toggle { display:none; }
#file-list ul li.code-match { padding-left:3ch; }

#analysis #search-table input
{
    margin-top:2px; /* TODO: This could be done better */
}

#preferences .field
{
    display:flex;
    padding: 7px 0px 7px 0px;
    font-size:medium;
    font-weight:bold;
    font-family:sans-serif;
}

#preferences .field + .field
{
    border-top: 1px dashed var(--border-color);
}

#preferences label
{
    flex:1 1 20%;
}

#preferences input, #preferences select
{
    flex:1 1;
}

/* File Viewer Extension Based Formatting */
#fv-main #canvas-envelope
{
    justify-content:center;
    grid-template-areas:
    "left canvas right";
    grid-template-columns:auto minmax(480px, auto) auto;
}

@media (max-width: 1024px)
{
    #fv-main #canvas-envelope
    {
        grid-template-areas:
        "left right"
        "canvas canvas";
        grid-template-columns:auto auto;
    }
}

#fv-left-sidebar
{
    font-family:cp437;
    grid-area:left;
    font-size:medium;
    line-height:14px;
    z-index:3;
    visibility:hidden;
}


#fv-left-sidebar #overlay
{
    position: absolute;
    background-color:rgba(204, 204, 204, 0.7);
    padding:7px 4px 7px 4px;
}


.color-swatch
{
    height:2em;
    background-image:url("/static/images/colors.png");
    width:8px;
    height:14px;
    margin:auto;
    display:inline-block;
}

#fv-right-sidebar
{
    grid-area:right;
    z-index:1;
}

#world-canvas
{
    grid-area:canvas;
    align-self:center;
    z-index:2;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#image-envelope {
    height:100%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.preview-image-link { font-style:italic; } /* Overview link in File Viewer */
#text-body { font-family:cp437; }
#doc-header { color:var(--ega-red); text-align:center;}
/* End File Viewer Extension Based Formatting */
