.string-overrun { color:var(--ega-darkred); }
.stat-match::marker { content: "⤷"; }

.envelope { display:none; min-height:360px; }
.envelope.active { display:flex; }

.envelope-image { justify-content:center; align-items:center; }

#region-file-list
{
    border:1px solid var(--border-color);
}

#file-list
{
    padding:0px;
    margin:0px;
}

#file-list > li
{
    list-style: none;
    padding:0px 8px 0px 8px;
}

#file-list .fv-content::before { content: "+ ";}
#file-list .fv-content.selected::before { content: "· ";}
#file-list .fv-content:has(ol)::before { content: "- ";}
#file-list .fv-content.selected:has(ol)::before { content: "- ";}

#file-list li.selected
{
    font-weight:bold;
}

#file-list li:has(ol) { padding-bottom: 14px; background-color:#AAA; }
#file-list > li ol.board-list { margin-left:2ch; padding-left:5ch; list-style-type:decimal-leading-zero; }
#file-list li[data-fvpk="fvpk-overview"] { font-style: oblique; }

#file-viewer /* Main Grid */
{
    display:grid;
    grid-template-areas: "envelope envelope"
    "file-list tabs"
    "file-list details";
    grid-template-columns: 500px 1fr;
    grid-template-rows:auto min-content 1fr;
    align-content:stretch;
    font-family: mono;
    /*max-height:95vh;*/
}

@media (max-width:800px) { /* TODO: Find good values */
    #file-viewer
    {
        grid-template-areas: "envelope"
        "tabs"
        "details"
        "file-list";
        grid-template-columns:1fr;
        grid-template-rows:auto auto auto auto;
        max-height:32767px;
    }
}

#file-viewer table { margin:0px; background-color:var(--board-list-bg); }
#file-viewer th, #file-viewer td { padding:0px; }
#file-viewer td { padding-left:1ch; }

#file-viewer > * { box-sizing: border-box; }

/* Grid areas */
#fv-main { grid-area: envelope; }
#tabs { grid-area: tabs; background-color:var(--unselected-tab);}
#region-file-list { grid-area: file-list; min-height:295px; }
#details { grid-area: details; }

#details { border-bottom:1px solid var(--border-color); border-right:1px solid var(--border-color); overflow:auto;}

#details > div:not(.active)
{
    display:none;
}

#file-list
{
    max-height:680px;
}

#details
{
    max-height:662px; /* - 18 for reasons */
}

#tabs
{
    display:flex;
    text-align:center;
    align-items:stretch;
    border-style:solid;
    border-width:1px 1px 1px 0px;
    border-color: var(--border-color);
    overflow-x:auto;
    min-height:20px;
}

#tabs > div { flex: 3; background-color: var(--unselected-tab); }
#tabs > div.active { background-color: var(--selected-tab); }
#tabs > div:hover { background-color: var(--hover-bg); cursor:pointer; text-decoration:underline; }
#tabs > div + div { border-left: 1px solid var(--border-color); }
#tabs > div[name=help] { flex: 1 }

#tabs > div[data-shortcut]::first-letter { text-decoration:underline; }

#details > div
{
    padding:4px;
}

.board-list li {
    margin-right:4ch;
}

.fv-canvas { image-rendering: pixelated; align-self:center; }

.fv-canvas, #fv-preview
{
    border:5px solid #000;
}

#fv-noscript-error
{
    background-color:var(--error-bg);
    margin:auto;
    width:50%;
    max-width:500px;
    padding:2ch;
    margin-bottom:2ch;
    text-align:center;
    font-weight:bold;
    font-size:larger;
}

.envelope
{
    /* This is a default. Use envelope layout below to override */
    flex-direction:column;
    align-items:center;
}

#envelope-fvpk-overview > div
{
    flex:1;
}

#envelope-fvpk-overview > .zf-preview-wrapper
{
    text-align:center;
    max-width:fit-content;
}

#envelope-fvpk-overview > .zf-desc-wrapper
{
    border:5px solid var(--border-color);
    min-height:120px;
    max-width:480px;
    background-color:var(--notice-bg);
    font-family:sans-serif;
}

#envelope-fvpk-overview > .zf-desc-wrapper > div
{
    padding:2ch;
}

/* Envelope layout */
.envelope-zzt.active { }
.envelope-overview.active { flex-direction:row; justify-content:space-evenly; align-items:center; }
/* End Envelope layout */

.hover-wrapper
{
    height:0px;
    position:absolute;
}

.hover-element
{
    position:relative;
    top:-358px;
    left:5px;
    height:4ch;
    font-family:cp437;
    background-color:rgba(204, 204, 204, 0.7);
    padding:7px 4px 7px 4px;
}

.hover-element.bottom { top:-54px; }

.hover-element.zoom-2 { top:-353px; left:-236px; }
.hover-element.bottom.zoom-2 { top:301px; left:-236px; }

.inner-envelope-wrapper
{
    /* height:0px; */
}

.crosshair-wrapper
{
    height:0px;
    position:absolute;
}

.crosshair
{
    position:relative;
    top:-358px;
    left:5px;
}

details .oop-summary { font-style: oblique; }

details .oop-summary::before
{
    content: "+ Show";
}

details[open] .oop-summary::before
{
    content: "- Hide";
}

/* TODO This will likely go in museum_site.css as it's generic and useful enough */
.flex-table
{
    display:flex;
    flex-wrap:wrap;
}

.flex-table + .flex-table
{
    margin-top:1ch;
}

.flex-table .flex-row
{
    flex:1 0 100%;
    display:flex;
    align-content:center;
}

.flex-table .flex-row:hover > *
{
    background-color:var(--hover-bg);
}

.flex-table .label
{
    background-color:var(--th-background);
    border-style: solid;
    border-width:0px 1px 1px 1px;
    border-color:var(--border-color);
    padding-left:1ch;
    font-weight:bold;
}

.flex-table .flex-row .label.tiny
{
    flex:0 0 6ch;
    padding-left:0px;
}

.flex-table .value
{
    background-color:var(--board-list-bg);
    border-style: solid;
    border-color:var(--border-color);
    border-width:0px 1px 1px 1px;
    padding-left:1ch;
}

/* Border tweaks */
.flex-table .label + .value { border-left:0px; }
.flex-table .value + .label { border-left:0px; } /* For multicolumn */
.flex-table .flex-row:first-child .label { border-width:1px 1px 1px 1px; }
.flex-table .flex-row:first-child .value { border-width:1px 1px 1px 1px; }

.flex-table .flex-row .label { flex:1; }
.flex-table .flex-row .value { flex:2; }
.flex-table .c { margin:inherit; text-align:center; }

li.empty /* Hidden entries in lists that need to keep counting */
{
    visibility:hidden;
    height:0px;
}

#stat-info .controls
{
    display:flex;
    align-items:center;
}

#stat-info .controls input[type='checkbox']
{
    height:auto;
}
/* END flex table */

.code-search-form
{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    padding:0.5ch;

}

.code-search-no-results-message
{
    flex:1 0 100%;
    border-bottom:1px solid var(--ega-black);
}

#details .field-wrapper
{
    grid-template-areas: "label value"
    "help help"
    "error error";
}

.fv-canvas-zoom-2 { transform-origin: top center; transform:scale(2, 2); }
.fv-canvas-zoom-3 { transform:scale(3, 3); }


/* WAS COPIED THEN TWEAKED */
#fv-main
{
    padding:7px 4px 7px 4px;
    margin:auto;
    margin-bottom:7px;
    max-height:768px;
    overflow:auto;
    resize:vertical;
    border-top:1px dashed var(--border-color);
    border-bottom:1px dashed var(--border-color);
    width:100%;
}
/* END WAS COPIED THEN TWEAKED */

#debug-wrapper { width:95%; %}
#debug-wrapper textarea
{
    width:99%;
    margin:auto;
    height:200px;
}

/* EVERYTHING BELOW IS COPIED FROM ORIGINAL FILE VIEWER */

#zip-name
{
    grid-area:zip-name;
    text-align:center;
    border:1px solid var(--border-color);
    border-bottom:0px;
    background:var(--selected-tab);
}

#file-tabs
{
    grid-area: tabs;
    display:flex;
    text-align:center;
    justify-items:stretch;
    border-top:1px solid var(--border-color);
    border-right:1px solid var(--border-color);
    overflow-x:auto;
}

#file-tabs div
{
    border-bottom:0px;
    border-left:0px;
    background:var(--unselected-tab);
    flex:3;
}

#file-tabs div:hover, #zip-name:hover
{
    cursor:pointer;
    background:var(--hover-bg);
    text-decoration:underline;
}

#file-tabs div + div { border-left:1px solid var(--border-color); }

#file-tabs div[name=help] { flex:1; }

#file-list
{
    font-family:mono;
    overflow:auto;
}

#file-list .selected
{
    background-color:var(--selected-tab);
}

#file-list li
{
    border-bottom:1px dashed var(--border-color);
}

#file-list li:hover
{
    /* (Preview, List of files) */
    cursor:pointer;
    background:var(--hover-bg);
}

#file-list ul /* (Preview, List of files) */
{
    margin:0px;
    padding:0px;
    overflow:auto;
    height:100%;
}

#file-list ul li /* (Preview, List of files) */
{
    list-style:none;
    border-bottom:1px dashed var(--border-color);
    padding-left:8px;
    padding-right:8px;

}

#file-list ul li.selected
{
    text-align:center;
    font-weight:bold;
}

#file-list ol /* (List of boards in ZZT file) */
{
    text-align:left;
    font-weight:normal;

    /*list-style:none;*/
    margin-left:8px;
    margin-right:8px;
    padding:0px;
    background:var(--board-list-bg);

}

#file-list ol li { border-bottom:1px dotted var(--border-color); } /* (List of boards in ZZT file) */

li.board div  { display:inline-block; } /* Board numbers and names */

#file-tabs .selected, #zip-name.selected { background:var(--header-bg); }
#analysis .toggle { display:none; }
#file-list ul li.code-match { padding-left:3ch; }

#analysis #search-table input
{
    margin-top:2px; /* TODO: This could be done better */
}

/* File Viewer Extension Based Formatting */
#fv-main #canvas-envelope
{
    justify-content:center;
    grid-template-areas:
    "left canvas right";
    grid-template-columns:auto minmax(480px, auto) auto;
}

@media (max-width: 1024px)
{
    #fv-main #canvas-envelope
    {
        grid-template-areas:
        "left right"
        "canvas canvas";
        grid-template-columns:auto auto;
    }
}


#text-body { font-family:cp437; }
/* End File Viewer Extension Based Formatting */
