@media (max-width: 1100px)
{
    .sidebar, #content
    {
        font-size:smaller;
    }

    .gallery-block
    {
        width:120px;
    }

    .gallery-block .screenshot-thumb
    {
        width:120px;
    }
}
