.zzt-scroll
{
    background-image:url("/static/images/zzt-scroll.png");
    max-width:392px;
    height:266px;
    font-family:"cp437", monospace;
    line-height:14px;
    text-align:left;
    color:#FFFF55;
    margin:0.25em auto 0.25em auto;
}

.zzt-scroll .name
{
    padding:14px 0px 14px 32px;
    text-align:center;
    width:360px;
}

.zzt-scroll .content
{
    padding-left:32px;
    width:360px; /*336*/
    height:210px;
    overflow-y:scroll;
    overflow-x:none;
}

.zzt-scroll .white
{
    color:#FFFFFF;
}

.zzt-scroll .hypertext
{
background-repeat: no-repeat;
background-position:16px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTJDBGvsAAAAQ0lEQVQoU5WMQQoAIAzD9kn//5SqSNmEOPAQBk1YSGrBsRIa64AwJ2iiDB7RHUDIgfn/UITJAOTmBCAMjhUcKzgmigkcKlhhXdQ3uAAAAABJRU5ErkJggg==);
color:white;
padding-left:40px;
}

.zzt-img
{
    display:block;
    margin:auto;
    border:1px solid #AAA;
    overflow:hidden;
    max-width:640px;
    max-height:350px;

}

.zzt-img.zzt-sidebar
{
    width:160px;
}

img.zzt-sidebar
{
    position:relative;
    left:-480px;
}

.zzt-img.zzt-hud
{
    width:160px;
    height:112px;
}

img.zzt-hud
{
    position:relative;
    left:-480px;
    top:-84px;
}

.zzt-img.zzt-message
{
    width:480px;
    height:14px;
}

div.zzt-img + div.zzt-img
{
    margin-top:2px;
}

img.zzt-message
{
    position:relative;
    top:-336px;
}

.zzt-img.zzt-cheat
{
    width:160px;
    height:42px;
}

img.zzt-cheat
{
    position:relative;
    left:-480px;
    top:-56px;
}

.zzt-txt-message
{
    background:#000;
    font-family:"cp437";
    line-height:14px;
    text-align:ceter;
    width:352px;
    padding-top:0.25em;
    padding-bottom:0.25em;
    margin:0.25em;
}

.zzt-txt-message .blue { color:#5555FF; }
.zzt-txt-message .green { color:#55FF55; }
.zzt-txt-message .cyan { color:#55FFFF; }
.zzt-txt-message .red { color:#FF5555; }
.zzt-txt-message .purple { color:#FF55FF; }
.zzt-txt-message .yellow { color:#FFFF55; }
.zzt-txt-message .white { color:#FFFFFF; }


