.zzt-scroll
{
    background-image:url("/static/images/zzt-scroll.png");
    background-repeat:no-repeat;
    background-position: top 14px left 8px;
    background-color:#000;
    min-width:392px;
    height:266px;
    font-family:"cp437", monospace;
    font-size:12pt;
    line-height:14px;
    text-align:left;
    color:#FF5;
    margin:0.25em auto 0.25em auto;
    padding:14px 8px 14px 8px;
    display:inline-block;
}

.zzt-scroll .name
{
    padding:14px 0px 14px 32px;
    text-align:center;
    width:360px;
}

.zzt-scroll .content
{
    padding-left:32px;
    min-width:336px; /*336*/
    height:210px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.zzt-scroll .plaintext
{
    background-color:#00A;
}

.zzt-scroll .white
{
    color:#FFF;
    background-color:#00A;
    text-align:center;
    width:336px;
}

.zzt-scroll .hypertext
{
background-repeat: no-repeat;
background-position:16px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTJDBGvsAAAAQ0lEQVQoU5WMQQoAIAzD9kn//5SqSNmEOPAQBk1YSGrBsRIa64AwJ2iiDB7RHUDIgfn/UITJAOTmBCAMjhUcKzgmigkcKlhhXdQ3uAAAAABJRU5ErkJggg==);
color:white;
padding-left:40px;
background-color:#00A;
min-width:296px;
display:inline-block;
}

.zzt-img
{
    display:block;
    margin:auto;
    border:1px solid #AAA;
    overflow:hidden;
    max-width:640px;
    max-height:350px;
}

.zzt-img img
{
    max-width:100%;
}

.zzt-img.zzt-sidebar
{
    width:160px;
}

img.zzt-sidebar
{
    position:relative;
    left:-480px;
    max-width:none;
}

.zzt-img.zzt-hud
{
    width:160px;
    height:112px;
}

img.zzt-hud
{
    position:relative;
    left:-480px;
    top:-84px;
    max-width:none;
}

.zzt-img.zzt-popup
{
    width:392px;
    height:266px;
}

img.zzt-popup
{
    position:relative;
    left:-40px;
    top:-42px;
    max-width:none;
}

.zzt-img.zzt-message
{
    width:480px;
    height:14px;
}

div.zzt-img + div.zzt-img
{
    margin-top:2px;
}

img.zzt-message
{
    position:relative;
    top:-336px;
    max-width:none;
}

.zzt-img.zzt-cheat
{
    width:160px;
    height:42px;
}

img.zzt-cheat
{
    position:relative;
    left:-480px;
    top:-56px;
    max-width:none;
}

.zzt-txt-message
{
    background:#000;
    font-family:"cp437";
    line-height:14px;
    text-align:center;
    width:352px;
    padding-top:0.25em;
    padding-bottom:0.25em;
    margin:0.25em auto 0.25em auto;
}

.zzt-txt-message.scrolling
{
    max-height:15em;
    overflow:auto;
}

.zzt-txt-message .blue { color:#55F; }
.zzt-txt-message .green { color:#5F5; }
.zzt-txt-message .cyan { color:#5FF; }
.zzt-txt-message .red { color:#F55; }
.zzt-txt-message .purple { color:#F5F; }
.zzt-txt-message .yellow { color:#FF5; }
.zzt-txt-message .white { color:#FFF; }

/* Super ZZT */
.zzt-img.zzt-szzt-message
{
    width:448px;
    height:28px;
}

img.zzt-szzt-message
{
    position:relative;
    top:-322px;
    left:-192px;
}
/* End Super ZZT */

.cl-hyperlink /* ZZT Hyperlink for Closer Looks */
{
    font-family: 'cp437';
    background-image:url("/static/images/hyperlink.png");
    background-color:#0000AA;
    background-repeat:no-repeat;
    color:#FFF;
    padding-left:40px;
    padding-right:16px;
    background-position:16px;
    width:auto;
    display:inline;
}

.ega-blue { color:#55F; }
.ega-green { color:#5F5; }
.ega-cyan { color:#5FF; }
.ega-red { color:#F55; }
.ega-purple { color:#F5F; }
.ega-yellow { color:#FF5; }
.ega-white { color:#FFF; }
.ega-gray { color:#AAA; }
.ega-black { color:#000; }
.ega-darkblue { color:#00A; }
.ega-darkgreen { color:#0A0; }
.ega-darkcyan { color:#0AA; }
.ega-darkred { color:#A00; }
.ega-darkpurple { color:#A0A; }
.ega-darkyellow { color:#A50; }
.ega-darkgray { color:#555; }
.ega-blue-bg { background-color:#55F; }
.ega-green-bg { background-color:#5F5; }
.ega-cyan-bg { background-color:#5FF; }
.ega-red-bg { background-color:#F55; }
.ega-purple-bg { background-color:#F5F; }
.ega-yellow-bg { background-color:#FF5; }
.ega-white-bg { background-color:#FFF; }
.ega-gray-bg { background-color:#AAA; }
.ega-black-bg { background-color:#000; }
.ega-darkblue-bg { background-color:#00A; }
.ega-darkgreen-bg { background-color:#0A0; }
.ega-darkcyan-bg { background-color:#0AA; }
.ega-darkred-bg { background-color:#A00; }
.ega-darkpurple-bg { background-color:#A0A; }
.ega-darkyellow-bg { background-color:#A50; }
.ega-darkgray-bg { background-color:#555; }
.ega-transparent-bg { background-color:none; }
