{% extends "zap/main.html" %}
{% load static %}
{% load site_tags %}

{% block zap_body %}
<h1>Share Event</h1>

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
{% for button in form.extra_buttons %}{{button|safe}}{% endfor %}
<input type="submit" value="{{form.submit_value}}">
</form>
<hr>
<ul>{% for service in form.post_object.posted_where_links %}<li>{{service|safe}}</li>{% endfor %}</ul>

{% if form.responses.twitter %}
<div>
<h3>Twitter</h3>
<textarea class="zap-post-response">{% for r in form.responses.twitter %}{{r}}
==========================================
{% endfor %}</textarea>
</div>
{% endif %}

{% if form.responses.mastodon %}
<div>
<h3>Mastodon</h3>
<textarea class="zap-post-response">{% for r in form.responses.mastodon %}{{r}}
==========================================
{% endfor %}</textarea>
</div>
{% endif %}

{% if form.responses.tumblr %}
<div>
<h3>Tumblr</h3>
<textarea class="zap-post-response">{% for r in form.responses.tumblr %}{{r}}
==========================================
{% endfor %}</textarea>
</div>
{% endif %}
{% endblock %}
