{% extends "zap/main.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<style>
    #zap-recent-uploads img
    {
        max-width:250px;
        max-height:250px;
    }
</style>
{% endblock %}

{% block zap_body %}
<ul>
    <li><a href="{% url 'zap_media_upload' %}">Media Upload</a></li>
    <li><a href="{% url 'zap_create_post' %}">Create Post</a></li>
    <li><a href="{% url 'zap_create_stream_schedule' %}">Create Stream Schedule</a></li>
</ul>

<h2>Posts</h2>
<table class="mono">
    <tr><th>PK</th><th>Title</th><th>Date</th><th>Where</th><th>Actions</th></tr>
    {% for p in posts %}<tr>
        <td>{{p.pk}}</td>
        <td>{% if p.event_id %}<a href="/tools/zap/view/{{p.event_id}}/">{{p.event.title}}</a>{% else %}{{p.title}}{% endif %}</td>
        <td>{{p.created}}</td>
        <td>{% for service in p.posted_where_links %}{{service|safe}} {% endfor %}</td>
        <td>
            <a href="{% url 'zap_boost_post' %}?pk={{p.pk}}">Boost</a>
        </td>
    </tr>{% endfor %}
</table>

<hr>
<h2>Events</h2>
<table class="mono">
    <tr><th>PK</th><th>Event</th><th>Kind</th><th>Actions</th></tr>
    {% for e in events %}<tr>
        <td>{{e.pk}}</td>
        <td><a href="/tools/zap/view/{{e.pk}}/">{{e.title}}</a></td>
        <td>{{e.kind}}</td>
        <td>
            <a href="{% url 'zap_create_stream_schedule' %}?pk={{e.pk}}">Edit</a><br>
            <a href="{% url 'zap_create_post' %}?pk={{e.pk}}">Post Event</a><br>
        </td>
    </tr>{% endfor %}
</table>

<h2>Recent Uploads</h2>
<table class="mono" id="zap-recent-uploads">
    <tr><th>Image</th><th>Paths</th></tr>
    {% for i in recent_uploads %}
    <tr>
        <td><a href="{{i}}" target="_blank" class="noext"><img src="{{i}}"></a></td>
        <td>{{i}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Recent Renders</h2>
<table class="mono">
    <tr><th>Image</th><th>Paths</th></tr>
</table>

{{current_month_path}}
{% endblock %}
