{% extends "zap/main.html" %}
{% load static %}
{% load site_tags %}

{% block style %}
<style>
    #zap-recent-uploads img
    {
        max-width:250px;
        max-height:250px;
    }
</style>
{% endblock %}

{% block zap_body %}
<h2>Posts</h2>
<table class="mono">
    <tr><th>PK</th><th>Title</th><th>Date</th><th>Where</th><th>Actions</th></tr>
    {% for p in posts %}<tr>
        <td>{{p.pk}}</td>
        <td>{% if p.event_id %}<a href="/tools/zap/view/{{p.event_id}}/">{{p.event.title}}</a>{% else %}{{p.title}}{% endif %}</td>
        <td>{{p.created}}</td>
        <td>{% for service in p.posted_where_links %}{{service|safe}} {% endfor %}</td>
        <td>
            <ul>
                <li><a href="{% url 'zap_boost_post' %}?pk={{p.pk}}">Boost</a></li>
                <li><a href="{% url 'zap_reply_post' %}?pk={{p.pk}}">Reply</a></li>
            </ul>
        </td>
    </tr>{% endfor %}
</table>

<h2>Recent Uploads</h2>
<table class="mono" id="zap-recent-uploads">
    <tr><th>Image</th><th>Paths</th></tr>
    {% for i in recent_uploads %}
    <tr>
        <td><a href="{{i}}" target="_blank" class="noext"><img src="{{i}}"></a></td>
        <td>
            <ul>
                <li>{{i}}</li>
                <li><a href="https://museumofzzt.com{{i}}" target="_blank" class="noext">https://museumofzzt.com{{i}}</a></li>
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Recent Renders</h2>
<a href="{{current_month_path}}/">Renders for this month</a>
<table class="mono">
    <tr><th>Image</th><th>Paths</th></tr>
</table>
{% endblock %}
