{% extends "zap/main.html" %}
{% load static %}
{% load site_tags %}

{% block scripts %}
<script src="/static/js/museum-forms.js?{{BOOT_TS}}"></script>
{% endblock %}

{% block zap_body %}
<h1>{{form.heading}}</h1>
<form id="stream-schedule-form" {% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
{% for button in form.extra_buttons %}{{button|safe}}{% endfor %}
<input type="submit" value="{{form.submit_value}}">
</form>

<hr>

<table>
    {% for ufn in form.uploaded_file_names %}
    <tr>
        <td><img src="{% static '/zap/media/'|add:ufn %}" style="max-width:500px"></td>
        <td><ul>
            <li>{{ufn}}</li>
            <li>{% static '/zap/media/'|add:ufn %}</li>
            <li><a href="https://museumofzzt.com{% static '/zap/media/'|add:ufn %}">https://museumofzzt.com{% static '/zap/media/'|add:ufn %}</a></li>
        </ul></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
