@font-face 
{
	font-family: 'Classic Console';
	src: url('/assets/fonts/clacon.ttf');
	font-weight: normal;
	font-style: normal;
}

a
{
    text-decoration:none;
}

a:visited
{
    color:#00F;
}

body
{
    font-family:sans-serif;
    background:#CCC;
    max-width:95%;
    margin:auto;
    margin-top:1em;
}

.col
{
    display:inline-block;
    zoom: 1;
    *display: inline;
    vertical-align:top;
    overflow:auto;
}

.dos
{
    font-family:"Classic Console";
    font-size:16pt;
}

section
{
}

.selected
{
    background:#619F9F;
}


#logo
{
    float:left;
    clear:both;
}

nav
{
    text-align:center;
}

nav li
{
    display:inline-block;
    zoom: 1;
    *display: inline;

    width:125px;
    height:25px;
    font-size:16pt;
    text-align:center;
}

.sidebar
{
    /*min-width:200px;*/
    width:15%;
    /*flex-grow:1;*/
}

.sidebar h1
{
    text-align:center;
    margin:0;
    margin-bottom:0.5em;
}

#sidebar-right
{
    order:3;
}

#content
{
    order:2;
    width:60%;
    /*flex-grow:2;
    
    min-width:50%;
    max-width:50%;*/
    
}

.flex-container
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

.flex-between
{
    justify-content:space-between;
}

.block
{
    padding:0.5em;
    margin:0.5em;
    background:#FFF;
    border:1px solid #000;
}

footer
{
    text-align:center;
}

/* Left sidebar */
#sidebar-left
{
    order:1;
    text-align:center;
}

#featured
{
    
}

#featured img
{
    width:80%;
}

#letters
{
    width:100%;
    text-align:center;
    margin:auto;
}

#letters a
{
    font-family:monospace;
    display:inline-block;
    width:8%;
    margin-bottom:0.25em;
    text-decoration:none;
    font-size:larger;
}

#letters a:hover
{
    text-decoration:underline;
    background:#CCC;
}

input[name=q]
{
    max-width:80%;
    border:1px solid #000;
}

input[name=search_button]
{
    border:1px solid #000;
    background:#CCC;
    margin-top:2px;
}
/* End Left sidebar */

.pages
{
    text-align:center;
    margin:auto;
    width:90%;
    font-size:larger;
    padding:1em;
}

/* File blocks */
.file-block
{
    width:100%;
    border:1px solid #000;
    margin-bottom:1em;
}

.file-block img
{
    max-width:240px;
}

.file-screen
{
    max-width:240px;
}

.file-block > div
{
    padding:1em;
}

.file-info
{
    min-height:175px;
}

.file-info h1
{
    margin:0;
    margin-bottom:0.5em;
}

.file-info div
{
    display:inline-block;
    min-width:100px;
}

.file-details
{
    padding:0.25em;
    max-width:100%;
}

div.file-links, div.file-details
{
    flex-basis:100%;
    min-height:auto;
    height:auto;
    padding:0.25em;
    border-top:1px solid #000;
}

div.file-links ul, div.file-details ul
{
    margin:0;
}

.file-links li
{
    display:inline-block;
    zoom: 1;
    *display: inline;
    width:24%;
    text-align:center;
}

div.file-details ul
{
    padding-left:0px;
}

.file-details li
{
    display:inline-block;
    zoom: 1;
    *display: inline;
    font-family:monospace;
    margin-left:1.5em;
}
/* End Game blocks */

/* File viewing */
#details
{
    min-width:482px;
    min-height:350px;
    border:1px solid #000;
    padding:0.5em;
    overflow:auto;
    margin-right:1em;
    float:left;
    clear:both;
    font-family:monospace;
    
}

#file_list
{
    border:1px solid #000;
    padding-top:0.5em;
    padding-bottom:0.5em;
    height:350px;
    overflow:auto;
    font-family:monospace;
}

#file_list ul
{
    margin:0;
    padding:0;
    list-style:none;
}

#file_list ul li
{
    padding-left:0.5em;
    padding-right:0.5em;
}

#file_list ul li:hover
{
    cursor:pointer;
    background:#98C9C9;
}
/* End file viewing */