{% extends "museum_site/subtemplate/video-description/base.html" %}

{% block overview %}♦ Playthrough of the ZZT world {% zfile_citation zfile %} [https://{{DOMAIN}}{{zfiles.0.get_absolute_url}}]. ♦{% endblock %}

{% block stream_contents %}
No vocal commentary. This playthrough was recorded for a Closer Look article to capture my initial playthrough through the world. Some edits may have been made for a better viewing experience.
{% if related_article %}
Museum of ZZT patrons can read the accompanying Closer Look article at {{DOMAIN}}{{related_article.get_absolute_url}} right now!

This Closer Look is planned to become available to all Museum of ZZT visitors on {{related_article.publish_date|date:"M jS, Y"}}.
{% endif %}{% endblock %}

{% block play_links %}♦ Play this world directly in your browser ♦
{% for zfile in zfiles %}&bull; https://{{DOMAIN}}{{zfile.play_url}}
{% endfor %}{% endblock %}
