{% extends "museum_site/subtemplate/video-description/base.html" %}
{% load site_tags %}

{% block overview %}♦ Livestream of the ZZT world {% zfile_citation zfiles.0 %} [https://{{DOMAIN}}{{zfiles.0.get_absolute_url}}]. ♦{% endblock %}

{% block stream_contents %}
♦ Stream Contents ♦
{% for zfile in zfiles %}&bull; ({{zfile.timestamp}}) {% zfile_citation zfiles.0 %} [https://{{DOMAIN}}{{zfile.get_absolute_url}}]{% endfor %}
{% endblock %}

{% block play_links %}♦ Play this world directly in your browser ♦
{% for zfile in zfiles %}&bull; https://{{DOMAIN}}{{zfile.play_url}}
{% endfor %}{% endblock %}
