<div class="pages">
    {% if pages > 1 %}
    Page #{{page}}/{{pages}}<br>
    <a href="?page={{prev}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">&lt;</a>
    {% for page in page_range %}
    <a href="?page={{page}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">{{page}}</a>
    {% endfor %}
    <a href="?page={{next}}{% if qs_sans_page %}&{{qs_sans_page}}{% endif %}">&gt;</a>
    {% endif %}
    <div class="sub">
        Sort: <select name="sort">
            <option value="title"{% if sort == "title" %} selected {%endif %}>Title</option>
            <option value="date"{% if sort == "date" %} selected {%endif %}>Date</option>
        </select>
    </div>
</div>
