{% extends "museum_site/main.html" %}

{% load static %}
{% load zzt_tags %}
{% load site_tags %}

{% block style %}
<style>
#content
{
    font-family:monospace;
    font-size:10pt;
}

.color
{
    border:1px solid #000;
    display:inline-block;
    width:20ch;
    font-size:14pt;
}

.color:hover
{
    background:#000;
    color:#FFF;
}

.swatch
{
    width:80px;
    height:1.0em;
    display:inline-block;
}
</style>
{% endblock %}

{% block content %}
<h1>Museum Colors</h1>
<hr>

{% for stylesheet, entry in stylesheets.items %}
    <h2>{{stylesheet}}</h2>
    {% for e in entry %}
    {% ifchanged %}
        {% if e not in solarized %}
        <div class="color">{{e}} <div class="swatch fr" style="background-color:{{e}}"></div></div>
        {% endif %}
    {% endifchanged %}
    {% endfor %}

    {% if stylesheet == "grid.css" %}
    <br>
    <div class="swatch" style="background-color:#000"></div> ...000 - <b>Text/Border</b><br>
    <div class="swatch" style="background-color:#00A"></div> ...00A - RESTRICTED - Used for ZZT style navigation links and ZZT style Patreon Plug template tag.<br>
    <div class="swatch" style="background-color:#00F"></div> ...00F - <b>Link Color</b> Links/Visited Links/jsLinks<br>
    <div class="swatch" style="background-color:#0AA"></div> ...0AA - RESTRICTED - Used for ZZT style navigation links. EGA dark cyan.<br>
    <div class="swatch" style="background-color:#5F5"></div> ...5F5 - RESTRICTED - Used for Patreon Plug template tag. EGA green.<br>
    <div class="swatch" style="background-color:#619F9F"></div> 619F9F - <b>Header/Selected BG</b> Table header BG. Directory header BG. Upload form checked genres BG. File Viewer selected file BG. FV selected tab BG.<br>
    <div class="swatch" style="background-color:#98C9C9"></div> 98C9C9 - <b>Hover BG</b> Hover BG for sidebar links. Upload form genre hover BG. FV file tabs hover BG. FV file list hover BG.<br>
    <div class="swatch" style="background-color:#AAA"></div> ...AAA - ZZT Navlink color, Sidebar link borders, Img Set (for FGs) border, FV tab header BGs, FV image border, Article Asides, Upload form genre list BG<br>
    <div class="swatch" style="background-color:#CCC"></div> ...CCC - <b>Site Background Color</b><br>
    <div class="swatch" style="background-color:#DEF"></div> ...DEF - <b>Block Quotes / Content Warnings</b><br>
    <div class="swatch" style="background-color:#F00"></div> ...F00 - .broken Links, .debug background, File Viewer .DOC file disclaimer color<br>
    <div class="swatch" style="background-color:#F0F0F0"></div> F0F0F0 - Site block background color<br>
    <div class="swatch" style="background-color:#FF5"></div> ...FF5 - RESTRICTED - ZZT scrolls, ZZT style navigation links, Patreon Plug template tag<br>
    <div class="swatch" style="background-color:#FFF"></div> ...FFF - Form element backgrounds, Patreon Plug template tag, File Viewer Board List/Tables<br>
    <div class="swatch" style="background-color:#FEA"></div> ...fea - FORBIDDEN - Bug in color detector. This is matching on "#featured"<br>

    {% endif %}
<hr>
{% endfor %}

<h2>Reference - EGA</h2>
{% for e in ega %}
    <div class="color">{{e}} <div class="swatch" style="background-color:{{e}}"></div></div>
{% endfor %}
<hr>
<h2>Reference - SOLARIZED</h2>
{% for e in solarized %}
    <div class="color">{{e}} <div class="swatch" style="background-color:{{e}}"></div></div>
{% endfor %}
{% endblock %}
