{% extends "museum_site/main.html" %}

{% block style %}
<style>
.scrolling-checklist-filter
{
    background-color:#619F9F;
    border-bottom:1px solid #000;
    position:sticky;
    top:0px;
    font-size:16px;
    padding:2px 8px 2px 8px;
}

.scrolling-checklist label input
{
    margin-right:8px;
    margin-left:8px;
}

input[type=button]:hover
{
    text-decoration:underline;
    text-decoration-style:dashed;
    cursor:pointer;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $(".widget input[type=checkbox]").click(function (){
        if ($(this).prop("checked"))
        {
            $(this).parent().addClass("selected");
        }
        else
        {
            $(this).parent().removeClass("selected");
        }
        write_selected($(this).attr("name"));
    });
    $(".widget input[type=radio]").click(function (){
        $(this).parent().parent().children().removeClass("selected");
        $(this).parent().addClass("selected");
        write_selected($(this).attr("name"));
    });
    init_filters();

    $(".char-limited-widget").each(function (){
        $(this).keyup(function (){
            var len = $(this).val().length;
            var max_chars = $(this).attr("maxlength");
            var remaining = max_chars - len;
            $(this).prev(".chars-remaining").find("span").html(remaining);
        });
    });

    $(".clear-date-widget").click(function (){
        console.log("X");
        $(this).prevAll("input[type=date]").val("");
    });

    $(".todays-date-widget").click(function (){
        var today = new Date();
        $(this).prev("input[type=date]").val(today.toISOString().slice(0,10));
    })

    $(".widget-control-button").click(function (){
        var name = $(this).data("input-name");
        if ($(this).val() == "Clear")
            $("input[name="+name+"]:checked").click();
        else if ($(this).val() == "All")
            $("input[name="+name+"]").not(":checked").click();
        else if ($(this).val() == "Default")
        {
            var default_values = $(this).data("default").split("/");
            $("input[name="+name+"]").each(function (){
                if (default_values.indexOf($(this).val()) != -1)
                {
                    if ($(this).prop("checked") == false)
                        $(this).click();
                }
                else
                {
                    if ($(this).prop("checked") == true)
                        $(this).click();
                }
            });
        }

        write_selected(name);
    });
});

function init_filters()
{
    $(".filterable").each(function (){
        var filter_input = $(this).find(".widget-filter");
        var filter_clear = $(this).find(".widget-clear");
        var targets = $(this).find("label");

        // Bind clear button
        filter_clear.click(function (){
            $(filter_input).val("");
            filter_input.keyup();
        });

        // Bind filtering
        filter_input.keyup(
            {
                "filter": function (){return $(filter_input).val()},
                "targets": targets
            },
            apply_filter
        );
    });
}

function apply_filter(e)
{
    var filter = e.data.filter();
    var targets = e.data.targets;

    $(targets).each(function (){
        var text = $(this).text().trim().toLowerCase();
        if (text.indexOf(filter) == - 1)
        {
            $(this).hide();
        }
        else
        {
            $(this).show();
        }
    });
}

function write_selected(name)
{
    // Write out a list of all ticked inputs with a given name
    var output = "";

    $("input[name="+name+"]:checked").each(function (){
        output += $(this).parent().text() + ", ";
    });

    output = output.slice(0, -2);

    // Change blank values into None
    if (output == "")
        output = "<i>None</i>";

    $(".widget-selected[data-input-name="+name+"]").html(output);
}

</script>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Widget Debug</h1>

<form method="POST">
{% csrf_token %}
{% for field in form.visible_fields %}
<div class="field-wrapper{% if field.errors %} field-with-error{% endif %}" data-field="{{field.name}}">
    {{field.errors}}
    {{field.label_tag}}
    <div class="field-value">
        {{field}}
    </div>
    {% if field.help_text %}
    <p class="field-help">{{field.help_text|safe}}</p>
    {% endif %}
</div>
{% endfor %}
<input type="submit" value="Submit">
</form>

</section>
{% endblock %}
