{% extends "museum_site/main.html" %}

{% load static %}
{% load zzt_tags %}
{% load site_tags %}

{% block style %}
<style>
.zeta-iframe
{
    width:640px;
    height:350px;
    overflow:none;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Debug Page</h1>

<p>ZZT Tags:
<ul>
    <li><a href="#char">char(num, fg="white", bg="black")</a></li>
    <li><a href="#hyperlink">hyperlink(string, inline=False)</a></li>
    <li><a href="#scroll">scroll(string)</a></li>
    <li><a href="#message">message(color="auto", scrolling=False)</a></li>
    <li><a href="#zzt-img">zzt_img(source, shorthand="", alt="", tl="", br="", css="")</a></li>
</ul>
</p>

RG Test: {% if request.GET.test %}{{request.GET.test}}{% endif %}

<p>Site Tags:
<ul>
    <li><a href="#as-template">as_template</a></li>
    <li><a href="#content-warning">content_warning</a></li>
    <li><a href="#patreon-plug">patreon_plug</a></li>
    <li><a href="#cl-info">cl_info</a></li>
    <li><a href="#commentary">commentary</a></li>
    <li><a href="#il">il</a></li>
    <li><a href="#spoiler">spoiler</a></li>
</ul>
</p>
<hr>
<hr>
<b>Spoiler Test:</b><br><br>
The combination to the bank of ZZT is: {% spoiler %}42069{% endspoiler %}

{% spoiler %}<p>And then you...</p>

<p>Beat him up</p>

<p>And <b>WIN</b></p>
{% endspoiler %}

<p> This is a block: {% spoiler block %}<b>And then you...</b>{% endspoiler %}</p>
<hr>

<hr>
<h2 id="char">Char</h2>
<p>The "{% char 248 %}",  "{% char 65 'red' 'gray' %}", and "{% char 2 'white' 'darkblue' %}" characters all rule. "{% char 42 'green' %}", "{% char 2 bg='darkblue' %}"</p>
<hr>

<h2 id="hyperlink">Hyperlink</h2>
<p>This paragraph has a hyperlink {% hyperlink "hack the planet" %} in the middle of it.</p>

<p>This paragraph has a hyperlink {% hyperlink "but it's inlined" inline=True %} but it's inlined.</p>
<hr>

<h2 id="scroll">Scroll</h2>
<div style="height:300px;overflow:scroll;border:1px solid #000;">
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
Line 15
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
Line 15
Line 16
{% endscroll %}
</div>
</div>

<div style="height:300px;overflow:scroll;border:1px solid #000;">
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}@Bob
Line 1
Line 2
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
Line 15
{% endscroll %}
</div>
<div style="display:inline-block; border:1px solid red; margin:1px;">
{% scroll %}
@Bob
Line 1
Line 2
Line 3
Line 4
Line 5
Line 6
Line 7
Line 8
Line 9
Line 10
Line 11
Line 12
Line 13
Line 14
Line 15
Line 16
{% endscroll %}
</div>
</div>

{% scroll %}
@Scroll Boy
Line 1
$Centered
$1  2  3  4  5
These rows  have   mulitple    spaces     after
each      line.

123456789012345678901234567890123456789012
123456789012345678901234567890123456789012

!1;Hyperlink goes here.
!-File.hlp;File hyperlink goes here.

This one is too long on purpose
!;1234567890123456789012345678901234567890
So_is_this_very_long_line_So_is_this_very_long_line
{% endscroll %}
<hr>

<h2 id="message">Message</h2>
{% message %}ARIC: Damn...

GEM HUNTER: It's over, Aric.

ARIC: Mwahahahahahaha. Do you think?

GEM HUNTER: Crud. You coward!! You're just
going to get away?

ARIC: Yep!
{% endmessage %}

{% message green %}ARIC: Damn...

GEM HUNTER: It's over, Aric.

ARIC: Mwahahahahahaha. Do you think?

GEM HUNTER: Crud. You coward!! You're just
going to get away?

ARIC: Yep!
{% endmessage %}

<b>Proper Scrolling Messages</b>
<br><b>auto scrolling</b>
{% message auto scrolling %}
1
2
3
4

5
6
7
8
9

10
11
12
13

14
15
16
17
{% endmessage %}

<b>red scrolling</b>
{% message red scrolling %}
1
2
3
4
5
6
7
8
9

10
11
12
13
14
15
16
17

18
19
20
{% endmessage %}

<b>scrolling</b>
{% message scrolling %}
1
2
3
4

5
6
7
8
9

10
11
12
13

14
15
16
17
{% endmessage %}

<b>Hideous Legacy Message</b>
{% message auto|scrolling %}
1

3

5

7

9

11

13

15

17

19

21
{% endmessage %}

<h2 id="zzt-img">zzt_img</h2>
<b>Plain Image</b><br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" %}

<b>Custom Alt/Title - "Title Screen for Ezanya"</b><br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" alt="Title Screen for Ezanya" %}

<b>Custom TL/BR - TL="4,2" BR="57,8"</b><br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" tl="4,2" br="57,8" %}

<b>Custom CSS - 2px border, 8px padding</b><br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" css="border:2px solid red;padding:8px;"%}

<b>Shorthand Cropping</b><br>
Sidebar<br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" shorthand="sidebar" %}

HUD<br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" shorthand="hud" %}

Popup<br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" shorthand="popup" %}

Message<br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" shorthand="message" %}

Cheat<br>
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" shorthand="cheat" %}

<h2 id="as-template">As Template</h2>
<h2 id="content-warning">Content Warning</h2>
<b>No custom key</b><br>
{% content_warning "bad stuff" "worse stuff" "the worst stuff" %}

<b>With custom key</b><br>
{% content_warning "Yellow Borders" "Ping-Pong Paths" key="#end-cw-test" %}

<b>With custom href</b><br>
{% content_warning "ABCDEFG" key="/browse/p?sort=release" %}

<p id="end-cw">This tag is the end tag for the first CW (ID: end-cw)</p>
<p id="end-cw-cw-test">This tag is the end tag for the second CW (ID: end-cw-cw-test)</p>

<h2 id="patreon-plug">Patreon Plug</h2>
{% patreon_plug %}

<h2 id="cl-info">CL Info</h2>
{% cl_info 420 %}
{% cl_info 1024 'ZZT v3.2' 'Zeta v69'%}
{% cl_info 666 'SolidHUD v3' %}
<h2 id="commentary">Commentary</h2>
<b>Manual Split (!--Split--)</b><br>
{% commentary %}
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" alt="Title Screen for Ezanya" %}
<!--Split-->







Wow what a cool game.




This character: {% char 65 %} is a letter A. This one ({% char 1 "green" %}) is Bog!
{% endcommentary %}

<b>Automatic Split</b><br>
{% commentary %}
{% zzt_img "images/articles/cl/ezanya/zzt_001.png" %}
This is Ezanya's title screen. I kind of like it.

Note that you actually start on the title screen. That's pretty uncommon.

And cool.
{% endcommentary %}

<h2 id="il">Italicized Link</h2>

<h2 id="il">Crop w/ Message ZZT_IMG</h2>

{% commentary %}
{% zzt_img 'articles/2021/gem-hunter-2/screen40.png' mc=1 tl='30,10' br='40,18' %}
Kim and Gem Hunter are talking.
{% endcommentary %}

<h2>ETC</h2>

<div class="sticky-note">
    <div class="text">
        <b class="heading">DEPRECATION WARNING</b>
        <p>The following content contains material that is known to be outdated.</p>

        <p></p>
    </div>
</div>

<b>Edible Vomit running on WoZ v3.56 with blinking disabled</b><br>
<iframe class="zeta-iframe" src="/zeta-launcher?executable=wozzt356.zip&arg=&commands=&blink_cycle=-1&charset_override=&bufferSize=2048&sampleRate=48000&noteDelay=1&volume=0.2&file_id=1277&mode=popout"></iframe>
<h2>
{{f}}<br>

<hr>

<b>ZZT Captcha</b><br><br>

<form method="POST">
{% csrf_token %}
Key 1: <input name="key1"><br>
Key 2: <input name="key2"><br>
</form>

<b>Italicized Link Test:</b><br><br>
<p>Some classic ZZT worlds include {% il %}Frost 1; Power{% endil %}, by
{% il %}Zenith Nadir{% endil %} and {% il MadTom %}MadTom's{% endil %} thieving
adventure: {% il %}Burglar!{% endil %}.</p>

<p>I'm also fond of this ending sequence from {% il quest for glory|QGZZT-2.ZZT|13|6,23 %}Quest For Glory{% endil %}</p>
<hr><hr><hr>
{% for result in results %}
{{result}}<br>
{% endfor %}
</section>
{% endblock %}
