{% extends "museum_site/main.html" %}

{% load static %}
{% load zzt_tags %}
{% load site_tags %}

{% block style %}
<style>
.zeta-iframe
{
    width:640px;
    height:350px;
    overflow:none;
}
</style>
{% endblock %}

{% block content %}
<section id="content" class="block">
{% include "museum_site/blocks/paginator_block.html" %}

{% if view == "detailed" %}
<b>WoZZT</b><br>
{% generic_block_loop items=wozzt view=view header=wozzt_table_header debug=debug %}
<hr>
{% endif %}

<b>Reviews</b><br>
{% generic_block_loop items=reviews view=view header=review_table_header debug=debug %}
<hr>

<b>ZFiles</b><br>
{% generic_block_loop items=zfiles view=view header=zfile_table_header debug=debug %}
<hr>

<b>Articles</b><br>
{% generic_block_loop items=articles view=view header=article_table_header debug=debug %}
<hr>

<b>Series</b><br>
{% generic_block_loop items=series view=view header=series_table_header debug=debug %}

</section>
{% endblock %}
