{% extends "museum_site/main.html" %}
{% load static %}
{% load site_tags %}

{% block content %}
<ul>
    <li><a href="?show=all">ALL</a></li>
    <li><a href="?show=zfiles">ZFiles</a></li>
    <li><a href="?show=articles">Articles</a></li>
    <li><a href="?show=reviews">Reviews</a></li>
    <li><a href="?show=series">Series</a></li>
    <li><a href="?show=wozzt">WoZZT Queue</a></li>
    <li><a href="?show=collection">Collections</a></li>
    <li><a href="?show=collection-contents">Collection Contents</a></li>
</ul>

<form method="POST">
{% csrf_token %}
<input name="secret" placeholder="Article Password"> <input type="submit">
</form>

<hr>

{% if show == "all" or show == "zfiles" %}
<h2>ZFiles</h2>
    {% for zf in zfiles %}
    {% model_block zf %}
    {% endfor %}

    <table>
    {% for zf in zfiles %}
    {% if forloop.first %}{{zf.table_header}}{% endif %}
    {% model_block zf "list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for zf in zfiles %}
    {% model_block zf "gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% if show == "all" or show == "articles" %}
<h2>Articles</h2>
    {% for a in articles %}
    {% model_block a view="detailed" %}
    {% endfor %}

    <table>
    {% for a in articles %}
    {% if forloop.first %}{{a.table_header}}{% endif %}
    {% model_block a view="list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for a in articles %}
    {% model_block a view="gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% if show == "all" or show == "reviews" %}
<h2>Reviews</h2>
    {% for r in reviews %}
    {% model_block r view="detailed" %}
    {% endfor %}

    <table>
    {% for r in reviews %}
    {% if forloop.first %}{{r.table_header}}{% endif %}
    {% model_block r view="list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for r in reviews %}
    {% model_block r view="gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% if show == "all" or show == "series" %}
<h2>Series</h2>
    {% for s in series %}
    {% model_block s view="detailed" %}
    {% endfor %}

    <table>
    {% for s in series %}
    {% if forloop.first %}{{s.table_header}}{% endif %}
    {% model_block s view="list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for s in series %}
    {% model_block s view="gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% if show == "all" or show == "wozzt" %}
<h2>WoZZT_Queue</h2>
    {% for w in wozzt %}
    {% model_block w view="detailed" %}
    {% endfor %}

    <table>
    {% for w in wozzt %}
    {% if forloop.first %}{{s.table_header}}{% endif %}
    {% model_block w view="list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for w in wozzt %}
    {% model_block w view="gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% if show == "all" or show == "collection" %}
<h2>Collections</h2>
    {% for c in collections %}
    {% model_block c view="detailed" %}
    {% endfor %}

    <table>
    {% for c in collections %}
    {% if forloop.first %}{{c.table_header}}{% endif %}
    {% model_block c view="list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for c in collections %}
    {% model_block c view="gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% if show == "all" or show == "collection-contents" %}
<h2>Collection Contents</h2>
    {% for c in collection_contents %}
    {% model_block c %}
    {% endfor %}

    <table>
    {% for c in collection_contents %}
    {% if forloop.first %}{{c.table_header}}{% endif %}
    {% model_block c view="list" %}
    {% endfor %}
    </table>

    <div class="gallery-frame">
    {% for c in collection_contents %}
    {% model_block c view="gallery" %}
    {% endfor %}
    </div>
    <hr>
{% endif %}

{% endblock %}
