{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="block">
<h1>Account Activation</h1>
{% if resp == "WAITING" %}
<p>Your account has been created, but is currently <b>INACTIVE</b>.</p>

<p>Please wait a moment and then check your inbox for an email containing a link to verify your account. If you haven't received one, check your spam folder. If you still haven't received a verification message <a href="mailto:{{EMAIL_ADDRESS}}">contact staff</a>.</p>
{% elif resp == "SUCCESS" %}
<p>Your account has successfully been activated!</p>

<p>You may now <a href="{% url 'login_user' %}">login</a>.</p>
{% elif resp == "FAILURE" %}
<p><b>Account verification failed.</b> You may have provided an invalid or expired activation token. If you feel this is in error, please <a href="mailto:{{EMAIL_ADDRESS}}">contact staff</a>.</p>
{% endif %}

{% if resp != "SUCCESS" %}
<p><a href="{% url 'resend_activation' %}">Resend confirmation email</a>.</p>

<form method="POST">
{% csrf_token %}
<input type="hidden" name="action" value="activate-account">

{% if token %}
<div class="field{% if resp == 'FAILURE' %} error{% endif %}">
    <label for="token">Activation Token:<br>
    </label>
    <div class="field-group">
        <input id="token" name="token" maxlength="150" type="hidden" value="{{token}}">
        <div class="prepop-data">{{token}}</div>
    </div>
</div>
{% else %}
<div class="field{% if resp == 'FAILURE' %} error{% endif %}">
    <label for="token">Activation Token:<br>
    </label>
    <div class="field-group">
        <input id="token" name="token" maxlength="150" type="text" value="{{request.POST.token}}">
    </div>
</div>
{% endif %}

<div class="field">
    <button type="submit" id="submit-forgotten-password-button" class="full-width-submit">Activate My Account</button>
</div>
</form>
{% endif %}
</section>
{% endblock %}
