{% extends "museum_site/main.html" %}

{% block style %}
<style>
.field-group > label
{
    display:block;
    margin-bottom:7px;
    flex:0 0 100%;
}

input[name=custom]:disabled
{
    background:#AAA;
}
</style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function (){
    $("input[name=pronouns]").click(function (){
        if ($(this).val() != "CUSTOM")
            $("input[name=custom]").prop("disabled", true);
        else
            $("input[name=custom]").prop("disabled", false);
    });
});
</script>
{% endblock %}

{% block content %}
<section id="content" class="block">
<h1>Change Pronouns</h1>

{% if error %}
<p><b>{{error}}</b></p>
{% endif %}

<form method="POST">
{% csrf_token %}
<input type="hidden" name="action" value="change-pronouns">

<p>Choose your pronouns so that others can know how to refer to you.</p>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<div class="field">
    <label for="pronouns">Pronouns:<br>
    </label>
    <div class="field-group">
        <label><input type="radio" name="pronouns" value=""{% if request.user.profile.pronouns == "" %} checked{% endif %}> Prefer not to say</label><br>
        <label><input type="radio" name="pronouns" value="He/Him"{% if request.user.profile.pronouns == "He/Him" %} checked{% endif %}> He/Him</label><br>
        <label><input type="radio" name="pronouns" value="It/Its"{% if request.user.profile.pronouns == "It/Its" %} checked{% endif %}> It/Its</label><br>
        <label><input type="radio" name="pronouns" value="She/Her"{% if request.user.profile.pronouns == "She/Her" %} checked{% endif %}> She/Her</label><br>
        <label><input type="radio" name="pronouns" value="They/Them"{% if request.user.profile.pronouns == "They/Them" %} checked{% endif %}> They/Them</label><br>
        <label><input type="radio" name="pronouns" value="CUSTOM"{% if request.user.profile.pronouns not in common_pronouns %} checked{% endif %}> Custom</label><br>
    </div>
</div>

<div class="field">
    <label for="custom">Custom Pronouns:<br>
        <span class="sub"></span>
    </label>
    <div class="field-group">
        <input id="custom" name="custom" maxlength="50" {% if request.user.profile.pronouns not in common_pronouns %}value="{{request.user.profile.pronouns}}"{% else %} disabled   {% endif %}>
    </div>
</div>

<div class="field">
    <button type="submit" id="submit-change-pronouns-button" class="full-width-submit">Change Pronouns</button>
</div>

</form>
</section>
{% endblock %}
