{% extends "museum_site/main.html" %}

{% block content %}
{% with login_form as form %}
<h1>{{form.heading}}</h1>

{{form.text_prefix|default:""|safe}}

{% if request.GET.password_reset %}<p><b>Your password has been updated successfully.</b></p>{% endif %}
{% if request.GET.activation %}<p><b>Your account has been activated successfully.</b></p>{% endif %}

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>
{% endwith %}

<hr>

{% if registration_open %}
{% with reg_form as form %}
<h1>{{form.heading}}</h1>

{{form.text_prefix|default:""|safe}}

<form{% for k,v in form.attrs.items %} {{k}}="{{v}}"{% endfor %}>
{% if form.attrs.method == "POST" %}{% csrf_token %}{% endif %}
{% include "museum_site/blocks/generic-form.html" %}
<input type="submit" value="{{form.submit_value}}">
</form>
{% endwith %}
{% else %}
<h1>Registration Closed</h1>

<p>Registration is currently closed at this time. Please contact <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a> for more information.</p>
{% endif %}
{% endblock %}
