{% extends "museum_site/main.html" %}
{% load static %}

{% block style %}
<style>
.db-delete-button { display:none; }
.db-delete-stub {
    color:#AAA;
    font-style:italic;
}

#save-db-table { margin-bottom: 7px; }

.td-filename { width:60%; }
.td-size { width:10%; }
.td-savedl { width:15%; }
.td-savedel { width:15%; }
</style>
{% endblock %}

{% block scripts %}
<script>
var database_name = "zeta_{{pk}}";
</script>
<script src="/static/js/save-manager.js"></script>
{% endblock %}

{% block content %}
<h2>Manage Saved Data</h2>

<table id="save-db-table">
<tr><th>Filename</th><th>Size</th><th colspan="2">Actions</th></tr>
</table>
<div><i>These files are using <span id="total-bytes-hr" class="b">0 bytes</span> of storage on this device.</i></div>
<form>
<div class="field-wrapper">
    <label>Enable File Deletion:</label>
    <div class="field-value">
        <input type="radio" name="allow-delete" value="1"> Yes
        <input type="radio" name="allow-delete" value="0" checked> No
    </div>
</div>
</form>
</div>
{% endblock %}
