{% extends "museum_site/main.html" %}

{% block content %}
<section id="content" class="block">
<h1>Resend Account Activation Email</h1>

<p>If you haven't received your account activation email or your activation token has expired you can provide your email address here to have another one sent to your account.</p>

<form method="POST">
{% csrf_token %}
<input type="hidden" name="action" value="resend-activation-email">

<p><b>{{errors.etc}}</b></p>

<div class="field{% if errors.email %} error{% endif %}">
    <label for="email">Email Address:<br>
    </label>
    <div class="field-group">
        <input id="email" name="email" maxlength="150" value="{{request.POST.email}}">
        {% if errors.email %}<p class="form-error">{{errors.email}}</p>{% endif %}
    </div>
</div>

<div class="field">
    <button type="submit" id="submit-forgotten-password-button" class="full-width-submit">Resend Activation Email</button>
</div>
</form>
</section>
{% endblock %}
