{% extends "museum_site/main.html" %}

{% block content %}
<h1>Password Reset</h1>

<hr>

<h1>Forgot Username</h1>

<p>If you have forgotten your username, please provide the email address you signed up with. An email will be sent to that address providing your username.</p>
<form method="POST">
{% csrf_token %}
<input type="hidden" name="action" value="forgot-username">

<div class="field{% if errors.email %} error{% endif %}">
    <label for="reg-email">Email Address:
    </label>
    <div class="field-group">
        <input id="email" name="email" maxlength="150" value="">
        <p class="form-error">{{errors.email}}</p>
    </div>
</div>

<div class="field">
    <button type="submit" id="submit-forgotten-username-button" class="full-width-submit">Find username</button>
</div>

</form>
{% endblock %}
