<p>Recordings of Livestreams are posted here. They (along with other videos) can all be watched directly on
the <a href="https://www.youtube.com/c/WorldsofZZT" target="_blank">Worlds of ZZT YouTube channel</a>.</p>

<p>Livestreams are scheduled to occur twice weekly on the <a href="https://twitch.tv/worldsofzzt" target="_blank">Worlds of ZZT Twitch channel</a>. The standard time for streaming is every Sunday at noon PST / 3pm EST / 18:00 UTC, as well as every Friday at 6pm PST / 9pm EST / 02:00 UTC.</p>
