<p>The upload queue is a collection of files which have been submitted for publication, but have not yet looked at in detail. These files could potentially contain anything and have may not have had any vetting whatsoever. Unpublished files are to be downloaded at your own risk. If a file is in some way malicious or simply outside the scope of what the Museum offers, contact <a href="mailto:{{EMAIL_ADDRESS}}">Dr. Dos</a> to get it removed as quickly as possible.</p>

<p>Additionally the options used for the "Play Online" functionality may not be set properly. You may need to manually adjust settings or wait until the file has been published with a proper configuration before the file works as intended.</p>

<p>If you're looking to submit a file for upload yourself, check out the <a href="{% url 'upload' %}">upload</a> page.
