{% extends "main.html" %}

{% block content %}
<section id="content" class="col block">
<h1>Article Directory</h1>

{% if sort == "category" %}
    {% for article in articles %}
        {% if forloop.counter == 1 %}
        <h2>{{article.category}}</h2>
        <ul>
        {% endif %}
        {%if changed %}
        <h2>{{article.category}}</h2>
        <ul>
        {% endif %}
            <li><a href="{{article.url}}">{{article.title}}</a> by {{article.author}} ({{article.date}})</li>
        {%if changed %}
        <!--{{article.category}}-->
        </ul>
        {% endif %}
    {% endfor %}
{% else %}
    {% for article in articles %}
        {% if forloop.counter == 1 %}
        <h2>{{article.category}}</h2>
        <ul>
        {% endif %}
        {%if changed %}
        <h2>{{article.category}}</h2>
        <ul>
        {% endif %}
            <li><a href="{{article.url}}">{{article.title}}</a> by {{article.author}} ({{article.date}})</li>
        {%if changed %}
        <!--{{article.category}}-->
        </ul>
        {% endif %}
    {% endfor %}
{% endif %}
</section>
{% endblock %}