{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="col block">
<h1>Browse - {{letter|upper}}</h1>

<div class="pages">
Page #{{page}}/{{pages}}<br>
<a href="?page={{prev}}">&lt;</a>
{% for page in page_range %}
<a href="?page={{page}}">{{page}}</a> 
{% endfor %}
<a href="?page={{next}}">&gt;</a>
</div>
<a href="?">Detailed View</a> | <a href="?view=list">List View</a>

{% for file in files %}
<div class="file-block">
    <div class="file-screen" style="float:left">
        <img src="{% if file.screenshot %}/assets/images/screenshots/{{file.letter}}/{{file.screenshot}}{% else %}/assets/images/screenshots/no_screenshot.png{% endif %}" class="titlescreen">
    </div>
    <div class="file-info">
        <h1><a href="{{file.download_url}}">{{file.title|default:"NO NAME"}}</a></h1>
        <div>Author</div>: {{file.author}}<br>
        <div>Filename</div>: {{file.filename}}<br>
        <div>Released</div>: {{file.released}}<br>
        <div>Genre</div>: {{file.genre}}<br>
        <div>Size</div>: {{file.size}} KB<br>
        <div>Rating</div>: x/5
    </div>
    <div class="file-details">
        <ul>
            <li>ZZT World</li>
            <li> Featured Game</li>
            <li> MS-DOS Program</li>
        </ul>
    </div>
    <div class="file-links">
        <ul>
            <li><a href="{{file.download_url}}">Download</a></li>
            <li><a href="{{file.review_url}}">Review</a></li>
            <li><a href="{{file.file_url}}">View Files</a></li>
            <li><a href="{{file.wiki_url}}">Wiki</a></li>
        </ul></div>
</div>
{% endfor %}

<div class="pages">
Page #{{page}}/{{pages}}<br>
<a href="?page={{prev}}">&lt;</a>
{% for page in page_range %}
<a href="?page={{page}}">{{page}}</a> 
{% endfor %}
<a href="?page={{next}}">&gt;</a>
</div>

</section>
{% endblock %}