{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<section id="content" class="col block">
{% if mode == "browse" %}<h1>Browse - {{letter|upper}}</h1>{% endif %}
{% if mode == "search" %}<h1>Search - {{q}}</h1>{% endif %}

<a href="?{% if q %}q={{q}}{% endif %}">Detailed View</a> | <a href="?view=list{% if q %}&q={{q}}{% endif %}">List View</a>

<table id="list-table">
<thead>
    <th>Name</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Size</th>
    <th>Rating</th>
    <th>Files</th>
    <th>Wiki</th>
</thead>
<tbody>
{% for file in files %}
    <tr>
        <td class="name"><a href="{{file.download_url}}">{{file.title}}</a></td>
        <td class="author">{{file.author}}</td>
        <td class="genre">{{file.genre}}</td>
        <td class="size">{{file.size}} KB</td>
        <td class="rating">x/5</td>
        <td class="files"><a href="{{file.file_url}}">View</a></td>
        <td class="wiki"><a href="{{file.wiki_url}}">Wiki</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

</section>
{% endblock %}