{% extends "main.html" %}

{% block scripts %}
<script>
var letter = "{{letter}}";
var zip = "{{file.filename}}";
</script>
<script async src="/assets/js/file_viewer.js"></script>
{% endblock %}

{% block content %}
<img src="/assets/images/ascii.png" id="ascii" style="display:none"> <!-- DEBUG -->
<section id="content" class="col block">
<h1>[{{file.filename}}] - {{file.title}} - <span id="filename">Title Screen</span></h1>
<div class="file-links">
        <ul>
            <li><a href="{{file.download_url}}">Download</a></li>
            <li><a href="{{file.review_url}}">Review</a></li>
            <li>View Files</li>
            <li><a href="{{file.wiki_url}}">Wiki</a></li>
        </ul></div>

<div id="details">
<img src="/assets/images/screenshots/no_screenshot.png">
</div>
<div id="file-list" class="">
<ul>
<li class="selected">Title Screen</li>
{% for file in files %}
<li>{{file}}</li>
{% endfor %}
</ul>
</div>

<textarea id="debug" style="width:100%;height:400px;"></textarea>
</section>
{% endblock %}
